[2015-02-20 23:24] freethejazz commented on #1306
@rinatio There should be a way to isolate application state in between tests. In the sample test case, you're declaring `Func` on the describe level, and because of that the same variable gets used across the tests. Is this something you're doing in your actual test case? If so, try to move that declaration into the `it` block so it doesn't get used across each test.

[2015-02-21 04:09] simonzack commented on #1314
I'm running it on the same process.

[2015-02-21 07:27] Krinkle commented on #1147
Duplicate of #1220.

[2015-02-21 08:36] Krinkle opened #1320 "Support Xvfb in launcher"
Having the ability to let Karma create dedicated Xvfb displays for launched browsers would be quite valuable.

See also:
* karma-chrome-launcher#20
* https://github.com/proxv/node-xvfb
* https://groups.google.com/d/msg/karma-users/JGVChr3d4JI/iysKBpcFSUQJ

[2015-02-21 08:44] Krinkle opened #1321 "Parallel builds failing"
I'm frequently running into issues where browsers are not connected according to Karma.

While I'm not certain what the cause is, I suspect it might be that things don't work well when multiple browsers share the same Xvfb window.

Here's a snapshot of a scenario that happens on a daily base and been subject of false build failures for the past few days. Jenkins has a pool of a dozen slave servers

[2015-02-22 03:37] freethejazz commented on #1314
I'm not an expert on these things, but my understanding of a process is that is a running instance of some program. By that definition, `karma start` and `karma run` are two separate instances of a running program and would thus each have their own process.

How are you running the two commands?

[2015-02-22 03:42] freethejazz commented on #1218
Is this resolved? If so, can the issue be closed? @dopatraman @maksimr

[2015-02-22 04:57] freethejazz commented on #896
This was fixed in https://github.com/karma-runner/karma/pull/897 (referenced above). Can a maintainer close this issue?

[2015-02-22 04:59] simonzack commented on #1314
I'm using the api.

[2015-02-23 11:50] backmask commented on #1213
Currently, files are loaded as soon as a modification is detected. If a file handle is not released yet, karma crashes (or tests are aborted with 095cfb4dcf6b7520ecbc6e9bcd1d90b7f0fe79f9).

I believe the best fix would be to load modified files after the `autoWatchBatchDelay` It would also have the nice benefit to reload a file once if it is saved multiple times quickly.

[2015-02-23 13:32] iblazevic commented on #1316
Yep, sorry forgot to close it at that point.

[2015-02-23 13:32] #1316 closed

[2015-02-23 14:28] skawaguchi commented on #1194
This happens of me on Karma 0.12.31 but not 0.12.29. I've reverted back as a work-around for now.

[2015-02-23 16:59] osi-oswald commented on #1087
We are observing the exact same issues in our project.

Karma is watching a test.js file which is created by the typescript compiler (tsc) from a big test.ts file. For some unknown reasons, changes from tsc to test.js are ignored by karma. It only does this after the first change to test.ts like @matthiasg described. By ignoring I mean, karmas watcher reacts to the file change in test.js, but it f

[2015-02-24 14:29] tbrd opened #1325 "Karma fails on startup"
Occasionally, typically after Karma has exited unexpectedly or I've stopped it with a CTRL+C, Karma refuses to start up with the following error:
[TypeError: "Cannot call method 'kill' of null"]

Requires a machine restart :(

This has been an issue for me for some time, but happens very rarely. A colleague with the same setup has been seeing it more often.

Command:
karma --browsers PhantomJS --r

[2015-02-26 22:28] brianmhunt commented on #595
I would just like to add that some folks (including myself) pass the karma config as a parameter to the `start` function e.g.

[code]

Where `config` is either stored as part of a bigger set of parameters, or generated/modified by the test runner. In any case, it would be most handy in this scenario to have a manual system for restarting.

I trust that a manual restart is subsumed by this issue, b

[2015-02-26 23:51] aarongarvey opened #1326 "Normalized paths passed to reporters on windows causing problems"
All of the paths that are passed in via config.files appear to be normalized and, on windows, when those paths are then passed to the reporters it can cause issues.  For instance, karma-coverage utilizes istanbul and the coverage object passed back to it keys all the results on the file names and paths, and then uses those file names and paths to create html reports.  It attempts to find a common

[2015-02-27 10:58] igorlino opened #1327 "outdated lodash - improving performance"
There is a newer version of lodash (3.3.1) which  improved performance 20-40% overall  by better utilizing the JIT in JavaScript engines, using internal helper functions that avoid optimization disqualifications & increase the likelihood of function inlining.

lodash 3.0.0 is 40%  (1.40x) faster than lodash 2.4.1.

In v3 also introduced were lazily evaluated chaining for massive performance wins i

[2015-02-27 15:53] Krinkle commented on #1321
I've further investigated, trying to narrow it down. See https://phabricator.wikimedia.org/T90673#1073556.

Merely having different browsers (e.g. Firefox and Chrome) sharing an Xvfb display is not a problem. At least not consistently. Running multiple Karma instances, each launching concurrent browsers wasn't a consistent problem, either.

But starting the Karma more spaced out from one another (

[2015-02-27 16:01] stephenjwatkins opened #1328 "Update Node.JS to the latest stable version (v0.12)"
The latest stable Node.JS is at [v0.12](http://blog.nodejs.org/2015/02/06/node-v0-12-0-stable/). Karma should be updated to support this latest stable Node version.

[2015-02-27 17:06] simonzack commented on #1314
I ended up doing the ajax request myself, the runner api is really unfriendly, with `process.exit` and stdout prints.

[2015-02-28 01:31] nzakas commented on #1078
Agree with @necolas here. This is pretty confusing and frustrating. If you are shipping the binary in the `karma` package, why not include an easy way to use it?

[2015-02-28 05:42] aleclarson commented on #706
I'm getting this error with Node v0.12.0 and v0.10.36

Does anyone know how I can fix this?

[2015-02-28 06:52] maksimr commented on #706
@aleclarson can you post your `karma.config.js`

[2015-02-28 06:58] aleclarson commented on #706
[code]

[2015-02-28 07:14] maksimr commented on #706
@aleclarson remove property `plugins`(then karma will by default load all plugins from node_modules by pattern `karma-*`) or add to it `karma-jasmine`.

[code]

[2015-02-28 07:20] aleclarson commented on #706
@maksimr Oh I get it. Thanks!

[2015-03-01 05:37] ilanbiala commented on #1301
+1 please fix this. I exclude tests or have 0 tests for a reason.

[2015-03-01 05:37] ilanbiala commented on #1327
+1.

[2015-03-01 05:37] ilanbiala commented on #1328
+1.

[2015-03-01 19:59] larrymyers commented on #1259
I'd suggest going the route @maksimr has suggested and starting karma programmatically. That way you can do all of your async setup first, and then as a final step pass the constructed config to karma.

It does invert things compared to using the cli, but it will work fine.

[2015-03-02 02:08] akiokajima commented on #1328
+1.

[2015-03-02 15:25] mightyiam commented on #1300
I'm quite sure you can do this if you run Karma through its API, instead of through karma-cli. See [API](http://karma-runner.github.io/0.12/dev/public-api.html).

[2015-03-02 15:40] davidparsson commented on #1300
I don't think so. I found no way to distinguish if there were failed assertions in the tests or if a browser disconnected. Do you?

[2015-03-02 15:51] mightyiam commented on #1300
@davidparsson It seems that you're right. It may be that what you can use a reporter for this purpose, while also running through the API.

[2015-03-02 18:53] scottfwalter opened #1330 "Sometimes tests don't run"
Strange issue here  sometimes I received this error:
  Chrome 40.0.2214 (Mac OS X 10.10.2): Executed 0 of 0 ERROR (0.014 secs / 0 secs)
but sometimes it works
  Chrome 40.0.2214 (Mac OS X 10.10.2): Executed 5 of 5 SUCCESS (0.012 secs / 0.009 secs)

I'm not changing anything.  I'm starting karma with node_modules/karma/bin/karma start src/tests/unit/karma.config2.js

Here's my config if it matters

[2015-03-02 19:47] scottfwalter commented on #1330
I guess a bit of persistence paid off.  After stepping away and taking another look I made a change to my test require config file.

I changed this:
       callback: require(modules, function (arguments) {
          window.__karma__.start();
      })

to

  function loadModules() {
    require(modules, function (arguments) {
        window.__karma__.start();
    });
  }

followed by

callback: loa

[2015-03-02 19:47] #1330 closed

[2015-03-02 22:26] madbarron commented on #1213
Yeah, I expected that karma wouldn't attempt to touch the files until `autoWatchBatchDelay`. Your PR looks like a reasonable workaround.

[2015-03-03 05:58] tophallen commented on #1328
+1.

[2015-03-03 15:07] JT703 commented on #1328
+3 (me and my team)

[2015-03-03 18:01] Krinkle commented on #1328
#1304

[2015-03-04 00:49] nuweb commented on #598
I get the same error.
OSX - 10.9.5
Karma version: 0.12.31
phantomjs version 1.9.8
node --version 0.10.33

->grunt karma
Running "karma:unit" (karma) task
INFO [karma]: Karma v0.12.31 server started at http://localhost:9876/
INFO [launcher]: Starting browser PhantomJS
INFO [PhantomJS 1.9.8 (Mac OS X)]: Connected on socket vo0VCply3aIvM70g5H5C with id 93719535
PhantomJS 1.9.8 (Mac OS X): Executed 1

[2015-03-04 02:27] jeffutter opened #1332 "Karma fails to exit when run in xvfb under docker"
I'm not really sure where the issue is here. I am hoping someone can help me track it down.

I am using the following dockerfile in the root of my project:

[code]

It appears to run the tests and then just hang. If I run with debug I get the following output:

[code]
This is where it stops.

Here is my karma config
[code]

This same config works fine outside of docker on archlinux.

If anyone can

[2015-03-04 06:51] bajtos commented on #598
Adding the following lines to my karma config solved the problem for me:

[code]

Source: webpack/karma-webpack#8

[2015-03-04 10:21] danielbaak commented on #1024
Same issue here

[code]

These are all dependencies:
[code]

Strangely enough this only happens on one project I'm working on, can't seem to figure out why.
Any ideas?

[2015-03-04 10:40] danielbaak commented on #1024
Just had the same issue ... did
[code]
and everything suddenly worked. (make sure your package.json contains all dependencies before doing this)

Hope this helps.

[2015-03-05 01:39] jamestalmage opened #1333 "Provide IDE source-map support for clickable links."
@vojtajina got [this issue](https://youtrack.jetbrains.com/issue/WEB-14105) started with the Intellij folks, and after further discussion I think they are willing to make it a reality. The goal is providing clickable links that will correctly handle Karma's source-map stack trace output.

Initially, I believe all it will require is supplying them with a formal definition of the output, and how to

[2015-03-05 15:49] Dremora opened #1334 "The colors in karma run depends on how karma start was executed"
I'm trying to run both `karma start` and `broccoli-karma` (a wrapper around `karma.runner` function) in a single terminal. For the matter of this bug, `broccoli-karma` can be substituted with `karma run`, they both produce the same results.
The problem is that both `karma start` and `broccoli-karma` print test results, and I end up having duplicated output in the terminal. I can't disable the outp

[2015-03-05 20:06] BigstickCarpet opened #1335 "Encode special characters in file paths"
Karma doesn't encode special characters in file paths, which causes 404 errors if any of your files contain special characters.

For example, create a folder named `({[ ! % & $ # @ ` ~ ,)}]`, and inside that folder, create a file named `({[ ! % & $ # @ ` ~ ,)}].js`.  Now configure your `karma.conf.js` file to serve this file:

[code]

Now try running your tests.  You'll get a 404 error, because Ka

[2015-03-05 22:31] chevdor commented on #878
same with Safari 8.0.3 (Mac OS X 10.10.2)

[2015-03-06 05:46] jamestalmage opened #1336 "Assist plugin developers by allowing "." to be a preprocessor / framework meaning "this node module""
This would allow you to create some fixtures to validate your plugin against as part of your build / ci process.

[code]

[2015-03-06 07:53] maksimr commented on #1336
@jamestalmage you can load your plugin explicitly in `plugin` property.

[code]

[2015-03-06 08:05] jamestalmage commented on #1336
Ahh...
Thank you!

[2015-03-06 08:05] #1336 closed

[2015-03-06 09:13] debris opened #1337 "karma executable is not copied to ./node_modules/.bin directory"
karma executable is not copied to `./node_modules/.bin` directory so in my custom npm scripts i have to type

[code]

instead of

[code]

[2015-03-06 09:16] maksimr commented on #1337
https://github.com/karma-runner/karma/issues/1078

[2015-03-06 09:16] #1337 closed

[2015-03-06 19:05] bobber205 commented on #553
@devi432 my sides are in orbit

[2015-03-07 11:24] andersekdahl commented on #1219
+1

I'm trying to get this working as well. What I'm doing is having both a framework and a preprocessor, and in the framework factory appending a file to the `config.files` list, and adding it to the `config.preprocessors` object as well. But for some reason it's not passed through my preprocessor. Is there some sort of timing issue where it's too late for the framework factory to add patterns to

[2015-03-07 16:33] pbrianmackey commented on #713
Why does Karma init setup a default to exclude all tests?

[code]

[2015-03-07 18:52] andersekdahl opened #1340 "List of patterns to preprocess are saved in a closure too early"
Currently the config value for which files to preprocess are saved in a closure when a preprocessor is created. Which means that if a pattern is removed or added after the preprocessor is created, the new pattern is missed because the patterns were saved in a closure.

This is an issue when you're creating a plugin and you want to add a file that you also want to preprocess. That is, in your frame

[2015-03-08 16:52] interactionist commented on #1328
+2 (me and my office dog)

[2015-03-08 20:50] sloria commented on #598
@bajtos' workaround worked for me.

I am only seeing this error when I run in --single-run mode.

[2015-03-09 14:09] nfantone commented on #1328
+1 to this.

[2015-03-09 19:54] leachryanb commented on #1328
+1

[2015-03-09 21:19] NateRedding commented on #1328
+1

[2015-03-09 21:21] aleksandrj1 commented on #486
JASMINE is not defined

[2015-03-09 22:47] maksimr commented on #486
@aleksandrj1 JASMINE variable was removed, use `frameworks`.
Example is described in [documentation](http://karma-runner.github.io/0.12/config/configuration-file.html)

Thanks

[2015-03-10 11:01] OV2012 commented on #1328
+1

[2015-03-10 11:14] yngvebn commented on #1328
+1!

[2015-03-10 15:09] Krinkle opened #1342 "Karma canary version number not semver compatible"
Swapping `0.12.31` for `0.12.32-beta.0` unexpectedly caused various npm peerinvalid errors:

[code]
[code]

[2015-03-10 15:31] mntnoe opened #1343 "Remove null characters from terminal output"
In `runner.js:parseExitCode()`, the exit code in the message is replaced with null characters (\0x00) as a side effect. The message is then sent to stdout. This results in squares (□□□□□□) being displayed in some terminals, like WebStorm's terminal. Is it possible to output only the message without the trailing null characters?

[2015-03-11 08:41] loki2302 opened #1344 "When running on Travis, Karma reports 0 of N tests executed"
I'm trying to make my Karma/Angular tests work on Travis as described [here](http://karma-runner.github.io/0.8/plus/Travis-CI.html), but it keeps saying that 0 tests were executed:
[code]
There's no such issue when I run the same thing locally, it reports "4 of 4". There's also a [blog post](http://swizec.com/blog/how-to-run-javascript-tests-in-chrome-on-travis/swizec/6647) by @Swizec where eventu

[2015-03-11 09:05] rvowles commented on #1247
I don't know if this is useful, but it is my local karma override file with a custom plugin that runs my delcom build light.

[code]

[2015-03-11 11:13] KamilSzot commented on #199
The first version that thinks one of the watched files got deleted is 0.12.5.
I'm on windows. On 0.12.4 and earlier, 0.12.0 for example, problem does not occur.

[2015-03-11 15:37] idmontie commented on #438
@myoung8  Thanks for mentioning karma-phantomjs-launcher! I was hoping karma would have exposed this functionality, but it makes sense to not have karma tie in too much with PhantomJS.

[2015-03-11 17:13] pbrianmackey commented on #1090
I had this issue with Firefox.  I switched to Chrome and the issue was gone.

karma.config.js:

[code]

[2015-03-11 17:24] pisquared commented on #1328
+1

[2015-03-11 18:26] kylethornton commented on #543
@lpsBetty just wondering what you did to fix this. I have the same exact scenario and just trying to figure out a way around it.

[2015-03-11 18:34] adamwynne commented on #543
I just moved to PhantomJS and it went away

On Wed, Mar 11, 2015 at 6:27 PM, Kyle Thornton <notifications@github.com>
wrote:

[2015-03-11 18:35] lpsBetty commented on #543
@kylethornton if you debug your tests in the browser you can see the error in the console..

my error was caused by an external JS which was expecting a specific ID on a form element.. so I added the HTML in the test..

[2015-03-11 19:01] kylethornton commented on #543
Thanks @lpsBetty. My error messages in the browser weren't as helpful, but I ended up just mocking $.getScript to give me more control of what happened with the callback. Since these are unit tests I only care about how my code is functioning anyway.

[2015-03-11 19:02] lpsBetty commented on #543
ok, I am glad you found a solution!

[2015-03-11 22:43] Swizec commented on #1344
Hey,

what do your tests look like?

The output from the project I was writing about in that blogpost looks more like this these days:

![screen shot 2015-03-11 at 23 40 19](https://cloud.githubusercontent.com/assets/56883/6608530/0231b250-c848-11e4-8a63-dff193f9e754.png)

[2015-03-12 02:10] jeremyroberts0 opened #1347 "Proxy for local path throwing options errors"
When configuring for a local proxy I receive an error indicating I am missing options.  For example:
`proxies:{
                '/base/templates/': '/base/store/templates/'
            }`
Results in
`DEBUG [proxy]: proxying request - /base/templates/orderEmailToCustomer.template to null:80
Error: options.host and options.port or options.target are required.`

However, if I configure the proxy as t

[2015-03-12 06:10] loki2302 commented on #1344
Nothing special:
[code]

[2015-03-12 08:16] maksimr commented on #1344
@loki2302 can you show project or create stub project which reproduce this problem?

Thanks

[2015-03-12 08:33] loki2302 commented on #1344
@maksimr sure:

* Project itself: https://github.com/loki2302/nodejs-app-experiment
* Tests: https://github.com/loki2302/nodejs-app-experiment/tree/master/fe-test
* Travis: https://travis-ci.org/loki2302/nodejs-app-experiment

To run the tests: `npm install && bower install && grunt fe-test`. Locally, the result is:
[code]
When running on Travis, Karma is configured to use Firefox. Outside Travis

[2015-03-12 08:40] maksimr commented on #1344
@loki2302 thaks

Seems tests are run, but report is broken
![](https://sc-cdn.scaleengine.net/i/6c04c5ea18243d2830bc606b7e44ce36.png)

[2015-03-12 16:55] mikeblakeuk commented on #1328
+1

[2015-03-12 20:11] loki2302 commented on #1344
@maksimr Oh, that's good news. Any chance I can have it fixed via configuration file only?

[2015-03-12 21:16] elayman opened #1348 "Middleware Proxy Broken with latest http-proxy"
New version of http-proxy 0.10.4 seems to have broken lib/middleware/proxy.js line 127. httpProxy no longer has RoutingProxy.

[2015-03-12 21:18] elayman commented on #1348
Nevermind. I was looking at wrong source code. My issue must be something else.

[2015-03-12 21:18] #1348 closed

[2015-03-12 22:15] #896 closed

[2015-03-13 09:04] segrey commented on #1142
Based on https://youtrack.jetbrains.com/issue/WEB-14820#comment=27-944000 (thanks to Cinan Rakosnik).
This problem could be caused by insufficient max open files limit.
To view current max open files limit: `launchctl limit maxfiles`
To increase max open files limit: `launchctl limit maxfiles 1000000 1000000`

[2015-03-13 10:40] gardenvarietyse commented on #878
A small hack (emphasis on hack) for the Safari launcher that seems to work, but has definitely not been extensively tested: gardenvarietyse/karma-safari-launcher@28eb4f19737af74037cb5cf17160f9770172bbd1

Should be possible to properly hook into the event system somehow, but I'm not that fluent in Node or Karma's codebase

[2015-03-13 13:40] pjlasl opened #1349 "Jasmine installed, but Karma throws no provider error"
When I attempt to start a config file, I am presented with the error message "no provider for "framework:jasmine"!.

Here are the steps I took to install karma:
I created a folder called C:\Karma
npm install karma --save-dev
npm install karma-jasmine karma-chrome-launcher --save-dev
npm install -g karma-cli

I verified that the folder contains the following
node_modules\karma
node_modules\karma-ch

[2015-03-13 14:49] dsuckau opened #1350 "Fatal error: Cannot call method 'ele' of null"
Hey,

I'm using Karma with WebDriver since many months and generally it works very good. But from time to time I get the following error:

    Fatal error: Cannot call method 'ele' of null

The full output is:

    Running "karma:remote" (karma) task
    INFO [karma]: Karma v0.12.31 server started at http://192.168.2.54:9876/
    INFO [launcher]: Starting browser firefox via Remote WebDriver
    I

[2015-03-13 20:03] maksimr commented on #1349
@pjlasl can you post your config file?

Thanks

[2015-03-13 21:18] pjlasl commented on #1349
Hope this helps

// Karma configuration
// Generated on Mon Oct 13 2014 07:50:03 GMT-0500 (Central Daylight Time)

module.exports = function(config) {
  config.set({

    // base path that will be used to resolve all patterns (eg. files, exclude)
    basePath: '',

    // frameworks to use
    // available frameworks: https://npmjs.org/browse/keyword/karma-adapter
    frameworks: ['jasmine'],

[2015-03-13 21:20] pjlasl commented on #1349
The bizarre thing about all this is that a co-worker of mine is using it without a hitch...

[2015-03-13 22:02] maksimr commented on #1349
@pjlasl Thanks!

What structure of the project?(where located karma.conf and node_modules)

Can you run `karma` in verbose mode `karma start --log-level=DEBUG`.
Seems karma can't find project `node_modules`.

[2015-03-14 19:02] macqm commented on #1328
+1

[2015-03-16 02:41] koba04 opened #1351 "command line I/F"
Currently, karma doesn't export `karma` command.
You recommend to install `karma-cli` locally to the project in case of `npm test`.
This is why It's for separation of concerns. #1078 #1322

But, some documents describe using `./node_modules/karma/bin/karma` now.

https://github.com/karma-runner/karma/blob/master/docs/plus/02-travis.md
https://github.com/karma-runner/karma/blob/master/docs/plus/04-

[2015-03-16 09:24] maksimr commented on #1351
/cc @karma-runner/contributors

[2015-03-16 21:07] veeracs commented on #598
@bajtos workaround did not work for me. I'm consistently getting DISCONNECTED error.

[2015-03-17 08:36] #1120 closed

[2015-03-17 14:14] blacksonic opened #1354 "Fatal error: Line must be greater than or equal to 1, got 0"
When i have error in ```beforeEach``` of Mocha i get this error out of Karma. Im testing AngularJs project and the error is emitted inside an ```inject``` function call.

[2015-03-17 14:16] bartread commented on #1328
+6 (my team and I)

[2015-03-17 14:53] blacksonic commented on #1354
tried it with a simple ```beforeEach``` with a single line that throws an ```Error``` same issue. It is not related to Angular.

[2015-03-18 23:51] JamesBender commented on #199
I'm seeing this issue still as well in both WebStorm and Sublime 3. Using Windows 8.1 and Karma 0.12.31

[2015-03-20 08:38] mrlove commented on #393
Hi, same for me.

i am running an jasmine test with two test cases in it and it runs 30. times in a row. :(

[2015-03-20 09:37] peter-mouland commented on #1351
but running `./node_modules/karma/bin/karma start xx.js` does work. so having the `bin/karma` makes sense.

I would prefer to keep `bin/karma` and add this to the bin object within karma's package.json.  This would mean that in my package.json `scripts.test` i could write write `karma start xx.js`.

[2015-03-20 09:58] peter-mouland commented on #1078
Hi,  just came across this as i was going to do the same PR.  In the docs it says you can use the full path.

https://karma-runner.github.io/0.12/intro/installation.html

I dont get why i would want the cli when I would like to simply put `karma start xx.js` into my package.json.  Since the bin is in karma, and it works, could we add the bin into karma's package.json?

I think the route of asking

[2015-03-20 13:33] mr-moon commented on #1328
+3

[2015-03-20 15:12] alrouen commented on #1328
+1

[2015-03-23 12:13] aiboy commented on #488
Added support to add custom context.html / debug.html - in "Support for custom context and/or debug html files"  #1360

Unlike other pull request this one is little bit cleaner and doesn't break existing unit tests

[2015-03-23 14:04] jagandecapri commented on #199
I'm using Vim too and having the same problem.
Using Chrome as the testing browser.
Only solution I can think of is to restart Karma.
Karma version : 0.12.31

[2015-03-24 00:56] koba04 commented on #1351
I agree with @peter-mouland.
I hope `bin/karma` is specified in `package.json`'s `bin` field.

[2015-03-24 09:03] miljonaarimake commented on #1354
+1

[2015-03-24 09:13] maksimr commented on #1354
relates https://github.com/karma-runner/karma/pull/1098

[2015-03-24 23:17] michaelmalone commented on #480
+1

[2015-03-25 09:01] subhash85 commented on #581
+1

[2015-03-26 09:59] Zazcallabah opened #1362 "PathTooLongException on windows because of node dependency directory tree"
The node module chokidar (in package.json: "chokidar": ">=0.8.2") added a dependency on 'anymatch' in december, right before their 0.12.6 release. (https://github.com/paulmillr/chokidar/commit/1b9a73d6793b40b2189b525c2bdd8a007158a2d9)

This generates the following node dependency directory tree (just the deepest one I found)
karma\node_modules\chokidar\node_modules\anymatch\node_modules\micromatch

[2015-03-26 11:48] nmccready opened #1363 "config setting to disable md5 checksum on test files?"
Is there a setting or option to disable the checksum addition? Debugging this is not fun in chrome as the breakpoints will not stick with the file names changing on every load.

[2015-03-26 12:39] nmccready commented on #1363
nvm breakpoints are working my bad

[2015-03-26 12:39] #1363 closed

[2015-03-26 19:25] donaldpipowitch commented on #1078
Sorry, I don't get it? Just made a pull request myself. That is quite annoying to realize that I wasted my time with this even if it was just some minutes. Installing a different module (karma-cli) is just unexpected and in my experience not idiomatic for a node module.

[2015-03-27 00:53] nzakas commented on #1078
@maksimr I'm trying to understand your objection, but I'm having a hard time. From our perspective, your stance is confusing because we are just asking for an easier way to run the binary that is already shipped in this package. As #1361 shows, it's basically a one-line change that would make our lives a lot easier. We aren't asking for any change in functionality, nor are we asking for additional

[2015-03-27 08:00] maksimr commented on #1078
Guys thanks for your feedback.

@donaldpipowitch your PR once again says that we have a *problem* we need to solve.

@nzakas
if we simple add link to binary in karma, it can lead to confusing behavior when we install karma globally. For example: you have karma version 0.12 in the project but globally you have karma version 0.11 and if you simple type `karma` in terminal then you run karma@0.11 ins

[2015-03-27 15:37] nzakas commented on #1078
I understand you are worried about `karma` possibly meaning two different things depending on where it is used. Would a solution be to expose the binary in this package with a different name? Maybe `karma-runner` instead of just `karma`?

[2015-03-28 07:27] davepoon commented on #1328
++1

[2015-03-30 08:31] peter-mouland commented on #1078
my opinion seems to ebb and flow the more i learn, but currently i ask users of my projects to always use npm commands, ie. `npm start`, `npm test`, `npm run build` etc.  This is because that way i make sure i never rely on global installs and i know exactly what version is being run.  This has the bonus of the casual dev not caring what technology those steps are using in the background and proje

[2015-03-30 09:57] chfw commented on #1101
+1. It would help if Karma could tell which test case did a full page reload.

[2015-03-30 15:40] nzakas commented on #1078
@peter-mouland that's what people are doing already. What we are asking for is a shortcut to the executable. How people choose to wire up their build system to use it is a different story.

[2015-03-30 16:18] peter-mouland commented on #1078
thats good - i mentioned it because one reason given for having the karma-cli was due to global vs local installs.  If globals are discouraged then this reason is no longer a concern and the package.json `bin` string can be updated as suggested.

[2015-03-30 18:51] scriby commented on #439
+1

We have a large number of tests at work, and sharding would be very beneficial. As you said, there shouldn't be side effects between tests, and for anyone who doesn't want to remove the side effects, I'd say they just don't get to run their tests in parallel :)

As long as the sharding is opt-in I think the confusion should be manageable.

[2015-03-30 20:24] nzakas commented on #1078
Yeah, there's definitely a trend towards not doing global installs for CLIs because it makes projects no longer self-contained.

[2015-03-30 20:48] wilsonpage commented on #987
I rolled Karma back from `v0.12.31` to `v0.12.30` and found this resolved my issue.

I poked around and found that my compiled file that was being watched was being read as empty after the third file change. This was causing Karma to fallback to getting the contents out of its cache ([see here](https://github.com/karma-runner/karma/blob/master/lib/middleware/common.js#L39)).

I don't know enough a

[2015-03-30 21:07] maksimr commented on #987
@wilsonpage Thanks!

[2015-04-01 10:59] gsakhardande commented on #558
The issue got resolved for me in Ubuntu 14.04 by deleting the `node_modules` directory from the project (which had been checked-in by someone else using a Macbook). I ran `npm install` again and the `node_modules` directory was recreated. We have also added the 'node_modules' directory to `.gitignore`

[2015-04-01 13:57] ThiagoMiranda commented on #1172
@mr-moon I'm having the same issue here ( http://stackoverflow.com/questions/29371180/how-to-test-a-file-that-dynamically-loads-other-javascript-files ).
Did you solved this?

[2015-04-01 17:17] iammerrick opened #1364 "Memory Issues"
Anyone else seeing memory issues with recent version of Chrome, Version 41.0.2272.104 (64-bit)?

[See this stack overflow post](http://stackoverflow.com/questions/27547683/profiling-memory-leaks-in-karma-runner-jasmine/29396859) Memory seems to grow indefinitely... Even when setting a debugger the memory use just keeps climbing...

[2015-04-01 19:10] Stratus3D commented on #480
+1

[2015-04-01 22:37] iammerrick commented on #1364
Also, here is a video of the problem at work: https://youtu.be/FKv5CP3gxeA

[2015-04-02 06:46] callmemagnus opened #1366 "Installation of karma in a restricted env"
Hello,

I have a CI environment that has no "free" access to internet. Currently, we have set up a npm "registry" that works.

Sadly, because of one of the dependency of a dependency (see https://github.com/Automattic/engine.io-client/issues/348), I cannot automate my build on CI. It requires npm to be able to fetch stuff from github directly (the npm registry does not provide proxy).

I saw some

[2015-04-02 09:08] mr-moon commented on #1172
@ThiagoMiranda nope. I'm waiting for karma to support `node 0.12`.

[2015-04-02 09:41] rohitagg28 opened #1367 "Code coverage for child Project"
I am having two projects on my machine named Proj1 and Proj2 using Require.js and Jasmine for the test-cases .
The Proj2 is having dependencies(library files,modules) on Proj1 ,so Proj2 is child node of Proj1 .

I have got the code-coverage of Proj1 by making the test-main.js and karma.conf.js files in it and run  karma from terminal .

But now I want the code-coverage of Proj2 ,so I make test-mai

[2015-04-02 13:25] ThiagoMiranda commented on #1172
@mr-moon Well I'm running it on v0.12.0.
It seems that is a problem with the PhantomJS itself that maybe it's fixed on the 2.0 version. The problem is that the karma-phantomjs-launcher only supports the 1.x version.
Running the Firefox test solved the problem ( this one, at least =p )

[2015-04-02 19:37] mjuniper commented on #480
:+1:

[2015-04-03 09:20] techno2mahi commented on #871
![600x300](https://cloud.githubusercontent.com/assets/6048590/6980521/ae22f554-da10-11e4-9eb2-5ba5f25055e8.gif)

[2015-04-03 18:30] mark-adams commented on #1332
Does it seem to run the tests? What is your base Docker image?

Do you have an example Dockerfile?

[2015-04-03 21:17] jeffutter commented on #1332
@mark-adams Yes, it runs the tests. I just updated the docker images and tried again since it has been a while since I tried using this. I am still running into the same issue.

I am using this docker image: jeffutter/iojs-xvfb-chromium:onbuild
You can see it's docker file here: https://registry.hub.docker.com/u/jeffutter/iojs-xvfb-chromium/build_id/44277/code/bdqhx6dyzsdvgqutdiy53qg/

which uses

[2015-04-03 22:51] mark-adams commented on #1332
I can confirm that I'm running into the same issue on a project that is structured very similar to yours. We are contemplating patching our Karma so that it skips the final cleanup stages so the Docker container can terminate to see if that might help us at least get this container usable for our CI builds.

[2015-04-03 22:53] mark-adams commented on #1332
Out of curiosity, have you tried running things with Firefox or PhantomJS instead?

[2015-04-05 04:04] mark-adams commented on #1332
@jeffutter Looks like I got it figured out. The images I've created are working great now.

https://github.com/mark-adams/docker-chromium-xvfb

Looks like the issue had to do with Karma's insistence on the browser processes being dead before it could quit. With your wrapper script (and my old one), Karma would send a SIGTERM signal to the wrapper script when it wanted to shut down the browser. Thi

[2015-04-05 06:16] jeffutter commented on #1332
Yep, that was it. Good catch and thank you. I'll close this issue since it clearly isn't Karma's fault.

[2015-04-05 06:16] #1332 closed

[2015-04-06 13:21] Sjors commented on #691
I ran into the same error with Phantomjs2. I then added the commit from this pull request to the current master in my own fork, ran "grunt build" and the error was replaced by a warning. That and lots of other error messages, but hopefully those are specific to my project.

[2015-04-06 16:46] JasonGhent commented on #384
+1

[2015-04-07 08:46] joerideg commented on #1328
Hi guys,
I see that the commit to up the supported nodejs version is there.
Any idea when this will be released?
It is currently a blocker for my team as we need to enforce NodeJS 0.12.x

regards,
Joeri

[2015-04-07 14:56] ajbogh opened #1369 "Provide API or event emitter example to cancel a running set of tests."
In certain development cases there may be a large number of unit tests that take many seconds or minutes to run. In these cases the developer may be actively programming and saving, which could execute gulp watch events that force another unit test run. Currently when a set of unit tests is running Karma can execute another set asynchronously.

It would be nice if the developer could develop a met

[2015-04-08 16:21] codecadwallader commented on #1362
I am also encountering this issue.

[2015-04-08 19:24] surajk commented on #1101
+1 please

[2015-04-09 01:53] anijap commented on #598
@veeracs, I kept getting the same error on a build server with 3.5GB of RAM.
The PhantomJS startup time was consistently around >0.9sec && <=2sec over five builds.

I've increased the *browserNoActivityTimeout* to 3 seconds as a workaround.

[2015-04-09 07:03] ajbogh commented on #1369
Here's a PR which accomplishes the task. Please feel free to use it for its idea, not necessarily for the code.

https://github.com/ajbogh/karma/pull/1

[2015-04-09 10:19] fredtma commented on #1328
+1

[2015-04-09 11:14] PyroSA commented on #1328
+1

[2015-04-10 13:42] mobichel commented on #1364
I use karma-runner/jasmine/squire/900 tests and experienced phantomjs crash due to memory climbing up to 800Mb.

Same config with Chrome, Version 41.0.2272.118 takes 270Mb memory.

[2015-04-12 20:09] fatuhoku commented on #1059
I just run into this error. To a complete newb (like me!) that error message might as well have read:

`Your computer says NO.`

How about we suggest that the user should regenerate their `karma.conf.js`? Or, tell them that they need to stick something relevant in `framework: [...]`

[2015-04-13 00:21] tkrotoff commented on #1078
@maksimr

Very good example of why it is bad to install global npm packages.
IMHO this issue is out of scope: this is the way UNIX works (security reasons).

Example:
[code]

Please, just add back `karma` to `node_modules/.bin`, kill `karma-cli` and stop bypassing the way the OS works (and do not advice for global packages otherwise first year students will have to learn how [PATH](https://en.wiki

[2015-04-13 06:08] liuxiong332 commented on #1302
great!

[2015-04-13 07:19] AlexKVal opened #1372 "[bug] Caused by dependency project"
Recently I have found a problem with tests https://travis-ci.org/AlexKVal/react-bootstrap/jobs/58184576 for [react-bootstrap](https://github.com/react-bootstrap/react-bootstrap) project.

I have created a pure trash project (with one simple test) to find out where is the problem with tests runned by Karma.

Here is the travis log https://travis-ci.org/AlexKVal/travis-karma for this project.

And h

[2015-04-13 07:22] medikoo commented on #1372
@AlexKVal thanks for pointing this, WeakMap spec have changed sometime ago (`clear` method was removed), and memoizee have not yet been updated to it. I'm on that now

[2015-04-13 07:25] AlexKVal commented on #1372
Oh.. Ok. You are fast.
I just created new `Issue` in your project https://github.com/medikoo/es6-weak-map/issues/5.
Sorry about that.

[2015-04-13 08:07] maksimr commented on #1078
@tkrotoff Thanks

I like idea export binary with different name like `karma-bin` or `karma-runner`
How [suggested](https://github.com/karma-runner/karma/issues/1078#issuecomment-86978471) @nzakas

Then it should be clear if you use `karma-bin` then you use a specific version of karma.

[2015-04-13 08:20] AlexKVal commented on #1372
Fixed by [es6-weak-map #5](https://github.com/medikoo/es6-weak-map/issues/5#issuecomment-92257357).

[2015-04-13 08:20] #1372 closed

[2015-04-13 15:00] mobichel commented on #1364
I create new Squire instance before each test and load/mock dependencies thru this instance. Some my dependencies depend on jquery. With Chrome profiler I discovered that jquery code takes a lot of memory. Looks like loading dependencies who depends on jquery via Squire causes additional jquery instantiation.

I fixed my memory issue by providing same jquery to each Squire:
[code]

[2015-04-13 21:14] raikoroje commented on #1328
+1

[2015-04-14 02:32] dongidea commented on #1096
@Wicus Do you have any update on this? I have the same issue too.

[2015-04-14 12:17] colmsjo opened #1373 "The console of iframes is not printed on the command line"
[Here](https://github.com/colmsjo/karma-test) is a small test that illustrates the problem.

This is the output of the command line:

[code]

This is the console output of the debug tool:

[code]

Perhaps not a major problem if you are aware of this. But I was quite confused until I understood the problem. It would be great if it's possible to fix. Thank's for a good testing tool!

[2015-04-14 12:29] maksimr commented on #1373
@colmsjo Thanks!

But `karma` more tool to **unit testing** not for **e2e** testing.
In your case you can remap `console` from iframe like:

[code]

this should fix problem

[2015-04-14 12:32] colmsjo commented on #1373
Yes, that fixed it! Thank's.

[2015-04-14 12:32] #1373 closed

[2015-04-15 14:12] busches commented on #1303
This is fine, as you can see at the end everything still installed fine. `ws` will default back to a JavaScript implementation if the native one fails.

[2015-04-15 19:08] kand opened #1374 "Scrolling Events"
I'm unable to test scrolling events via changing scrollTop, scrollTop will always come out as 0. I believe this was covered and incorrectly closed in ticket: [#345](https://github.com/karma-runner/karma/issues/345).

[2015-04-16 11:42] PavelKonon commented on #480
:+1:

[2015-04-16 11:46] mik01aj commented on #1090
I have similar issues and would have NEVER thought that Atom can have anything to do with that. Do you have any explanation for that?

[2015-04-16 14:23] dshulepov commented on #1194
Any fix on this?
I just got the same. Just out of the blue it started to output multiple lines for success and errors.
We have hundreds of test and became completely unusable.
Downgrading to 0.12.29 did not help.

[2015-04-16 14:48] demisx commented on #1194
FYi, I am using latest stable karma and haven't seen this issue for a while. Still not sure what caused it.

[2015-04-16 15:01] dshulepov commented on #1194
I was using 0.12.31 for a long while until got this issue today. I've updated to 0.12.32 - did not help. I've downgraded to 0.12.29 - did not help. Even rebooted the machine, which often helps on Windows, but not this time.

[2015-04-16 19:58] natecavanaugh opened #1375 "Can't open browsers installed in user's Application directory on OSX"
I see in the launcher files for [Chrome](https://github.com/karma-runner/karma-chrome-launcher/blob/7f32b59d61232f3f377cc982975eef748bccdc11/index.js#L41-L76) and Firefox there are some lookups for both Windows and Linux to get the correct browser. However, with OSX, it's always being hardcoded to /Applications.
While I know this can be worked around by setting the CHROME_BIN and FIREFOX_BIN to th

[2015-04-19 16:44] aMarCruz commented on #1328
+++1

[2015-04-20 14:50] AaronBuxbaum commented on #1328
+1 -- it works if you pull from master, but it'd be much better if a new version could be cut (`v0.12.32`)...

[2015-04-20 20:33] LFDM commented on #439
Hey @EtaiG and @danyshaanan, very interested in this experiment you mentioned. Is this code accessible somewhere? I'd very much like to experiment with this a bit - maybe your work could give me a headstart!

[2015-04-20 21:13] danyshaanan commented on #439
@LFDM We have nothing to share at the moment, but I'm just about to rewrite a smarter version of it in the coming couple of weeks. I'll try to do so in a way I'll be able to share. Feel free to ping me about this in a week or so if I'll not post anything by then.

[2015-04-20 23:31] PxlBuzzard commented on #675
Not to dig up an old issue, but I'm also looking to move off of Chutzpah to Karma and ran into this problem as well. I found [karma-reference](https://github.com/vegayours/karma-reference) that seems to replicate the functionality used by Chutzpah, though it involves some find+replace work. However, I like that it uses the [JSDoc](http://usejsdoc.org/), so I think the refactor is worth it.

I have

[2015-04-21 21:23] mischkl opened #1378 "Node 0.12 support justifies a new version"
The NPM package v0.12.31 contains the the following in its package.json:

[code]

This causes a warning to be shown whenever karma is installed on node >0.10

Meanwhile support for the node 0.12 is already fixed in the github repo:

[code]

Please increment the version number and publish the new version to NPM as soon as possible. The current state with the warning looks kind of scary. Maybe not t

[2015-04-22 13:17] peter-mouland opened #1379 "tests seem to start before previous test has finished"
It seems as if my `document.body.innerHTML` is being overridden by the subsequent test.  When run in sequence, my test fails as it can not find the correct HTML element to test against.  When running a single spec file, the tests pass.

This leads me to believe that the next `describe` functions are being executed before the previous spec has finished.

Is there a way to ensure that the test have

[2015-04-22 14:13] ffesseler commented on #1364
Same issue here but it doesn't seem related to the Chrome version.

We have an app that use angular 1.2.26 and we'd like to upgrade to 1.3.15.
When switching to 1.3.15, our test suite (3000 tests) slows down a lot and crashes on Chrome.

The suite slows down when the memory consumption reaches 1.5GB.
With the 1.2 version, it never goes over 1.0GB.

Another thing : The test suite work well until an

[2015-04-22 18:16] alexgorbatchev commented on #1101
If you are seeing tests execute twice, first time ok, second time with `Some of your tests did a full page reload!` error you might be running karma with `--auto-watch` and `karma-browserify`. If that's the case, remove `--auto-watch` and let `karma-browserify` take care of watching for changest.

[2015-04-23 15:24] cusspvz opened #1380 "Can karma be started in an independent server?"
Hello,

I'm with some projects in hands and one of them (called *Neck*) is a transporter of tests and their resources for browser or other kind of heads/workers.

*Neck* is currently in a *WIP* state but its paused until we have a *requirehit* production-ready version (could say its some sort of *webpack* but in fact it is quite different).

On *Neck* we call our *workers* as **Heads** and they ar

[2015-04-23 18:46] maksimr commented on #1380
Hi, @cusspvz

You can run **karma** server without launching any browser and then simple connect any browsers(no mater where you launch browser) that you want. Karma will run tests on these browsers.
karma server should be run in project directory because it grab sources and test files.

You can read about how the karma work [here](http://karma-runner.github.io/0.12/intro/how-it-works.html) and ve

[2015-04-23 20:21] cusspvz commented on #1380
@maksimr before anything, thanks for your answer.

Since currently `server` is grabbing file instead of `runner`, how big the refactoring would to be to make  `runner` grab all files instead and stream then to `server`?

That would give features to web development companies such as:
- an always up server where physical devices or docker-based emulations could stay always connected;
- those devices

[2015-04-24 10:19] cloudcome opened #1382 "单页 debug.html，多个测试用例共享数据，导致测试出错"
示例：

a.js
[code]
b.js
[code]

---------------------
a.test.js
[code]
b.test.js

[code]

-----------

源代码：

[code]

如上，导致两个测试用例都出错。

[2015-04-24 12:30] cloudcome commented on #1382
建议：多个单元测试分配多个端口，例如用 gulp 实现的：

![image](https://cloud.githubusercontent.com/assets/3362033/7318638/97198a06-eac0-11e4-9b7b-54f1171ae91d.png)

[2015-04-24 14:04] gokussx4 opened #1383 "Foundation-apps module not loading with angular-mock"
Karma loads and runs with jasmine fine but the angular module will not load with angular.mock.module function if foundation-apps is a dependency of the module you are trying to load. I have set the karma config to debug level logging and all the files needed are loading properly. Also, no error messages are present to why they are not loading.

I put this on stack overflow and also created an exam

[2015-04-24 15:39] cusspvz commented on #1380
ping @aymericbeaumet @btford @ChrisWren @cironunes @deepak1556 @Dignifiedquire @edjafarov @gdewan @geddski @hurrymaplelad @kelveden @maksimr @mtscout6 @pavelgj @pkozlowski-opensource @pulakb @sylvain-hamel @taichi @vkarpov15

[2015-04-24 15:57] dx9 commented on #1328
+1

[2015-04-25 05:23] maksimr commented on #1380
@cusspvz

I thinks it's hard architecture changes

We should discuss it

Thanks

/cc @karma-runner/contributors

[2015-04-27 16:57] charliecm commented on #480
:+1:

[2015-04-27 17:31] skawaguchi commented on #384
+1

[2015-04-28 01:13] hao1939 commented on #1328
+1, any release date?

[2015-04-29 09:22] blemaire opened #1386 "Self signed certificate in chain"
Hi everyone

Trying to install Karma to start angular testing but I run into the following error:
[code]

Thanks a lot for your help
Bastien

[2015-04-29 18:12] raphaelhudvoy commented on #880
I had the same problem. Adding 'karma-jasmine', 'karma-chrome-launcher' in the plugins fixed it.

      plugins : [
            require('karma-webpack'),
            'karma-jasmine',
            'karma-chrome-launcher'
        ]

[2015-04-29 21:02] joseph-jja commented on #558
I have developers that I work with that are having a similar issue to this.  We get the message about a disconnect and no tests are run.  I tracked it down to karma/lib/browser.js and line 42:

log.warn('Disconnected (%d times)' + (reason || ''), self.disconnectsCount);

It happens to me about 1 in every 100 or so runs, it does not happen on jenkens, but it happens on some developers machines almo

[2015-04-29 21:18] tspratt commented on #1328
+1

[2015-04-29 22:24] garora commented on #880
Why this is closed?

[2015-04-30 11:01] dsge commented on #1328
+1

[2015-05-01 01:17] goodbomb commented on #1328
+1

[2015-05-02 02:08] shannonmoeller opened #1387 "Add .config/karma.conf.js to the default lookup path"
As more and more tools have become best-practice when authoring npm modules, from `package.json` to `.*rc` to `*file.js`, the root directory of projects has become a very loud place. This dot-noise pushes README content farther and farther down the main page of git repos.

![screenshot 2015-05-01 21 41 51](https://cloud.githubusercontent.com/assets/155164/7439468/e8f2ff9e-f04a-11e4-8c1b-4248379053

[2015-05-02 20:10] joseph-jja opened #1388 "WARN [PhantomJS 1.9.8 (Linux)]: Disconnected (1 times), because no message in 10000 ms."
I am getting this error and tracked it down to karma karma/lib/browser.js The issue is that when this fails and the message comes up the terminal is no longer useful.  This is also an issue when run on jenkins as it causes jenkins to hang until the process is killed manually.  Usually that means ps -ef |grep grunt or lsof |grep karma

This is also because some test is bad.

PhantomJS 1.9.8 (Linux)

[2015-05-03 01:20] vvakame commented on #1378
:+1: please publish to npm!

[2015-05-03 01:20] laco0416 commented on #1378
:+1:

[2015-05-03 08:46] Dignifiedquire commented on #1378
@maksimr @vojtajina is there any specific reason no new release for this has been cut yet?

[2015-05-03 12:15] rfink commented on #1378
+1

[2015-05-03 23:51] matthewjh opened #1389 "No stack trace beyond debug.html for test failure"
Has anyone seen this before and/or knows what causes it? I have a failing Jasmine test, but when I run the test through `karma start`, the debug button etc, the stack trace in the console consists solely of debug.html:

[code]

line 38 being:
[code]

Obviously this makes debugging a nightmare. I have no idea why the stack trace is gobbled.

The browser I'm using to run the tests is Chrome Canary.

[2015-05-03 23:59] matthewjh commented on #1389
OK, so when I add in a failing test a proper stack trace is produced:

[code]

It would be useful to know under what circumstances this occurs versus a dud stack trace as in my original post. I'm fairly certain the error in the OP doesn't actually originate from `debug.html`.

[2015-05-04 00:14] matthewjh commented on #1389
This seems to be an issue with karma-jasmine discarding stack trace entries that contain 'karma-jasmine', which was resulting in an empty stack trace being output.

Closing this.

[2015-05-04 00:14] #1389 closed

[2015-05-04 09:46] Francisc opened #1390 "Window autoWatch not working"
Hello,

`autoWatch` stopped working for me in 0.12.31 and 0.12.32.
It doesn't "see" files change even when `usePolling` is `true`.

It worked with the same config file (except some reporter settings) before updating, but I can't remember the last version that worked.

Any clues?

[2015-05-05 01:03] gmoz22 opened #1392 "Chromium support for Darwin and Windows"
Version 0.1.8 supports Chromium on linux but not on Darwin and Windows.

[2015-05-05 01:07] #1392 closed

[2015-05-05 03:26] diwu1989 opened #1393 "Option to restart browser after test run"
There might be a memory leak with my test suite and PhantomJS for some reason, I suspect it has to do with angularjs services being created repeatedly. Other people are also hitting this https://github.com/karma-runner/karma/issues/1364

Is there any way to tell Karma to restart the browser client after each full test run?
When Karma is set to watch files and run continuously, it's very easy for m

[2015-05-05 06:28] antonpod commented on #384
+1

[2015-05-05 09:46] maksimr commented on #1378
@Dignifiedquire build script is broken :(

Now project lead @zzo

[2015-05-05 09:59] maksimr commented on #1393
No

But you can use external tools like [watchdog](https://github.com/gorakhargosh/watchdog) and start karma when files changed

I think we should fix issue with memory leak instead add new options

Thanks!

[2015-05-05 09:59] #1393 closed

[2015-05-05 10:13] Dignifiedquire commented on #1378
Ah right, that explains it, @zzo any chance we can get that script running again, and or that you can publish a new version/give some of us the ability to manually publish a new version in the meantime?

[2015-05-05 14:01] nmccready commented on #1378
![bueller](https://cloud.githubusercontent.com/assets/583593/7474175/a70f6a52-f30d-11e4-80e8-b9dd78d4f257.gif)

[2015-05-05 14:10] nmccready commented on #1388
I am seeing this on master when trying to run against io.js 1.8.1 .

[2015-05-05 14:13] zzo commented on #1378
Sorry guys am on it - having problems with the auto-release system so I'll
try to release this one manually - I'm sure nothing will go wrong :)
thanks,
  Mark

On Tue, May 5, 2015 at 7:01 AM, nmccready <notifications@github.com> wrote:

[2015-05-05 14:24] nmccready commented on #1378
@zzo thanks for the reply. Not sure if this is related or not (requires a new issue). master is hanging against io.js 1.8.1 and likely (2.0.0).

[2015-05-05 18:32] demisx commented on #1378
+1 for Node 0.12

[2015-05-05 19:20] zzo commented on #1378
Anyone have any idea why this is?  Sounds like a new issue.
thanks!
  Mark

On Tue, May 5, 2015 at 7:24 AM, nmccready <notifications@github.com> wrote:

[2015-05-06 08:09] nicbou commented on #1393
This wouldn't solve the issue. We need to run all tests at once, and the PhantomJS crashes cause a serious problem for us. It's not only about running the recently modified tests.

[2015-05-06 08:53] maksimr commented on #1393
@nicbou

[code]

This command will be start karma on every change js file and run all tests. Yup, this will be slowly because karma will process all files on the new.

Problem should be solved but I don't think that extra option that will refresh browser best solution now.

Thanks

[2015-05-06 09:25] nicbou commented on #1393
@diwu1989 suggests restarting the browser after each *full* test run, but I think we should look into an option to restart after *n* runs.

Our PhantomJS instance crashes after about 2000 tests, when it reaches 8-10 GB of RAM, and fails to restart. There are several other reports of the same problem. Chrome and Firefox are using much less RAM and finish running fine.

According to my research, it

[2015-05-08 00:06] trov-codystebbins commented on #1101
+1. I am encountering this on unit tests that are never injecting the `$window` or `$location` object, and not sure how page refreshes could be happening.

It is very rare and I cannot reproduce consistently unfortunately. More info in the error would really help out.

[2015-05-08 06:18] donaldpipowitch commented on #1078
I'd like to see a solution here soon or else more pull requests will drop in. Here is one from 14 days ago: https://github.com/karma-runner/karma/pull/1384

[2015-05-08 06:35] zzo commented on #1078
My initial thought reading through all of this is to dump the global karma-cli completely and put the link in .bin/karma and be done.  A project has installed a specific version of karma they should use the 'karma' executable that comes with it.  I don't get why anything should be installed globally.  That seems to be the root of the problem.  Especially since the 'karma' executable is already bei

[2015-05-08 11:21] youssef06 opened #1396 "Can browsers connect to Karma server from a remote machine?"
I have setup testing locally using Karma, Mocha and Chai, whenever I run
[code]
I get a webserver running locally:
[code]
I can then go to http://localhost:9876 using any browser I have and see how my tests run on that browser.

Is it possible to launch karma testing on a remote server so me and my collegues can access it with various browsers, without each one of us having to run karma locally?

[2015-05-08 12:59] maccurt opened #1397 "In Visual Studio, crashed with errno -4082 EBUSY"
Sometimes when I save a file in Visual Studio, karma just crashes with a -4082 EBUSY. This is currently only happening to me at work, it never happens on my computer at home. Any advice.  I pondered on if it was the virsus scan locking up the file or something. Is there a way to force Karma to contine on an error? I opened the test file in notepad and saved it and it also crashed, but it took me r

[2015-05-08 13:45] maccurt commented on #1397
I am at a loss, so I opend the project in VS2012 and I am noticing it does not happen (or has not happened yet). I will look and see if in VS2013 I have some plug in or extension that is causing this. Perhaps some process has the file in VS2013 (resharper, web essential, some devil spawn)

[2015-05-08 14:30] minznerjosh opened #1398 "Error Reporting Slow With Source Maps"
I'm working on a fairly large app (over 2300 unit tests) that uses browserify and babel with source maps enabled. I'm estimating that the source maps are probably > 1 MB in size.

When an assertion fails or an exception is thrown, it takes a *really* long time for the error to log to the console. If the stack is long enough, it can take upwards of 30 seconds per ```it()``` block to see the message

[2015-05-08 14:56] maccurt commented on #1397
This might shed some light on the issue: https://github.com/codereflection/Giles/issues/40

[2015-05-08 15:24] lethjakman opened #1399 "errors.angularjs.org URL incredibly long."
I've attempted to change the log level in order to get rid of the http://errors.angularjs.org/1.3.14/$injector/modulerr?<crazy_long_params_here> URL, but I've had no luck. Is there an option to minify or remove this URL when running tests through karma? It's including many full file paths which happen to be very long making the tests almost unreadable.

[2015-05-08 16:55] necolas commented on #1078
Any chance the sensible, common thing can be done? Or shall I just close this year-long thread?

[2015-05-08 16:58] zzo commented on #1078
ha depends what you definition of 'sensible' is of course.
I'm having problems releasing a new version of karma - once that gets sorted out I will apply the patch linking 'karma' in node_modules/.bin and release it

[2015-05-08 18:17] nzakas commented on #1078
@necolas I'd suggest leaving it open. It seems @maksimr is open to this, we just need to gently nudge along. :)

[2015-05-08 20:29] #1397 closed

[2015-05-08 20:29] maccurt commented on #1397
I closed this issue, because I believe it is a VS2013 issue

[2015-05-08 23:59] necolas commented on #1078
Great, thanks

[2015-05-09 10:21] AlanFoster commented on #439
:+1: Sounds like a great idea to me; Would love to see any progress updates on this @danyshaanan!

[2015-05-10 23:34] jseto commented on #1101
@trov-codystebbins
I have exactly the same problem as you. It happens only in autoWatch mode when reloading after an error when testing  directives but NOT injecting $location nor $window.

To work around, I exit from karma and run again. Always get rid of the message with no further action. but anoying... :(

[2015-05-11 01:17] stramel commented on #673
This could probably be closed. Options that I have found:

 - Plugin: https://github.com/lithiumtech/karma-threshold-reporter
 - Manual Parsing / Istanbul Check Coverage call

[2015-05-12 15:09] astreate commented on #1328
+1

[2015-05-12 16:20] clexit opened #1400 "Hardcoded http protocol for socket.io"
`http` protocol is hardcoded in karma.js [here](https://github.com/karma-runner/karma/blob/master/client/main.js#L10) at the moment. This means that Karma does not work in an environment where `http` is not used (only `https`).

Karma can check `window.location.protocol` instead, which will allow to run it in `https`-only environments.

[2015-05-12 21:15] MetaMemoryT opened #1402 "npm install WARN message"
with npm install of karma, npm warns:

[code]

[2015-05-13 22:36] noherczeg commented on #1378
Can we help somehow? If I'm not mistaken there new release isn't public yet, but if there is anything that we could help with to make it happen please let us know @zzo !

[2015-05-13 22:57] zzo commented on #1402
#merge

[2015-05-14 06:36] astoilkov opened #1403 "Tests start executing before page is loaded"
I am using karma-jasmine: 0.3.5. I have tests that run perfectly from a HTML runner that loads jasmine 2.2 but when I run them through karma using karma-jasmine they fail. I have investigated the problem and it seems that the tests start executing before the DOM is ready (which is not the case when run from a HTML runner). After updating the createStartFn function in the adapter.js file to the cod

[2015-05-14 12:45] Francisc commented on #1390
*bump*

[2015-05-14 13:51] maksimr commented on #1390
@Francisc
It will be cool try find latest successful version of karma

Thanks!

[2015-05-14 15:41] maksimr commented on #1402
Will be fixed in [new version](https://github.com/karma-runner/karma/commit/29620de56d4796e25dd9202ce2994602a07379be) karma

[2015-05-14 15:41] #1402 closed

[2015-05-14 15:44] maksimr commented on #1403
Guys should we wait event `DOMContentLoaded` or `load` before starting tests?

\cc @karma-runner/contributors

[2015-05-14 15:48] maksimr commented on #1399
@lethjakman totally agree, but really is it issue of karma?
I [created](https://github.com/angular/angular.js/issues/10590) the issue in angular.js about it

[2015-05-14 15:54] maksimr commented on #1398
@minznerjosh Thanks

This issue should be fixed by this [PR](https://github.com/karma-runner/karma/pull/1232)

[2015-05-14 15:59] lethjakman commented on #1399
Ahh maybe it isn't a karma. I'll go weigh in there, thank you.

On Thu, May 14, 2015, 9:49 AM Maksim Ryzhikov <notifications@github.com>
wrote:

[2015-05-14 16:00] maksimr commented on #1396
@youssef06 Yes.

Karma web server run with IP `0.0.0.0` This means listen on every available network interface.
For accessing you can use public IP/machine IP/host name

Thanks!

[2015-05-14 16:00] #1396 closed

[2015-05-14 16:03] maksimr commented on #1388
@joseph-jja Thanks

What is expected behavior in this case?

[2015-05-14 16:09] minznerjosh commented on #1398
@maksimr Well look at that! Thanks!

[2015-05-14 16:09] #1398 closed

[2015-05-14 16:29] joseph-jja commented on #1388
I would expect it to die and exit normally. Also a more useful message.  I've added jshint to the tests and that forces developers to have proper syntax, but still tests fail, and don't always return the console back to the user.

[2015-05-14 16:47] youssef06 commented on #1396
Thx @maksimr
It turned out i just had to open port 9876 on the server, then me and my colleagues were able to access the tests with:

http://url.test.server:9876

[2015-05-15 10:47] sindresorhus commented on #1220
Because Karma is using the very outdated Socket.io users have to download a [*8 MB* useless file](https://github.com/qfox/ZeParser/blob/805f5441e7cf2b3bc84b07c05eed6cc1f198872a/benchmark.html) (karma/node_modules/socket.io/node_modules/socket.io-client/node_modules/active-x-obfuscator/node_modules/zeparser/benchmark.html), which is not apparent in later Socket.io versions... Please update.

[2015-05-15 11:06] maksimr commented on #1147
close as duplicate

[2015-05-15 11:06] #1147 closed

[2015-05-15 20:38] Dignifiedquire commented on #1220
@everyone around here, There is working version with the latest socket.io in this PR #1404 But I need some real world tests to be sure it works, so please go ahead and try it out and report bugs :bomb:

[2015-05-15 20:40] Dignifiedquire commented on #252
Closing in favor of #1220

[2015-05-15 20:40] #252 closed

[2015-05-15 20:43] Dignifiedquire commented on #1382
@cloudcome I'm afraid we will need an english translation of this.

[2015-05-15 20:45] Dignifiedquire commented on #1379
This depends not only on karma, but also on the testrunner and bundling tools you are using. Can you describe your setup more closely?

[2015-05-15 20:46] Dignifiedquire commented on #325
Resolved in #684

[2015-05-15 20:46] #325 closed

[2015-05-15 20:47] Dignifiedquire commented on #676
Closing as karma seems to be running fine now on 0.10 and 0.12.

[2015-05-15 20:47] #676 closed

[2015-05-15 20:58] Dignifiedquire commented on #1387
What exactly are you asking? You can do this today with karma, just pass the `configFile` on  the command line and up you go.

[2015-05-15 21:00] Dignifiedquire commented on #1386
This looks like an issue with npm rather then karma. Please report it here: https://github.com/npm/npm if you think this is actually a bug, but it just might be that something is not okay with your local connection.

[2015-05-15 21:00] #1386 closed

[2015-05-15 21:02] Dignifiedquire commented on #1375
Hey, thanks for the report, but can you please repost it here: https://github.com/karma-runner/karma-chrome-launcher/issues. There were also some discussions around path issues on there, if I remember correct.

[2015-05-15 21:02] #1375 closed

[2015-05-15 21:03] Dignifiedquire commented on #1374
Can you please provide some more details, about what exactly is not working, and optimally a small repro setup?

[2015-05-16 16:19] Dignifiedquire commented on #1290
If you need help on documentation please ask on the mailing list or on gitter, thanks.

[2015-05-16 16:19] #1290 closed

[2015-05-16 16:25] dignifiedquire opened #1406 "1.0.0 Release"
There were some notes, and plans about a 1.0 release. I want to use this issue for any discussion and plans around it and start a complete list of tasks to do before we can release.

There is this [google doc](https://docs.google.com/document/d/1XMg9CYTsu8NIGBFyXtQS8q0KaWdvldhjLsIcEBOitjo/edit?usp=sharing) that was started by @vojtajina and there was #944, which I will close in favor of this issue

[2015-05-16 16:26] Dignifiedquire commented on #944
Closing in favor of #1406

[2015-05-16 16:26] #944 closed

[2015-05-16 17:27] zzo commented on #1406
Looks good - want to add fixing the mary-poppins auto-release process.
  Mark

On Sat, May 16, 2015 at 9:26 AM, Friedel Ziegelmayer <
notifications@github.com> wrote:

[2015-05-16 18:50] Dignifiedquire commented on #1406
@zzo added. Ping me when you have some time I'm happy to help getting this fixed and running (also probably good to have > 1 person being able to check it when there is ab issue)

[2015-05-16 18:58] Dignifiedquire commented on #1380
@cusspvz sorry for the late response. I think it should be possible in theory, i.e. there is nothing in the architecture that would make it impossible. That being said it will be big undertaking as file serving, watching and connecting is currently hardcoded into the core.
Have you thought about simply remote mounting or 'git checkouting' on the server and then running the karma process like that?

[2015-05-17 04:05] FeistyMango opened #1408 "Karma with RequireJs - Hangs when using a module that using a directory path config"
I was able to pair down my entire karma setup to nothing more than the bare minimum to confirm what seems to cause the issue.

Issue:
When starting karma, I receive the following message: "[2015-05-16 20:32:54.432] [WARN] Chrome 42.0.2311 (Windows 7) - Disconnected (1 times), because no message in 10000 ms."

Observations:
I have configured a config called "logic", which maps to "app/_logic" direc

[2015-05-17 18:10] Dignifiedquire opened #1410 "Update external dependencies"
- [x] `http-proxy           0.10.4  -> 1.11.1` Ref #1345
- [x] `rimraf                2.2.8  -> 2.3.3` Ref #1412
- [x] `glob                 3.2.11  -> 5.0.6` Ref #1412
- [x] `colors                0.6.2  -> 1.1.0` Ref #1412
- [x] `mime                 1.2.11  -> 1.3.4` Ref #1412
- [x] `graceful-fs           2.0.3  -> 3.0.6` Ref #1412
- [x] `useragent            2.0.10  -> 2.1.6` Ref #1412
- [x] `

[2015-05-17 18:10] Dignifiedquire commented on #1163
Closing in favor of #1410

[2015-05-17 18:10] #1163 closed

[2015-05-17 18:10] Dignifiedquire commented on #1327
Closing in favor of #1410

[2015-05-17 18:10] #1327 closed

[2015-05-17 18:11] #866 closed

[2015-05-17 18:13] Dignifiedquire commented on #763
As this hasn't come up in the last 1,5 years I'll close this for now. If this still is an issue please feel free to open a new issue.

[2015-05-17 18:13] #763 closed

[2015-05-17 18:18] Dignifiedquire opened #1411 "Improve progress reporter"
There are some issues with the progress reporter not working properly together with the logger. We should investigate if we can find library that handles this already.

---

Superseds #731, #724.

[2015-05-17 18:18] Dignifiedquire commented on #731
Closing in favor of #1411

[2015-05-17 18:18] #731 closed

[2015-05-17 18:19] Dignifiedquire commented on #724
Closing in favor of #1411

[2015-05-17 18:19] #724 closed

[2015-05-17 19:13] Dignifiedquire commented on #1240
Superseded by #1410 and fixed in #1412

[2015-05-17 19:13] #1240 closed

[2015-05-18 00:54] cusspvz commented on #1380
IMHO Its more reliable to have an *always connected* browser and run any tests there, queued by a central server instead of your current approach, allowing you to test different branches without having to reboot server and/or browsers.

Based on what I've said, we want to share our physical devices and emulated OSes between multiple test jobs of different softwares. Our goal here is to bind, eithe

[2015-05-18 00:55] cusspvz commented on #1380
@Dignifiedquire thanks for your response.

[2015-05-18 11:39] peter-mouland commented on #1379
the bundling of files are finished before the tests begin. I happen to be using browserify to bundle my JS, but as i say, this is complete before test begin.

my karma file :
[code]

to run the tests I don't use gulp or grunt or anything, just node 'api' karma provides :
[code]

[2015-05-18 17:05] Dignifiedquire commented on #1349
@pjlasl any updates? Is this still an issue?

[2015-05-18 17:09] Dignifiedquire commented on #1350
This sounds like mocha is actually failing here, not a 100% sure though. Is the referenced `ele` something that you use in your code/test code?

[2015-05-18 17:10] Dignifiedquire commented on #1274
@maksimr are you actually working on this? I added it to the 1.0 milestone as it feels like this is something that needs fixing.

[2015-05-18 17:11] Dignifiedquire commented on #1354
Closing in favor of #1274

[2015-05-18 17:11] #1354 closed

[2015-05-18 17:12] Dignifiedquire commented on #1399
Closing as it's not an issue with karma itself.

[2015-05-18 17:12] #1399 closed

[2015-05-18 17:13] Dignifiedquire commented on #1382
Closing due to inactivity. @cloudcome feel free to reopen if this is still an issue and you have some way of providing an english translation.

[2015-05-18 17:13] #1382 closed

[2015-05-18 17:14] Dignifiedquire commented on #1380
@cusspvz I will be focused mainly on pushing out a 1.0.0 and getting the project in a better state over the next weeks, but if you want to give this a try, or have any questions, feel free to leave them here. I'm happy to review any work you are doing in this direction.

[2015-05-18 17:20] Dignifiedquire commented on #1367
This depends a lot on how you actually include the files from Proj1 into Proj2. The simplest way that I can imagine is to put the `karma.conf` of Proj2 into the top level folder and reference things in a nested way.

[2015-05-18 17:23] Dignifiedquire commented on #1369
Are you only interested in stopping? If so would what is talked about here #136 suffice for you? That is only talking about a command line option, but I would add an api option for it as well at the same time probably.

[2015-05-18 17:24] Dignifiedquire commented on #1362
What version of npm are you on? The latest versions of npm do a good job of deduping things to avoid these kinds of issues.

[2015-05-18 17:32] Dignifiedquire opened #1414 "Move all support to gitter and the mailing list"
The issue tracker is overflowing, and not at least because there are a lot of support questions around here.

I would suggest closing those, and adding a friendly comment pointing people to

* [Gitter](https://gitter.im/karma-runner/karma)
* [StackOverflow](http://stackoverflow.com/questions/tagged/karma-runner)
* [FAQ](http://karma-runner.github.io/0.12/intro/faq.html)

Also we should try to upda

[2015-05-18 19:45] codecadwallader commented on #1362
npm v2.5.1

[2015-05-18 19:57] Dignifiedquire commented on #1206
Closing, as this seems to be resolved, please comment / reopen if you are still experiencing this issue.

[2015-05-18 19:57] #1206 closed

[2015-05-18 20:11] Dignifiedquire commented on #1362
@codecadwallader could you try
a) running `npm dedupe` and
b) upgrading to npm@2.9 and do a fresh install of your dependencies
and let me know if this solves anything or if the issue is still the same

[2015-05-18 23:08] ajbogh commented on #1369
I'm interested in stopping a running task programmatically because I'm not using the command line. In my particular case I was using Gulp with gulp-karma. I found that it was nearly impossible to kill Karma in a nice way, and as the developer of gulp-karma states "Karma. just. won't. stop."

I made this PR to give advanced developers and plugin developers a way to stop Karma in a semi-nice manner.

[2015-05-19 07:31] Dignifiedquire commented on #1369
Okay got it, I will probably use a different implementation, but I agree that we need to add this.

[2015-05-19 08:27] maksimr commented on #1274
@Dignifiedquire
Now dont work, but I will look at it on this week

[2015-05-19 08:55] Dignifiedquire commented on #1274
Okay cool

[2015-05-19 12:04] aymericbeaumet commented on #1414
:+1: There are also a lot of recurring questions, we could create a FAQ on the website.

—
Aymeric Beaumet

On Mon, May 18, 2015 at 7:32 PM, Friedel Ziegelmayer
<notifications@github.com> wrote:

[2015-05-19 15:37] #1294 closed

[2015-05-19 17:38] deLaDude commented on #926
I agree this should be configurable. A warning instead of a failure would be nice as well.

At the company I work for we setup a shared grunt workflow for all projects to use however we maintain some legacy code-bases that have no tests. This is also a pain the butt for prototyping and rapid application development. Right now we are creating dumby test files just to appease karma which is less tha

[2015-05-19 17:52] Dignifiedquire commented on #1414
I've dropped the mailinglist from my proposal as from my experience I feel that Gitter and StackOverflow are a much better medium for handling support, at least as the official pointers.

[2015-05-19 17:58] maksimr commented on #1414
cons of Gitter - it is poorly indexed by search engines.

[2015-05-19 18:02] Dignifiedquire commented on #1414
That is true :/

[2015-05-19 18:04] Dignifiedquire commented on #1414
React moved to using [discourse](http://www.discourse.org/) for support, which might be an even better solution, as it does get properly indexed but has a much better interface and better ways for realtime interactions

[2015-05-19 18:08] kahnjw opened #1415 "0.12.32 Is missing?"
Am I missing something or is the latest release of karma missing from github. Npm has 0.12.32, but the latest github tag is 0.12.31?

https://www.npmjs.com/package/karma

https://github.com/karma-runner/karma/releases

[2015-05-19 18:13] kpdecker opened #1416 "Source maps do not work when using Chrome"
Chrome's stack traces return relative urls where possible, breaking the assumption about fully qualified URLs that the error handler is making [here](https://github.com/karma-runner/karma/blob/master/lib/reporter.js#L25)

[code]

Example trace from Chrome:

[code]

Changing the first component of the regex to the following seems to resolve the issue, but this might be too permissive:
[code]

[2015-05-19 18:17] maksimr commented on #1416
@kpdecker What version of Chrome you use?
And how look your karma.config.js?

Thanks!

[2015-05-19 18:22] Dignifiedquire commented on #1415
We are fighting with our release bot,  so maybe he messed up the last release as well :(

[2015-05-19 18:23] kpdecker commented on #1416
Chrome 42.0.2311 (Mac OS X 10.10.3)

[code]

[2015-05-19 18:41] kahnjw commented on #1415
Hm ok. Yeah caused me some confusion. The weirdest part is that the master package.json is still 0.12.31. So not only did the tag never get pushed back to the repo, neither did the package.json version bump/changelog commit. https://github.com/karma-runner/karma/blob/master/package.json

[2015-05-19 18:42] dignifiedquire opened #1417 "Code style ES2015 and beyond"
In most of my projects I've started moving the code use [babel](http://babeljs.io/) to leverage all new and nice things that ES2015 (was ES6) and some additional proposals bring. For me this brought a lot of clarity and general better code in every case. At the same time I've been removing semicolons. [It's](http://blog.izs.me/post/2353458699/an-open-letter-to-javascript-leaders-regarding) [fine.]

[2015-05-19 19:00] Dignifiedquire commented on #1415
Sorry about that, hopefully this will be fixed soon.

cc @zzo any idea what went wrong there?

[2015-05-19 19:06] kahnjw commented on #1415
No worries. I figured it out pretty fast. Was just confused for a minute. Thanks for the great project!

[2015-05-19 19:43] ajbogh commented on #1369
Thanks!

[2015-05-19 20:27] zzo commented on #1415
It's up now - sorry for the delay

On Tuesday, May 19, 2015, Jarrod Kahn <notifications@github.com> wrote:

[2015-05-19 20:32] aymericbeaumet commented on #1414
+1

[2015-05-20 04:58] hax commented on #1387
I think what this issue ask is make karma and many other utils/services add `.config` to lookup paths by default.

[2015-05-20 08:47] Dignifiedquire commented on #1406
@zzo Cleaned up the cruft on canary and remove iojs-1 from travis. Will do the version bump on canary later

[2015-05-20 14:01] zzo commented on #1406
great i just updated the docs on master to mention only iojs 2.x https://github.com/karma-runner/karma/commit/1b69db1ce22c5b51f6dd003ceded7ac0708b84b2 and updated the docs on canary to be .10, .12 and iojs 2.x only https://github.com/karma-runner/karma/commit/38eb63d97d54b911e2fb9e78d9323b6b4d35e94e

[2015-05-20 14:43] shannonmoeller commented on #1387
@Dignifiedquire I understand that the path can be configured, but as @hax so aptly stated, this is about adding `.config` to the default lookup paths. This request has been made of several other projects and many have stated they're waiting to see what others do. At this point, I'm working in my spare time to affect the change, prove it works without breaking anything, and submit PRs.

[2015-05-20 14:44] Dignifiedquire commented on #1387
@shannonmoeller I see. In general I don't mind adding it to the default lookup path. If someone provides a pr for this I'll consider it.

[2015-05-20 14:52] shannonmoeller commented on #1387
Thanks! PR forthcoming.

[2015-05-20 16:01] zzo commented on #1415
@Dignifiedquire do you know what went into .32 /  what would cause this?

[2015-05-20 16:13] Dignifiedquire commented on #1415
@zzo No idea, the version doesn't even exist in master :( So I suggest we cut a release `0.12.33` with everything that is now in master

[2015-05-20 16:14] Dignifiedquire commented on #1415
Probably this is related to the messed up `canary` branch and those beta releases there

[2015-05-20 16:23] Dignifiedquire commented on #1406
@zzo I built the latest docs, you can check them out [here](http://karma-runner.github.io/0.12/index.html)

[2015-05-20 16:25] zzo commented on #1415
There was that one patch to move the loading of the plugins further down -
that must be it?

On Wed, May 20, 2015 at 9:14 AM, Friedel Ziegelmayer <
notifications@github.com> wrote:

[2015-05-20 16:55] zzo commented on #1406
Great what is the process for doing that?  thanks

On Wed, May 20, 2015 at 9:24 AM, Friedel Ziegelmayer <
notifications@github.com> wrote:

[2015-05-20 18:30] Dignifiedquire commented on #1406
You need this [setup](https://github.com/karma-runner/karma-runner.github.com#building-the-documentation) and then run https://github.com/karma-runner/karma-runner.github.com/blob/master/sync-docs.sh which makes a couple of assumptions that you should check before hand (I need to get this documented properly..)

On another note I've started with the work for publishing `1.0.0-0` as the the new can

[2015-05-20 18:34] Dignifiedquire commented on #1406
Most important part, I forgot when to release new "feature" versions: We take a fixed cycle, e.g. every 4 weeks we release a new stable version, bumping version numbers according to semver and the commits.

[2015-05-20 18:51] Dignifiedquire commented on #1406
@zzo Okay, ignore most of the above, trying to put this into a more understandable and complete form:

Suggested release cycle/process:

## Types of Releases

* canary, e.g. `1.0.0-pre.1`
* beta, e.g. `1.0.0-beta.1`
* stable, e.g. `1.0.0` (increase minor version if no breaking changes, major version if breaking changes)

## Release Cycle

Chrome style:

* Canary, on each `feat` or `fix` merge
* Be

[2015-05-20 23:45] leviwith-wf opened #1418 ".."

[2015-05-20 23:46] #1418 closed

[2015-05-21 19:57] codecadwallader commented on #1362
@Dignifiedquire Thanks for the suggestions.  I have upgraded to npm@2.9.1, and have been running dedupe's all along.  dedupe definitely helps, but only if another package happens to have the same internal dependencies.

chokidar still has some pretty lengthy paths, for example:

\node_modules\karma\node_modules\chokidar\node_modules\anymatch\node_modules\micromatch\node_modules\regex-cache\node_mo

[2015-05-21 23:16] jsguy commented on #1189
Any updates on this? Seems like a fairly important piece of core functionality?

[2015-05-21 23:42] hydhaval commented on #1374
I am also facing the same issue. When I add "window.scrollTo(100, 400);" PhantomJS always returns 0. However this works fine while I switch to Chrome.

[2015-05-21 23:43] hydhaval commented on #1374
@kand did you find any solution with this?

[2015-05-21 23:44] hydhaval commented on #345
Any solution on this?

[2015-05-21 23:53] hydhaval commented on #1374
@Dignifiedquire I am on the same boat as @kand let me know if I can provide any details.

[2015-05-22 00:08] kand commented on #1374
Unfortunately, I just ended up using Chrome instead. The ticket I referenced goes over basically the exact same issue I was having.

[2015-05-22 00:26] hydhaval commented on #1374
@kand yeah in my case, using chrome is not a option.

[2015-05-22 03:44] chapgaga opened #1419 "why i failed to install karma on windows?"
btw, i am using win7 x64 with vs 2013

![](http://img.itc.cn/photo/jR6XkNISp1L.jpg)

http://img.itc.cn/photo/jR6XkNISp1L.jpg

details of error message here
http://pastie.org/10201538

[2015-05-22 09:52] taras42 opened #1420 "Plugin injection order to context.html"
Hello,

I have a plugin https://github.com/taras42/karma-jasmine-html-reporter and issue related to it https://github.com/taras42/karma-jasmine-html-reporter/issues/4.

Appears to be, since version 0.12.32 the order of plugin injection to context.html has been changed.

My plugin has dependancy on jasmine which is framework in karma terms, and it loads after reporter and fails (in epic manner).

I

[2015-05-22 12:14] Dignifiedquire commented on #1419
I'm not sure but it looks like socket.io fails to install, could you try installing it on its own?

[2015-05-22 14:30] kuldarim commented on #1328
+1

[2015-05-22 17:06] Dignifiedquire commented on #1328
We will release a new version with fixed engine support in the next couple of days, promised.
There will be a stable release supporting `0.8`, `0.10`, `0.12` and `iojs > 2.0` and an unstable release which will drop the `0.8` support as it will feature connect3 which drops support for `0.8`.
I'm very sorry for the long wait, and hope to avoid any long running issues like that in the future.
Thanks

[2015-05-22 19:58] monitorjbl commented on #598
@bajtos workaround did not work directly for me, I had to increase the retry count to an obscenely high `100` to prevent these random disconnects from breaking the build.

[2015-05-22 23:58] unional opened #1421 "karma server lock file."
When karma server is running (0.12.31 and 0.12.32), the source files are locked once the file has been changed (may be auto-watch is locking the files).

Once the karma server is stopped the files are unlocked.

This cause the source files cannot be changed more than once during development (e.g. phpStorm fails as "Cannot Save Files", and p4 cannot submit changes or revert the file: "cannot create

[2015-05-23 05:39] maksimr commented on #1421
@unional Thanks!
What OS and phpStorm you use? It will be cool if you create test project where reproduce this problem

[2015-05-23 15:49] koba04 commented on #1351
@Dignifiedquire Great! I'm looking forward to fixing this :smile:

[2015-05-24 08:56] chapgaga commented on #1419
@Dignifiedquire  seems you are right, i failed to install socket.io

https://github.com/Automattic/socket.io/issues/2128

[2015-05-24 22:04] tkrotoff opened #1422 "socket.io.js not loaded when urlRoot is specified"
When specifying `urlRoot: '/base/'` inside karma.conf.js, Karma fails because it cannot load socket.io.js:
`WARN [web-server]: 404: /base/socket.io/socket.io.js`

socket.io.js URL is `/base/socket.io/socket.io.js` (because of urlRoot: '/base/') instead of `/socket.io/socket.io.js`. I believe socket.io.js should be independent from urlRoot (it was before?).

Specifying `urlRoot: '/base/'` was worki

[2015-05-25 14:37] Dignifiedquire commented on #1422
Thanks for reporting this, could you check which version of socket.io is installed please?

[2015-05-25 14:41] dignifiedquire opened #1423 "Upgrade all middleware test to use supertest-as-promised"
Ref https://github.com/karma-runner/karma/pull/1413#issue-77387832

[2015-05-25 17:25] tkrotoff commented on #1422
The one from `/node_modules/karma/node_modules/socket.io` is 1.3.5 (the one from `/node_modules/browser-sync/node_modules/socket.io` is also 1.3.5).

[2015-05-26 12:50] wips opened #1424 "Some dependency tries to be loaded by direct URL - 0.12.32"
When installing karma 0.12.32 from npm some dependency is trying to be loaded by direct github URL:

`npm http GET https://github.com/rase-/node-XMLHttpRequest/archive/a6b6f2.tar.gz
npm ERR! fetch failed https://github.com/rase-/node-XMLHttpRequest/archive/a6b6f2.tar.gz
npm http GET https://github.com/rase-/node-XMLHttpRequest/archive/a6b6f2.tar.gz
npm ERR! fetch failed https://github.com/rase-/no

[2015-05-26 12:59] Dignifiedquire commented on #1424
This is already known and we are waiting for a fix from upstream at the moment: #1366
You can weigh in here https://github.com/Automattic/engine.io-client/issues/348 so maybe they'll fix it sooner.

[2015-05-26 13:12] wips commented on #1424
Didn't notice that. Thanks

[2015-05-26 15:32] boldfacedesign opened #1425 "0.12.32 socket.io failed to proxy"
I updated to Karma v0.12.32 and now see this error message.
[code]
I tried using Chrome as my test browser with the same results.
I dropped back down to Karma v0.12.31 and do not get this issue.

I can post more info about my config if needed.

[2015-05-26 15:55] Dignifiedquire commented on #1425
Can you please run with log level debug and post the output?

[2015-05-26 17:57] lygstate commented on #1406
iojs still not supported

[2015-05-26 18:03] #1342 closed

[2015-05-26 18:27] lygstate commented on #1406
The master doesn't build with nodejs 2.1.0 because of socket.io.

[2015-05-26 19:21] #961 closed

[2015-05-26 22:18] boldfacedesign commented on #1425
I've had to reduce some of the file paths due to company privacy but I don't believe they're important.

DEBUG [plugin]: Loading plugin karma-jasmine.
DEBUG [plugin]: Loading plugin karma-jasmine-matchers.
DEBUG [plugin]: Loading plugin karma-browserify.
DEBUG [plugin]: Loading plugin karma-chrome-launcher.
DEBUG [plugin]: Loading plugin karma-html-reporter.
DEBUG [plugin]: Loading plugin karma-fi

[2015-05-26 23:40] Dignifiedquire commented on #1415
0.12.33 should be marked as latest and be available on npm, so closing this for now :)

[2015-05-26 23:40] #1415 closed

[2015-05-26 23:40] Dignifiedquire commented on #1378
0.12.33 should be on npm allowing for node 0.12 and iojs. Please comment and or reopen if it does not work.

[2015-05-26 23:40] #1378 closed

[2015-05-27 02:15] startswithaj commented on #1299
@rfgamaral did you end up solving this? I'm having the same problem. If I throw in a debugger and step through the tests no issues. But as soon as I go for a plain run,  Unknown provider;.

[2015-05-27 13:49] mzgol commented on #1220
What has happened? Karma `0.12.33` includes socket.io `0.9.16` whereas the previous `0.12.32` included socket.io `1.3.5`... old bugs are back :confused:

[2015-05-27 14:20] Dignifiedquire commented on #1220
karma@0.12.32 was an accidental release, which released the canary version into the stable branch, which it shouldn't have (that's why there is no tag of it on github or anything like that..)
`0.12.33` was the first release to actually mirror what is on master on github.
I'm going to merge the socket.io upgrade into canary today, so that way we `0.13.0-rc.1` should have the latest socket.io and as

[2015-05-27 14:21] Dignifiedquire commented on #1220
Also, I'm very sorry for all this chaos @mzgol :(

[2015-05-27 14:36] mzgol commented on #1220
Thanks for the info, @Dignifiedquire; I didn't know Karma 0.12.32 was not released from `master`.

[2015-05-27 14:37] Dignifiedquire commented on #1220
I just published `0.13.0-rc.1` it has the latest socket.io version, please take it for a spin and report all the bugs

[2015-05-27 14:42] mzgol commented on #1220
@Dignifiedquire I can't currently test this version as `grunt-karma` declares a karma `peerDependency` at `~0.12.0` which prevents it from even installing.

[2015-05-27 14:46] Dignifiedquire commented on #1220
:cry: I hate peer dependencies..

[2015-05-27 17:52] Dignifiedquire commented on #1425
Please try again with the latest version (0.12.33) I think it should fix this issue

[2015-05-27 17:53] Dignifiedquire commented on #1422
So it turns out 0.12.32 was shipping a socket.io version which we actually didn't support fully. Could you please check 0.12.33 if that solves the issue?

[2015-05-27 20:01] tkrotoff commented on #1422
Problem fixed after upgrading from 0.12.31 to 0.12.33, thx. `node_modules/karma/node_modules/socket.io` is now at 0.9.16.

[2015-05-27 20:24] #1422 closed

[2015-05-27 20:57] Dignifiedquire commented on #1422
Great to hear

[2015-05-28 03:08] tomitrescak opened #1427 "Running karma In node for debugging purposes"
I'm trying to debug karma tests, but in order to run the debugger I need to run karma as node.js process in form "node ...." (In visual studio code). Something like "node ./lib/cli.js start" but it has no entry point for server.

Is it possible to omit the karma binary and run karma from node.js?

[2015-05-28 08:10] maksimr commented on #1427
You can use [public API](http://karma-runner.github.io/0.12/dev/public-api.html) to write own script for starting `karma`

[2015-05-28 09:03] boldfacedesign commented on #1425
Yep all good. Test running as expected on PhantomJS.

[2015-05-28 09:03] #1425 closed

[2015-05-28 12:31] donaldpipowitch opened #1428 "Karma doesn't exit when API is used with callback"
I use Karma programmatically with its `karma.server.start(config, cb)` API. When I run my unit tests on a Selenium Grid the process runs forever, but only if I use a callback. That's why Karma seems to default to `process.exit` - it doesn't really stop without that. But the way I use it I can't know (and don't want to know) _when_ Karma was called and when to call `process.exit`. I think this is a

[2015-05-28 13:36] Deepakdubey90 commented on #558
Hi,
i' am writing unit Test-Case  for UI by  using PhantomJs with Karma(angularJs) . but got an error on console .
Error >>>>>>>>>>>>>>>>>
PhantomJS 1.9.8 (Linux): Executed 36 of 39 SUCCESS (0 secs / 0.104 secs)
PhantomJS 1.9.8 (Linux) ERROR
  ""Some of your tests did a full page reload!""
PhantomJS 1.9.8 (Linux): Executed 36 of 39 ERROR (0.141 secs / 0.104 secs)
npm ERR! Test failed.  See above f

[2015-05-28 16:41] pjlasl commented on #1349
@Dignifiedquire Sorry for the delayed reply. It is working. I had to load karma and all supporting tools where my project resided to get it to work properly.

[2015-05-28 16:41] #1349 closed

[2015-05-28 21:08] scamden commented on #1320
+1

[2015-05-29 09:30] Deepakdubey90 commented on #1268
Hi,
i' am writing unit Test-Case for UI by using PhantomJs with Karma(angularJs) . but got an error on console .
Error >>>>>>>>>>>>>>>>>
PhantomJS 1.9.8 (Linux): Executed 36 of 39 SUCCESS (0 secs / 0.104 secs)
PhantomJS 1.9.8 (Linux) ERROR
""Some of your tests did a full page reload!""
PhantomJS 1.9.8 (Linux): Executed 36 of 39 ERROR (0.141 secs / 0.104 secs)
npm ERR! Test failed. See above for mo

[2015-05-29 09:34] Deepakdubey90 commented on #543
why phantomJs witrh karma throw error : ""Some of your tests did a full page reload!""  most of the time during UI Unit-Test-case . & how to fix it..?

[2015-05-29 13:12] tomitrescak commented on #1427
I managed to hook onto karma after all, through "node --debug-brk karma start", but the problem is that it's debugging karma itself and not the tests which are ran in the browser. Any who .... I'll stick yo debugging them in chrome I guess;) but if you have any idea on how to hook onto them I would appreciate that.

[2015-05-29 13:14] Dignifiedquire commented on #1427
As the tests are executed in the browser, you'll need to setup your debugger to hook into that, independently of what karma does. The node process that runs karma, has very little information about the actual execution of your tests.

[2015-05-29 17:02] heldr commented on #1320
+1

[2015-05-29 18:05] #1400 closed

[2015-05-29 18:06] #1351 closed

[2015-05-29 18:11] Dignifiedquire commented on #1406
@zzo I've given up @karmarunnerbot for now and do the releases manually..

[2015-05-29 18:13] zzo commented on #1406
What's been happening?  Bad npm credentials still?

On Fri, May 29, 2015 at 11:12 AM, Friedel Ziegelmayer <
notifications@github.com> wrote:

[2015-05-29 18:16] Dignifiedquire commented on #1406
No idea :( just not happening anything after it gets send to presubmit, and additionally travis takes > 6h at the moment to process our builds...

[2015-05-29 18:16] Dignifiedquire commented on #1406
(just merged the stuff that was piling up manually, and will do a release in the next hour or two out of it)

[2015-05-29 18:44] jtalon21 commented on #413
+1 for this

[2015-05-30 07:23] hoxu commented on #199
Karma 0.12.35 + vim, still having this issue. I get "Removed file" occasionally, followed by "Added file" when I save again.

[2015-05-30 09:55] Dignifiedquire commented on #199
@hoxu this is most likely an issue https://github.com/paulmillr/chokidar the filewatcher we use itself. So if you have a detailed report, please file an issue there.

[2015-05-31 10:35] noherczeg commented on #1378
Works for me, thank you very much! :)

[2015-05-31 19:11] bd82 commented on #1421
Hello.

I've also encountered this lately when migrating a project to Karma.
That project is proprietary so I can't share the code it. However I'll try to reproduce the issue
in a test project.

OS I am running is windows7
and the IDE is IntelliJ IDEA 14.1
Karma Version: XXXXXX (no access to work PC right now, will add later)

[2015-06-01 04:53] unional commented on #1421
I kind of get around this problem by not including the spec folder which contains the karma.conf files.  After I do that, the problem goes away.  There should be a bug somewhere that causing this, because including the spec files should not cause source files to be locked.

By the way, using exclude: [] to exclude the spec files doesn't work.  I have to write the patterns inside files: [] specific

[2015-06-01 20:26] HurricaneJames opened #1431 "Karma Firefox Launcher Fails and Passes at the Same Time"
I have a test that uses karma and karma-mocha. Using the Chrome launcher it works. However, the Firefox launcher fails.

[code]
(note: I'm using karma-browserify, so the stack trace coming from Firefox is useless, Chrome is fine though)

When inspecting in the Firefox debug console, it shows all my debug statements and a message that the test passed.

[code]

I know the code works because when I i

[2015-06-02 06:31] Goffen commented on #598
We got the same problem with intermittent test-runs. Once in a while phantomjs wont connect to the websocket in time so the testrunner will timeout and shut down. I think its quite related to the load on the computer running the tests. On everyones developer-machine everything is fine but on the very pressured build-server we get these problems.

[2015-06-02 16:23] bd82 commented on #1421
Some observations:

Assume the following directory structure:
ROOT
  - Folder A
  - Folder B (many files here, in my case 90mb, >2,500 files)
  - Folder C

The issue will occur for files under 'C' but not for files under 'A'.
renaming 'C' to 'AA' will 'solve' the problem.
it seems it be be related to some alphabetical/hierarchical ordering of the files.
possibly combined with a timing issue.

anot

[2015-06-02 16:55] unional commented on #1421
For me I was able to reproduce the issue without phpStorm, i.e. just run
karma from command line and try to checkout / update / revert files from
p4v.

On Tue, Jun 2, 2015 at 9:24 AM Shahar Soel <notifications@github.com> wrote:

[2015-06-02 18:04] johnjbarton opened #1432 "mtime comparison uses greater than, but state is tracked by equality."
When deciding whether or not the file should be considered changed, Karma compares `stat.mtime > changedFile.mtime`.
https://github.com/karma-runner/karma/blob/master/lib/file_list.js#L364

Just below that line, we update the internal value of mtime: `changedFile.mtime = stat.mtime;`.

At least on my OS, Linux 3.13.0-52-generic, reverting a file causes `stat.mtime` to be set to a time in the past

[2015-06-02 22:57] harmoney-nikr opened #1433 "MS Edge is detected as IE12"
We recently upgraded from v0.12.32 to v0.12.35. Previously Karma detected Edge as Chrome, which has now been fixed. But it's been fixed incorrectly as it's now detecting it as IE12. Edge is not IE12 and should not be detected as such.

User agent: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.9600`

![Screenshot](https:

[2015-06-03 03:45] jhabdas commented on #1078
While you were sleeping, this issue was resolved with #1384.

[2015-06-03 08:06] #1078 closed

[2015-06-03 13:55] bd82 commented on #1421
reproducible project:
http://www.filedropper.com/reproduce

steps to reproduce:
1. unzip the project
2. npm insta
3. npm test (this will do karma start)
4. open WebStorm/Intellij and modify the file:
    src\main\webapp\test-resources\try_to_modify_me.js
    several times (make sure to save each time (ctrl-s on eclipse keymap))

* I've had to place two copies of the angular.js repository in the sr

[2015-06-03 17:48] necolas commented on #1078
Thanks

[2015-06-03 19:27] #1350 closed

[2015-06-03 19:32] #1328 closed

[2015-06-03 19:34] neilbaylor commented on #345
I've found a way to "scroll" the iframe, but the problem appears to be that the Component itself in not actually in the DOM

Is it possibly that the test DOM is in a DocumentFragment or something?

it('becomes "fixed" when scrolling past the break point', function (done) {

  	var node = React.findDOMNode(component);

        document.body.style.height = '10000px';
  	window.scrollTo(0, 300);

[2015-06-03 19:36] Dignifiedquire commented on #1333
As I don't use intelij myself I won't be working myself on this but I'm happy to accelt a PR to help with this and answer questions.

[2015-06-03 19:39] Dignifiedquire commented on #1305
the latest version of Karma supports 0.12 which should fix this issue.

[2015-06-03 19:39] #1305 closed

[2015-06-03 19:41] Dignifiedquire commented on #1314
The node api was never designed to be feature complete. If you have concrete suggestions please file a new issue and/or feel free to submit a PR with the methods you are looking for.

[2015-06-03 19:41] #1314 closed

[2015-06-03 19:44] Dignifiedquire commented on #1308
the error is not very helpful but karma isn't checking the validity of your file but rather the browser trying to execute it. So it seems you have simply some error in your code. Try using the debug view to get a more usefull error.

[2015-06-03 19:45] #1303 closed

[2015-06-03 19:47] Dignifiedquire commented on #1300
I think the way to do this to expand the api support to give more insight to the exit reasons of Karma and then add an option for this to grunt-karma. Happy to accept a pr for this

[2015-06-03 19:50] Dignifiedquire commented on #1292
This is a bug and mentioned somewhere else I just can't find the issue right now.

[2015-06-03 19:53] Dignifiedquire commented on #1235
I don't think this will be doable right now as Karma does not understand tests on this level, it only supports what the underlying test runner supports.

[2015-06-03 19:54] #1254 closed

[2015-06-03 20:05] Dignifiedquire commented on #1313
What exactly do you mean? The title of the html page?

[2015-06-03 20:09] Dignifiedquire commented on #1295
Thanks, closing in favor of #1410 which is tracking these upgrades

[2015-06-03 20:09] #1295 closed

[2015-06-03 20:12] Dignifiedquire commented on #1216
Closung due to inactivity. Please feel free to open a new issue if this problem still persists.

[2015-06-03 20:12] #1216 closed

[2015-06-03 20:13] Dignifiedquire commented on #1218
Closung due to inactivity. Please feel free to open a new issue if this problem still persists

[2015-06-03 20:13] #1218 closed

[2015-06-03 20:13] Dignifiedquire commented on #1221
Closung due to inactivity. Please feel free to open a new issue if this problem still persists

[2015-06-03 20:13] #1221 closed

[2015-06-03 20:15] #1187 closed

[2015-06-03 20:22] Dignifiedquire commented on #1172
Not related to karma itself..There is also a way to use phantomjs 2.0 with the launcher now. So closing this issue

[2015-06-03 20:23] Dignifiedquire commented on #1169
Closung due to inactivity. Please feel free to open a new issue if this problem still persists

[2015-06-03 20:23] #1169 closed

[2015-06-03 20:30] neilbaylor commented on #345
Got it working :smile:

[code]

[2015-06-03 21:19] segrey commented on #1235
@Dignifiedquire  Probably, requesting "API" was too much. Well, I understand that test filtering is implemented on an adapter level. The problem is that each framework adapter (e.g. `karma-mocha` and `karma-jasmine`) handles client argument in its own non-unified way. This issue is about client argument format unification.
I mean, currently, IDE needs to identify the adapter that is being used, an

[2015-06-03 21:38] Dignifiedquire commented on #1235
@segrey I see. I'm still not sure if it's possible to do, as we could only pass something like the `grep` options from mocha, as using `iit` is not an option (we would have to rewrite test files on the fly). Do you know if jasmine and qunit support grep like  options?

[2015-06-03 22:03] segrey commented on #1235
@Dignifiedquire As for `karma-jasmine`, it already supports `--grep` (https://github.com/karma-runner/karma-jasmine/pull/56) by the mean of `jasmineEnv.specFilter`. Don't know about qunit. Looks like it exposes some API https://github.com/jquery/qunit/blob/master/src/test.js#L378, but `karma-qunit` doesn't use it.

[2015-06-03 22:48] hydhaval commented on #345
Wrapping aroung  window.setTimeout did the trick. thx

[2015-06-03 23:13] karlnp commented on #1320
+1

[2015-06-04 02:21] jeffcai commented on #598
Yes, I got such problem. As Goffen said, it only occurs on the machine with very high load but on local machine it's fine to run test.

[2015-06-04 08:34] #1340 closed

[2015-06-04 08:49] Dignifiedquire commented on #1433
We use https://github.com/broofa/node-mime for this detection. Could you file an issue there please?

[2015-06-04 08:54] Dignifiedquire commented on #334
Closing this for now due to inactivity. Feel free to open a new issue with current information if this is still a problem.

[2015-06-04 08:54] #334 closed

[2015-06-04 08:55] Dignifiedquire commented on #1219
Should be solved by #1341

[2015-06-04 08:55] #1219 closed

[2015-06-04 14:42] neilbaylor commented on #345
The setTimeout is needed to allow the window.scrollTo to occur.

For me the ***hard*** part was having to append the nodes.parent to the DOM - otherwise it appears the test gets run without being attached to the iframe's DOM

[2015-06-04 19:41] Dignifiedquire commented on #1362
Not the greatest situation, but at least you got it to work. It might make sense to file an issue with npm a swell as with chokidar to get some input from their sides, as from the karma side we can't do a whole lot right now :/

[2015-06-04 19:43] Dignifiedquire commented on #460
Closing due to inactivity. Please feel free to open a new issue with current data if this is still a problem. Thanks.

[2015-06-04 19:43] #460 closed

[2015-06-04 19:44] Dignifiedquire commented on #453
Closing due to inactivity. Please feel free to open a new issue or submit a PR if you still need help. Thanks.

[2015-06-04 19:44] #453 closed

[2015-06-04 19:44] Dignifiedquire commented on #1134
Closing due to inactivity. Please feel free to open a new issue with current data if this is still a problem. Thanks.

[2015-06-04 19:44] #1134 closed

[2015-06-04 19:45] Dignifiedquire commented on #1140
Closing due to inactivity. Please feel free to open a new issue with current data if this is still a problem. Thanks.

[2015-06-04 19:45] #1140 closed

[2015-06-04 19:46] Dignifiedquire commented on #1136
Closing due to inactivity. Please feel free to open a new issue with current data if this is still a problem. Thanks.

[2015-06-04 19:46] #1136 closed

[2015-06-04 19:47] Dignifiedquire commented on #1133
As we do more work on the file path internally, as you can see this will not work.

[2015-06-04 19:47] #1133 closed

[2015-06-04 19:48] Dignifiedquire commented on #1226
Closing due to inactivity. Please feel free to open a new issue with current data if this is still a problem. Thanks.

[2015-06-04 19:48] #1226 closed

[2015-06-04 19:53] Dignifiedquire commented on #1122
I think the way to go would be a preprocessor, as they interact with the way files are loaded. Maybe https://github.com/nikku/karma-browserify could help you

[2015-06-04 19:56] Dignifiedquire commented on #369
Closing due to inactivity. Please feel free to reopen a new issue with updated info if this is still a problem. Thanks.

[2015-06-04 19:56] #369 closed

[2015-06-04 19:57] Dignifiedquire commented on #129
Closing for now, we will come back when we have time or it gets more important.

[2015-06-04 19:57] #129 closed

[2015-06-04 19:58] Dignifiedquire commented on #363
Closing as this can be solved in a plugin now.

[2015-06-04 19:58] #363 closed

[2015-06-04 19:58] Dignifiedquire commented on #637
Closing due to inactivity. Please feel free to reopen a new issue with updated info if this is still a problem. Thanks.

[2015-06-04 19:58] #637 closed

[2015-06-04 19:59] Dignifiedquire commented on #630
Closing due to inactivity. Please feel free to reopen a new issue with updated info if this is still a problem. Thanks.

[2015-06-04 19:59] #630 closed

[2015-06-04 19:59] Dignifiedquire commented on #614
Closing due to inactivity. Please feel free to reopen a new issue with updated info if this is still a problem. Thanks.

[2015-06-04 19:59] #614 closed

[2015-06-04 20:00] Dignifiedquire commented on #595
I'm not a 100% sure this is such a great idea, so I'm closing this issue. Feel free to discuss here and I might reopen it.

[2015-06-04 20:00] #595 closed

[2015-06-04 20:01] harmoney-nikr commented on #1433
Ah yes, certainly!

[2015-06-04 20:01] Dignifiedquire commented on #556
Closing due to inactivity. Please feel free to reopen a new issue with updated info if this is still a problem. Thanks.

[2015-06-04 20:01] #556 closed

[2015-06-04 20:01] Dignifiedquire commented on #494
Closing due to inactivity. Please feel free to reopen a new issue with updated info if this is still a problem. Thanks.

[2015-06-04 20:01] #494 closed

[2015-06-04 20:02] Dignifiedquire commented on #399
I think this is mostly solved in the latest canary so closing this

[2015-06-04 20:02] #399 closed

[2015-06-04 20:03] Dignifiedquire commented on #482
Closing due to inactivity. Please feel free to reopen a new issue with updated info if this is still a problem. Thanks.

[2015-06-04 20:03] #482 closed

[2015-06-04 20:04] #492 closed

[2015-06-04 20:04] Dignifiedquire commented on #581
Fixed in the latest canary.

[2015-06-04 20:04] #581 closed

[2015-06-04 20:04] Dignifiedquire commented on #547
Closing due to inactivity. Please feel free to reopen a new issue with updated info if this is still a problem. Thanks.

[2015-06-04 20:04] #547 closed

[2015-06-04 20:05] harmoney-nikr commented on #1433
Hmm, I assume you mean [https://github.com/3rd-Eden/useragent]?

[2015-06-04 20:06] Dignifiedquire commented on #467
Closing due to inactivity. Please feel free to reopen a new issue with updated info if this is still a problem. Thanks.

[2015-06-04 20:06] #467 closed

[2015-06-04 20:07] Dignifiedquire commented on #440
Ref #1133

[2015-06-04 20:08] Dignifiedquire commented on #1433
Yes I do, sorry my mind always mixes mime types and useragents -.-

[2015-06-04 20:32] nikrolls commented on #1433
All good. 3rd-Eden/useragent in turn uses uaparser/uap-core, so I've [submitted a PR there](https://github.com/ua-parser/uap-core/pull/59) and Karma will get it in a future dependency update.

[2015-06-04 20:33] harmoney-nikr commented on #1433
All good. [3rd-Eden/useragent](https://github.com/3rd-Eden/useragent) in turn uses [uaparser/uap-core](https://github.com/ua-parser/uap-core), so I've [submitted a PR there](https://github.com/ua-parser/uap-core/pull/59) and Karma will get it in a future dependency update.

[2015-06-04 21:18] Dignifiedquire commented on #1433
Great, thanks :)

[2015-06-05 01:21] hydhaval commented on #1101
+1 getting same issue as well

[2015-06-05 07:15] jorgenbs commented on #880
Resolved this issue by checking if I had karma/jasmine installed globally:

    npm ls -g karma
    npm ls -g jasmine

Removed both, then `npm install -g karma-cli` and have jasmine+karma only locally installed

[2015-06-05 15:34] helzgate commented on #1034
I go this error when passing an empty [].  I changed the variable in my calling function to something like `exclude: 'some path'` and this still caused the error.  I then changed my variable to `exclude: ['some path'] and it worked

[2015-06-05 23:13] Nathan219 commented on #1274
I have managed to get this error to happen when I had a unit test still being ran meant to test a service that no longer existed.  I managed to see an angular 'Unknown provider' error when I ran the tests in debug (in webstorm).

[2015-06-06 12:27] antsmartian opened #1435 "Issues in creating a new karma plugin."
Hi I'm trying to create an karma plugin. Looks like I'm missing something down the line.

My `package.json` is

[code]

and my `index.js` is:

[code]

and my `adapter.js` is:

[code]

All these files reside in a parent directory something like this:

[code]

And in order to test them, I created an sample karma project. I installed the above plugin in the sample karma project like this:

[code]

wh

[2015-06-06 21:23] maksimr commented on #1435
@antoaravinth How look your full `karma.conf.js` file?

Thanks!

[2015-06-07 03:04] antoaravinth commented on #1435
Here we go:

[code]

If you want to have a look at the complete karma project, I cloned it from here : https://github.com/tomwayson/esri-karma-tutorial

[2015-06-07 06:01] maksimr commented on #1435
@antoaravinth and where located your plugin relate to this project?
karma by default look plugins in `node_modules` with prefix `karma-`

[2015-06-07 17:37] cassus opened #1436 "TypeError: Cannot read property 'length' of undefined in changeFile"
Occurs when I save a file that is still being processed by karma-webpack preprocessor.

[code]

code context:
[code]

variables:
[code]

[2015-06-07 17:39] Dignifiedquire commented on #1436
What version are you running?

[2015-06-07 17:41] cassus commented on #1436
[code]

[2015-06-07 17:44] Dignifiedquire commented on #1436
Thanks, I'll take a look

[2015-06-07 17:48] cassus commented on #1436
I also have sometime "Some of your tests did a full page reload!" errors before this crash happens. This might be a helpful cue.

I'm still trying to isolate that error / make it somewhat reproducible.

[2015-06-07 17:50] Dignifiedquire commented on #1436
Okay thanks, I just did a basic test with https://github.com/webpack/karma-webpack/blob/master/example/karma.conf.js and that worked fine while editing the files.
A couple more things, what editor are you using? Does this happen as well when you use `touch` instead?
What node version are you running?

[2015-06-07 17:55] cassus commented on #1436
I'm using IntellJ but I can reliably crash karma it with
```for i in `seq 1 100`; do touch index.js && sleep 0.2; done```

[code]

[2015-06-07 18:17] cassus commented on #1436
here is my reduced config:
[code]

It produces the error with an empty \__tests\__/index.js in a minute. If I require a big lib (I did ```require('react')```) then the crash happens within 10 seconds.

My command to trigger the crash is:
```./node_modules/karma/bin/karma start conf/karma.conf.js & ( cd app/components/RegisterPage/__tests__/ && for i in `seq 1 200`; do touch index.js && sleep 0.2;

[2015-06-07 20:38] Dignifiedquire commented on #1436
Thanks I was able to reproduce the issue under different circumstances with the simple `touch` loop. It looks like it's an issue that the `List.refresh` method is called while already running a refresh. If you look at https://github.com/karma-runner/karma/blob/master/lib/file_list.js you can see the `TODO`s all over the place which correspond to a degree to your issue. I'm afraid it won't be a qui

[2015-06-07 21:16] cassus commented on #1436
Thank you!

[2015-06-08 11:33] vlazar opened #1438 "Test multiple globals with the same name"
Is it currently possible to use one Karma config to test all implementations of some global?

Use case: test multiple strategies for some shim.

Found no easy way to do the following:
[code]

[2015-06-08 15:38] maksimr commented on #1438
`requirejs` or `webpack`(commonjs) which allow load specific module(file) directly

[2015-06-08 16:06] vlazar commented on #1438
@maksimr Thanks! Already tried using RequireJS with Karma as in http://karma-runner.github.io/0.12/plus/requirejs.html without any luck. One of the tests fails (Expected 'b' to be 'a'.). By the time the first expectation runs the implementation is already replaced with the second.

There are opened discussions like #439, but the state is unknown.

I should probably try CommonJS/Webpack, but was lo

[2015-06-09 04:57] antoaravinth commented on #1435
@maksimr : Thanks, looks like I named the module as `testing` and hence `karma` wasn't picking. Changing the name with prefix `karma-` works.

However I see some minor issue in the `adapter.js` :

[code]

the `console.log` does print the `window.gs` to correct groovy script fn.

However if I do :

[code]

in the console, I see its `undefined`. I'm getting confusion now. If it could print `window.g

[2015-06-09 06:16] maksimr commented on #1435
@antoaravinth it's strange `gs` should be defined, because in your index.js
grooscript load before adapter.js

[code]

You can try debug this behavior on `debug.html`(http://localhost:9876/debug.html) page.

[2015-06-09 06:46] antoaravinth commented on #1435
@maksimr : Thanks for your help. However in the debug page, I could able to see `gs` defined. But not in the karma running context. I'm confused.

Any ideas, of why does this would happen?

[2015-06-09 07:17] Dignifiedquire commented on #1435
I'm supsecting your code gets executed in the test iframe rather than the outside frame (which is where the default karma window console drops you in) so if you want to debug from that frame you can use the iframe context switcher in the devtools to drop into the iframe and there window.hs should be defined

[2015-06-09 09:19] marfous opened #1441 "In case of Uncaught Error no test is marked as a failure"
Our test started reporting "Uncaught Error: You cannot apply bindings multiple times..." which was definitely issue in our unit tests but the Karma doesn't reports any test case as a failure. Instead of that we are getting this error and the summary after that.

Would be possible to mark any test where it happens as a FAILED one? Or could the uncaught error mean something else?

[2015-06-09 09:44] Dignifiedquire commented on #1441
I'm going to need some more details, what version of Node and Karma are you running? What testing framework do you use (mocha, jasmine, qunit, ...) ?

[2015-06-09 11:18] marfous commented on #1441
Node v0.10.28, Karma v0.12.31, Jasmine v2.1.1. Let me know if anything more would help, thanks.

[2015-06-09 18:03] vlazar commented on #1438
Update: tried https://github.com/webpack/karma-webpack with AMD/CommonJS and got the same result. A way to run groups of tests independently or sequentially would really help with many use cases.

[2015-06-10 03:46] mystro-bryce opened #1444 "Allow `config.preprocessors` paths to be generated dynamically"
Right now in my Gruntfile I've got something along the lines of this:

    var appVersion = '2.0.5';

Which--among other things--builds my project into a folder like this:

    /app/2.0.5/scripts/file_that_should_be_tested.js

I would love to be able to use this dynamically in my `karma.conf.js` like so:

    preprocessors: {
        'app/' + appVersion + '/scripts/*.js' : 'coverage'
    }

But si

[2015-06-10 08:07] Dignifiedquire commented on #1444
That's one of the reasons why the karma config is a javascript file and not a simple json file. You can do something like this:

[code]
and it should work exactly as you described it

[2015-06-10 09:22] necramirez commented on #1220
Hi!  I'd like to suggest to change the dependency on `socket.io` to NOT be a specific version.  Right now, `package.json` specifies it to be EXACTLY `0.9.16`:  https://github.com/karma-runner/karma/blob/v0.12.36/package.json#L211

However, `socket.io` has no such release https://github.com/Automattic/socket.io/releases/tag/0.9.16 (maybe they accidentally deleted it?).  Browsing the `socket.io` rel

[2015-06-10 10:01] Dignifiedquire commented on #1220
This is already fixed in the canary branch: https://github.com/karma-runner/karma/blob/canary/package.json#L214

[2015-06-10 16:13] anshbansal opened #1445 "Docs for config need example for inclusion of libraries"
I cannot find the location but I read it somewhere that the list of files / patterns to load in the browser in `karma.conf.js` i.e. the `files`  key should not have libraries. But I cannot find it in documentation about how to actually add those js files.

e.g. I need angular.js to be present so in my [karma.conf.js](https://github.com/anshbansal/linksharing2/blob/ea2cc8cb09da1783c5d01c4e847035e13

[2015-06-10 16:15] anshbansal commented on #1445
When I debugged I found that these are actually being watched by karma for changes. Obviously that is not needed. As these libraries will not be changing.

[2015-06-10 19:08] harshayburadkar commented on #1024
rm -rf node_modules
npm install

Worked for me too! Thanks!

[2015-06-11 04:08] necramirez commented on #1220
I was suggesting that there be a hotfix, since `master` is currently broken, and I don't know how soon the next release will be.

Unless there will be a release in the next couple of days?

[2015-06-12 14:34] davincho commented on #1436
+1 I have got the same issue as @cassus

[2015-06-15 08:44] bricss opened #1454 "TypeError with io.js v2.3.0"
[code]

[2015-06-15 09:03] Dignifiedquire commented on #1454
Thanks, could you provide the full `DEBUG` log please and if possible your `karma.conf`?

[2015-06-15 10:06] bricss commented on #1454
Actually this bug related to karma-html-reporter, I've created bug [issue](https://github.com/dtabuenc/karma-html-reporter/issues/26) in their repo.

It could be easily fixed by empty object in options:
[code]

But I think its a issue with new version of io.js v2.3.0, I will rise a new bug in theirs repo too.

[2015-06-15 12:52] marfous commented on #1441
Did you get to investigation of this please? I would be able to attach output from the test run but I'm afraid that it would not help much.

[2015-06-15 18:06] mzgol commented on #1433
The uap-core PR has been merged, I submitted https://github.com/3rd-Eden/useragent/issues/76 to `useragent` to get the regex database updated.

[2015-06-15 18:25] nikrolls commented on #1433
Great, thanks!

[2015-06-15 19:06] Dignifiedquire commented on #1441
Sorry for the late reply. I'm not sure if there is something we can do from our side as that sounds like Jasmine wasn't able to catch the error, which in return lead to Karma not being able to report on it properly. If you could provide me with a minimal working repro I can try to take a closer look though
Thanks

[2015-06-15 19:08] Dignifiedquire commented on #1454
Thanks. It looks like it generated quite the discussion on the iojs repo.

I will close this issue as there is nothing we can do from this side.

[2015-06-15 19:08] #1454 closed

[2015-06-15 19:29] Pomax opened #1455 "Please consider using node-pre-gyp"
Any Nodejs/npm module that relies on node-gyp basically means Windows users can't use your project without compiling, which is an incredibly much harder dev track than on OSX and Unix/Linux. However, that problem can be entirely negated by using [node-pre-gyp](https://www.npmjs.com/package/node-pre-gyp), so I cannot stress enough how important it is to work that into karma=cli, so that webpack-dev

[2015-06-15 20:18] Dignifiedquire commented on #1455
Thanks. Still the same guy doing the work though ;)

Could you explain a little bit more what we would actually need to do, as karma itself does not have any native code but only its dependencies.

[2015-06-15 20:34] Pomax commented on #1455
down the module chain we go - it looks like the socket.io module that karma relies on is the part that's causing the node-gyp building.

[2015-06-16 14:52] Frizi opened #1456 "Error in preprocessor stops watch session."
When karma starts with `autoWatch: true`, and a preprocessor fails after file modification (let's say coffee syntax error was introduced), whole runner is stopped.

More sane behaviour would be to emit error to the user, continue watching and try again after a file is modified.

[2015-06-17 02:44] maoueh opened #1457 "Init dev script not installing git message validator hook correctly"
Just wanted to report that none of the init dev script (neither `scripts/init-dev-env.js` or `tasks/init-dev-env.js`) are installing the git commit message validator hook correctly. Both of them points to invalid location
 * `scripts/init-dev-env.js` => Tries to symlink `node_modules/grunt-conventional-changelog/lib/validate-commit-msg.js`
 * `tasks/init-dev-env.js` => Tries to symlink `tasks/lib/

[2015-06-17 09:31] Dignifiedquire commented on #1457
Thanks, I opened an issue on grunt-conventional-changelog to find out what happened to that file.

[2015-06-17 15:49] mik01aj commented on #598
The same for me. I also noticed that this happens mostly with `--single-run`, like @sloria said.

[2015-06-17 16:13] helzgate commented on #471
Karma was actually using karma-chrome-launcher for me. I had to look this module up on Github and the docs showed how to add "Chrome_without_security" in the Karma.conf.js file which fixed it for me.

[2015-06-17 17:06] ChALkeR commented on #1454
Just for the reference: this is not an io.js bug, it's a bug in `karma-html-reporter`.

It looks like the idea of placing a work-around for such errors in io.js did not receive any support, and this is not going to be fixed on the io.js side.

The proper solution would be to merge https://github.com/dtabuenc/karma-html-reporter/pull/27 into `karma-html-reporter`.

[2015-06-18 12:40] Deepakdubey90 commented on #558
Hey, guys how can i debug the jasmine unit test case to trace error..
PhantomJS 1.9.8 (Linux 0.0.0) ERROR
  Some of your tests did a full page reload!
PhantomJS 1.9.8 (Linux 0.0.0): Executed 36 of 153 ERROR (0.15 secs / 0.112 secs)

Please suggest me the root cause of this.

[2015-06-18 15:38] nicolasmccurdy commented on #1433
3rd-Eden/useragent 2.1.7 was just released with a fix for 3rd-Eden/useragent#76.

[2015-06-18 15:40] Dignifiedquire commented on #1433
Great, closing this then as a fresh install of karma or a simple `npm update` should pull in that version

[2015-06-18 15:40] #1433 closed

[2015-06-18 21:00] harmoney-nikr commented on #1433
`npm update` didn't work for me (though our versions are all locked down). A fresh `npm install` worked fine however. Thanks everyone for your help!

[2015-06-18 23:07] joseph-jja commented on #558
One scenario I have found that is reproducable is when a developer checks in a file that depends on a file that is not checked into source.  The tests fail when they try to find that file.  So in terms of AMD / requirejs:

moduleA.js would have this:
define(['moduleB'], function(b) { console.log(b); });

then a test would define(['moduleA'], function(a) { describe .. jasmine test stuff....

module

[2015-06-19 07:21] VikrantGodse commented on #558
Hey  Hi....I have also faced the same issue...just anywhere in your test cases you might have used "SpyOn(window, 'location')" and immediate after that u have not called any jasmine matcher like "toHaveBeenCalled" that results into reloading issue.....also check that all dependencies are spelled and injected properly....I am sure you'll get the solution...!

[2015-06-19 09:29] Deepakdubey90 commented on #558
@VikrantGodse thanks, its working.

[2015-06-19 19:06] Dignifiedquire opened #1460 "Remove 0.8 cruft from canary branch"
We dropped support for 0.8 but there are hacks in there specifically for it. Those should be removed.

[2015-06-19 19:18] Dignifiedquire commented on #1436
@cassus getting there, #1451 should fix this issue and make file-list.js much saner :)

[2015-06-23 04:33] joeyparrish commented on #1320
+1

[2015-06-23 06:06] ghost opened #1464 "Run e2e test by multi browser, it will disconnect from karma."
Hi,
I run e2e test by Chrome, Firefox, IE at the same time. But they may be disconnect from karma unstably. I try to set browserNoActivityTimeout, browserDisconnectTimeout, captureTimeout  value, but it is not work.
How can I solve the problem ?

[2015-06-23 07:38] ghost opened #1465 "Add option to execute Browsers in serial instead of parallel"
Can it  change to run one by one?

thanks

[2015-06-23 10:20] Dignifiedquire commented on #1465
You can use a task runner like gulp or grunt to trigger different runs one after another by using different configurations.

[2015-06-23 18:10] pablo-guevara-zocdoc commented on #1101
+1

[2015-06-23 19:59] bganguly commented on #1445
You can't use the exclude:[] option to exclude library files from being watched?

[2015-06-23 20:17] Dignifiedquire commented on #1445
Take a look at this page: http://karma-runner.github.io/0.12/config/files.html

[2015-06-23 20:30] bganguly commented on #1445
In the alternative way of specifying the files, i assume that if a property is left blank, the default value will be inferred.
So maybe the following barebones array will work?
files: [
      {'pattern':'includes/angular/angular.min.js','watched':false},
      'myTodoApp/app.js',
      'myTodoApp/directives/directives.js',
      'myTodoApp/configs/configs.js',
      'myTodoApp/controllers/authsLis

[2015-06-23 22:20] #1460 closed

[2015-06-24 04:58] anshbansal commented on #1445
I understand that using watched is the way to go. Perhaps adding a sentence that for libraries this is the preferred way to add?

[2015-06-24 14:51] segrey opened #1467 "Notification on webserver port binding"
Based on https://github.com/karma-runner/karma/issues/614

WebStorm Karma integration listens to webserver port binding event (i.e. when this line printed https://github.com/karma-runner/karma/blob/v1.0.0-0/lib/server.js#L61).

Now the only way to accomplish this is to parse standard output of Karma server and mine data from lines like:

[code]

Such an approach seems to be not very safe, e.g. it'

[2015-06-24 16:50] Dignifiedquire commented on #1467
Which part of the api exactly are you referring to? The plugin api or the node api?

[2015-06-24 18:36] cowboyd opened #1468 "Extract watcher into an injected dependency"
I'm writing a plugin that integrates Karma with Broccoli so that it can lean fully on broccoli for all pre-processing, building, etc... The reason being that if you have a Brocfile, then you already have your build toolchain defined in one place, so you might as well utilize it from your test runner. That way, instead of maintaining a parallel build systems: one for your test runner and one for de

[2015-06-24 18:45] r4j4h commented on #1320
+1

[2015-06-24 18:55] Dignifiedquire commented on #1468
Hey, thanks for the suggestion, I think it's a very good one. In my mind the optimal solution would be

* extract the current watcher into it's own (npm) module `karma-file-watcher`
* define and document an interface for the api the watcher needs to expose
* set the default config to use the `karma-file-watcher` but allow for any other module to take its place.

Does that sound good to you? If yes

[2015-06-24 19:32] segrey commented on #1467
@Dignifiedquire No particular preference for API.
I was thinking of something like this
[code]

Didn't test, but looks like there is another way:
[code]
The only problem here is that it depends on `karma/lib/server.js` implementation, i.e. that "config.port" is increased by one after each unsuccessful binding attempt.

[2015-06-24 20:11] nicolasmccurdy opened #1469 "Karma launchers do not support Windows 8+ modern apps"
Modern apps in Windows 8+ use appx files instead of exes. This is important for using modern apps with Karma launchers because you must use a different command to launch the appx file, which causes a separate process to be created. When the launching process (for example, the `start` command) is done launching the modern app, the original process will complete, and Karma will think the modern app

[2015-06-24 22:21] jokeyrhyme opened #1470 "is there a way to make launchers / browsers optional? an "automatic" setting?"
I have a use case where we have multiple developers on multiple platforms, and the full set of browsers is not available on any single machine. For example, we have Windows machines that have IE but not Safari, and we have OSX machines that have Safari but not IE.

Rather than limit testing to cross-platform browsers (Chrome and Firefox), it would be terrific if I could specify that I want any and

[2015-06-24 22:23] jokeyrhyme commented on #1470
For example, maybe a `onBrowserMissing: "error"` that I can change to `"warning"`?
Or maybe an `optionalBrowsers: []` setting I can set to `[ "Safari", "IE" ]`?

[2015-06-25 00:23] dineshWizni commented on #1101
Hi I am facing the same issue , at one place I have window.location.href in my code (when I do not find something stored in the cookie , I redirect it to some page) , but it has nothing to do with my test cases. And I am getting this error. Any help plzzz?

[2015-06-25 12:14] cowboyd commented on #1468
Yeah, that sounds like a good plan, and I can get started right away.

How about I document the interface to watcher in the `README` for `karma-file-watcher`. Also, should I extract the file-watching tests to that repo, or is the understanding that

Finally, It seems to me something like `karma-file-watcher` should be owned by the karma project and not me personally. I assume that at some point I

[2015-06-25 13:13] cowboyd commented on #1468
After poking around, it looks like the watcher does its communication primarily through the file list. In other words, it calls `fileList.{add,change,delete}File`. The `FileList` emits an `file_list_modified` event which is consumed in 3 places:

[`lib/reporter.js`](https://github.com/karma-runner/karma/blob/67a6054835eda14bc28900d40796c4d6ece2c3ab/lib/reporter.js#L10-L14)
[code]
[`lib/web-server.

[2015-06-25 16:00] Dignifiedquire commented on #1468
Re repo, yes I'll set up one that we can use.
Re tests, the unit tests for the watcher should be moved into the new package I would say, and some basic tests checking that the default watcher works should be added to the main repo.

Take a look at the rewrite of `file-list` I did in the canary branch, that hopefully makes it easier to understand how things are working. I'll take a look later, on t

[2015-06-25 16:07] Dignifiedquire commented on #1457
Here is the old file, lets just maintain it in the repo for now https://gist.github.com/Dignifiedquire/cb237d55a3d81bf95e92

[2015-06-26 19:51] Dignifiedquire commented on #1417
First step of moving to standard code style was done :)

[2015-06-26 19:52] #1414 closed

[2015-06-26 19:52] Dignifiedquire commented on #1414
For now using the mailing list and gitter. Happy to revisit with better options when someone has time to set it up

[2015-06-26 19:53] Dignifiedquire commented on #1465
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 19:54] Dignifiedquire commented on #707
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 19:54] #707 closed

[2015-06-26 19:54] Dignifiedquire commented on #761
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 19:54] #761 closed

[2015-06-26 19:54] Dignifiedquire commented on #978
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 19:54] #978 closed

[2015-06-26 19:55] Dignifiedquire commented on #1122
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 19:55] #1122 closed

[2015-06-26 19:56] Dignifiedquire commented on #1157
Closing due to inactivity.

[2015-06-26 19:56] #1157 closed

[2015-06-26 19:57] Dignifiedquire commented on #974
Closing as most of the work was done in chokdiar and we have upgraded

[2015-06-26 19:57] #974 closed

[2015-06-26 19:57] Dignifiedquire commented on #1299
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 19:57] #1299 closed

[2015-06-26 19:57] Dignifiedquire commented on #1308
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 19:57] #1308 closed

[2015-06-26 19:57] Dignifiedquire commented on #1367
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 19:57] #1367 closed

[2015-06-26 19:58] Dignifiedquire commented on #1383
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 19:58] #1383 closed

[2015-06-26 19:58] Dignifiedquire commented on #1427
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 19:58] #1427 closed

[2015-06-26 20:01] Dignifiedquire commented on #1438
I don't exactly understand what you want @vlazar. Could you explain in more detail what you imagine Karma should do?

[2015-06-26 20:03] Dignifiedquire commented on #1441
I'm closing this as we are moving all support issues to gitter and the mailing list. Please feel free to ask there again with updated info and reproducible repo if possible.

[2015-06-26 20:03] #1441 closed

[2015-06-26 20:03] Dignifiedquire commented on #1444
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 20:03] #1444 closed

[2015-06-26 20:03] Dignifiedquire commented on #1030
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 20:03] #1030 closed

[2015-06-26 20:04] Dignifiedquire commented on #1445
Sure, @anshbansal feel free to send a PR with an explanation that you think would help

[2015-06-26 20:06] Dignifiedquire commented on #699
Closing due to inactivity. Feel free to reopen a new issue if you still feel this is relevant.

[2015-06-26 20:06] #699 closed

[2015-06-26 20:07] Aaronius commented on #1436
Thank you! I'm seeing the same issue sporadically and appreciate that you're already working on a fix.

[2015-06-26 20:08] Dignifiedquire commented on #458
For now log4js is working okay and there more important things to do.

[2015-06-26 20:08] #458 closed

[2015-06-26 20:09] Dignifiedquire commented on #501
@segrey is this still needed and would you be willing to work on this as I probably won't have?

[2015-06-26 20:10] Dignifiedquire commented on #564
Closing in favor of https://github.com/karma-runner/karma-runner.github.com/issues/30

[2015-06-26 20:10] #564 closed

[2015-06-26 20:11] Dignifiedquire commented on #526
Closing due to inactivity.

[2015-06-26 20:11] #526 closed

[2015-06-26 20:11] Dignifiedquire commented on #472
Closing due to inactivity.

[2015-06-26 20:11] #472 closed

[2015-06-26 20:13] Dignifiedquire commented on #385
Closing due to inactivity.

[2015-06-26 20:13] #385 closed

[2015-06-26 20:14] Dignifiedquire commented on #674
Closing due to inactivity.

[2015-06-26 20:14] #674 closed

[2015-06-26 20:15] Dignifiedquire commented on #705
This should be fixed in the latest version.

[2015-06-26 20:15] #705 closed

[2015-06-26 20:15] Dignifiedquire commented on #646
Closing due to inactivity.

[2015-06-26 20:15] #646 closed

[2015-06-26 20:16] #673 closed

[2015-06-26 20:17] Dignifiedquire commented on #710
@fredrikbonander is this still an issue for you?

[2015-06-26 20:18] Dignifiedquire commented on #814
Closing this for now. If someone has written a plugin feel free to report here

[2015-06-26 20:18] #814 closed

[2015-06-26 20:19] Dignifiedquire commented on #824
Closing this, as I actually feel this is not always the case.

[2015-06-26 20:19] #824 closed

[2015-06-26 20:20] Dignifiedquire commented on #719
Closing due to inactivity

[2015-06-26 20:20] #719 closed

[2015-06-26 20:21] Dignifiedquire commented on #758
Closing for now. If someone wants to work on it feel free to submit a PR.

[2015-06-26 20:21] #758 closed

[2015-06-26 20:21] #695 closed

[2015-06-26 20:24] Dignifiedquire commented on #851
Just a warning, this hack won't work in 0.13 any more as the `file_list_modified` event does not emit a promise anymore.

I'm closing this issue for now as there hasn't been much activity lately.

[2015-06-26 20:25] Dignifiedquire commented on #1096
For questions and support please use the mailing list or Gitter. The issue tracker is for bug reports and feature discussions only.

[2015-06-26 20:25] #1096 closed

[2015-06-26 20:26] Dignifiedquire commented on #1174
Closing due to inactivity

[2015-06-26 20:26] #1174 closed

[2015-06-26 20:26] Dignifiedquire commented on #1176
We need some documentation for this. If anyone is up to it please feel free to submit a PR

[2015-06-26 20:28] Dignifiedquire commented on #1177
Should be fixed in the latest version

[2015-06-26 20:28] #1177 closed

[2015-06-26 20:28] #1181 closed

[2015-06-26 20:35] Dignifiedquire commented on #1183
@JamesMGreene sorry for the very late response, this looks really cool, I will try my best to take part :)

[2015-06-26 20:37] Dignifiedquire commented on #1436
@Aaronius if you want you can try to install karma@canary which should have the fix

[2015-06-26 20:39] Dignifiedquire commented on #1238
Closing due to inactivity.

[2015-06-26 20:39] #1238 closed

[2015-06-26 20:43] #1227 closed

[2015-06-26 20:47] #1124 closed

[2015-06-26 20:51] Dignifiedquire commented on #1128
Is this still an issue with latest versions?

[2015-06-26 20:52] Dignifiedquire commented on #1141
Closing this issue as this is not an issue with karma itself.

[2015-06-26 20:52] #1141 closed

[2015-06-26 20:53] Dignifiedquire commented on #1144
Not an issue with karma, so closing.

[2015-06-26 20:53] #1144 closed

[2015-06-26 20:54] Dignifiedquire commented on #1145
This is a known issue and hasn't been fixed yet: #251

[2015-06-26 20:54] #1145 closed

[2015-06-26 20:55] Dignifiedquire commented on #1158
Removing the webserver from the equation would mean to rearchitecture karma from the ground which at this point I'm not willing to do.

[2015-06-26 20:55] #1158 closed

[2015-06-26 20:55] #1172 closed

[2015-06-26 20:56] Dignifiedquire commented on #886
closing due to inactivity

[2015-06-26 20:56] #886 closed

[2015-06-26 20:57] #868 closed

[2015-06-26 20:57] #853 closed

[2015-06-26 20:58] #800 closed

[2015-06-26 20:59] Dignifiedquire commented on #887
Is this still an issue?

[2015-06-26 21:00] #883 closed

[2015-06-26 21:06] Dignifiedquire commented on #877
Fixed

[2015-06-26 21:06] #877 closed

[2015-06-26 21:07] Dignifiedquire commented on #860
The original issue was fixed, I don't think there is a need for exposing an api for that at the moment.

[2015-06-26 21:07] #860 closed

[2015-06-26 21:07] Dignifiedquire commented on #865
Solved

[2015-06-26 21:07] #865 closed

[2015-06-26 21:07] #861 closed

[2015-06-26 21:09] Dignifiedquire commented on #1050
The file watcher might be extracted but it will still be a default dependency for now, as too many are depending on it. Ref #1468

[2015-06-26 21:09] #1050 closed

[2015-06-26 21:09] #1049 closed

[2015-06-26 21:09] Dignifiedquire commented on #1057
Closing for now, please report if this is still an issue with the latest version.

[2015-06-26 21:09] #1057 closed

[2015-06-26 21:11] Dignifiedquire commented on #1065
Closing for now.

[2015-06-26 21:11] #1065 closed

[2015-06-26 21:11] #1001 closed

[2015-06-26 21:12] Dignifiedquire commented on #998
Been using wercker for some time now and it's pretty great. But for now I don't think it makes sense to use it as it's not easy to test multiple node versions.

[2015-06-26 21:12] #998 closed

[2015-06-26 21:13] Dignifiedquire commented on #1009
Closing for now, please reopen if this is still an issue with the latest version.

[2015-06-26 21:13] #1009 closed

[2015-06-26 21:13] Dignifiedquire commented on #1060
Closing for now, please reopen if this is still an issue with the latest version.

[2015-06-26 21:13] #1060 closed

[2015-06-26 21:15] Dignifiedquire commented on #1082
This should be fixed in 0.13 ( canary)

[2015-06-26 21:15] #1082 closed

[2015-06-26 21:15] Dignifiedquire commented on #1073
I don't think this is something that karma should be doing.

[2015-06-26 21:15] #1073 closed

[2015-06-26 21:16] #1085 closed

[2015-06-26 21:21] Dignifiedquire commented on #1087
@osi-oswald is this still an issue with latest version of karma?

[2015-06-26 21:22] #1089 closed

[2015-06-26 21:22] Dignifiedquire commented on #1086
Should be fixed in the latest version.

[2015-06-26 21:22] #1086 closed

[2015-06-26 21:23] Dignifiedquire commented on #1102
This has nothing to do with karma itself, so closing.

[2015-06-26 21:23] #1102 closed

[2015-06-26 21:24] Dignifiedquire commented on #1090
Closing as I don't think there is much we can do right now.

[2015-06-26 21:24] #1090 closed

[2015-06-26 21:26] Dignifiedquire commented on #1173
@kimardenmiller sorry for the late reply, is this still an issue and have you looked at https://github.com/tschaub/karma-source-map-support which might help you in this.

[2015-06-26 21:26] Dignifiedquire commented on #1231
@maksimr is this still an issue with the latest node versions?

[2015-06-26 21:30] Dignifiedquire commented on #982
We now use https://github.com/feross/eslint-config-standard to share linting for all plugins that have been updated.

[2015-06-26 21:30] #982 closed

[2015-06-26 21:34] Dignifiedquire commented on #1075
closing due to inactivity.

[2015-06-26 21:34] #1075 closed

[2015-06-26 21:34] Dignifiedquire commented on #10
Closing as this can be done in a plugin.

[2015-06-26 21:34] #10 closed

[2015-06-26 21:40] Dignifiedquire commented on #1307
This should be something that is done in the plugin specific configuration I would say.

[2015-06-26 21:40] #1307 closed

[2015-06-26 22:00] kimardenmiller commented on #1173
@Dignifiedquire thank you for the follow up. I did solve this issues last year.

[2015-06-26 22:01] #1173 closed

[2015-06-26 22:01] Dignifiedquire commented on #1173
Thanks

[2015-06-27 00:32] char0n commented on #865
Yep, thanks a lot.

On Fri, Jun 26, 2015 at 11:07 PM, Friedel Ziegelmayer <
notifications@github.com> wrote:

--

Vladimír Gorej | CodeScale s.r.o.
email: gorej@codescale.net
tel: +420 777 861 279, +421 948 023 011
web: http://www.codescale.net

[2015-06-27 04:27] vlazar commented on #1438
@Dignifiedquire The original use case for me was the need to test 2 global functions with the same name. Since Karma loads all files from config at once, I can't run Karma with 1 config. I ended up creating 2 configs, 1 for each global function implementation. So now I can't just run Karma in continuos mode.

I think new feature for grouping files in a way that Karma can load them either sequentia

[2015-06-27 07:21] maksimr commented on #1231
@Dignifiedquire nope

[2015-06-27 07:21] #1231 closed

[2015-06-27 10:36] rabagast commented on #887
We are still getting around this by watching TestFile1*.js (instead of TestFile1.js) and have forgotten all about it, so I do not know. I will not be back at work before late August and cannot verify before that.

[2015-06-27 11:24] segrey commented on #501
Yes, it's still needed. I'll try to find time to work on this.

[2015-06-28 07:55] alimfeld opened #1473 "File served from a hidden TMPDIR is empty"
I have a karma-browserify setup. Everything works fine as long as my TMPDIR is not hidden (i.e. dosn't start with a dot). As soon as I have a hidden TMPDIR, the file created by Browserify in this directory is no longer served properly by karma (no content).

I reported this initially on karma-browserify: https://github.com/nikku/karma-browserify/issues/134. There I also documented the steps to rep

[2015-06-28 18:34] jfarid27 opened #1474 "Inconsistent regex and test file naming in plus/RequireJS documentation"
It's a minor issue but it catches me every time I start a new project. The [documentation example for RequireJS](http://karma-runner.github.io/0.12/plus/requirejs.html) names test files with a  **Spec.js** suffix, but the regex to filter the loaded files is...

[code]

Clearly it never loads test files. PR incoming.

[2015-06-28 18:58] jfarid27 commented on #1474
@Dignifiedquire I saw your message in the PR. What's a good fix for this? I'm not sure I'm on the right branch in #1475 since the docs on the website actually don't show.
[code]
as the regex filter. It only shows

[code]

It looks like it's technically fixed if you're sure the regex is case insensitive, it's just the live version on the website isn't updated to the (spec | test) regex.

[2015-06-29 09:41] Dignifiedquire commented on #1474
I had forgotten to sync the docs, they should be now the same as here in the repo. Could you check if it's now good please?

[2015-06-29 17:21] metamatt opened #1476 "proxy doesn't know if karma webserver runs on different port than originally configured"
I'm using karma to test a project loaded by systemjs. For lack of a better way, my karma config depends heavily on use of proxies to rewrite paths (but I'm proxying back to karma's internal webserver, not a different webserver).

I'm also running these tests via a parallel test runner that runs several copies of karma. The first karma starts up on the port configured in karma.conf.js (9050 for me)

[2015-06-29 21:00] jfarid27 commented on #1474
@Dignifiedquire looks good! Thanks a bunch!

[2015-06-29 21:00] #1474 closed

[2015-06-29 21:51] mnichols commented on #1282
Also trying Win7 + IE 9 and I'm seeing (in screenshot) a 'Bad Gateway: Connection refused' inside the browser when the POST to /session happens . I tried this config earlier with a different test runner and had similar connection problems with sauce (using saucie + testem). That seems to indicate a sauce issue.

[2015-06-30 01:48] andrerpena commented on #753
In case this helps anyone, I ran into this problem because my main test file has 2 `describe` but no `it`.

It was like this:

    describe('Something abstract', function() {
        describe('Something specific', function() {
        });
    });

And when I made it like this, it worked:

    describe('Something abstract', function() {
        describe('Something specific', function() {

[2015-06-30 05:44] egeland commented on #1270
Just wanted to note, as I had a similar issue today - phantomjs on Ubuntu needs the `libfontconfig` package (and/or the `libfontconfig-dev` package - I installed both) or it won't start..

[2015-06-30 08:48] cfletcher opened #1477 "Browsers closing following test"
I've got several simple Jasmine tests running in Karma, using Chrome/IE/Firefox/PhantomJS launchers via Gulp. I get all the test output I'd expect but the browser windows only flash up briefly and then close.
Both my Karma.conf.js and my gulp task for Karma specify "singleRun: false"

Test output (for Chrome and PhantomJS) as follows:

[09:33:37] Starting Karma server...
INFO [karma]: Karma v0.12.

[2015-06-30 09:17] #1477 closed

[2015-06-30 09:20] dominicumbeer commented on #1270
@egeland Your solution fixed the problem. The package was missing on my Ubuntu. I got following error message:
[code]
Unfortunately this message does not give any hints about the problem, so I'm happy that I found your post.

[2015-06-30 11:18] egeland commented on #1270
@dominicumbeer Glad it helped - your errors are exactly what I was seeing today.

So mysterious, until you run `phantomjs` by itself (not with `--version`), then you see the cause..

[2015-06-30 11:52] FinalAngel commented on #413
that would be awesome +1

[2015-06-30 12:10] tjmonsi commented on #1270
@egeland : Good thing I found this post. I'm also having problems with PhantomJS not running in Karma in Meteor's velocity JS

Kudos to you :)

[2015-06-30 12:50] sjurba commented on #1090
I get some weird behaviour similar to this when saving files in Atom using the atom-beautify plugin.

[2015-06-30 15:22] dtheodor commented on #1320
:+1:

[2015-06-30 20:34] Wasmoo commented on #1206
Having trouble with Chrome **Version 43.0.2357.130 m**. Chrome opens with a page that says "Karma Starting", but Karma can't seem to capture the results.

PhantomJS works fine.

Karma v0.12.37

[2015-06-30 20:50] jannavarro opened #1478 "Cannot find jsx files"
I have a combination of js and jsx files and when I run karma test on them the jsx files cannot be read (e.g KeymapManager is my jsx file). Error is: "Module not found: Error: Cannot resolve 'file' or 'directory' ../src/modules/core/Keymap/KeymapManager in D:somepath..."

I know there is a karma react jsx preprocessor module but I have seen several guides like [this] (http://nicolasgallagher.com/h

[2015-06-30 20:56] #1478 closed

[2015-06-30 20:56] jannavarro commented on #1478
my path is wrong. sorry bout that.

[2015-07-01 06:38] wilsonpage commented on #1087
I switched from Nodemon to [Watchify](https://www.npmjs.com/package/watchify) and bumped the Karma `autoWatchBatchDelay` option to 500ms. So far so good.

[2015-07-01 08:08] mikkotikkanen opened #1480 "Should have way of passing variable data from conf to test runner"
There should be a way to share things like dynamic configurations (things that can't be shared via static files) to test runner. Or even configs that are parsed via node.js and normally passed to browser with require.js define() call.

[code]

where the content of that object comes from node.js parsing different files to one object (fe. certain pieces of the server configuration that are exposed t

[2015-07-01 12:49] blaise-io commented on #598
I also got random disconnects like

[code]

`usePolling: true` in my config solved it.

[2015-07-02 07:40] sjurba commented on #1090
For me the fix was disabling Beautify on save for atom-beautify plugin: https://github.com/Glavin001/atom-beautify/issues/440

[2015-07-02 07:43] sjurba commented on #1087
I had similar problems that I narrowed down to the atom-beautify pluing for atom.. https://github.com/Glavin001/atom-beautify/issues/440

I'll checkout if the `autoWatchBatchDelay` helps for me to.

[2015-07-02 07:52] sjurba commented on #1087
The `autoWatchBatchDelay` did not seem to help for me...

[2015-07-02 10:08] sjurba commented on #1087
@Dignifiedquire I'm still having this issue, described more in detail in the atom-beutify issue linked in my comment above. I have started digging into it, and it seems the issue is with karma not with the atom package. All the atom package does (to trigger this) is to re-save the file rapidly. So it is saved 2 times very rapidly.

What I see is that when things goes wrong this function is called

[2015-07-02 10:16] sjurba commented on #1087
@Dignifiedquire right it seems I just bumped into the issue vojta warns us about here: https://github.com/karma-runner/karma/blob/master/lib/file_list.js#L368

I think suggestion 2: "delay the promise resolution - wait for any changeFile operations to finish" would be the way to solve this, by waiting for the `autoWatchBatchDelay` before triggering the preprocessor..

[2015-07-02 10:40] Dignifiedquire commented on #1087
@sjurba can you please check out `karma@canary` it contains a complete rewrite of the [`file-list`](https://github.com/karma-runner/karma/blob/canary/lib/file-list.js)

[2015-07-02 11:12] sjurba commented on #1087
Sure, but I'm not sure how I can install it.. I just get these:
[code]

[2015-07-02 11:30] Dignifiedquire commented on #1087
Yeah sorry about that, semver and `rc` versions don't get along too well :(

[2015-07-02 11:34] sjurba commented on #1087
Looks like the problem is still there in canary..
But aren't you still running preprocess right away instead of waiting for the file to be stabilised?
https://github.com/karma-runner/karma/blob/v0.13.0-rc.6/lib/file-list.js#L341

When I set the autoWatchBatchDelay the problem got worse. It triggered the problem every time..

[2015-07-02 11:44] Dignifiedquire commented on #1087
Thanks for checking, I just wanted to be sure.
I think this is the same issue as described in #987 where empt files are handled incorrectly.

[2015-07-02 17:59] Dignifiedquire commented on #1478
No problem, happy to hear it worked out

[2015-07-02 18:00] Dignifiedquire commented on #1206
@Wasmoo Please try to open the dev tools and post your console output in general mode and in debug mode please

[2015-07-02 18:14] bensquire commented on #598
Same problem here. We run the test in our CI process and this is causing the build to fail. '--single-run' in this case as well.

Interestingly I notice that the first 100 tests run in ~2 seconds, the last 100 (around the 900 mark) take nearly 2 minutes to execute.

@bajtos Settings didn't do anything for us (in fact we already had it set).

[2015-07-02 19:54] zeitos commented on #413
+1

[2015-07-02 23:07] zarno commented on #1106
+1 same issue as @hindsholm

[2015-07-03 22:13] #1445 closed

[2015-07-04 16:25] planetjones commented on #1189
I am having the exact same issue.  But it seems like this would be super critical functionality and it's been ignored for 10 months.  So I presume I'm doing something wrong.

Can you please advise ?

[2015-07-06 13:57] nicolasmccurdy commented on #1469
I noticed that this issue has been labeled. Is there anything I can do to help working on it?

[2015-07-06 15:52] Dignifiedquire commented on #1469
Hey sorry, it's on my todo list to investigate how this can best solved. In general I think karma core should  be able to launch anything, including `appx` files. So if you have an idea how to solve this, feel free to open a PR (please against `canary` branch, as that will be released as a new stable very soon)

[2015-07-06 16:13] kketch commented on #710
Indeed captureConsole set to false doesn't seems to prevent karma (0.12.37) to capture the console

[2015-07-07 07:42] fredrikbonander commented on #710
@Dignifiedquire No. Tried both 0.12.32 and 0.12.37 and it captures as expected.

```client: {captureConsole:false}``` omits all ```console.*()```
```client: {captureConsole:true}``` prints all ```console.*()```

[2015-07-07 09:14] Dignifiedquire commented on #710
Thanks @fredrikbonander

[2015-07-07 09:14] #710 closed

[2015-07-08 13:26] jbarros35 commented on #466
Hi,
your sample is interesting but real world projects like mine doesn't have only 2 or 3 dependencies. By the way I'm stuck on try run a project like this:

 files: [
      'bower_components/jquery/dist/jquery.js',
      'bower_components/crypto-js/sha256.js',
      'bower_components/bootstrap/dist/css/bootstrap.min.css',
      'bower_components/angular-mass-autocomplete/massautocomplete.theme.cs

[2015-07-08 15:15] jchonde opened #1483 "Missing karma.js in static folder"
Hello,

The 0.1.37 tag and master branch miss the `static/karma.js` file.
The problem comes from the `.gitignore` file.

[2015-07-08 15:53] Dignifiedquire commented on #1483
This is because the `static/karma.js` file is automatically build, it never gets checked into git, only into npm.

[2015-07-08 15:53] #1483 closed

[2015-07-08 15:58] Dignifiedquire commented on #1483
This is the grunt task that generates it: https://github.com/karma-runner/karma/blob/master/Gruntfile.coffee#L14-L17

[2015-07-08 16:28] timaschew opened #1484 "continue after 'page reload'"
It's really annoying that karma stops after telling me _Some of your tests did a full page reload!_

I want to run all my tests regardless if there was a page reload or not.
Related to #1101

[2015-07-08 19:29] Dignifiedquire commented on #1467
@segrey I've implemented a solution in #1485 for you, with that you can do

[code]

[2015-07-08 20:33] jshohel opened #1486 "Downloading file while running karma"
We have a use case where we need to download a javascript file from a remote machine before running tests. The remote javascript file is generated dynamically, and it can update any time. So we can't download the file and put it under "js" folder, so we can't use it as a static resource. As an example -

[code]

So the question is, is it possible? On last line I have added a remote file with compl

[2015-07-08 20:59] Dignifiedquire commented on #1486
There is no simple way to do it right now, except for downloading the file via a request and writing it to a tmp file and using that in the `files` array. It could be added, but would need some work and rethinking as the current system assumes that all files are present on disk.

[2015-07-09 04:19] jokeyrhyme commented on #1470
Nevermind, I found this: https://www.npmjs.com/package/karma-detect-browsers

[2015-07-09 04:19] #1470 closed

[2015-07-10 00:15] jywu commented on #1101
Is this being fixed? I'm also having the error even though I do not reload the page in my unit tests (I do have window.location.replace(URL) in my application.) Any help?

[2015-07-10 10:14] roine opened #1488 "Karma cant find the npm modules"
**Node version**: v0.12.7
**NPM version**: 2.13.0

For some reason karma cannot find some modules. Note: I'm also requesting karma-mocha and this doesnt throw a warning.
[code]

But the plugin is installed

[code]

My package.json
[code]

My karma conf file
[code]

[2015-07-10 10:18] hulufei commented on #1101
+1

[2015-07-10 10:29] Dignifiedquire commented on #1488
What binary are you using? Do you have `karma` or `karma-cli` installed globalyl?

[2015-07-10 10:35] roine commented on #1488
I'm using the globally installed `karma`.

[2015-07-10 11:03] Dignifiedquire commented on #1488
That's the problem then, you should use `karma-cli` globally, http://karma-runner.github.io/0.12/intro/installation.html
If you install `karma` globally it doesn't use the local installation.

[2015-07-10 11:45] roine commented on #1488
`npm i -g karma-cli` did the trick thank you @Dignifiedquire

[2015-07-10 11:45] #1488 closed

[2015-07-10 15:52] keirlawson opened #1489 "Jasmine test crashes Karma in Firefox before completion of run"
This test seems to run ok in Jasmine standalone but crashes my Karma setup:

[code]

Karma config:

[code]

It runs fine with Chrome. I am running Karma 0.12.37

[2015-07-10 15:53] vinhnghi223 opened #1490 "Test still passes when trying to use dependencies in Jasmine "it" without using inject()"
Let's say I write something like this by mistake, the test run by Karma still passes
[code]
Obviously it should be inject(function($compile){...}) and the first 4 lines can be put inside beforeEach, but I just want to point out the issue. I only notice the issue when I read Jasmine report on my browser.

[2015-07-10 17:14] Dignifiedquire commented on #1490
I'm not sure the fault lies with karma if this passes, in theory, without the `inject` it should simply throw an error, as `expect(<something>)` is no valid javascript, or is this run through a perprocessor?

[2015-07-10 17:15] Dignifiedquire commented on #1489
Can you give the full stack trace of the errors please?

[2015-07-10 18:33] vinhnghi223 commented on #1490
No, it is just a normal expect, something like this:      expect(element.find('li').eq(0).text()).toEqual('China Doll');

When I tried something like this, it throw " TypeError: $compile(...) is not a function":

    it('should test my directive', function($compile) { });

but it won't throw any error if I do sth like this:

    it('should test my directive', function($compile) {
      $compile(el

[2015-07-10 21:20] keirlawson commented on #1489
There is no stack trace, only `SyntaxError: JSON.parse: unexpected keyword at line 1 column 1 of the JSON data`

[2015-07-10 22:44] timkindberg commented on #1490
Cause it might think $compile is the 'done' function that you can
optionally pass into every it function. And from its perspective you called
done so you're "async" test has completed.
On Fri, Jul 10, 2015 at 2:33 PM Nghi Le <notifications@github.com> wrote:

--
- Tim

[2015-07-11 07:53] keirlawson commented on #1489
After experimenting a bit more, wrapping JSON.parse in another function produces the expected result of the test passing and test execution continuing:

[code]

[2015-07-11 07:54] Dignifiedquire commented on #1489
Interesting, what Promise library are you using?

[2015-07-11 07:55] keirlawson commented on #1489
I'm currently using Firefox's native ES6 promises

[2015-07-11 08:00] Dignifiedquire commented on #1489
It looks like that is a bug in Firefox then, because executing this on its own in the Firefox console, I get the same result as you do.

[2015-07-11 08:00] keirlawson commented on #1489
Swapping out Firefox's native implementation for core-js ES6 promises (via Babel) makes the tests run as expected so perhaps there is some issue with the way Firefox is propagating this particular exception?

[2015-07-11 08:26] Dignifiedquire commented on #1489
Yes pretty sure it's a bug in their promise implementation.

[2015-07-11 08:30] keirlawson commented on #1489
Have created a bug report here: https://bugzilla.mozilla.org/show_bug.cgi?id=1182758

[2015-07-13 18:52] #1410 closed

[2015-07-13 18:53] Dignifiedquire commented on #1490
Closing, as this has nothing to do with karma, if you want a different behaviour you will have to modify/change jasmine

[2015-07-13 18:53] #1490 closed

[2015-07-13 18:54] Dignifiedquire commented on #1489
Closing, as there is nothing we can do from this side.

[2015-07-13 18:54] #1489 closed

[2015-07-13 19:00] Dignifiedquire commented on #1476
I would suggest adding an event here https://github.com/karma-runner/karma/blob/canary/lib/server.js#L131 like this:

[code]

and then use this event on the emitter, to only start the proxy when it's emitted.

[2015-07-14 10:11] bensampaio commented on #1101
I'm also experiencing this behaviour and I'm quite sure I have no reloads on my tests.

I don't know if this could be the problem but I'm using webpack and babel alongside karma. When I change any spec file I always get the full page reload error, but all other files are ok (I mean, Karma detects the changes and run the tests again without any reload).

I have to constantly restart karma which is

[2015-07-14 10:25] luxueyan commented on #1270
@egeland Me too!

[code]
grunt karma & karam start & sudo karam start  all not work， but sudo grunt karma works fine

[2015-07-14 12:56] egeland commented on #1270
@luxueyan Did you install the packages as I mentioned above?
Did you try running phantomjs by itself, no options?

[2015-07-15 03:20] luxueyan commented on #1270
@egeland Sorry, i didn't say my system is os x 10.9.5.
I run phantomjs  by itself well without any options.
In my project
[code]
Now the only works way for me is :  sudo grunt karma.
Thanks!

[2015-07-15 18:36] #1106 closed

[2015-07-15 18:36] #1220 closed

[2015-07-15 18:36] #1436 closed

[2015-07-15 18:36] #1037 closed

[2015-07-15 20:02] mkolodny commented on #1101
+1

[2015-07-15 22:38] robertbaker opened #1494 "Just updated to .13, Cannot read property 'mtime' of undefined"
[code]

[2015-07-15 23:25] Dignifiedquire commented on #1494
Thanks for the report, I will try to fix it in the morning

[2015-07-15 23:25] Dignifiedquire commented on #1494
What version of node are you running?

[2015-07-15 23:35] brianmhunt opened #1495 "URL_REGEXP in lib/reporter.js does not match karma-browserify output"
Related to #1097, the `URL_REGEXP` in [`karma/lib/reporter.js`](https://github.com/karma-runner/karma/blob/master/lib/reporter.js#L24) fails for karma-browserify.  Karma-browserify spits out urls like this:

Whereas the expression,

[code]

clearly does not match the output. A simple fix that I have tested is to remove the protocol, like this:

[code]

I will cross-post an issue with karma-browser

[2015-07-16 00:03] robertbaker commented on #1494
0.12.7

[2015-07-16 01:50] robertbaker commented on #1494
I think I resolved it. for some reason karma-jasmine's new version number is lower than the old one! 0.1.6 is < 0.3.6 so NPM favored the newer one.

[2015-07-16 07:34] Dignifiedquire commented on #1494
There was an issue with the tagging of karma-jasmine, as there are two versions, the `0.1.x` branch, which supports jasmine 1 and the `0.3.x` branch which supports jasmine 2.
I fixed that last night though.

[2015-07-16 07:52] Dignifiedquire commented on #1494
@robertbaker I just tested things, and it seems to work fine for me, could you create a small project that reproduces this error please?

[2015-07-16 09:22] willprice commented on #251
Is there any workaround for this at the moment as it is preventing me from using Karma as my test runner.

[2015-07-16 09:26] Dignifiedquire commented on #251
Not that I know about sorry, but I hope to get this fixed soon

[2015-07-16 09:37] maffelbaffel commented on #480
+1

[2015-07-16 09:54] c24w opened #1496 "Breaking change in minor version"
If "[Karma uses Semantic Versioning](https://github.com/karma-runner/karma/blob/2c9be5a03f8de1311a62014966d5d87c94067ec0/docs/about/01-versioning.md)", why did the v0.13.0 minor version change introduce a [breaking API change](https://github.com/karma-runner/karma/blob/2c9be5a03f8de1311a62014966d5d87c94067ec0/CHANGELOG.md#breaking-changes)?

_http://semver.org_

[2015-07-16 09:56] Dignifiedquire commented on #1496
Because we are still on `0.x.y`, so we follow the same convention as node followed, that is having breaking changes in the minor versions, until a `1.0.0` is released.

[2015-07-16 09:56] #1496 closed

[2015-07-16 10:31] willprice commented on #251
That's good to know, thanks for getting back to me so quickly.

[2015-07-16 11:14] kof opened #1497 "Can not load "webpack""
https://stackoverflow.com/questions/31444743/karma-cant-load-webpack/31452564

Its reproducible when you install all the latest versions of karma-* on node v2.3.4

[2015-07-16 12:20] AlexKVal opened #1498 "'should.and' failing with 'karma@0.13'"
This spec-code
[code]
causes
[code]
with `karma@0.13` version.

--
I've created simple project for bug repro:
https://github.com/AlexKVal/karma-test

`master` branch uses `karma@0.13` and causes test fail
karma13 https://travis-ci.org/AlexKVal/karma-test/builds/71240835
<img width="748" alt="screen shot 2015-07-16 at 3 12 23 pm" src="https://cloud.githubusercontent.com/assets/847572/8722468/af4240

[2015-07-16 12:22] AlexKVal commented on #1497
`react-bootstrap/react-bootstrap` same issue.

[2015-07-16 12:40] Robin-Hoodie opened #1499 "File matching 2 patterns doesn't match the first pattern like the docs say"
See http://stackoverflow.com/questions/31452862/testing-angular-with-karma-file-ordering/31454420#31454420 + my own answer for the (possible) issue

[2015-07-16 12:41] Dignifiedquire commented on #1497
Thanks for the report, I will look into it as soon as I can

[2015-07-16 12:43] Dignifiedquire commented on #1499
Thanks for the report, will try to find out what is going on asap

[2015-07-16 12:44] Dignifiedquire commented on #1498
Thanks for the report, will try to take look as soon as I can

[2015-07-16 14:27] jonnenauha commented on #1494
I'm also getting this error once I updated to `karma 0.13.0` `karma-jasmine 0.3.6`. I'm using grunt-karma as well, it just updated to `0.12.0` that fixes the new Server bug.

On top of that im using requirejs in the tests. I have a version that test with and without requirejs. If I dont run the requirejs tests this error does not occur. @robertbaker are you using requirejs in your tests? If i comm

[2015-07-16 14:33] Dignifiedquire commented on #1494
The relevant line is this https://github.com/karma-runner/karma/blob/master/lib/file-list.js#L173 my guess is that the pattern that is checked in the glob isn't found. As requirejs does some strange things when it comes to imports I could imagine that somewhere around there it fails.

[2015-07-16 14:34] Dignifiedquire commented on #1494
But this simple requirejs example in our integration tests works fine: https://github.com/karma-runner/integration-tests/tree/master/requirejs

[2015-07-16 14:37] Dignifiedquire commented on #1494
@jonnenauha what os are you running on?

[2015-07-16 14:44] jonnenauha commented on #1494
Win8.1 64bit, node v0.12.5, npm 2.11.2

If anyone else bumps to this until is resolved, I just forced my package.json to the old version. What was missing was forcing karma itself to 0.12.x, if not done something else in the chain was pulling in 0.13 with `^0.12`. I'm no node/npm expert but looks like that happened :)

Force old version(s) with in `package.json`
[code]

[2015-07-16 14:49] Dignifiedquire commented on #1494
Thanks @jonnenauha it looks like this has to do something with windows :( I will see what I can find out

[2015-07-16 14:52] SomethingSexy commented on #1494
@Dignifiedquire just to give you some more information in case it is helpful.  I am running Win7, node v0.10.30 and npm1.4.21

[2015-07-16 14:56] Dignifiedquire commented on #1498
It looks like the underlying issue is the same as #1499. There is a conflict between the `karma-chai` and the `karma-sinon-chai` plugin. They both include a version of `chai`, and in `0.12` the addition from `karma-sinon-chai` simply won, but for some reason this broken now. You can work around it for now by removing `karma-chai`, which isn't needed anyway.

[2015-07-16 14:58] SomethingSexy commented on #1494
@jonnenauha I was able to run off of karma-jasmine 0.3.6

[2015-07-16 15:00] Dignifiedquire commented on #1494
Could one of you please post a full log output with log level set to `DEBUG` please?

[2015-07-16 15:04] synarque commented on #1499
I have it as well :
"app/scripts/elportalapp.js",
"app/scripts/**/*.js",
"test/mock/**/*.js",
"test/spec/**/*.js"

'/base/app/scripts/elportalapp.js': '2297e40af2d6c5cf6b06a355d867c3875bd39b1f', '/base/app/scripts/controllers/aceselector.js': '158b2c676e2f19db05248efdc07f3d713275aa40', '/base/app/scripts/controllers/admin.js': 'fd0988775454ae5828b034c767db647b09806e3f', '/base/app/scripts/controll

[2015-07-16 15:20] SomethingSexy commented on #1494
[code]

[2015-07-16 15:27] jonnenauha commented on #1494
Here is mine

[code]

Does looks like you were right. I havent changed the glob strings in a long time. Here is what they look like, I changed the folder names as its a private repo, hope it clarifies anyways :)

	// list of files / patterns to load in the browser
	files: [
	  'test/test-main.js',
	  {pattern: 'src/folder1/**/*.js', included: false},
	  {pattern: 'src/folder2/*.js', included: fals

[2015-07-16 15:43] robertbaker commented on #1494
I'm on 8.1 x64.

[2015-07-16 15:50] Dignifiedquire commented on #1494
I was finally able to reproduce this, it seems it's a combination of requirejs + karma@0.13 + windows

[2015-07-16 15:51] robertbaker commented on #1494
@Dignifiedquire I'm not using requirejs. However I am using karma-jspm (trying karma-systemjs atm).

My JS is transpiled typescript to ES6.

[2015-07-16 16:15] Dignifiedquire commented on #1494
Thanks @robertbaker I found the issue, I hope to be pushing a fix out tonight

[2015-07-16 16:16] SomethingSexy commented on #1494
:+1:

[2015-07-16 16:24] jonnenauha commented on #1494
Good stuff, thanks for being so quick about it. What is the standard way of testing out non tagged git commits/HEAD with npm? Can you also use a commit hash as the version in your `package.json` or is there some special `"~HEAD"` syntax? Or do i need to clone the repo under node_modules manually?

Would love to test and verify the fix once the commit lands later. Prior to needing a tag, but dunno

[2015-07-16 16:31] robertbaker commented on #1494
@jonnenauha  `npm install karma-runner/karma#master` should do it.

[2015-07-16 16:38] AlexKVal commented on #1498
Thank you @Dignifiedquire for the hint about `karma-chai`. :cherries:
Indeed it helps with tests. :sparkle:

Now all is left to migrate `react-bootstrap` to `karma@0.13` is https://github.com/karma-runner/karma/issues/1497, which as I can see is also caused by the new file loading mechanic.

[2015-07-16 17:30] distinctdan commented on #873
Just had this. Turns out, npm was incorrectly installing karma 0.13.0, even though grunt-karma wants ~0.12.0. The fix was to manually specify "karma": "~0.12.0" in my package.json.

[2015-07-16 18:01] Dignifiedquire commented on #1494
That is a start, but you will need to run

[code]
to get a working version

[2015-07-16 18:02] Dignifiedquire commented on #1494
@jonnenauha also when I have the fix ready I will cut `0.13.1` anyway tonight hopefully, so you don't need to jump through those hoops

[2015-07-16 18:52] #1494 closed

[2015-07-16 19:23] #1498 closed

[2015-07-16 19:24] #1499 closed

[2015-07-16 19:28] Dignifiedquire commented on #1499
Fix was released in `0.13.1`

[2015-07-16 19:28] Dignifiedquire commented on #1497
Can you please check if this is still an issue in `0.13.1`

[2015-07-16 19:28] Dignifiedquire commented on #1498
Fix was released in `0.13.1`

[2015-07-16 19:28] Dignifiedquire commented on #1494
Fix was released in `0.13.1`

[2015-07-16 19:44] mateatslc commented on #1497
@Dignifiedquire yep, still seeing it with v0.13.1

[2015-07-16 19:47] tehnomaag commented on #1497
I'm also still having the same issue. My project tried to closely follow [this example project](https://github.com/justinwoo/react-karma-webpack-testing).

[code]

[code]

My `package.json` relevant deps:

[code]

[2015-07-16 20:23] Uter1007 commented on #1497
same here :(

Node v0.12.7

Same Example tried.

[2015-07-16 21:00] AlexKVal commented on #1498
Thank you :tada: :cherries:

[2015-07-17 08:40] jonnenauha commented on #1494
Can verify this fixed my issue. Thanks.

    "grunt-karma": "=0.12.0", // This gets karma ^0.12.0 so the latest 0.13.1
    "karma-jasmine": "=0.3.6",
    "karma-requirejs": "^0.2.2",

[2015-07-17 09:54] shershen08 commented on #466
this answer helped me a to solve this problem: http://stackoverflow.com/a/23754804/405623

[code]

[2015-07-17 12:28] MichalZalecki commented on #1497
To get around this issue downgrade karma. This set up works:
[code]

[2015-07-17 12:38] alexandrehebert commented on #873
@distinctdan same for me, your solution worked

[2015-07-17 12:43] fbengrid commented on #1494
hiya,
It seems this error is still present if you add a pattern like this in the file list to filter the files extensions:

[code]

Regards.

[2015-07-17 12:50] balmas commented on #873
:+1:

[2015-07-17 13:17] Dignifiedquire commented on #1494
@fbengrid could you provide more details? For me this is working fine

[2015-07-17 13:36] fbengrid commented on #1494
@Dignifiedquire sure

I don't use requirejs but have my own adapter for the dojo toolkit with its AMD loader.
Saying this, it shouldn't matter as i would get the issue straight away and it breaks karma before the web server is started.

The environment is windows.
karma 0.13.1
The following pattern
[code]
breaks karma with the following stack trace:
[code]

To resolve the issue and have it working

[2015-07-17 13:56] Dignifiedquire commented on #1494
I can't reproduce this with the pattern structure you are describing above. Could I see the adapter code you are using, as my guess is that the issue is somewhere there

[2015-07-17 14:01] fbengrid commented on #1494
@Dignifiedquire sure, i would be surprised if that was the issue since the only thing which has changed is the version of karma.

[code]

[2015-07-17 14:07] Dignifiedquire commented on #1494
Okay, the adapter seems to have nothing to do with it.

Could you do me a big favor and add in your karma version manually the following line onto https://github.com/karma-runner/karma/blob/master/lib/file-list.js#L173

[code]

and then run with log level set to `DEBUG` and paste me the output, thanks

[2015-07-17 14:23] fbengrid commented on #1494
Sending you the logs by email (too big to paste here)
The failed.log use the pattern:
[code]

The pass.log use the patterns:
[code]

[2015-07-17 14:25] fbengrid commented on #1494
hiya,
here are the logs.Regards.

     Le Vendredi 17 juillet 2015 16h08, Friedel Ziegelmayer <notifications@github.com> a écrit :

 Okay, the adapter seems to have nothing to do with it. Could you do me a big favor and add in your karma version manually the following line onto https://github.com/karma-runner/karma/blob/master/lib/file-list.js#L173log.debug('Fetching cache', pattern, path)
log.deb

[2015-07-17 14:55] Dignifiedquire commented on #1494
I think tou sent the email to github instead of to me. my email is dignifiedquire@gmail.com and you can just paste it into gist.github.com if you want

[2015-07-17 14:59] fbengrid commented on #1494
oups..
ok sending it to you in gmail in a sec

[2015-07-17 16:15] fbengrid commented on #1494
I've just changed the pattern from
[code]
to
[code]
and it's working now.

[2015-07-17 17:58] Dignifiedquire commented on #1494
Good to hear. I found the underlying issue which is related to inconsistencies in node-glob, so it will take a bit till it's fully fixed. Thanks for the detailed report.

[2015-07-17 18:04] fbengrid commented on #1494
glad to have helped.
Have fun and keep up the good work, this karma environment is a godsend !

[2015-07-17 18:32] robertbaker commented on #1494
@Dignifiedquire fixed my issue as well.

[2015-07-17 20:23] tshelburne commented on #1497
Another working config:

[code]

[2015-07-17 20:47] Dignifiedquire commented on #1497
Just a quick update, I was able to find out what the underlying issue is: In short dependency injection sucks. Fix coming soon

[2015-07-17 21:33] Dignifiedquire commented on #1497
Okay I've just released `0.13.2` that will resolve the issue together with this pr: https://github.com/webpack/karma-webpack/issues/63

[2015-07-17 22:07] mateatslc commented on #1497
now just have to wait till that PR gets merged... ಠ_ಠ

[2015-07-17 22:14] tshelburne commented on #1497
Hooray for OSS!

[2015-07-17 22:48] segrey opened #1500 "karma@0.13 compatibility with karma-intellij"
WebStorm 10.0.4 integration fails to run tests using karma v0.13 (https://github.com/karma-runner/karma-intellij/issues/26).
This problem is already fixed in karma-intellij, but, unfortunately, all IDEs released prior to this fix still fail to run tests with karma v0.13, because karma-intellij is bundled with IDE.

A possible solution to make karma integration working in already released IDEs coul

[2015-07-18 00:02] segrey commented on #1467
@Dignifiedquire Sorry for the late reply. Thanks for looking into this. Really appreciate it.
Unfortunately, `browsers_ready` event is not fired exactly after webserver port binding, there could be a delay until browsers are ready. Nevertheless, `browser_ready` is useful event for IDE: WebStorm guesses this very moment using 'browserConnected' events. Thanks a lot for introducing it.

About webser

[2015-07-18 07:52] Dignifiedquire commented on #1467
Sure sounds good, let's use 'webserver_listening' event on the server to propagate the event. are you up for a quick PR on it?

[2015-07-18 07:53] Dignifiedquire commented on #1500
I can live with that, as long ass we keep a deprecation message warning people that this will go away soon. Are you up for a PR?

[2015-07-18 07:54] segrey commented on #1500
Thanks. Sure, will create a PR.

[2015-07-18 08:12] segrey commented on #1467
I don't think a special event like `webserver_listening` is really needed. IMO, listening to http server events is quite clear. Also, listening in this way is backward compatible up to karma 0.10 (https://github.com/karma-runner/karma/blob/v0.10.0/lib/server.js), so no code changes needed.

The only thing I'd like to have is legitimating this way to protect from breaking changes. If a breaking cha

[2015-07-18 08:58] segrey commented on #1500
Created https://github.com/karma-runner/karma/pull/1501
The next karma release with this PR merged will be compatible with WebStorm 10.0.4 integration.
Any plans for the next release?

[2015-07-18 09:31] Dignifiedquire commented on #1500
Thanks, I hope to get a new release out either today or tomorrow with those changes.
Any chance you could get me a developer key for webstorm? My trial expired some time ago, so I can't test the integration anymore (as usually use emacs for development)

[2015-07-18 09:35] Dignifiedquire commented on #1467
It's not needed, but I want all events to be on the `Server` object, rather than exposing the individual components, as that is much larger surface area to support if I have to ensure that the webserver object is always exposed.

[2015-07-18 09:43] segrey commented on #1467
Makes sense. Will create a PR.

[2015-07-18 10:03] segrey commented on #1500
WebStorm has free license for open source projects. Please apply [here](https://www.jetbrains.com/buy/opensource/?product=webstorm). Hope it will work smoothly, but in case of any problems I'm here to help.

[2015-07-18 11:51] Dignifiedquire commented on #1500
Thanks, I didn't know about that.

[2015-07-18 21:10] segrey commented on #1500
Improved PR https://github.com/karma-runner/karma/pull/1503

[2015-07-19 12:37] haf commented on #1497
OT: DI sucks because it exposes cyclic dependencies? I'd say that's a win for DI and by avoiding partial/unreliable initialisation ;)

Happy for fix, would be great to get https://github.com/webpack/karma-webpack/pull/63 merged and released =)

[2015-07-19 13:20] tnajdek commented on #1344
Had the same issue (tests running but reporter says 0 out of N). Changed reporter to "dots" now says correctly N out of N.

[2015-07-20 03:33] chy996633 opened #1504 "No success info from terminal"
Chrome 43.0.2357 (Windows 7 0.0.0)

I'm testing AngularJS app with Karma.I use **npm test** to run the test, but when the Chrome start, it shows "Karma v0.12.37 - connected . Chrome 43.0.2357 (Windows 7 0.0.0) is idle" and nothing happend.Can anyone tell me how to troubleshoot this problem ?

[2015-07-20 09:47] tarkadaal commented on #1390
I'm experiencing the same issue. Running Karma v0.13.2. After starting it, it will run the tests once (correctly), but then never picks the changes up.

I've tried a new karma.conf.js, karma init, reinstalling node.js, purging all my packages and reinstalling - I'm at a loss.

I've filed a pretty thorough problem statement on Stack Overflow: http://stackoverflow.com/questions/31428916/karma-auto-w

[2015-07-20 13:44] tarkadaal commented on #1390
I can confirm that autoWatch works on v0.12.0, but fails after an upgrade to v0.13.2.

[2015-07-20 15:24] Francisc commented on #1390
Thanks for adding versions.

[2015-07-21 06:23] BhuvneshGupta opened #1505 "Karma not opening browser on aws ec2 instance"
I am installing Karma for angular js unit testing. I can successfully installed it on my localhost and can run it without any issue.

But I have to do the same for AWS EC2 instance. I can install karma there as well but when I am running karma it is showing message

     Karma v0.13.2 server started at http://localhost:9880/
21 07 2015 05:58:08.623:INFO [launcher]: Starting browser Firefox

But no

[2015-07-21 06:58] Dignifiedquire commented on #1505
What os are you using? What way do you use to connect to aws? How did you install Firefox?

[2015-07-21 07:21] NicBright opened #1506 "Versioning scheme confusion."
Hello, I'm a little bit confused about the versioning scheme.

1. From the gruntfile.js (npm-publish task) I read that odd versions should be canary versions, while "npm info karma" clearly states that the "latest" version is 0.13.2. In my understanding 0.13.x should not have been published as a latest version if this gruntfile was followed. The next latest version should have been 0.14.0 then.

2

[2015-07-21 07:29] #1506 closed

[2015-07-21 07:30] Dignifiedquire commented on #1506
Sorry about that, we recently changed this behaviour and I hadn't updated the documentation accordingly. It should be now unified in both the `gruntfile.js` and the docs.

[2015-07-21 09:33] NicBright opened #1507 "Improve karma to not always run the whole test suite"
Hi there,

my goal is to improve karma to not always run the whole test suite when a file changes.
To avoid lots of effort going in the wrong direction I would like to talk about this first, before starting the implementation.

## Ideal Goal
Improve karma to not always run the whole test suite when a file changes

## Motivation
This is an important issue in larger projects with a lot of tests. Cha

[2015-07-21 09:44] NicBright commented on #1506
Thank you for the quick response. Now it's clear :-)

[2015-07-21 16:03] lonelyelk opened #1508 "Static binary assets are not served correctly when they have capital letters in extension"
When serving static binary assets configured with:
[code]
Only images with *.jpg extensions are served properly. Capital letters extension shows a 'broken image' icon. This seems to be due to not recognising said image as a binary file. Adding "JPG" to `lib/binary-extensions.json` or modifying `lib/preprocessor.js` condition like so:
[code]
Solves the problem.

Not sure how to write a failing test

[2015-07-21 16:09] Dignifiedquire commented on #1508
You can add a test here: https://github.com/karma-runner/karma/blob/8a9c8c739d612f3d5d07cc80231ff85f1395d122/test/unit/preprocessor.spec.coffee#L182 and add a file with an upper case extension here https://github.com/karma-runner/karma/blob/8a9c8c739d612f3d5d07cc80231ff85f1395d122/test/unit/preprocessor.spec.coffee#L6

[2015-07-21 20:12] wilsonjackson commented on #851
@Dignifiedquire Thanks for the heads up. I haven't had a chance to look yet — do you know if Karma has introduced any kind of real support for asynchronous plugins yet? If not, any plugin using this trick will probably be SOL until they remedy that.

[2015-07-21 21:09] lonelyelk commented on #1508
Current `master` branch has failing tests for me before I even started editing both under node v0.12.6 and iojs v2.3.3:
[code]

[2015-07-21 21:26] Dignifiedquire commented on #1508
You'll need to run these commands first https://github.com/karma-runner/karma/blob/master/.travis.yml#L23-L24

[2015-07-21 21:33] fbengrid commented on #1507
Assuming this is meant in the context of someone working on the specific Spec file isn't the feature not already available via focused specs ( http://jasmine.github.io/2.3/focused_specs.html ) ?

[2015-07-22 01:43] stevemao opened #1510 "conventional-changelog 0.1.x is release"
Just wondering if you guys are cool to switch to the latest version. All issues with the CHANGELOG here or in any related repos are fixed. Because of the rewrite, the syntax is completely changed. A few people are using it and I've been using it but I haven't found any problems so far.
Related modules such as conventional-github-releaser should also be good to use ~~but need more tests~~. Tests ar

[2015-07-22 12:23] Dignifiedquire commented on #1510
Sure, if you want to make a PR, I'd be happy to update it

[2015-07-22 14:04] jrgleason opened #1512 "Chrome is not closing when tests are complete nothing in debug."
# Environment

   * Windows 7
   * Cygwin Browser

# Issue

I have the following config...

    module.exports = function (config) {
      config.set({
        browsers: ['Chrome'],
        basePath: '',
        frameworks: ['jasmine'],
        files: [
            './src/dependencies/angular/angular.js',
            './src/dependencies/angular/*.js',
            'http://cdnjs.cloudflare.com/ajax/

[2015-07-22 14:09] jrgleason commented on #1512
Oops

[2015-07-22 14:11] jrgleason commented on #1512
NM I thought I was supposed to have something in JSON syntax I was wrong. Still can't figure it out. Running as ` karma start --reporters junit,dots --singleRun true` works fine so maybe a config parsing issue?

[2015-07-22 14:13] #1512 closed

[2015-07-22 14:34] Dignifiedquire commented on #1512
All good @jrgleason ?

[2015-07-22 14:38] jrgleason commented on #1512
Yup sorry for the garbage

[2015-07-22 14:40] Dignifiedquire commented on #851
No we hadn't yet. I'll reopen this, as it seems there is a need for supporting this properly.

[2015-07-22 17:52] m69 commented on #1500
Any updates on the 0.13.3 release?

[2015-07-22 18:11] booleanbetrayal commented on #1101
+1

[2015-07-22 18:29] #1500 closed

[2015-07-22 18:30] #1508 closed

[2015-07-22 18:32] Dignifiedquire commented on #1504
Are you using `single-run`?

[2015-07-22 18:36] Dignifiedquire commented on #1500
Published just now in `0.13.3`

[2015-07-22 18:39] Dignifiedquire commented on #1484
Sorry for the late response. The problem here is that it's currently not possible to handle this better from the side of Karma, as the test frameworks, e.g. Jasmine, Mocha, QUnit pretty much break when you do a page reload inside a test. So the behaviour we have currently is pretty much the best we can do, except for the addition of #1101 where the goal is to identify the url and the test if possi

[2015-07-23 07:50] Dignifiedquire commented on #1507
Hey, first of all thanks for the extensive proposal. In regards to the second point you are suggesting, have you looked at #1468 ? As it seems to me this could potentially solve the issues you are mentioning here, or at least make things easier to handle.
In terms of actually running only specific spec files I think the idea of telling karma explicitly about this does make sense, but adding it as

[2015-07-23 14:11] brianmhunt commented on #1495
Here's a minimum working example:

https://gist.github.com/brianmhunt/e9b54d35af5c6537e3c8

[2015-07-23 15:08] Dignifiedquire commented on #1495
Thanks @brianmhunt for the investigation, I'm happy with your suggested fix. Are you up for a PR?

[2015-07-23 16:56] wolfgangmeyers opened #1514 "Repeatedly disconnected from Chrome (mac)"
Chrome recently updated on my mac, and I'm now running Chrome 44.0.2403 (Mac OS X 10.10.3) and have Karma v0.13.3. Sometimes all of my tests will run, but they start breaking when the test runner disconnects from Chrome:
[code]

[2015-07-23 19:05] Dignifiedquire commented on #1514
Is Chrome in the background or foreground when that happens?

[2015-07-23 19:06] wolfgangmeyers commented on #1514
In the background. This typically happens when I make changes to a code or test file in my IDE, causing the test run to fire.

[2015-07-23 19:21] wolfgangmeyers commented on #1514
To elaborate, I notice that the tests always seem to go through fine when I launch Karma, but every time a file change happens it starts running the tests and then hangs for a bit, and complains about a browser disconnect.

I'm also using some other components with Karma like code coverage. Here is my config file:

[code]

[2015-07-23 19:51] Dignifiedquire commented on #1514
I'm afraid that this is related to the great power savings on OS X + Chrome, can you try keeping the browser in the foreground (visibility is important) and see if it still happens?

[2015-07-23 19:56] wolfgangmeyers commented on #1514
Looks like that does the trick. It hasn't had any issues since I've kept it visible.

[2015-07-23 19:56] #1514 closed

[2015-07-23 20:34] wolfgangmeyers commented on #1514
Also if I quickly bring the browser into the foreground while it hangs the tests complete successfully.

[2015-07-24 06:14] segrey commented on #1500
Thanks a lot for the quick turnaround!

[2015-07-24 09:08] codependent opened #1516 "Karma 0.13.3 - You need to include some adapter that implements __karma__.start method! Error when using urlRoot"
I am using Karma's latest release (0.13.3) and found that when using urlRoot in the configuration I got this error:

    24 07 2015 10:58:16.957:WARN [proxy]: proxy "http://localhost:3000" normalized to "http://localhost:3000/"
    24 07 2015 10:58:16.993:WARN [karma]: No captured browser, open http://localhost:8080/__karma__/
    24 07 2015 10:58:16.999:WARN [karma]: Port 8080 in use
    24 07 20

[2015-07-24 20:38] mkolodny opened #1517 "Tests take 100x+ longer when the browser isn't in the current screen on mac"
I have about 100 tests. When I'm looking at the screen/window with the browser (I usually use full screen mode, with the browser in it's own screen), the tests take about .8 seconds to run. When the browser is in another screen, the tests take almost two minutes to run.

An interesting side note is that when the browser is in the same screen as my terminal, and I'm looking at that screen I stop ge

[2015-07-25 00:07] rewiredpictures commented on #1320
:+1:

[2015-07-25 02:01] mtscout6 commented on #1517
I'm assuming you see this on Chrome? There is a known "performance" improvement in chrome that throttles timeouts to once per second if a Chrome tab is not visible. Have you tried Firefox or PhantomJS?

[2015-07-25 15:43] mkolodny commented on #1517
Yes, this is on Chrome. I haven't tried Firefox or PhantomJS, but I'll keep it in mind that using them is a potential solution.

—
Sent from Mailbox

On Fri, Jul 24, 2015 at 10:01 PM, Matt Smith <notifications@github.com>
wrote:

[2015-07-25 16:08] Furizaa commented on #1101
I've gotten this error on every change to one simple test `expect(true).toBe(true);` using webpack and babel. In the end I got this working by using exactly the same setup the react-router project is using (versions of karma-* packages, karma.conf). No problems so far.

https://github.com/rackt/react-router/blob/master/package.json#L41
https://github.com/rackt/react-router/blob/master/karma.conf.j

[2015-07-27 12:51] jasdeepkhalsa opened #1518 "bug: importScripts is not defined error inside web worker script"
I have a web worker `worker.js` that references a file e.g:

    importScripts('file.js');

However Karma does not seem to like it:

    INFO [karma]: Karma v0.12.37 server started at http://localhost:9877/
    INFO [launcher]: Starting browser Chrome
    INFO [Chrome 44.0.2403 (Linux 0.0.0)]: Connected on socket ZecIQTwPUPehOMzVhz-8 with id 85867718
    Chrome 44.0.2403 (Linux 0.0.0) LOG: 'pre-ma

[2015-07-27 13:16] mzgol commented on #883
Shouldn't Karma send:
[code]
by default and only change it to another value if it's explicitly provided? On the public web IE11 will receive its most standards-compliant mode so the Karma default should force it to IE11 mode by default as well.

[2015-07-27 13:28] Dignifiedquire commented on #1518
This sounds like the script is not executed in a web worker, but rather in the general browser scope. Try opening the debug mode and look at what actually happens on execution. (This error is not coming from karma, it's just relaying the error that Chrome sends)