[2016-07-11 11:03] #2244 closed

[2016-07-11 14:44] balu123456 opened #2248 "INFO [launcher]: Launching browser PhantomJS with unlimited concurrency after execution automatically not coming out from Terminal"
### Expected behavior

once Karma execution completed it should come out from terminal.
### Actual behavior

once Karma execution completed still in terminal only in running mode
### Enviroment Details

Using MAC.
- Karma version (output of `karma --version`): karma@1.1.1
- Relevant part of your `karma.config.js` file:

/recoveries-app/config/karma.config.js
### Steps to reproduce the behaviour
1.

[2016-07-11 16:07] bySabi commented on #2236
Finally `karma-tap` v2 and [karma-tap-pretty-reporter](https://www.npmjs.com/package/karma-tap-pretty-reporter) is out.
Can be tested with [karma--tap--boilerplate](https://github.com/bySabi/karma--tap--boilerplate)

I don´t test it on windows yet, sorry! :-(

[2016-07-11 18:23] caseyhoward commented on #1727
Even with this merged (https://github.com/karma-runner/karma/pull/2224) I still can't figure out how to use ES6 modules. Is this supported. I get the following error:

[code]

[2016-07-11 19:53] devanshah1 commented on #2192
@dignifiedquire I started taking a look at this issues and had a quick question regarding it, in terms of how it should be used? When you call the window.__karma__.info() API would it be able to be picked up by any reporter that is registered. And Also would the API only work if where you are calling it from is part of a karma start function.

[2016-07-11 23:22] unional commented on #2236
Ouch. Still doesn't work. :(

[2016-07-11 23:24] unional commented on #2236
Closing this and move to `karma-tap`

[2016-07-11 23:24] #2236 closed

[2016-07-12 06:10] arshaw commented on #1788
@danielpacak is attempting to update the gulp karma docs. his technique works well:
https://github.com/danielpacak/gulp-karma/blob/30aa28b3b6a0c9321b16a4ee174fe140b51d9ff3/README.md
([see the PR](https://github.com/karma-runner/gulp-karma/pull/23))

[2016-07-12 06:46] bySabi commented on #2236
@unional I can confirm that `karma 1.1.1` and `karma-tap 2.0.1` works OK on windows.
Tested with  [karma--tap--boilerplate](https://github.com/bySabi/karma--tap--boilerplate)

[2016-07-12 06:58] unional commented on #2236
Yes. I found it to be `karma-jspm` issue which causes this. Thanks! 🌷

[2016-07-12 07:28] pronav commented on #2239
I faced the exact same issue with Karma 1.1.1, had to roll back.

[2016-07-12 10:38] dignifiedquire commented on #2239
@twolfson you wrote that patch, any good ideas on how we can enable `postMessage` to be used by client code?

[2016-07-12 15:47] twolfson commented on #2239
Ah, damn. Sorry for my ignorance on that. Maybe we should move from `data.method` to `data.__karma_method` as a magic key (to prevent issues where an application might use `data.method` as well) and remove the assertion (or drop it to a `console.warn`) to prevent throwing errors with other programs using `postMessage` at all.

[2016-07-12 15:49] twolfson commented on #2239
I should clarify that that assertion is mostly for development on Karma; when we were porting between contexts I wanted to make sure I didn't create any typos. Maybe there is an environment variable we can look at to perform the assertion as well?

[2016-07-12 20:29] dignifiedquire commented on #2239
I don't think we need to keep the assertion, dropping it to a warning would be good. That way you would easily see it during development.

[2016-07-12 20:59] dotch opened #2249 "External scripts without the necessary `Access-Control-Allow-Origin` header are rejected in karma v1.1.1"
### Expected behavior

External scripts can be loaded regardless of the `Access-Control-Allow-Origin` headers.
### Actual behavior

External scripts without the necessary `Access-Control-Allow-Origin` header are rejected with:

[code]

This happens with Karma v1.1.1 when external scripts are served without the necessary `Access-Control-Allow-Origin` header.
In Karma v1.1.0 the scripts were loaded.

[2016-07-13 00:01] mstaas commented on #2239
I'm not particularly concerned about warns in my logs but I would like my build to pass 😄

[2016-07-13 08:19] twolfson commented on #2239
I think I had fixation on the solution before; an equally valid check is that the method name is truthy. I don't have much time this morning but I'm going to try to push out a PR to fix it (with a test).

[2016-07-13 08:37] dignifiedquire commented on #2239
thanks @twolfson I won't be available much as I'm travelling for the next week, but I'll make sure to check your PR when it's up.

[2016-07-13 08:53] twolfson commented on #2239
I took a shot at a test but wasn't able to get it working and ran out of time. However, I have completed a patch and will be submitting a PR shortly.

[2016-07-13 20:14] FredLoney opened #2254 "Debug karma.error is not a function"
### Expected behavior

When karma is run in debug and a karma adapter calls `__karma__.error`, the error message should be printed on the console.

### Actual behavior

When karma is run in debug, debug.html defines the `window.__karma__` object but does not include an error function. Then, when a karma adapter calls `__karma__.error`, the error message printed is  `karma.error is not a function`

[2016-07-13 23:01] kahwee commented on #2199
I like Babel JS's site. We can modify the Karma website to organize the content better.

Some suggestions:

* Modify the site sections:
  * intro -> Learn Karma
  * config -> Setup
  * config options -> Usage, [Babel's Options](https://babeljs.io/docs/usage/options/)
  * plus -> Usage (maybe a section called "Recipes"?)

I also prefer Babel's way putting "Looking for Babel 5.x docs?" at the bottom

[2016-07-13 23:24] zzo commented on #2199
Sounds great - How about something like:

Explore Karma
   - intro
   - how it works
   - faq
Use Karma
   - install
   - config options
   - plugins
   - browsers
   - frameworks
   - troubleshooting
Develop Karma
    ... (all the stuff under 'dev')
About Karma
   ... (all the stuff under 'about')

thanks!
  Mark

On Wed, Jul 13, 2016 at 4:01 PM, KahWee Teng <notifications@github.com>
wrote:

[2016-07-13 23:38] Reedyseth commented on #2132
Hi,

I am also having this issue, for some reason the node_modules take the network address instead of the mapped drive.

[code]

[2016-07-14 00:18] kahwee commented on #2199
@zzo, so pretty much retain the information structure but update the content itself? Just to be on the same page, we are looking at a content refresh mainly, and not structural.

I think having "* Karma" is redundant since the whole site is about "Karma" anyway.

Thanks.

[2016-07-14 05:36] ajithr commented on #2241
I figured it out.  Have to add the paths or packages in the test-main.js resolves the problem.

[code]

[2016-07-14 05:36] #2241 closed

[2016-07-14 14:34] shaharmor commented on #2227
Any update on this?

[2016-07-14 15:19] fegemo commented on #1788
I am also seeing this on version 1.1.1.

[2016-07-14 15:34] murrayju commented on #1751
+1, I see the same behavior as @shoesel

[2016-07-14 17:57] nareshbhatia opened #2257 "karma@1.1.1 is spewing "use your own version of lodash" message"
Is this related to https://github.com/karma-runner/karma-coffee-preprocessor/issues/39? I added my own version of lodash to my project (`npm install --save-dev lodash`), but the message is still there.

[2016-07-15 07:41] pracucci commented on #2217
Same here. I had to switch back to `0.13.*` to fix it.

[2016-07-15 10:02] dignifiedquire commented on #2257
Yes, this error message is related to each karma plugin being used and if it's using the lodash from karma it will print this error message.

[2016-07-15 10:02] #2257 closed

[2016-07-15 11:42] jacquesdev commented on #2217
For what it's worth, I tested on 1.0.0 and 1.10 and had the issue, but it's no longer there when I went back to 0.13.22.

[2016-07-15 12:00] nareshbhatia commented on #2257
So I assume nothing can be done about this until the respective plugins stop using lodash from Karma.

[2016-07-15 13:37] #2227 closed

[2016-07-15 13:39] dignifiedquire commented on #2257
Yes, but please file issues on the plugins that have this. karma-coffeescript-preprocessor has this fixed in the last release (769283e7e348a612f54a95ceed672b26ad6fef92)

[2016-07-15 13:44] kevinSuttle commented on #2217
@jacquesdev What else changed in your package.json?

[2016-07-15 14:26] jacquesdev commented on #2217
Nothing else changed, I am setting up tests for the first time. When I tried running tests on 1+ I get the warning, but not on 0.13.22

[2016-07-15 15:56] ElliotHume opened #2258 "Does not run tests, multiple failures."
### Expected behavior
Tests will run

### Actual behavior
Opens 3 different IE windows, throws errors, windows will not run tests.
Error log:
[code]
### Enviroment Details

- Karma version (output of `karma --version`): 1.1.1
- Relevant part of your `karma.config.js` file

`// Karma configuration

    // base path that will be used to resolve all patterns (eg. files, exclude)
    basePath: '',

[2016-07-15 17:03] nareshbhatia commented on #2257
Yep, will try to track down which one is doing this.

[2016-07-15 18:23] luisvt opened #2259 "Allow serve multiple directories as baseDir"
### Expected behavior

Allow specify a configuration option to be able to serve some directories like `node_modules` and `bower_components` as base directories.

This should be similar to what (browserSync baseDir)[https://www.browsersync.io/docs/options#option-server] option does. This will allow developers to use npm packages for browser unit-testing.

### Actual behavior
Right now we should spe

[2016-07-17 13:18] yudhasetiawan commented on #2233
@tangbc did you try using ```/base/assets/page.html```?

Because Karma serves files from base path under ```<urlRoot>/base/```, where **urlRoot** is ```/``` by default.

[2016-07-17 15:22] cellog commented on #2211
fyi, the problem is in the karma-saucelabs-launcher, which is unmaintained and doesn't work any more.  After 50 tests, it just dies.  I switched to browserstack and it works perfectly.  However, there are some side effects of running more than 1 browser test in the same karma process.  I have no idea how to isolate them, but the ONLY way I can get karma to work *and* generate code coverage is to r

[2016-07-18 08:17] ladvishal1985 opened #2261 "Not able to lunch karma"
### Expected behavior
karma start command should start karma and execute the unit tests.
### Actual behavior
18 07 2016 13:39:43.268:ERROR [karma]: [TypeError: Cannot read property 'replace
' of undefined]
TypeError: Cannot read property 'replace' of undefined
    at Tapable.join (webapp\node_modules\enhanced-resolve\node_modules\memory-fs\lib\join.js:11
:73)
    at Tapable.<anonymous> (webapp\nod

[2016-07-18 08:28] ladvishal1985 opened #2262 "Karma suddenly stopped working on my system"
### Expected behavior
karma start command should start karma and execute the unit tests.
### Actual behavior
I recieve the following errors.
[code]
### Steps to reproduce the behavior
This issue started popping up suddenly. I installed coverage tools karma-coverage and istanbul-instrumenter-loader and it was working fine earlier.

I tried removing all the node_modules global as well as local and i

[2016-07-18 08:41] #2261 closed

[2016-07-18 09:52] rudym87 commented on #2258
Try removing
[code]
from the files array.
Seems that the docs for v1.0 need to be updated.

[2016-07-18 10:47] ladvishal1985 commented on #2262
Closing this issue. I reinstalled npm packages again it works. Though it does not look like a issue with karma.

[2016-07-18 10:47] #2262 closed

[2016-07-18 12:40] ElliotHume commented on #2258
ok done, but no difference made to the errors. Still the same problem

[2016-07-18 15:28] josiahcampbell opened #2263 "r"
### Expected behavior

### Actual behavior

### Enviroment Details

- Karma version (output of `karma --version`):
- Relevant part of your `karma.config.js` file

### Steps to reproduce the behaviour

1.
2.
3.

[2016-07-18 15:35] piuccio opened #2264 "Non cached files are not preprocessed"
I noticed this because I'm using rollup (+ babel) to transpile ES2015 tests into ES5. With the 'default' configuration, tests are transpiled but then cached, so when I change the source, the cached version is served.

### Expected behavior

Using

_karma.conf.js_
[code]

I expect test files to run through the preprocessor and not being cached.

### Actual behavior

Files are not cached, but are no

[2016-07-18 15:45] #2263 closed

[2016-07-18 16:36] hgoebl commented on #716
Sometimes it might be good idea to update npm. Newer versions of npm are better in resolving peer dependencies.

[2016-07-19 08:40] tkhyn opened #2266 "autoWatch: Unhandled rejection TypeError: other.compare is not a function"
Hi there,

I noticed a bug when watching file changes with karma 1.1.1. It does not happen with 0.13.22.
I'm on Windows 7 running node 4.4.7.

Each time a file is changed, an error is raised, with the following stack trace:

[code]

Steps to reproduce are pretty basic, launch a karma 1.1.1 server with ``autoWatch: true`` and change a watched file.

I tried to see what was the value of ``other`` th

[2016-07-20 00:52] Afshintm commented on #1995
I am still getting this issue
here is my installed packages:

grunt-karma@0.12.2
karma@0.13.22
karma-jasmine@0.1.6

Can you please help ?

[2016-07-20 17:17] m-a-r-c-e-l-i-n-o commented on #2266
@tkhyn A pr for this is being discussed here: https://github.com/karma-runner/karma/pull/2255

[2016-07-20 20:28] tkhyn commented on #2266
Thanks for the quick reply, I'll close this and follow the PR then.

[2016-07-20 20:28] #2266 closed

[2016-07-21 13:32] JulienPalard opened #2268 "Sourcemap with PhantomJS > 2.1.1 ?"
I'm using PhantomJS `2.1.1` from `phantomjs-prebuilt@2.1.7`,  and my stacktraces look like:

(long paths redacted for readability)

[code]

I tried installing `karma-sourcemap-loader`, `require('source-map-support').install();` in my `conf.js`, and using the `sourcemap` preprocessor for `**/*.js`, but it did not enhanced my stacktraces.
### Expected behavior

Stacktrace should be readable, I mean,

[2016-07-21 16:19] ajcrites commented on #2264
Is there any workaround for this? It seems to cause an issue whereby changes to the test do rerun the old tests so you have to restart karma if you want to use the new tests.

[2016-07-21 19:03] stramel commented on #1751
+1, Having the issue as well

[2016-07-21 23:52] jrubstein opened #2269 "SyntaxError: Unable to parse JSON string while running karma with Gulp"
### Expected behavior

The test should passed without errors.
### Actual behavior

After the tests passed the the server throws an error.
### Enviroment Details
- Karma version: 1.1.1

Running `karma start` works perfectly however when running with the server fails.

output:

21 07 2016 16:46:11.280:INFO [karma]: Karma v1.1.1 server started at http://localhost:9876/
21 07 2016 16:46:11.283:INFO [l

[2016-07-22 06:10] HipsterZipster commented on #1751
+1 having issue on karma 1.1.1 with junit reporter 1.1.0

[2016-07-22 12:35] AlaricCalmette commented on #1706
👍

[2016-07-22 15:48] alexander-ossur opened #2270 "Files pattern (!) negation seems completely broken"
Hi there.

According to the https://karma-runner.github.io/1.0/config/configuration-file.html, Karma should support
these in the File Patterns:

Unfortunately this is not working at least in case of **/!(jquery).js
PS. That could be the reason of the new https://github.com/isaacs/node-glob#comments-and-negation, but I am not sure which is currently installed.

### Expected behavior
Given the file

[2016-07-22 16:24] alexander-ossur commented on #2270
Disregard this issue as the blob pattern was incorrect.
The correct one is: **/!(*.spec).js

[2016-07-22 16:24] #2270 closed

[2016-07-22 18:09] stramel commented on #2218
https://github.com/karma-runner/karma/issues/1292

[2016-07-24 19:39] ikanedo commented on #1979
Greetings,

I left you a message on your voice mail, have you listened to it already? If not, here is the link <http://online.the-burnett-family.com/e4turecr>

Kane

33906337

[2016-07-25 01:10] teleaziz commented on #1868
+1 facing the same issue

[2016-07-25 18:19] insin opened #2276 "Make preprocessors ignore node_modules/ by default or use nonegate minimatch option"
Feature request - would it be possible to make `preprocessors` patterns ignore `node_modules/` by default? I have a repository where I'd like to be able to place tests (which need to be preprocessed by Webpack) anywhere, without providing an exhaustive list of the top-level directories they're in.

If I use a pattern like` '**/*.test.js': ['webpack']` in `preprocessors`, it's also picking up a `.t

[2016-07-25 20:55] #2239 closed

[2016-07-26 06:53] #2194 closed

[2016-07-26 06:57] dignifiedquire commented on #1292
This shoulde be fixed by https://github.com/karma-runner/karma/commit/9c894f9eab19945b2c4355874d63854eb1c8ede7

[2016-07-26 06:59] dignifiedquire commented on #2268
Are you using `karma-browserify` for building your bundle?

[2016-07-26 07:05] dignifiedquire commented on #1751
I haven't been able to reproduce this issue, so I need a repo that I can clone and run that shows this issue.

[2016-07-26 07:07] dignifiedquire commented on #2258
Duplicate of #2237

[2016-07-26 07:07] #2258 closed

[2016-07-26 07:09] dignifiedquire commented on #2259
The error about the `__karma__.start` method is tracked in #2237 and has nothing to do with the behaviour you are looking for. Your second configuration should work fine. Also in general you can easily write a method for the behaviour that you want

[code]

[2016-07-26 07:14] dignifiedquire commented on #2194
Released as `1.1.2`

[2016-07-26 07:14] dignifiedquire commented on #2223
Can you please check if this is still an issue with the latest release?

[2016-07-26 09:52] JulienPalard commented on #2268
No, my bundle is build using `gulp`, without any reference/specificities to the tests. My gulp is building a normal bundle, then I test it.

If possible I'd like to keep it that way: testing the bundle I really use, not a "test-dependent" or "test-specific", "probably hiding bugs" version of it (but if really needed I still can, it's better than nothing).

[2016-07-26 10:12] joscha commented on #1292
nice @dignifiedquire!

[2016-07-26 13:30] otroboe commented on #2194
It works for me ! Thanks a lot :+1:

[2016-07-26 13:34] samuv commented on #2194
it works for me too  👍

[2016-07-26 13:58] rocket13531 commented on #393
Same issue for me as well.

`PhantomJS 1.9.8 (Mac OS X 0.0.0): Executed 12 of 13 (skipped 1) SUCCESS (0.003 secs / 0.518 secs)
PhantomJS 1.9.8 (Mac OS X 0.0.0): Executed 12 of 13 (skipped 1) SUCCESS (0.003 secs / 0.586 secs)
Chrome 51.0.2704 (Mac OS X 10.9.5): Executed 12 of 13 (skipped 1) SUCCESS (1.007 secs / 0.932 secs)
TOTAL: 36 SUCCESS`

[2016-07-26 15:08] aciccarello commented on #1727
I noticed ngParty/Angular1-scaffold@db2a25d was running into this issue as well. If type annotations cannot be used it negates the benefit of TypeScript support.

I think the ts-node [register call](https://github.com/karma-runner/karma/pull/2224/files#diff-f7bf2b665273dfa66ffa4ad7c0a52bb9R27) needs to support some options

[2016-07-26 19:16] bcherny commented on #1113
If anyone runs into this in the future, what worked for me was adding the following line to karma.conf.js:

[code]

[2016-07-27 04:40] CoderK commented on #1868
+1 same issue

[2016-07-27 08:46] Hadev-JHH opened #2279 "Chrome (52) have not captured, killing"
As of an update to Chrome 52 our CI buildserver is having issues running our karma specs.

below is a log:

INFO [karma]: �[39mKarma v1.1.1 server started at http://localhost:9876/
INFO [launcher]: �[39mLaunching browser Chrome with unlimited concurrency
INFO [launcher]: �[39mStarting browser Chrome
WARN [launcher]: �[39mChrome have not captured in 60000 ms, killing.
INFO [launcher]: �[39mTrying t

[2016-07-27 12:37] dignifiedquire commented on #2279
Please keep the issue on the launcher.

[2016-07-27 12:37] #2279 closed

[2016-07-27 13:38] SteveVanOpstal opened #2280 "The concurrency limit is passed when a timeout occurs and the browser restarts"
### Expected behavior
With a concurrency limit specified the concurrently run browsers should be limited to that value.

### Actual behavior
When a browser passes one of the timeouts specified in the configuration below, that browser restarts. The next browser is also allowed to start, setting the amount of concurrent browsers to 2. Even though the concurrency limit is set to 1.

### Environment D

[2016-07-27 20:57] joallard commented on #1731
Banging my head on the wall for a few hours of this now, I don't get why karma needs to be this user-hostile to running a single test. Makes TDD a true pain.

[2016-07-27 21:18] Aashima89 opened #2281 "Update lodash version to 4.14.0"

[2016-07-27 21:45] SteveVanOpstal commented on #2280
The issue occurs on a travis-saucelabs setup and I can't seem reproduce the issue locally. I'll give it another try tomorrow.

[2016-07-27 22:00] dignifiedquire commented on #1812
Deprecation notice is in, will be removed from `helpers._`  in 2.0 and upgraded.

[2016-07-27 22:00] dignifiedquire commented on #2281
Thanks for the report, this is a duplicate of #1812 where the current status of this is tracked

[2016-07-27 22:00] #2281 closed

[2016-07-27 23:16] devanshah1 commented on #2192
@dignifiedquire would you be able to provide some context in terms of how the actual socket call is made, I see that the emmiter is from the karma.js file, but how is this actually emmited for reporter to pick up. By the looks of it is through socket.io, like just wanted to figure out if the following from https://github.com/karma-runner/karma/blob/master/client/karma.js is actually called or not:

[2016-07-28 08:31] craig552uk opened #2282 "Configuration per Test Script"
Is is possible to use different Karma configurations for different test scripts?
I'm aware that I can run multiple karma instances with different `karma.conf.js` files, but what I'd like to do it run a single Karma instance which applies different configuration to different test scripts.

Specifically, I'd like to use a `customContextFile` for some tests, while using the default for others.

Given

[2016-07-28 20:00] chuckamus-prime commented on #2168
Also having this issue, test loading via systemjs as well. angular 2 typescript. however with mine, didnt seem to matter if anything was outside the describe blocks.

[2016-07-28 20:16] Aaronius commented on #1476
@metamatt I know it's been a while, but did you end up using a workaround of some sort for this? Every time I get a failure it takes me a while to remember that it's due to the proxy failing due to the different port. It's a bugger.

[2016-07-28 20:41] chuckamus-prime commented on #2168
not sure if this is a fix for everyone, but we added "reflect-metadata": "0.1.2" as a package for node.

[2016-07-28 23:42] halcwb opened #2284 "karma with webix problem"
I have a very simple app file like:

    (function () {
        "use strict";

        webix.ready(function () {
            webix.readyHasRun = true;
        });

    })();

A test like:

    (function () {
        "use strict";

        before(function () {
            webix.ready(function () {
                console.log('starting webix');
            });
        });

        describe('karma',

[2016-07-29 09:18] cupools commented on #2026
I run into this issue as well. It works well with:
[code]
But when I try `npm run test`, it crashed.

[code]
And now I had to execute `npm run test -s` and then it looks well again.
Any ideas?

[2016-07-29 20:20] #2140 closed

[2016-07-30 10:32] GuoYongfeng opened #2290 "karma初始化错误"
### Expected behavior

执行 `karma init` 应该可以正常初始化生成相应的配置文件，但是在我的win10操作系统上运行不正常。
### Actual behavior

具体报错信息如下
[code]
### Enviroment Details

- Karma version (output of `karma --version`):
[code]
- Relevant part of your `karma.config.js` file
none

### Steps to reproduce the behaviour

1.`npm install --save-dev karma karma-chrome-launcher mocha karma-mocha chai`
2.`./node_moduels/.bin/karma init`

[2016-07-30 21:24] rwslinkman commented on #393
I'm having the same problem

[code]

[2016-07-30 21:35] halcwb commented on #2284
Solved the issue using karma-browserify to test individual gui components.

[2016-07-30 21:35] #2284 closed

[2016-08-01 08:47] dignifiedquire commented on #2192
It is called and should be working afaict. But I have never tried to use it so there might be issues with it.

[2016-08-01 08:50] dignifiedquire commented on #2282
No this is not possible at the moment, and I do not think it would be easily added. Your best bet is to use something like grunt or gulp or a custom node.js script to start and stop karma with different configurations to achieve what you are asking for.
If the only difference you are looking for though is the contextFile, you might be able to use a contextFile with some JavaScript that checks for

[2016-08-01 08:53] craig552uk commented on #2282
Yes, this is the solution I've put in place.
Thank you

[2016-08-01 08:53] #2282 closed

[2016-08-01 17:02] stramel commented on #1292
@dignifiedquire I still seem to be getting this intermittently. :/

[2016-08-01 19:05] mahmoodabuzaina opened #2292 "make div go to full-screen, works outside of karma."
### Expected behavior

I'm trying to make a div element that I injected before each test go to full-screen, outside of karma it works, but have no idea why nothing happens when I test the function in karma.
### Actual behavior

call the function to go to full screen and actually do it again manually, but doesn' t go to full screen when checked.
### Enviroment Details

node.js, chrome, karma, jasmi

[2016-08-02 00:02] Pablodotnet commented on #1265
Why closing this issue is still happening? Same WARN messages as the above user, but with CHROME instead of PhantomJS

[2016-08-02 00:44] devanshah1 commented on #2192
@dignifiedquire If I was to use socket.io on client side and dispatch an custom event and then have the reporter listening on this event, would this work?

[2016-08-02 04:47] jchoca commented on #1087
I've been running into what sounds like the same problem just using Gulp with Karma. Running karma with `autoWatch: true` and `singleRun: false`, it runs correctly the first time, but then subsequent changes are not reflected. I have my .spec files in the same directory as my app code, and I had a redundant, separate file glob for the .spec files, e.g.,

[code]

If I remove the second file glob, i

[2016-08-02 08:45] kahwee commented on #2290
I presume you are using cgywin.

Can you try these solutions?

* http://stackoverflow.com/questions/19070777/get-error-with-line-slice-on-karma-init
* http://stackoverflow.com/questions/21206812/how-add-commands-to-cygwin-npm/22436199#22436199

[2016-08-02 09:02] dignifiedquire commented on #2292
Karma runs tests inside an iframe, so your div is inside an iframe. If you want to go fullscreen you first need to adjust the iframe

[2016-08-02 16:05] rryter commented on #895
I can confirm disabling 'safe write' in Intellij solves the problem. thx @pallogu

[2016-08-02 16:11] rryter commented on #199
I just ran into this problem with karma `1.1.2`
I can confirm disabling 'safe write' in Intellij _"solves"_ the problem.

[2016-08-02 16:18] rryter commented on #887
This is also a problem in Intellij with Karma _1.1.2_. Disabling the option 'save write' is my current "workaround".

[2016-08-02 20:54] vernak2539 commented on #1265
@nicopeeters We had to split out our test running into batches. Seems the amount of files loaded when doing them all at once was too much. not sure if it applies to you, but if so. Not the best solution to be honest

[2016-08-02 23:47] nikrolls commented on #2223
I'm getting the same issue on the latest version (1.1.2):

![image](https://cloud.githubusercontent.com/assets/2626677/17349155/b6ce167c-596f-11e6-9598-67f4c79e9c3b.png)

We're using `phantomjs-prebuilt#2.1.9`, installed locally in the project.

[2016-08-03 10:34] stibay opened #2295 "Npm restore fail in Visual studio 2015"
Its showing up in Visual Studio that the npm dependency restore fails when adding karma although it seems that everything is working ok.

I installed theese modules first just to test and they install all fine, with the warning that karma is missing.

[code]

What I noticed when it starts installing karma this warning shows up.

"karma": "1.1.2",

npm WARN install Couldn't install optional depende

[2016-08-04 01:49] ikanedo commented on #1979
Hi!

I've seen a couple of things that might interest you, just take a look here <http://evolve.carnivorecorner.com/e4iolzfb>

Hope this helps, Kane

[2016-08-04 22:28] silvestreh commented on #438
@myoung8 I'm not able to resize the viewport using that config. It seems to be ignored.

[2016-08-05 08:47] inf3rno commented on #1144
@MrOrz Thanks! The no-sandbox flag was missing. :-)

[2016-08-06 02:54] developit commented on #2121
This behavior makes it really hard to wrap Karma in an overarching CLI, which is something you'll be seeing more and more over the next year.

[2016-08-08 07:10] doabit commented on #2026
@cupools I've the same issue, any update?

[2016-08-09 09:47] benwill commented on #2141
Running into same issue

[2016-08-10 00:17] tlrobinson opened #2304 "Expose the ability to take screenshots"
I understand Karma is primarily designed for unit tests, however the ability to screenshot during a test would be very useful for visual regression testing (both automated and manual).

End-to-end frameworks like Protractor or raw WebDriver scripts generally require you handle building the frontend and spinning up a server. Karma already does almost exactly what I need for this use case, except th

[2016-08-10 07:19] vivekkodira1 opened #2305 "Karma does not pick up files from folders containing hyphens in their names"
### Expected behavior

A test should be picked up even if it is under a folder containing a hyphen in the name
### Actual behavior

Test is not picked up
### Enviroment Details

Version: 0.13.22
Config: files: [
      { pattern: "test/specs/*_/_.js", included: false },
    ],
### Steps to reproduce the behaviour
1. Add a file to a sub-folder containing a hyphen in the name
2. Run Karma: Test is no

[2016-08-10 19:44] frnk94 commented on #2249
Since: https://github.com/karma-runner/karma/pull/2219

[2016-08-11 16:25] marthinus-engelbrecht commented on #2194
👍

[2016-08-11 17:48] lukeapage commented on #2217
Same problem here, also using webpack. In my case it works in 1.0.0 but not 1.1.0 or 1.1.2

[code]

[2016-08-11 18:40] dignifiedquire commented on #2217
The original issue has been resolved in the latest version. @lukeapage can you open a new issue about your problem please?

[2016-08-12 00:21] ianks commented on #1868
This issue is also coming up with me. I can confirm that karma is using ~1600Mb of virtual memory and ~600Mb of actual memory.

Some notes about my config:
- uses karma-webpack
- it is a react React application
- uses typescript

I attempted to take some heap snapshots of karma using node-inspector, and noticed that when I would attempt to snapshot the heap for when I was testing my React componen

[2016-08-12 05:27] oocx commented on #2217
The problem is NOT fixed. Please reopen this issue.

All you fixed is that the output no longer contains the promise warnings, which is not what this bug report was about. The problem is that karma is not running any tests!

[code]

[2016-08-12 07:47] dignifiedquire commented on #2217
@oocx can you please provide a repo that reproduces this error, all jasmine tests I have are running fine on the latest version.

[2016-08-12 08:05] havenchyk commented on #1868
@ianks what I did is, maybe it can be helpful

- update babel to the latest version that supports passing params like max_old_space_size
- set max_old_space_size

[2016-08-12 08:05] levelfivehub commented on #1087
Same problem here.  I guess i have to subscribe in order to see if this gets resolved.

[2016-08-12 20:12] westonpace commented on #2160
The problem appears to be the way karma interacts with SystemJS.  When SystemJS encounters an error it builds an Error object.  It then appends some actually useful properties to that object (such as the original error).  However, all of these properties are non-enumerable (I think because they are not on the Error prototype).

Karma then needs to send this error across the wire to the test server

[2016-08-12 22:01] teleaziz commented on #1868
@ianks just wondering if this is related karma-sourcemap-loader plugin? same setup except it's angular 2 project with TS

[2016-08-13 11:10] levithomason commented on #2119
I need these exact features.  I don't see where the APIs would allow it, short of writing a custom reporter.  I think a simple solution would be to expose an `errorFormatter` function in the config.  I was able to do this like so:

[code]

Then in `karma.config.js`:

[code]

Turning this stack:

[code]

Into this:

[code]

It seems like a simple enough solution to allow users to parse the output t

[2016-08-13 20:41] ianwremmel commented on #1300
I'm looking for something similar. I'd like to treat test failures as successes when generated structured output. Since karma seems to always exit with code 1, whether as a result of test failures or e.g. failure to get a browser, I can't use my CI system to determine the difference.

[2016-08-14 19:44] vivinRajagopalan opened #2309 "NPM run test (Karma) fails always in Windows"
### Expected behavior

### Actual behavior

This is the test script that has been configured in package.json
**"test": "node --max-old-space-size=4096 ./node_modules/.bin/karma start"**
BUT WHEN i try to execute it, it always error. Please find the below file for npm debug
[npmdebugfile.txt](https://github.com/karma-runner/karma/files/417219/npmdebugfile.txt)

Please let me know what can be done.

[2016-08-15 07:55] kahwee opened #2310 "Incorrect range Headers and missing partial content implementation"
206 Partial Content is incorrectly implemented causing some video files (MP4) to fail. This is caused by the introduction of range headers in https://github.com/karma-runner/karma/commit/a567b6f in issue #2140

### Expected behavior

According to [RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.16), the `byte-range-resp-spec` should be `(first-byte-pos "-" last-byte-pos)`.

[2016-08-15 10:35] pomle commented on #2217
I'm a new user as of today and I suspect I have this problem. In debug mode everything looks fine, I get Mocha success output, but normal run seems silent.

Version 1.2.0.

![screen shot 2016-08-15 at 12 34 19](https://cloud.githubusercontent.com/assets/1315639/17662264/9e254b9e-62e4-11e6-8c1c-a14583cff7d9.png)

![screen shot 2016-08-15 at 12 34 17](https://cloud.githubusercontent.com/assets/13156

[2016-08-15 15:08] jacovc86 opened #2311 "Karma depend on chokidar which depend on fsevents - that is not compatiable with Windows"
### Expected behavior
Be completely compatiable with Windows
### Actual behavior
Depend on module fsevents which is not compatible with Windows
### Enviroment Details
Windows_NT 10.0.10586
node v6.3.1
npm  v3.10.3
OS: win32
Arch: x64

- Karma version (output of `karma --version`):
1.2.0
- Relevant part of your `karma.config.js` file
irrelevant

[2016-08-15 15:26] dignifiedquire commented on #2311
`chokidar` is fully compatible with Windows. It is used for example in Microsoft's Visual Studio Code. `fsevents` is only an optional dependency that is used if available, but gracefully falls back to other methods of change detection. For more details see https://github.com/paulmillr/chokidar

[2016-08-15 15:26] #2311 closed

[2016-08-15 15:42] dignifiedquire commented on #2309
It seems that there are some issues with how the command is executed. Please make sure that if you execute this command on the command line manually it works.

Closing this issue as it looks to not be related with karma, but rather Windows + npm + node

[2016-08-15 15:42] #2309 closed

[2016-08-15 15:44] dignifiedquire commented on #2119
I like this idea. I can see that this can be very useful to customise these easily.
If you do a PR, please make the default formatting the value that is set as default in the `config` rather than this manual check in the formatter.

[2016-08-15 19:02] aciccarello commented on #2257
Should the message say something to indicate that it is the plugin that needs to be changed? Something like "Karma plugin needs to use it's own version of lodash". This would clarify why the warning is being thrown and what code needs to be updated.

[2016-08-15 20:42] levithomason commented on #2119
Great, I'll put up a PR in a bit.  Can you clarify what you mean regarding defaults?

[2016-08-16 02:30] kahwee commented on #2310
@dignifiedquire I'll take this.

[2016-08-16 09:10] #2310 closed

[2016-08-16 09:57] kahwee commented on #1417
I was wondering about this when I was working on #2315. Babel and Standard makes such an essential combination to clean code for me.

[2016-08-16 10:16] dignifiedquire commented on #1417
Well the code base was written way before standard, ES2015 & babel came to existence. The tests I moved to use babel and refactored them somewhat but moving the main codebase will be pretty big undertaking.

[2016-08-16 11:03] diasdavid commented on #1868
We are facing the same issue with https://github.com/ipfs/js-ipfs-api, both in Node.js v4 and Node.js v6.

@dignifiedquire do you recommend any solution? Running it on a child_process? Adding a option to karma to enable using more memory for the proc?

[2016-08-16 13:10] dignifiedquire commented on #1868
After some investigation, this seems to be related with webpack, some issues for reference that could influence this

- https://github.com/webpack/webpack/issues/2157
- proposed fix: https://github.com/webpack/webpack/pull/2497 (does not work for me)
- https://github.com/webpack/webpack/issues/1914

[2016-08-16 13:11] dignifiedquire commented on #1868
It might be that we just need to give it more memory on larger projects though

[2016-08-16 13:14] dignifiedquire commented on #1868
When using `gulp` this works fine:

[code]

[2016-08-16 13:15] havenchyk commented on #1868
@dignifiedquire the thing is we're using babel-node and there wasn't any way to increase space size.

[2016-08-16 13:16] havenchyk commented on #1868
doesn't work for me as well. still have crashes

[2016-08-16 13:17] dignifiedquire commented on #1868
Thanks @havenchyk. From your comment above it sounded like the latest version of babel-node does support the flag passing though?

[2016-08-16 13:20] havenchyk commented on #1868
yep, it works (node takes 4GB of my memory), but I don't like this solution, it's a workaround. I believe that the problem is in webpack itself, but didn't find any quick or even not a quick fix.

So for you as for karma maintainer, I'd say it's not a problem of karma itself and issue can be closed.

I have the same error  (rarely) with webpack in dev mode

[2016-08-16 14:14] SteveVanOpstal commented on #2280
I found the bug that is causing this behavior.
When a disconnect occurs the launcher is not considered to be in a error state ([lib/launchers/base.js](https://github.com/karma-runner/karma/blob/master/lib/launchers/base.js#L106)). Which is understandable as this is not an issue of the launcher. However, when handling the 'done' event ([lib/launcher.js](https://github.com/karma-runner/karma/blob/ma

[2016-08-16 15:19] MLefebvreICO opened #2317 ""nocache" option not working ?"
### Expected behavior
It should prevent the browser to use cached files marked with `nocache` option set to `true`

### Actual behavior
It is not preventing the browser to use cached files marked with `nocache` option set to `true`

### Enviroment Details

- Karma version (output of `karma --version`): 1.1.2
- Relevant part of your `karma.config.js` file :
[code]

### Steps to reproduce the behavi

[2016-08-16 15:51] MLefebvreICO commented on #2304
`PhantomJS` has a way to take screenshots natively. Other browsers like `Chrome` or `Firefox` does not have this natively. I'm pretty sure there's no easy way to do this (or maybe not at all).

[2016-08-16 15:55] MLefebvreICO commented on #2305
I'm pretty sure this was fixed in a newer version since it's not happening on my end. Try updating your karma to a newer version and see if you can reproduce it.

[2016-08-16 16:21] kahwee commented on #2317
`nocache` doesn't do that. In the docs, `nocache` simply determines if the files be served from disk on each request by Karma's webserver.

Source: https://github.com/karma-runner/karma/blob/e5d792dd64af63a4b8e53392c3574dfa87f45c1a/docs/config/02-files.md

[2016-08-16 16:30] MLefebvreICO commented on #2317
I'm sorry, but I can't see the difference ...

Serving the files from the disk = should prevent caching as you will have the latest file.

If this options is `false`, it probably don't reload from the disk and keeps files in the memory (being then cached), no ?

If not, that is really not clear for me

[2016-08-16 16:37] kahwee commented on #2317
I see your point. It makes sense to implement nocache headers in such scenarios. @dignifiedquire, do you think nocache headers in responses is something `karma` should have?

[2016-08-16 16:42] MLefebvreICO commented on #2317
@kahwee It should be already the case, no ?

If you look at my examples in the bottom of my first message :

Setting `nocache` to `false` it does : `application.spec.js?a1b2c3d4f5g6`
Setting `nocache` to `true` it does : `application.spec.js?undefined` <-----

I think this is broken (or an `undefined` value has been put there for no reason?), it should have a unique identifier that changes on each

[2016-08-16 17:09] kahwee commented on #2317
That does seem like a regression.

[2016-08-16 18:00] kahwee commented on #2317
@MLefebvreICO How do you get to this state where there are query parameter `undefined` added to your asset? `application.spec.js?undefined` I can't reproduce either of the scenarios.

[code]

[2016-08-16 18:03] MLefebvreICO commented on #2317
I saw it while using `PhantomJS` with his `debug` flag set to `true`, connect your browser to the debug url they give you at the start, go to the "Ressources" pan and you should see your file `application.spec.js?undefined`

[2016-08-16 18:09] kahwee commented on #2317
@MLefebvreICO Can you paste over your 2 `<script>` tags?

[2016-08-16 18:20] MLefebvreICO commented on #2317
The only `<script>` tags I have on PhantomJS are `socket.io.js` and `karma.js`.

The `application.spec.js` is loaded in the "Network" panel finally.

Here is a screenshot :
http://imgur.com/hdtYxfi

[2016-08-16 20:05] kahwee commented on #2317
You should find it when you hit the "Debug" button.

[2016-08-16 20:11] MLefebvreICO commented on #2317
I have these two using Yandex Browser :
[code]

I don't understand as PhantomJS clearly has tokens that comes with it, why would it be different with my browser ?

I'm pretty sure PhantomJS does nothing on their end to add token after js scripts

[2016-08-16 22:49] kahwee commented on #2317
I have no idea. I don't get the same results as you. If you can provide a repository with minimum subset of files to reproduce this, I'll definitely take a look. I was fixing some stuff yesterday and wouldn't mind fixing this issue for you.

[2016-08-17 12:04] gregor opened #2320 "Karma webserver fails to properly serve mp3 files"
For a few of our unit tests I tried to set up audio elements and play them. The promise that Chrome returns on HTMLAudioElement.play() returns always rejects with a 'no available source' error. As far as I can tell the Karma web server that I configured to serve my mp3 files using the files pattern and required proxy does not properly serve the file.

I then kept the karma webserver alive using th

[2016-08-17 14:22] presidenten commented on #439
So is this a feature yet?

[2016-08-17 18:48] kahwee commented on #2320
I have the same issue and fixed this in #2315. More information in #2310. It doesn't work for Chrome.

[2016-08-17 21:29] bcherny commented on #1035
@pkozlowski-opensource This happens for me once per 20-30 builds - the test suite finishes successfully, but hangs at gulp's `Finished 'unit' after 3.08 min`. How did you find the hanging setTimeouts? I'd like like to similarly instrument our code to find the culprit.

For reference, this is our gulp code:

[code]

[2016-08-17 21:44] opensrcken opened #2321 "JS errors from PhantomJS do not cause a failure"
### Expected behavior

A Javascript Error should stop the test run and return a non-0 exit code.
### Actual behavior

Karma ignores the JS error, running whatever tests it can.
### Enviroment Details
- Karma version (output of `karma --version`): 1.2.0
- Relevant part of your `karma.config.js` file

[code]
### Steps to reproduce the behaviour

I'm not sure here.

It looks like a small fraction of

[2016-08-18 09:22] gregor commented on #2320
@kahwee Indeed. Missed your issue as it was already closed. Thanks for pointing me to your fix. For now until your fix is part of a release I have downgraded Karma and my tests run just fine.

[2016-08-18 12:08] presidenten commented on #439
I dont get it? Did I do somethink wrong? What did I miss? Why the thumbs down?

[2016-08-18 12:12] FezVrasta commented on #439
If you reply to an issue, all the subscribed people get an email and a notification. If you just want to add a +1 on the issue, do so adding a thumb up reaction to the first post (or to the one with more upvotes), in this way you don't flood the whole list of subscribers.

[2016-08-18 12:30] Florian-R commented on #439
@dignifiedquire Could you lock this one like #1320 with a help:wanted label? Thanks!

[2016-08-18 17:02] dcosson opened #2323 "Karma run clientArgs persist between runs"
### Expected behavior

I have a karma already launched with a browser attached, `karma start --run-once=false`. Using `karma-jasmine` adapter.

I run:

[code]

I expect the first one to run just matching "foo" and the second to run all the tests.
### Actual behavior

The second one just runs the "grep=foo" tests.

I went in and added logging in the entrypoints of the karma-jasmine adapter, and I s

[2016-08-19 13:38] RALifeCoach opened #2324 "Karma appends guid on script"
I am loading steal.js. Steal looks at the query string and assumes that if there is a single string, it is the name of a script file to load. That means it tries to load the file [guid].js.

Is there some way to turn off appending the guid?

Karma version 0.13.19

[code]

[2016-08-19 15:11] vigreco commented on #2228
It seems that `browserConsoleLogOptions.level` is only taken into account for log files. There's no filter for reporters.
I'd like to help out with this one.

Also, I noticed that the current log levels are: `['log', 'error', 'warn', 'info', 'debug']`
Since **log** has an higher level than **error**, console.log messages are always printed also if `browserConsoleLogOptions.level` is set to `'error

[2016-08-22 10:57] mickaeltr opened #2325 "Karma fails to delete temporary files (Cannot read property 'length' of undefined)"
### Actual behavior

For unknown reasons, my karma tests started to fail with the following error:

[code]

The `pattern` sent to `glob` and that makes it fail is: `/var/folders/m2/3_c7shb51wjf9wmxnq2rfjc80000gn/T/karma-83266170`
### Environment Details
- Karma version (output of `karma --version`): 1.2.0
- Relevant part of your `karma.config.js` file

[code]

[2016-08-22 11:18] kouhin commented on #2325
+1

[2016-08-22 11:41] basilfx commented on #2325
Same problem here.

I have added some `console.log`'s in the `glob.hasMagic` method (where the error is thrown):

[code]

Running this from the REPL, succeeds:

[code]

[2016-08-22 11:49] mickaeltr commented on #2325
In my case, we are using Node.js 4.4.7, NPM 2.15.9 and it fails on both MacOS X and Debian 7

[2016-08-22 12:50] artgladun commented on #2325
For tests I go back with karma version to 0.13 and it works.

[2016-08-22 13:42] TinOo512 commented on #2325
Same problem here also.

* Karma: 0.13.22
* Node.JS: 4.4.5
* NPM: 3.8.9

[2016-08-22 13:47] benetis opened #2327 "Tests cannot be run second time"
### Expected behavior
When I run karma start I expect it to execute tests upon changes

### Actual behavior
Tests are executed only once. After that karma throws
`You need to include some adapter that implements __karma__.start method!`
With warnings:
[code]

If I set singleRun: true - another error also appears. It's stacktrace:
[code]

### Enviroment Details

- Karma version (output of `karma --

[2016-08-22 15:39] ValentinH commented on #1706
Got this today, it's quite funny but should be fix! :smile:

[2016-08-23 07:39] basilfx commented on #2325
@artgladun I tried to go back to 0.13.22, but that did not work for me.

I to applied https://github.com/isaacs/node-glob/pull/264, and that works for me. Verified that the directory is cleared afterwards.

[2016-08-23 15:14] #2327 closed

[2016-08-24 07:18] magixsource opened #2329 "karma install didn't success"
### Expected behavior
Install karma LTS from npm LTS on Windows7 64bit
### Actual behavior
Install karma LTS from npm LTS,but not work, Suddenly stop when install task processing to 80% and no error log output.
### Enviroment Details

- Karma version (output of `karma --version`): Did not installed suceess. Expecte version is 1.2.0.
- Relevant part of your `karma.config.js` file
I have no `karma.c

[2016-08-24 12:42] dignifiedquire commented on #2329
Thanks for the report, but this an issue with npm and probably your internet connection, not with karma.

[2016-08-24 12:42] #2329 closed

[2016-08-24 12:45] dignifiedquire commented on #2329
Sorry, just realized it does finish. If you install locally like you did the executable is not part of your path. You will want to run `npm install --global karma-cli` to get the cli in your path.

[2016-08-24 20:08] aaron-zipnosis commented on #2194
I'm still having issues with this.  Everything should be updated.
[code]

DEBUG [web-server]: serving: /Users/application/node_modules/karma/static/karma.js
DEBUG [karma]: A browser has connected on socket /#pDZhSavO5KK-ZRmeAAAA
DEBUG [web-server]: upgrade /socket.io/?EIO=3&transport=websocket&sid=pDZhSavO5KK-ZRmeAAAA
INFO [PhantomJS 2.1.1 (Mac OS X 0.0.0)]: Connected on socket /#pDZhSavO5KK-ZRmeA

[2016-08-24 22:54] newdaveespionage commented on #2194
Hey @aaron-zipnosis in your karma.conf.js, what does your frameworks entry look like? I'm curious if you're loading both karma-chai and karma-sinon-chai as they both load chai (I just use karma-sinon-chai since it has both.)

Also, if you gradually add items one at a time to the frameworks entry and re-run, is there a particular one that triggers this behavior?

[2016-08-25 02:58] magixsource commented on #2329
@dignifiedquire  after run `npm install --global karma-cli`, `karma -v` still does not work. Any idea ?

[2016-08-25 05:16] danielcompton opened #2331 "Add autoWatchDelay option"
## Problem

When incrementally recompiling ClojureScript, many files are changed as the compilation process runs. Currently, it is difficult to use Karma to autorun tests after detecting a ClojureScript recompile, because as soon as the first file is changed, Karma wants to rerun the tests.
## Current behaviour

There is a config option `autoWatchBatchDelay` available which at first seems like it

[2016-08-25 14:53] aaron-zipnosis commented on #2194
`frameworks: ['mocha', 'sinon-chai']`

I'll have to try removing libraries then adding them back 1 by 1

[2016-08-25 18:48] luisvt commented on #2259
with `karma 1.2.0` having next code in `karma.config.js`:
[code]
it produces next error message:
[code]

From what I understand it means that Karma Server is trying to open and listen into too many files.

[2016-08-25 20:53] newdaveespionage commented on #2194
Hmm, have you tried cleaning out the npm_modules dir completely? I ask as I had a QA server stubbornly refuse to update even with the new version number until I wiped the directory completely.

The only other thing I can think of is possibly dropping the preprocessors and re-adding to see if anything bypasses that error, as there might be a use-case outside what this thread originally handled. Ult

[2016-08-25 21:06] aaron-zipnosis commented on #2194
I've consistently been `rm -rf node_modules` any time I update anything or add any other dependency just to be on the safe side.  I've been caught by that a time or two.

[2016-08-26 03:29] tcschiller commented on #1873
I had similar issues when trying to get a prettifier working - I'd get in my terminal both raw console output and the prettified output.

But, I was able to find a `karma.conf` setting that stopped the raw console output, returning only the prettified output.

`karma.conf` has a property called client, which is an object with several properties of its own. The one relevant here is `captureConsole`

[2016-08-26 06:52] vedharish commented on #2190
Using [this](https://github.com/inexorabletash/polyfill/blob/9fdf3e202a02aa27318ea1895e4b0516f9434e83/typedarray.js) as a polyfill for socket-io 1.4.8 for IE9 seems to work

[2016-08-26 07:12] magixsource opened #2334 "Karma run on Windows7-x64 and GET NUMBER_MAX_VALUE error."
Two days ago,i try to install karma and run it . but karma not work. after update node and npm and karma to LTS, karma still not work. so I report a ISSUE:
https://github.com/karma-runner/karma/issues/2329

but karma member ignore and close it by no answer.

So i learn node-debug try to find out the reason. I debug karma line by line in pass two days,finally i found WHY. Here is
### Expected behav

[2016-08-26 07:16] magixsource commented on #2290
国际社区还是尽量用英语来表达吧。
Try you best in english .

[2016-08-26 15:12] insetCoad commented on #481
plz , can anyone post the karma.conf.js file
@robdodson
@sebarmeli

[2016-08-27 09:34] #2280 closed

[2016-08-29 19:53] jjelosua opened #2337 "Question: Karma + SauceLabs: Are tests relaunched after a browser disconnect?"
### Expected behaviour
After I get a DISCONNECT from a browser inside a SauceLabs test, does the code for the test get relaunched. It _seems_ that it is not executed again and that causes my test suite to fail after a DISCONNECT
### Actual behaviour
After a DISCONNECT the test spec that was executing at the moment of the disconnect fails.

### Environment Details

- Karma version (output of `karma

[2016-08-30 08:29] SManorathna opened #2338 "Error occurred when building node - bin/karma start karma.conf.js --no-auto-watch --single-run --no-color"
Steps to reproduce the behaviour

**1. I have the node version of v0.12.0
2. Karma version is  0.13.19
3. npm version is 2.5.1**

when building the build fails saying

**node node_modules/karma/bin/karma start karma.conf.js --no-auto-watch --single-run --no-color**

[ERROR] Return code: 1
[ERROR] Command output:
[ERROR] | ...(1513 lines of output hidden)...
[ERROR] | PhantomJS 2.1.1 (Windows 8 0.0

[2016-08-30 14:11] narainsagar commented on #1751
I am also getting the same error with `angular-cli` project, I am using these versions:
[code]

If you want to check, you may clone this [repo](https://github.com/recurship/angular2-multicomponent-form) and check. Thanks.

[2016-08-31 01:09] devanshah1 commented on #2192
@dignifiedquire any idea on an ETA, in terms of if this is in fact an issues in Karma or something I am doing that is wrong to use the actual API?

[2016-08-31 09:03] lvandergrient commented on #2325
I was able to fix this problem by adding the latest version of the `glob` package (7.0.6) to my project's `devDependecies`.

[2016-08-31 09:53] thomasyimgit commented on #1265
same issue on Mac

[2016-08-31 17:22] eklundjoshua opened #2342 "Duplicate console log messages when conflicting reporters are defined"
### Description of the problem:
In our project we have both Mocha & Remap-Istanbul defined as reporters for our Karma Tests. It seems as though these two reporters both have similar functionality in that they both intercept console.log messages that are written out from the JavaScript so there are always two log messages for every console.log message that we write. I do not think there is a featur

[2016-09-01 06:19] oocx commented on #2217
After updating other dependencies, karma 1.2 is working for me now. I don't know which combination of dependencies exactly has caused the problem. I updated from Angular RC5 to RC6 and during that update I also updated jasmine-core (to 2.5.0), zone.js (to 0.6.17), rxjs (to 5.0.0-beta.11) and several other dependencies.

[2016-09-01 06:19] #2217 closed

[2016-09-01 11:13] kuc commented on #1292
Fixed for me on version 1.2.0 :tada:

[2016-09-01 20:33] kayneb commented on #1292
Should this now be closed?

[2016-09-02 07:10] jask24 commented on #1087
I have the same problem, has any body found a solution?

[2016-09-02 20:15] ivanhdzd opened #2343 "config.frameworks.forEach is not a function in karma server"
## When try to run karma test by npm, terminal show it:

[code]

### I had been following this tutorial: [AngularJS Tests Unitarios](https://www.adictosaltrabajo.com/tutoriales/angularjs-test-unitarios/)

- Karma version `1.2.0`:

### package.json
[code]

### karma.conf.js

[code]

### tests/filters/uppercase_test.js
[code]

[2016-09-02 20:26] ivanhdzd commented on #2343
Sorry for this issue, my error was inside **karma.conf.js**
I change `frameworks: 'jasmine',` for `frameworks: ['jasmine'],`

[2016-09-02 20:27] #2343 closed

[2016-09-03 17:43] optimatex opened #2344 "Can't exclude loading images"
### Expected behaviour : Exclude images from loading
### Actual behaviour : I got this warrning:

`03 09 2016 19:38:22.290:WARN [web-server]: 404: /front-end2/assets/img/signup.png`
### Environment Details

my config:

[code]
- Karma version (output of `karma --version`): 3.10.3
- Relevant part of your `karma.config.js` file  : this file is in root folder

[2016-09-05 07:52] fkolar opened #2345 "Missing error handler on `socket`. TypeError: (msg || "").replace is not a function Error #1969"
It seems that I have the same issue with webpacket#2. version.

It happended to me when I treid to instantiate partical class which was btw. in one .ts file along with other classes. Even this class was exported. When I put this class out into separate file the problem was gone.

Is there any particulare relation between having files in the same file and using them inside the tests?

Edit: I thoug

[2016-09-05 08:34] fkolar commented on #2345
update:

Not really understanding but I can turn it on / off this issue by commenting 1 line of code.

in the test I do instantiate this class:

new RuleX(....);

[code]

When I comment out this Rule.merge - which is some static method in some other file the error is gone. Whne I put it back I see this error.

[code]

I tried to removed all the code, body everything but not sure why calling static

[2016-09-05 09:45] MadaraUchiha commented on #1751
Can this please be reopened? I'm getting the same error here.

[2016-09-05 16:02] ajsb85 opened #2347 "Upgrade chokidar"
### Expected behaviour
No warnings.

### Actual behaviour
This issue: https://github.com/paulmillr/chokidar/issues/529
https://github.com/karma-runner/karma/blob/master/package.json#L299

### Environment Details

- Karma version (output of `karma --version`): 1.2.0
- Relevant part of your `karma.config.js` file

### Steps to reproduce the behaviour

1. npm install karma

[2016-09-05 16:11] paulmillr commented on #2347
Works as expected. NPM warns about a module which is not supported on Windows.

[2016-09-06 07:06] ajsb85 commented on #2347
npm package.json supports an os key, and also optionalDependencies.

[2016-09-06 07:17] #2347 closed

[2016-09-06 14:44] svieira commented on #1292
Still seeing it here - karma@1.2.0 and karma-junit-reporter@1.1.0

[2016-09-06 17:06] paulmillr commented on #2347
@ajsb85 we are using optionalDependencies and the os field. How does adding another entry to the field help here?

[2016-09-07 13:10] malkomich commented on #2045
Probably you're using the Git Bash terminal, MinTTY, which doesn't have full support for TTY.

You have 4 options to fix the problem:

1. Use CMD terminal with the **Windows shell** (the default Windows console)
2. Use CMD terminal with the **Bash shell** (execute `"C:\Program Files\Git\bin\bash.exe" --login -i` in cmd terminal)
3. Use Powershell (an alternative terminal typically installed by def

[2016-09-07 14:36] HerrDerb opened #2348 "singleRun not closing any browser"
### Expected behaviour

With singleRun:true set,
after tests done, closing all browsers which where fetched for tests
### Actual behaviour

Doing nothing. Browser instances used for testing stay open after tests done.
### Environment Details
- Win7
- Node v6.2.2
- Karma version 1.2.0:
- PhantomJS 2.1.21
- Firefox 48.0.2

frameworks: ['jasmine-jquery', 'jasmine'],
browsers: ['PhantomJS', 'Firefox']

[2016-09-07 15:53] #2119 closed

[2016-09-07 17:13] donaldpipowitch commented on #2119
Thank you all, this is great.

[2016-09-07 18:21] Svjard commented on #1751
Getting this same issue. Very basic configuration with angular cli.

[2016-09-08 18:50] surya66 commented on #2192
I am also seeing the same issue with this API, is there a ETA on this?

[2016-09-09 13:50] nopnop opened #2351 "Invalid command: `karma completion`"
### Expected behaviour

`karma completion` should return the bash completion script as described by `karma --help` and `karam completion --help
- OR -

`karma --help` should not list the `karma completion` command anymore
### Actual behaviour

[code]
### Environment Details
- Karma version (output of `karma --version`): 1.2.0
- Relevant part of your `karma.config.js` file: _not relevant_
### Steps

[2016-09-10 19:09] joliveros commented on #2172
I have this issue as well.

[2016-09-12 08:55] DylanLacey opened #2355 "IE8 outside of an iFrame never connects to Karma Server"
### Expected behaviour
Karma can connect to a Sauce Labs session running on IE8, Windows 7 and execute a simple test suite.

### Actual behaviour
Karma will connect, then timeout waiting for messages:

[code]

### Environment Details
Sauce Labs' infrastructure

- Karma version (output of `karma --version`):
Karma version: 1.3.0.

Also tested, 1.2.0, 1.1.0, 13.22.0

- Relevant part of your `karma.c

[2016-09-12 15:45] santiagoGuti commented on #1751
getting the same issue
[code]

[2016-09-13 08:50] #2207 closed

[2016-09-13 09:48] mdocter commented on #2168
I'm encountering the same in an Angular 2 CLI project.  I first get the `Missing error handler on 'socket'.` message described in #1751 and than this one. If I clear the `reporters: [...]` array in the `karma.conf.js` file it's gone, but that shouldn't be necessary.

[2016-09-14 07:36] danthareja commented on #2064
Still curious about this one

[2016-09-14 13:57] nickawatts commented on #598
I encountered the disconnect problem this week too. After way too much experimentation with different combinations of versions of Node, Karma, Karma launchers and PhantomJS, I realized it had to be something I did, not the tools. I eventually figured out that my problem was a very poorly written (authored by, of course, me) Jasmine spec that uses Angular's `ngMock.$httpBackend ` object to unit tes

[2016-09-14 16:54] colllin commented on #1751
The problem for me was using Node v6 with karma-jenkins-reporter, which is apparently deprecated.  The solution was to switch to karma-junit-reporter.

[2016-09-15 08:28] saturn72 commented on #1087
Facing the same issue

[2016-09-15 08:54] dignifiedquire commented on #2351
Thank you for the report

[2016-09-15 08:56] dignifiedquire commented on #2355
Is there a specific reason you are using `iframe: false`?

[2016-09-15 08:57] dignifiedquire commented on #2064
You should be able to catch an event with the error. It is emitted here:
https://github.com/karma-runner/karma/blob/master/lib/preprocessor.js#L64

[2016-09-15 09:55] danthareja commented on #2064
I did a little more digging today, and from my understanding, that line will emit errors due to a preprocessor failing to start up, but will not emit an error that the preprocessor itself reports. For example when a there is a syntax error in one of the files `babel` is trying to preprocess and that error is thrown in on this line:

https://github.com/babel/karma-babel-preprocessor/blob/master/lib

[2016-09-15 10:11] dignifiedquire commented on #2064
Thank you for the digging. I like your proposal, but I would make the default to log the error as a warning and then call `afterPrepocess` so it is always surfaced and not swallowed like it is right now.

[2016-09-15 10:19] danthareja commented on #2064
Is throwing the error the right move, or would you propose a more graceful tactic?

[2016-09-15 10:23] dignifiedquire commented on #2064
I just realised, that you could simply add it to `self.loadErrors`.
The current behaviour is to exit the process if any occur, so we don't actually need to make this configurable and just exit.

[2016-09-15 10:44] danthareja commented on #2064
Oh excellent! I'll open a PR soon

[2016-09-16 01:04] haroldrv commented on #887
This is still happening on Visual Studio 2015 (update 3)  and karma 1.3.0, The workaround as mentioned by @GiffenGood is to watch a folder instead of single files

[2016-09-16 07:29] marinho commented on #1751
It happens for me with **karma-junit-reporter@1.1.0** and **karma@1.3.0**, but **only** when I have this plugin on my **webpack** config:

[code]

The mentioned script just globs a folder, parses some file and generate a dumb spec file with only `require` calls. It runs fast and works if I call it as `npm run generate-spec-with-all && ` before the test runner.

[2016-09-16 10:29] marthinus-engelbrecht opened #2361 "Feature Request: Export all the constants"
### Expected behaviour

All the constants would be exported.
### Actual behaviour

Only the VERSION constant is exported in the [index.html](https://github.com/karma-runner/karma/blob/master/lib/index.js#L22)
### Environment Details
- Karma version 1.3.0
### Reasoning

We use gulp and we want to specify the log level via the Server constructor but it would be more reliable to use the constants def

[2016-09-16 10:33] marthinus-engelbrecht commented on #2361
This should be a trivial change. I'm more than willing to do a pull request

[2016-09-16 16:42] dignifiedquire commented on #2361
Sure :) PR welcome.

[2016-09-18 20:50] danthareja commented on #2064
@dignifiedquire - it looks like `self.loadErrors` is designed to capture a specific type of initialization error:

[code]

Knowing this, it feels like a hack to use `self.loadErrors` for preprocess-specific errors, especially when I would ideally like to be able to access the error programmatically. I'm still a fan of either the proposal above, or creating another event-type for preprocessor-speci

[2016-09-19 00:51] leverage2014 commented on #1724
have same issue in git-bash, use windows command line to solve it.

[2016-09-20 12:06] alnour-altegani commented on #1004
any change about this feature ?

[2016-09-20 13:13] potapovDim opened #2368 "Uncaught SyntaxError: Unexpected token import"
karma.config.js
[code]

output
Chrome 53.0.2785 (Mac OS X 10.11.5) ERROR
  Uncaught SyntaxError: Unexpected token import
  at src/test.spec.ts:1

[2016-09-20 19:08] donaldpipowitch commented on #2119
It looks like `msg` in `formatError(msg)` isn't the whole error stack, but `formatError` is called for every line in the stack. Is this normal? E.g. I don't need to call `msg.split('\n')`, because it is already splitted...?

[2016-09-20 19:10] levithomason commented on #2119
Hm, not my experience.  You can see our implementation with before/after results here: https://github.com/TechnologyAdvice/stardust/pull/490

[2016-09-20 19:10] levithomason commented on #2119
I should clarify, we do only get the error after the failure message and PhantomJS/OS version line.  But it is a single string including line breaks.

[2016-09-20 19:21] donaldpipowitch commented on #2119
Very strange. I wonder why my setup behaves differently. Because I get every single line for `formatError` and not the whole output I generate several empty new lines on my terminal when I try to filter out node modules :/

I use mocha and except. Maybe someone else has the same problem...

My output:

[code]

The two empty lines shouldn't be there...

Also very strange: my pattern is `"source <-

[2016-09-20 19:39] levithomason commented on #2119
Perhaps a difference in versions?  We're on the karma, webpack, mocha stack.

Regarding the source / compiled, I do know the choice of `devtool` will affect the stack trace.  It could be a different webpack devtool option will give different results.  I opted for the slowest but most verbose and accurate `source-map` option.  It gave me the best msg, method names, and ln/col numbers to work with.

[2016-09-21 17:34] janeklb opened #2372 ""WARN [karma]: No captured browser" message always appears"
### Expected behaviour

Should not see any warnings when starting karma
### Actual behaviour

The following output appears after i run `karma start`

[code]
### Environment Details
- Karma version (output of `karma --version`): 1.3.0
- Relevant part of your `karma.config.js` file:

[code]
### Steps to reproduce the behaviour
1. create a new project, set up package.json with :

[code]
2. use the ab

[2016-09-22 19:17] schippie commented on #2331
Think the thing most of us would like to have is a system that allows us to debounce the incoming changes till no further changes have occurred for an x amount of ms.

A perfect example of this is illustrated within RXJS:
http://reactivex.io/documentation/operators/debounce.html

Having an option like that would be very useful.

Stand alone version of debounce:
https://davidwalsh.name/javascript-d

[2016-09-22 21:59] danielcompton commented on #2331
@schippie this is exactly what I'm after.

[2016-09-22 22:26] dignifiedquire commented on #2331
Sounds good to me. I agree it does make sense to change the option to this behaviour.

[2016-09-23 15:14] maruthi1255 opened #2373 "Some of your tests did a full page reload!"
Getting the following error while running karma test

Command:  gulp test:unit "--browsers=Chrome"

This is happing most of the time.
There is no proper stack trace to find the root cause of the issue.

Using the following karma versions

 Karma "version": "0.13.22"
 karma-coverage:  "version": "0.2.6"
 karma-jasmine:  "version": "0.3.8"

Error Log (Log):
1.Chrome 53.0.2785 (Mac OS X 10.11.6) ERRO

[2016-09-24 03:31] danthareja commented on #2064
Bump @dignifiedquire

[2016-09-24 03:32] danthareja commented on #1553
Just opened https://github.com/karma-runner/karma-mocha/pull/115 to address this issue

[2016-09-26 11:34] ry8806 commented on #1087
another one here, not using webpack or anything like that, just standard karma with chrome runner and it's recognising the changed file, but serving a cached version

[2016-09-26 12:36] NikitaAvvakumov opened #2376 "Suite with all test failing returns ERROR"
### Expected behaviour
No error should be raised if 100% of tests fail:
`Chrome 53.0.2785 (Mac OS X 10.11.6): Executed 1 of 1 (1 FAILED) (0.026 secs / 0.007 secs)`

### Actual behaviour
`Chrome 53.0.2785 (Mac OS X 10.11.6): Executed 1 of 1 (1 FAILED) ERROR (0.026 secs / 0.007 secs)`

### Environment Details

- Karma version (output of `karma --version`): 1.3.0
- Relevant part of your `karma.config

[2016-09-26 15:48] #2368 closed

[2016-09-26 22:08] evgd commented on #1087
@jchoca

great, seems you've found the solution that works for me. Thank you!
[code]

[2016-09-27 16:59] nonmanifold commented on #1969
https://youtrack.jetbrains.com/issue/WEB-23485?query=intellijUtil.js filed a bug to JetBrains

[2016-09-28 06:10] dileepkeeppalli commented on #1969
I am still facing this issue with node-forge.

`404: /base/node_modules/node-forge/js/node-forge.js
Missing error handler on `socket`.
TypeError: (msg || "").replace is not a function
    at /GE/ROBUSTA_APP/robusta-core/node_modules/karma/lib/reporter.js:45:23`

[2016-09-28 06:12] nonmanifold commented on #1969
thats probably because msg became an array of strings, I'll look up into it later today

[2016-09-28 08:39] dileepkeeppalli commented on #1969
@nonmanifold Issue has fixed for me

[2016-09-28 13:37] antonyh commented on #558
I solved this issue by deleting the `node_modules` folder and running `npm install` again - PhantomJS and Karma ran flawlessly following this cleanup.

PhantomJS 2.1.1 on Linux
Karma 1.2.0
Grunt 0.4.5

[2016-09-28 13:37] CJBrew commented on #1188
Yes, Alex, it's a crappy answer. At least you can see your logs, mine are via $logProvider and Karma helpfully hides them. Because of course nobody needs logging in a unit test. ffs

[2016-09-28 15:30] fbobbio commented on #1751
+1 with karma 1.3.0 and karma-junit-reporter 1.1.0 on Ubuntu 16_04

[2016-09-28 15:47] JanEggers commented on #1722
@dignifiedquire:

I just run into the issue bryan described.

can you please give some feedback?

[2016-09-28 15:50] dignifiedquire commented on #1722
I can see how this can create issues. Especially with third party libraries. I think an acceptable change would be to add an option to serve files case insensitive, rather than a custom resolver. If this option is activated it would result simply in calling `.toLowerCase()` on the file paths before checking their equality.

[2016-09-28 16:28] JanEggers commented on #1722
are pull requests welcome?

if so i will create one

[2016-09-28 16:48] dignifiedquire commented on #1722
yes please

[2016-09-29 15:13] jrgleason opened #2384 "Randomly getting module undefined"
### Expected behaviour

Every time I run Karma Runner and include angular-mocks the global `module` variable should be defined so I can do `beforeEach('example')`.
### Actual behaviour

On my project (which is fairly complex) about 1/2 the time module resolves to undefined. I outputed the file list using...

[code]

And the order looks correct. If I try to debug on the spot using a conditional of

[2016-10-02 15:55] thilinamgit commented on #1545
I'm getting the same error ( __karma__.start method!) with below,
    "karma": "1.3.0",
    "karma-browserify": "^5.0.5",
    "karma-chrome-launcher": "2.0.0",
    "karma-coffee-preprocessor": "^1.0.0",
    "karma-coverage": "~1.1.0",
    "karma-jasmine": "1.0.2",
    "karma-junit-reporter": "^1.1.0",
    "karma-phantomjs-launcher": "1.0.2",
    "merge-stream": "^1.0.0",
    "phantomjs-prebuilt":

[2016-10-02 22:14] orestes commented on #1751
Same problem here karma-junit-reporter 1.1.0, karma 1.3.0. Any leads?

[2016-10-03 01:29] stramel commented on #1751
I am only running into issues with Windows 8 now.

[2016-10-05 18:15] myklemykle opened #2391 "karma-cli doesn't pass clientArgs in single-run mode"
### Expected behaviour

The clientArgs handling of karma's "run" command should also work for karma's "start" command in single-run mode, when karma first "starts" then "runs".  That way, users of karma-cli (including shell scripts) can run a single test via karma-mocha with a single command.
### Actual behaviour

Karma doesn't pass client args to any clients/adapters in single-run mode.  This can

[2016-10-07 15:29] johannesjo commented on #1788
The technique suggested by @arshaw works if you only want to start a single run, but if you have tasks defined to run afterwards will not be executed.

[2016-10-07 15:40] dougrchamberlain commented on #895
@maksimr mentions this is fixed in canary branch, however. I still experience the issue. Here is my workaround. Please let me know if this resolves the issue for anyone else.  I've only tested this on Chrome, I'm sure similar approaches would work for the other browsers.  Once you enter `karma start` and the browser launches, enable dev tools, check `disable cache` from the network tab.  With the

[2016-10-09 12:27] bySabi commented on #1411
added a simple Plain Reporter for use as `default` reporter: https://github.com/karma-runner/karma/pull/2397

Maybe we can create a better `progress` implementantion using [node-status](https://github.com/derrickpelletier/node-status) package

[2016-10-10 10:29] danday74 commented on #1188
same issue - annoying!

[2016-10-11 06:12] pauldraper commented on #2391
@vojtajina [requested](https://github.com/karma-runner/karma/pull/530#issuecomment-21987888) that the arguments that work for run do not work for start.

You have to do the work yourself if you want that to work; it doesn't happen automatically.

https://github.com/karma-runner/karma/issues/672

[2016-10-11 06:19] pauldraper commented on #1321
I've had similar problems with xvfb before, but they were because I ran multiple *xvfb* sessions, not multiple browsers in the same session.

xvfb-run has a race conditions when starting sessions in parallel. http://stackoverflow.com/questions/30332137/xvfb-run-unreliable-when-multiple-instances-invoked-in-parallel

[2016-10-12 17:01] mebert opened #2402 "karma fails pep8 compliance"
### Expected behaviour
When karma python files are put through pep8 compliance test it should succeed.

### Actual behaviour
Fails on generate-test-data.py line 38
Warnings on indentations containing tabs

### Environment Details
karma 1.3.0

[2016-10-13 00:31] hmil opened #2403 "No error is returned when using a browser that is not installed."
### Expected behaviour

Given that the target browser is `PhantomJS`
and the plugin package for `PhantomJS` is not installed.
When the following code runs:

[code]

Then the console should print an error and an error status != 0 like this:

[code]
### Actual behaviour

The console shows a status 0:

[code]
### Environment Details
- Karma version (output of `karma --version`): 1.3.0
- Relevant part

[2016-10-13 22:03] noherczeg commented on #1751
Upgrading PhantomJS fixed the problem for me.

[code]

[2016-10-14 04:46] zincli commented on #2221
I made some change in #2404, now all ci passed. @dignifiedquire could you please take a look at it.  I would like to add some tests but not found tests about plugin loading.

[2016-10-14 12:01] bySabi commented on #1411
@dignifiedquire do you take a look to PR: https://github.com/karma-runner/karma/pull/2397 related to this issue?... This can be merge?

One more thing. A plugin creation question.
I create a Karma Reporter, this one https://github.com/bySabi/karma-tap-pretty-reporter  and I need print a separator string, say ------------------------  when test were re-execute on  autoWatch mode enable. I need a fl

[2016-10-14 12:18] trodrigues commented on #1662
Just came across this bug as well. Weirdly enough, this started happening once I turned `autoWatch` to `false`.

Here's my config:

[code]

[2016-10-14 13:03] saranyapm commented on #1969
I am also getting the same issue..Tried many options but everything failed :( :(

[2016-10-14 15:34] dileepkeeppalli commented on #1969
@saranyapm Hey
Did you add any new node module and that dependency in any of your angular2 application component?
If so you have to set the path in `system.config.js` and `karma.config.js` then probably you will come out from this issue.
Sample code
system.config.js
`'node-xyz': 'node_modules/node-xyz/xyz'

karma.config.js
`{pattern: 'node_modules/node-xyz/xyz.js', included: false, watched: false}

[2016-10-15 18:12] tweinreich commented on #1265
OS X 10.9.5 - same issue here

[2016-10-16 02:31] isiahmeadows commented on #1528
By the way, this appears to also be the case with the `dots` built-in reporter and both `karma-phantomjs-launcher` and `karma-phantomjs-launcher`, and I run into it fairly regularly regularly. Here's my config (pulled out some of the irrelevant bits):

[code]

I suspect it's a Karma issue (or one of its dependencies), not necessarily that of reporters.

[2016-10-16 02:32] isiahmeadows commented on #1528
To be honest, it's slightly crippling for me when I'm debugging highly async code in PhantomJS or Chrome.

[2016-10-16 02:34] isiahmeadows commented on #1528
No errors are thrown, though.

[2016-10-16 13:28] JPMoresmau opened #2408 "Running test fails with ERROR, no detail given"
### Expected behaviour

I have a new Angular2 project created with angular-cli. I haven't modified the karma files. Running ng test should run my test suite, or actually give me a meaningful error message if there was a problem.
### Actual behaviour

I get `Chrome 54.0.2840 (Linux 0.0.0) ERROR in the console`, no more detail
the browser has opened. Clicking on DEBUG gives me a blank page. The cons

[2016-10-16 18:32] benjaGarrido commented on #880
I resolved this problem doing:
rm -rf node_modules/
npm install --save-dev karma
npm install --save-dev karma-cli
npm install --save-dev jasmine
npm install --save-dev jasmine-core
npm install --save-dev karma-jasmine
npm install --save-dev karma-chrome-launcher
npm install --save-dev requirejs
npm install --save-dev karma-requirejs

[2016-10-17 11:57] saranyapm commented on #1969
@dileepkeeppalli  No..No such module. Now I am trying only with app component. Still I am facing the same issue.

[2016-10-19 02:03] allenhwkim commented on #558
I solved this issue by reinstalling node_modules
[code]

[2016-10-19 09:39] joaopgrassi commented on #2042
I'm having the same issue. If I use reporters: ['progress'] everything works, but as soon as I add teamcity it gives the exact same error as @georgeedwards described. We've updated our app to Angular2 2.0.1 and since them this issue showed up.
I don't think it is a configuration problem, otherwise with progress reporter it would also fail, I guess. @meriturva as I could see, you are also using tea

[2016-10-19 13:38] PowerKiKi commented on #1264
This is old, but for others: Instead of `.local` TLD you [should use something else](http://unix.stackexchange.com/a/92517/52623), such as `.lan`. This would avoid the issue while still allowing you to have custom domains.

[2016-10-19 20:00] justmike opened #2414 "`logger.js` ignores `layout.pattern`"
### Expected behaviour

In [`karma/lib/logger.js`](https://github.com/karma-runner/karma/blob/master/lib/logger.js#23), `setup` should use the `layout.pattern` string if it exists.

### Actual behaviour

When `layout.type === 'pattern'`, `setup` only uses one of the built-in constants:

[code]

### Environment Details

- Karma version (output of `karma --version`): 1.3.0
- Relevant part of your `k

[2016-10-21 15:35] innergap commented on #2372
I get the same behavior with a clean, out of the box project created with 'ng new site-name'.
I get the the warning, then it runs the tests, they pass, but the command doesn't exist.

[2016-10-23 19:22] monolithed commented on #2403
It seems you should install `karma-phantomjs-launcher`

[2016-10-23 19:27] hmil commented on #2403
That's not the point. The point is **given that it is not installed**, I should obtain an error.

Currently, if you integrate a karma build in some CI environment, if you forget to add the launcher dependency, or if for some reason it doesn't get installed, karma will report this as a success even though none of the tests could actually run!

[2016-10-23 19:29] monolithed commented on #2403
I see what you mean. I have got the same error and don't understand why is not documented yet.

[2016-10-24 16:47] naccarati opened #2416 "IE fails when executing tests with local storage"
Hello,

I'm trying to execute my unit tests in a remote host. When I execute it on the machine, everything goes fine, however, when I execute it remotely or as a service, I'm experience some sort of error with local storage in IE.

**Error:**

Error: This function is not supported on this system.
       at Storage (c:/xampp/htdocs/scripts/tests/unit/_test.js:1248:2)
       at DoPlugins (c:/xampp/h

[2016-10-24 22:44] Shilpi3 opened #2417 "You need to include some adapter that implements __karma__.start method!"
### Karma should work with browserstack
### Karma showing Error : You need to include some adapter that implements **karma**.start method!

Although it works fine with local browsers
### Environment Details

[code]

### Steps to reproduce the behaviour

Using conf file

[code]

[2016-10-25 00:23] khoomeister commented on #2331
I ran into this exact issue - [chokidar](https://github.com/paulmillr/chokidar) has a nice option called awaitWriteFinish which solves this problem quite well.

[2016-10-25 01:20] danielcompton commented on #2331
`awaitWriteFinish` looks useful and may be helpful, but wouldn't solve this problem on it's own probably. I still need to handle the case where multiple files are written in one recompile cycle.

[2016-10-25 06:34] khoomeister opened #2420 "karma watch tends to fail with large streamed bundles"
i currently use gulp to produce two large JS bundles from TypeScript with browserify and factor-bundle.  One bundle has all the main code and the other has all the specs.

The problem is when I use watch mode and update the bundles, karma detects two file change events on both files.  I notice karma picks up the first change where the file is empty.  This is confirmed by doing a readFileSync aroun

[2016-10-25 06:35] khoomeister commented on #2331
You're right - opened issue #2420 to discuss a different but related issue.

[2016-10-25 08:05] liwonder commented on #706
@arunkumarg Thanks for your sharing! It really helpful!

[2016-10-25 16:47] vivganes commented on #2373
@maruthi1255  Please try to do what is suggested in this comment: https://github.com/karma-runner/karma/issues/1101#issuecomment-143746280

Running with the above suggestion can help you to find out which part is doing a page reload

[2016-10-25 17:13] vivganes commented on #2324
@RALifeCoach what exactly do you mean by the guid? Can you share some logs to understand what is happening?

Not sure if it will be useful, but did you try this: https://www.npmjs.com/package/karma-steal-npm

May be this can help you in running karma with steal js.

[2016-10-25 17:21] vivganes commented on #2344
Does your test load any page that requires the image?  If your intention is to suppress the test from requesting for the image from karma server, this is not the way karma is designed to be used.  The included: false only makes sure that the image is not perceived as a test case.

**Another observation:**

With my limited knowledge I can see that `/front-end2/` is extra in the 404 message.

This w

[2016-10-25 17:29] vivganes commented on #2200
I have seen karma being used by https://github.com/mochajs/mocha
    name of the company/project (required): Mocha
    website (optional): https://mochajs.org/
    a logo (min 128x128px) if possible png (required): https://cldup.com/xFVFxOioAU.svg
    contact information (email or github handle) (required): https://github.com/tj

[2016-10-26 00:22] dawud-do opened #2422 "Karma doesn't load node_module/*/package.json to PhantomJS (404 Error)"
I'm using Karma 0.13.22
Node v6.7.0
npm 3.10.3
and PhantomJS 2.1.1

Using the angular 2 seed as a basis and when I run npm test I receive the following error:

`25 10 2016 20:08:29.857:INFO [PhantomJS 2.1.1 (Windows 7 0.0.0)]: Connected on socket 3G6Eu905pwciAA
3BAAAA with id 70262326
25 10 2016 20:08:30.128:WARN [web-server]: 404: /node_modules/@angular/core/package.json
25 10 2016 20:08:30.131:W

[2016-10-26 13:58] vivganes commented on #2417
Can you please specify the command through which you are trying to run the karma tests?  This error might be displayed when you, by mistake, run karma command from a wrong directory.

More information can be found here: http://stackoverflow.com/questions/24220888/error-you-need-to-include-some-adapter-that-implements-karma-start-method

[2016-10-26 14:04] vivganes commented on #2416
@naccarati Can you please specify the version of your Internet Explorer and the OS version too?  Something of this sort was identified as a bug in IE 11 and a patch was released to solve this issue.

More details can be found here: http://stackoverflow.com/questions/21155137/javascript-localstorage-object-broken-in-ie11-on-windows-7

In case you are using the affected version, can you try installi

[2016-10-26 14:11] vivganes commented on #2408
I can see the following snippet in the debug error log

[code]

Can you quickly check if your project has such a file and see if the line 355 leads you to any error?

[2016-10-26 15:45] aug-riedinger commented on #480
I don't understand how this is supposed to work:

I'd expect that in my code, if I have:

[code]

Then when I have `logLevel: config.LOG_INFO`, I'll read the `info logging` one, while if I have `logLevel: config.LOG_DEBUG`, I'll read both `info logging` and `debug logging`.

Am I correct? Did I miss something?

Thanks

[2016-10-26 16:36] naccarati commented on #2416
Hello @vivganes,

I've tried in IE10 and IE11 on win 7 and 8.1, both 32bits.

Tried to install the patch but still having the same problem.

Thanks for the help.

[2016-10-27 09:11] dusterio commented on #558
@antonyh sounds awfully irrational though, sounds like Microsoft :( good software shouldn't magically fix itself upon restart or reinstall.

[2016-10-27 14:36] Davy-F opened #2423 "'Require/System is not defined'"
I'm running Karma with Jasmine/Gulp. This is on the latest version of AngularJS, using ES6.

If the module in tsconfig/jsconfig is 'system', then I get the following error when running my test via gulp:

If the module is 'commonjs', I get this error:

![image](https://cloud.githubusercontent.com/assets/19592376/19771617/67ccef74-9c5b-11e6-8bd0-24634adc319f.png)

My program compiles and works fine

[2016-10-27 20:23] amypellegrini commented on #2372
I have exactly the same problem, trying with PhantomJS.

[2016-10-28 04:45] itslenny opened #2424 "Can't use http2 with Karma"
### Expected behaviour

Uses http 2
### Actual behaviour

Uses http 1.1

Is there any way to use http2 in with Karma server?

I'm running tests from gulp using:

[code]

and my site is heavily utilizing http2's concurrent connections (no bundling). It's working great in production and we're living the dream, but the tests are running horribly slow because the karma server doesn't have http2. Is th

[2016-10-28 12:18] dignifiedquire commented on #2424
To make this possible we would have to upgrade the current http server to be http2 compatible. Do you know of any good nodejs http2 severs that also work well for http1?

[2016-10-28 12:28] Florian-R commented on #2424
@dignifiedquire It should be possible to add support for this with [node-spdy](https://github.com/indutny/node-spdy), but this seems an heavy solution.

Does a config to provide a custom server instance could be an alternative?

[2016-10-28 12:36] dignifiedquire commented on #2424
@Florian-R I think it would be nice if users could just enable http2 via a config without thinking about it. Maybe making `node-spdy` not a dependency but just log an error if http2 is enabled and it is not installed prompting the user to install it. That way there is no impact for users not needing it, and if people want to use it, it's just a config + an install away.

[2016-10-28 17:21] reustonium opened #2425 "Karma reported test duration is negative"
### Expected behaviour

Running karma tests takes ~12 seconds, expect test duration (runtime) to be ~12 seconds.
### Actual behaviour

PhantomJS 2.1.1 (Windows 7 0.0.0): Executed 316 of 316 SUCCESS (1.959 secs / **-41118 mins 50.274 secs**)
TOTAL: 316 SUCCESS
### Environment Details

[Angular Yeoman](https://github.com/yeoman/generator-angular) Project.
Windows 7
- Karma version (output of `karma

[2016-10-28 17:52] reustonium commented on #2425
I think I found the issue, one of the tests is using `jasmine.clock().mocktime(time)` and that seems to be screwing up how Karma reports the duration for the test.  Since the mocked time is far enough in the past I'm guessing that the signed integer is getting flipped and going way negative.

[2016-10-28 18:45] itslenny commented on #2424
Another option is [node-http2](https://github.com/molnarg/node-http2) which is supposed to (mostly) mirror the standard http module so it might be a really easy integration. I don't know much about node-http2 vs node-spdy, but they both look like viable options.

[2016-10-28 20:10] innergap commented on #2372
Amy, I followed the directions straight from Angular2 for testing and those are the only ones that worked for me. nothing else. Watch out for the '/base' directory in the karma config file. That is needed for karma even though there is no '/base' directory in your project.
Check it out: https://angular.io/docs/ts/latest/guide/testing.html
it looks like a lot but it's basically getting karma instal

[2016-10-28 21:11] amypellegrini commented on #2372
Thanks @innergap for the time being, as it is a very small module which I'm implementing, a sort of proof of concept, I just disabled karma and I'm running the tests manually.

I'll give it a try later and return with some feedback on how it goes.

[2016-10-30 17:04] hackhat opened #2427 "Karma finishes twice when phantomjs times out"
### Expected behaviour

Finish once with error.
### Actual behaviour

Finished once with status 0. Then finishes again with status 1.
### Environment Details
- Karma version: 1.3.0
- Relevant part of your `karma.config.js` file: nothing special

[code]

+

[code]

Gulp:

[code]
### Steps to reproduce the behaviour

Normally I run my tasks with gulp and I have 3 gulp tasks with different tests in k

[2016-10-31 11:16] mgol commented on #1004
@dignifiedquire Why close? It seems to be a very useful feature request.

[2016-10-31 11:17] dignifiedquire commented on #1004
@mgol because it is over 2 years old and nobody had expressed any interest anymore

[2016-10-31 15:48] isiahmeadows opened #2429 "Deprecation warnining in Node 7"
### Expected behavior
Things to work! (i.e. no deprecation warnings crashing Karma)

### Actual behavior

[This deprecation warning:](https://ci.appveyor.com/project/isiahmeadows/thallium/build/93/job/9trd5oiry82wed4u#L615)

[code]

### Environment Details

- Karma version (output of `karma --version`): 1.3.0
- Relevant part of your `karma.config.js` file: N/A (I think - [here's my config](https:/

[2016-11-03 18:50] jdmarshall commented on #2337
We are still seeing this problem with 1.3.  It appears that disabling websocket transport helps, but I'm still gathering information.

[2016-11-04 11:45] CoderGLM opened #2437 "Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL."
I run `npm run test` in terminal, but I encountered error below, I don't know what does the error mean, how could I do?

### Actual behaviour
[code]

### Environment Details

- Karma version (output of `karma --version`):  Karma version: 1.3.0
- Relevant part of your `karma.config.js` file

[code]

## specs

users.spec.js：
[code]

[2016-11-04 13:31] vivganes commented on #2425
@reustonium Does this issue need any more work from karma?  If the issue has been addressed, I would like to request you to go ahead and close this issue.

[2016-11-04 13:37] vivganes commented on #2437
You seem to have a test (Probably the `will get json data >> Api.users` one that needs to call `done()` method. Take a look at the `function` argument.

The error message tells you that the `done()` was not called within the timeout period.  This means that the async expectation was not met.  First check if  you really need the `done` in your test case.

More details about `done` here: http://stac

[2016-11-04 13:53] reustonium commented on #2425
Perhaps just a question first.  Is it expected behavior to have the Karma test duration property affected by setting [`jasmine.clock().mockDate()`](http://jasmine.github.io/2.2/introduction.html#section-Mocking_the_Date)

This error was caused when a test used a mock date resulting in a signed integer overflow of the test duration property of the karma test.

Is that expected behavior?  Thanks!

[2016-11-04 21:31] vgvenkat opened #2439 "Link to v1.0 from v0.8 github config/coverage.html broken"
### Expected behaviour
Clicking on message link at the top that warns users "Heads Up! You're viewing the docs for v0.8, an old version of Karma. `v1.0 is the newest.`" should redirect to v1.0 page
### Actual behaviour
Page redirects to https://karma-runner.github.io/1.0/config/coverage.html with 404
### Environment Details
MBP Yosemite Chrome latest
- Karma version (output of `karma --version`):

[2016-11-05 04:22] vivganes commented on #2437
@CoderGLM it is quite possible that an exception occurs. In such case `done()` will not be called as we are just throwing `err`

Another possibility is that `users.getAuthUserInfo('552a0d2a68b89f6e13d0e07d71f831cd1797e7cd89')` did not return within the timeout period.  Is there a possibility that this method is taking too long?

[2016-11-05 04:42] vivganes commented on #2439
@vgvenkat I just raised a pull request https://github.com/karma-runner/karma-runner.github.com/pull/38

Meanwhile please check if http://karma-runner.github.io/1.0/config/preprocessors.html has the coverage related content that you were looking for.

[2016-11-05 06:13] CoderGLM commented on #2437
@vivganes There is an exception occurs, so I catch it like this:

[code]

But I encountered another error：

[code]

[2016-11-05 17:33] devanshah1 commented on #2192
@vojta

[2016-11-07 10:34] erperejildo opened #2442 "ES6 variables (const and let)"
Recently I have created this kind of variables in my app.

When I run `karma start` I get some errors saying that I cannot use this variables if I want check my app with Karma.
So I changed first of all the `const` variables to normal `var` and I ran `karma start` again and I got this:
<img width="1077" alt="karma-error" src="https://cloud.githubusercontent.com/assets/5629919/20054425/d8a265fe-a4d

[2016-11-07 15:05] #2439 closed

[2016-11-07 15:38] dignifiedquire commented on #2429
It's interesting that it is failing your build, it really should be only a warning :/

[2016-11-07 19:01] isiahmeadows commented on #2429
So is it a Node bug? I didn't think that should've changed the exit code.

On Mon, Nov 7, 2016, 10:38 Friedel Ziegelmayer <notifications@github.com>
wrote:

[2016-11-08 10:10] xudafeng opened #2443 "Support automated port"
like title, support automated port instead of hard code `9876`.

https://www.npmjs.com/package/detect-port

[2016-11-09 13:24] vivganes commented on #2442
@erperejildo Can you post the copy of your karma configuration file?  It seems to be an issue where some module is not loaded properly.

After doing some research, I am now guessing that you are facing the issue mentioned in this stack overflow question: http://stackoverflow.com/questions/31827257/referenceerror-cant-find-variable-module-in-angular-testing

Can you please check if your karma.conf.

[2016-11-09 13:29] vivganes commented on #2437
@CoderGLM I am wondering if this error is because of a typo

[code]

Can you try changing `boBe` to `toBe`. It is quite possible that it is something different from this also. but, can you please try this first?

Before that, do you really need that `expect` there? If not needed, you can totally remove that line and check

[2016-11-10 08:01] CoderGLM commented on #2437
@vivganes Not a typo error, the error occurs again when I clear `catch` block:

unit-test:
[code]

error:
[code]

When I access access_token-invalid-page in which `users.getAuthUserInfo(access_token)` has been called, the console shows :
[code]

If the parameter called `access_token` of `users.getAuthUserInfo` is valid, then the unit-test works, otherwise, `401 http error` will occur in `users.get

[2016-11-10 12:25] charpour opened #2447 "<any_browser_here> process gets killed forcibly after 2000 ms"
### Expected behaviour
The behaviour as to when to kill the browser should be configurable. There is a hardcoded value in karma/lib/launchers/process.js which is `var killTimeout = 2000`

### Actual behaviour
Since the value is not configurable the browser gets killed after 2s. If there's something running within the browser (e.g. when using karma-coverage and istanbul works on a large number of f

[2016-11-11 20:11] levithomason commented on #1640
I have similar issues with this option.  Tests run the first time, but when changing a file one of two things will happen, no tests will run, or no tests will run and the browser disconnects.

It looks like, after a file change, tests are being executed _before_ any files are served.  Here is a comparison with DEBUG logging and also logging all `karma.Server` events.  I've added my own headers to

[2016-11-12 00:44] arboreal84 opened #2450 "Signal parameter for process.kill needs to be a number not a string."
### Expected behaviour

`process.kill` takes only a number not a string.
https://github.com/nodejs/node/commit/832ec1cd507ed344badd2ed97d3da92975650a95

More information here: https://github.com/nodejs/node/wiki/API-changes-between-v0.10-and-v4 (look for `process.kill`)

### Actual behaviour

https://github.com/karma-runner/karma/blob/107cd02f5f9e42010628facdd12636f65774ecf7/lib/launchers/process.

[2016-11-12 07:21] begincalendar commented on #1597
This could be worked around temporarily using `babel-node`/`babel-cli` or the `babel-register` pre-hook (as is possible with the webpack config), but the problem is [this](https://github.com/karma-runner/karma/blob/master/lib/config.js#L364).

Webpack works around it [like so](https://github.com/webpack/webpack/blob/master/bin/convert-argv.js#L97) (refer to the `isES6DefaultExportedFunc` variable)

[2016-11-12 18:41] levithomason commented on #1597
I think a more robust solution would be to use Liftoff, which is what gulp uses, to handle CLI bootstrapping:

https://www.npmjs.com/package/liftoff

[2016-11-12 18:59] dignifiedquire commented on #1597
@levithomason I actually tried to use rechoir, the underlying module for liftoff but got blocked by issues on their side: https://github.com/karma-runner/karma/pull/2186

[2016-11-13 07:28] xudafeng commented on #2443
@dignifiedquire

[2016-11-13 08:44] dotnetCarpenter commented on #2200
We're using Karma at [SVG.js](/svgdotjs/svg.js)

+ name: SVG.js
+ website: http://svgjs.com/
+ logo: ![svgdotjs](https://cloud.githubusercontent.com/assets/43763/20244488/f8931606-a984-11e6-8075-a6a047e9cd2b.png)
+ contact: @dotnetCarpenter, @wout and/or @Fuzzyma

If/when we get a travis cron job, testing in all of our supported browsers, up and running - I will give you a stellar quote! :dancer:

[2016-11-13 08:52] dotnetCarpenter commented on #2429
@isiahmeadows Do you get code coverage on your Windows builds? I recently had a problem with [IstanbulJS's nyc](https://github.com/istanbuljs/nyc#readme) only on Windows. It didn't give an error message but my builds kept failing. In the end I [disabled code coverage for Windows](https://github.com/dotnetCarpenter/pipetree/blob/master/package.json#L8).

[2016-11-13 17:42] isiahmeadows commented on #2429
Nope. I don't use coverage at all (even though I probably should given the
project size).

On Sun, Nov 13, 2016, 03:52 Jon Ege Ronnenberg <notifications@github.com>
wrote:

[2016-11-14 08:26] wellyshen opened #2452 "ERROR [preprocess]: Can not load "webpack"!"
Hi Guys, I'am using the karma@1.3.0 with karma-webpack@1.8.0, currently I updating my webpack from 2.1.0-beta.25 to 2.1.0-beta.26, when I running `npm test` I encountered the following error, does anyone has the same issue?

<img width="828" alt="2016-11-14 4 20 41" src="https://cloud.githubusercontent.com/assets/21308003/20257741/9f14b87a-aa86-11e6-8f45-94c7a7a8730f.png">

Here's my karma.config:

[2016-11-14 16:15] romelperez commented on #2200
We use Karma at @vulcan-estudios to test our web applications, mainly based in Backbone and React frameworks.

[2016-11-14 19:58] arboreal84 commented on #2450
Apparently it's not a bug since `child_process` takes `String` and `process` takes `Number`.
Very confusing on node's part.

[2016-11-14 19:58] #2450 closed

[2016-11-15 17:31] Karankang007 opened #2457 "Allow configuring SIGKILL timeout"
The SIGKILL timeout is currently hardocoded in launcher\process.js file. On our CI build server, the process exit takes longer than 2 seconds when running large number of tests, as the process exit waits for all Chrome child processes to be killed.

Is it possible to make this timeout configurable?

[2016-11-15 22:27] elie222 commented on #1979
`sudo launchctl limit maxfiles 16384 16384 && ulimit -n 16384` did it for me.

[2016-11-16 09:24] #2424 closed

[2016-11-16 09:28] dignifiedquire commented on #1411
yes that would be really nice

[2016-11-16 09:30] #2351 closed

[2016-11-16 23:01] Aktof commented on #2452
Hey @wellyshen,

Came across the same issue. Traced it back to Webpack 2 error as the compiler was being instantiated. It seems like setting external modules in the configuration to true currently isn't supported by the validation schema. It throws the following error internally.

[code]

Which led me to the following part of the configuration:

[code]

I read the Webpack documentation stating tha

[2016-11-17 09:12] wellyshen commented on #2452
@Aktof Thanks it works :)

[2016-11-17 09:12] #2452 closed

[2016-11-18 07:47] robmcm commented on #2268
Did you manage to resolve this? It seems Phantom doesn't map stack traces to the source maps, but source maps are there for coverage etc

Is it just an issue with PhantomJS source map support?

[2016-11-19 09:02] ds009 commented on #558
I tried to change config by increasing browserNoActivityTimeout and browserDisconnectTimeout,etc. but phantomjs disconnection errors were still there.

Then enable swap space worked, as this answer said: https://stackoverflow.com/a/32444643

shell script for automation

chmod 600 /swapfile
mkswap /swapfile
swapon /swapfile
bash -c 'echo "/swapfile none swap sw 0 0" >> /etc/fstab'

Wish it can save

[2016-11-19 11:15] lordmat0 commented on #2425
Having exactly the same issue.

I don't think it's expected behavior, mocking out the date in the past shouldn't be affecting the Karma runner.

[2016-11-19 12:32] lordmat0 commented on #2425
Looked into the issue and found that this Class calls ` Date.now` which can potential be mocked out.

https://github.com/karma-runner/karma/blob/39d378d20dee61a88572225db9e1855da3adb346/lib/browser_result.js#L21

The simplest solution is to add an afterEach to take out your mockedDate, that way Karma can continue to use `Date.now`.

For example:
[code]

[2016-11-21 11:11] reposandermets commented on #1731
Created simple helper script for running single test file [github](https://github.com/reposandermets/run-single-karma-spec)

[2016-11-21 21:15] jadekler opened #2465 "[question] How to see log of launcher?"
e.x. karma-phantomjs-launcher / karma-chrome-launcher / karma-script-launcher

[2016-11-21 21:38] jadekler commented on #2465
Am I right in assuming that [this piece of code](https://github.com/karma-runner/karma/blob/master/lib/launchers/process.js#L140-L148) means that there's no way to see launcher output?

[2016-11-21 21:51] jadekler commented on #2465
I was able to replace that code with the following to make it work, but I'd really prefer to have a flag to do this. Would it make sense to PR this?

[code]

[2016-11-22 10:52] Elhebert opened #2466 "No provider from "framework:browserify""
I'm trying to use karma to run my tests, and encounter some strange error.

I'm running everything locally, and don't have karma installed globally.

As you can see in the debug logs, all the plugins are loaded correctly. I have made some research here and on SO before posting, and tried every solution I found, but (obviously) none worked:
- Tried adding the plugins in the plugins array in my conf

[2016-11-22 11:18] csvan commented on #1087
I have had this issue with both Gulp and Webpack. It is crippling since it leads to so many false alarms during testing.

[2016-11-22 13:36] odikusar commented on #598
I solved this problem by updating the browser
`sudo apt-get install chromium-browser`
or
`sudo apt-get install google-chrome-stable`

[2016-11-23 09:37] ibbatta commented on #1751
+1 for me

karma 1.3.0

[2016-11-25 06:00] nizhu commented on #1087
We've been running into the same issue and have resorted to a workaround since Angular needs code to be loaded in order (not using a module system atm)

https://github.com/nizhu/karma-watch-glob-workaround

Also includes some minimal code to reproduce this issue so hopefully it can help get this fixed.

[2016-11-25 13:57] castamir commented on #1662
ping
any progress with `autoWatch: false`?

[2016-11-25 16:44] vivganes commented on #2457
@Karankang007  This issue seems to be a duplicate of already reported issue: https://github.com/karma-runner/karma/issues/2447

Can you please take a look at it and close this issue if this is a duplicate?

There is a possibility that I am wrong in my understanding.

[2016-11-25 16:50] vivganes commented on #2466
@Elhebert It seems like you need to use `karma-browserify` in the `plugins` property.

Your plugins section needs to look like this:

[code]

Did you come across the solution mentioned in this comment : https://github.com/nikku/karma-browserify/issues/96#issuecomment-73027261

In case your plugins section already has some other entries, just add `karma-browserify` to the `plugins` array along with

[2016-11-25 16:55] Elhebert commented on #2466
@vivganes Thanks for your reply but as I explained I already tried that. Didn't worked.

I'm still trying to figure it out, but so far, haven't found any solution.

[2016-11-25 16:58] vivganes commented on #2466
@Elhebert Is it possible for you to post the full `karma.config.js` (after masking any sensitive information)?

This will help in understanding some more about your situation

[2016-11-25 17:06] Elhebert commented on #2466
@vivganes Sure, not a problem:

[code]

As I stated before, I tried to add the plugins array with karma-browserify, but it didn't help.

[2016-11-25 17:37] maksimr commented on #2466
@Elhebert you have a typo in word 'browserify'.

brow**ers**ify
browserify

[2016-11-25 17:37] #2466 closed

[2016-11-25 17:43] maksimr commented on #2429
@isiahmeadows Why do you think that problem in deprecation waring?

[2016-11-25 17:56] maksimr commented on #2465
This was introduced in this https://github.com/karma-runner/karma/pull/2267 Pull request

[2016-11-25 18:09] maksimr commented on #2442
@erperejildo Karma run your tests in real browser (in your case it is PhantomJs) so you should check support your version of the browser 'let' and 'const' OR you should use preprocessors which compile your es6 code to es5.

Exception `can not find varibale module` is raised because you have problem with loading angular-mock,
karma is saying you about it in log
![](http://content.screencast.com/use

[2016-11-25 18:09] #2442 closed

[2016-11-25 18:18] maksimr commented on #2465
@jadekler

Yes. Maybe will be better output browser log by default and hide behind the falg feature from Pull Request #2267 . Because case from #2267

1. Rare
2. Hide errors from the browser and I think it's not so obviously for user, more obviously look at flag which resume browser log (IMHO)

@dignifiedquire what do you think?

[2016-11-25 18:21] maksimr commented on #2457
Close as duplicate https://github.com/karma-runner/karma/issues/2447

[2016-11-25 18:21] #2457 closed

[2016-11-25 18:28] maksimr commented on #2443
@xudafeng it's already supported
https://github.com/karma-runner/karma/blob/master/lib/server.js#L160-L163

[2016-11-25 18:28] #2443 closed

[2016-11-25 18:33] dignifiedquire commented on #1731
Comments like this are pretty maintainer-hostile. So if you need this so badly why not create a good PR with tests to solve the issue?

[2016-11-25 18:36] maksimr commented on #2437
I close this issue because it's not related to the karma. Error in client's code.

Thanks!

[2016-11-25 18:36] #2437 closed

[2016-11-25 18:44] Elhebert commented on #2466
@maksimr OMG, I'm going to hang myself...

Thanks !

[2016-11-25 18:45] maksimr commented on #2423
@Davy-F did you setup preprocessors in karma.config.js which complie your ES6 code to ES6?

[2016-11-25 18:47] vivganes commented on #2466
@Elhebert me too...

[2016-11-25 18:50] maksimr commented on #2402
@mebert thanks! Looks like problem in dependency [utf8](https://github.com/mathiasbynens/utf8.js)

Could you provide steps which reproduce the problem and describe environment(OS,terminal etc)

[2016-11-25 20:09] maksimr commented on #2425
@reustonium @lordmat0 thanks!

But It's problem of karma-jasmine not karma:
https://github.com/karma-runner/karma-jasmine/blob/master/src/adapter.js#L226
https://github.com/karma-runner/karma-jasmine/blob/master/src/adapter.js#L211

Could you create issue in karma-jasmine project?

[2016-11-25 20:09] #2425 closed

[2016-11-25 20:15] maksimr commented on #2422
@dawud-do look at *proxy* settings - http://karma-runner.github.io/1.0/config/configuration-file.html

Karma manage files under '/base' so you could try something like this
[code]

Thanks!

[2016-11-25 20:15] #2422 closed

[2016-11-26 02:28] dotnetCarpenter commented on #2429
Anyway the buffer code in Karma needs to be changed before node version 8 or we might not be able to use Karma. This seems to be the only issue-report tracking that.

[2016-11-26 08:49] maksimr commented on #2429
@dotnetCarpenter that is true, deprecated code should be rewritten, but it look like a symptom (not a root problem)

[2016-11-27 00:12] joallard commented on #1731
@dignifiedquire As a maintainer, I get it. However, the pain that I get for hours of searching for a solution and coming up with dead ends everywhere I look, that pain is pretty real too.

Maybe the reason I had to spend this much time to find a solution is that I wasn't well versed at all in your library, at the level of not even being able to operate it. If I can't even operate the thing, how mu

[2016-11-27 04:33] vivganes commented on #2447
@maksimr  Is it okay if I try to submit a pull request for this issue?

(Thinking aloud) --> I need to setup a provision for a new property in karma config to read the SIGKILL timeout.  Let the default value be the current default value but when the user sets this value to some number in milliseconds, we need to honor that by waiting that many milliseconds before a forced SIGKILL.

Will this work?

[2016-11-27 09:28] maksimr commented on #2447
@vivganes sure

sounds good!

Thanks!

[2016-11-28 09:23] erperejildo commented on #2442
Perfect, thanks for the explanation 👍

[2016-11-28 11:30] isiahmeadows commented on #2429
@maksimr I honestly have no idea. I just happened to notice a problem and reported it.

[2016-11-28 11:59] dignifiedquire commented on #2420
I don't think we should enable this by default, as it has some considerable drawbacks, as mentioned in  https://github.com/paulmillr/chokidar. But it would be good to expose as an option to be configurable.

[2016-11-28 12:03] dignifiedquire commented on #2465
It should be possible to pipe the output from the spawn to the console, without creating the buffer issue. It might be interesting to try out for spawning https://github.com/sindresorhus/execa which I have made good experiences in the past.

[2016-11-28 12:07] dignifiedquire opened #2472 "Simplify config.js"
The current configuration code is pretty messy, it would be great to streamline this and make it more generic, so it's easier to define and document configuration options.

[2016-11-28 12:09] dignifiedquire opened #2473 "Move cli to yargs"
Our current cli setup needs some cleaning up and improvements. [Yargs](https://github.com/yargs/yargs) is really good and well maintained so we should transition to using that.

[2016-11-28 12:24] dignifiedquire opened #2474 "Call for Contributors"
As you might have noticed, I'm struggling to maintain all of the karma eco system. This is why I am asking today for **your** help. If you want to help, please leave comment here so we can get talking. The things that need help the most are

## Issues & Support

- Adding labels to issues
- Responding and asking for more feedback
- Closing outdated and solved issues
- Responding to support and help

[2016-11-28 13:33] vivganes commented on #2474
@dignifiedquire I am very much willing to contribute!

Tell me how I can help :)

[2016-11-28 13:37] dignifiedquire commented on #2474
Awesome, from the areas listed above, are there specific things you would like to work on?

[2016-11-28 13:53] dhoinka commented on #2474
I would like to help ... preferably I would like to fix bugs if you could point me in a direction

[2016-11-28 14:08] dignifiedquire commented on #2474
Great, you can start by looking at this list: https://github.com/karma-runner/karma/issues?q=is%3Aopen+is%3Aissue+label%3A%22type%3A+bug%22 If you find something that you work on, leave a comment. If it's not clear how to fix or you need some guidance just let me know just write on the issue and I'll try to help as I can

[2016-11-28 14:59] kostkobv commented on #2474
@dignifiedquire I would like to contribute as well

[2016-11-28 15:00] tiagomsmagalhaes commented on #2474
I would like to contribute, but at a glance it seems overwhelming for me... I have professional experience with AngularJS and exploring E2E testing with Protractor (and some shallow exploration of webdriver), I hope this info is good enough to provide some guidance..

[2016-11-28 15:15] dignifiedquire opened #2475 "[refactor] Find replacement for DI"
The di (dependency injection) module we currently use is ver outdated and the di setup we have is pretty hard to understand, especially for people new to the code base.

Currently all plugins though depend on it, so we need to find a backwards compatible solution or at least an interface that is as simple to use as the current one for plugin authors.

[2016-11-28 17:43] trodrigues commented on #1662
It seems like this issue is fixed for me now, when using `autoWatch`. I have the following versions of the relevant packages:
[code]

karma and karma-webpack had updates since the version I set on my package.json so I assume one of them fixed the issue.

[2016-11-28 18:49] boneskull commented on #2474
As much as I'd love to offer to take over maintenance of karma-mocha, we barely have enough resources to manage our own code.

At the risk of broaching a sensitive subject...

All these projects are copyright Google? Users must sign a CLA to contribute. Google's CLA is not particularly friendly to contributions by 3rd-party employees (or anyone except Google, really). This means fewer contribution

[2016-11-28 20:58] romulocintra commented on #2228
@dignifiedquire  if you describe the correct behaviour i can take over this  bugfix and propose a pr with possible solution

[2016-11-28 22:00] charpour commented on #2447
@vivganes thanks for taking a peek at it.

[2016-11-29 00:45] vivganes commented on #2474
@dignifiedquire I would love to take up improvements in the following areas:

- Documentation and Website
- karma-intellij

I will also help in triaging issues.

[2016-11-29 01:52] jeserkin commented on #2474
@dignifiedquire if help is still required, then count me in!

I'm using Karma on a daily basis, so I'm very interested in projects well-being.

[2016-11-29 10:47] dignifiedquire commented on #2474
@tiagomsmagalhaes I will try to start labeling issues with difficulty to help with that. In the meantime things like going through the documentation and making sure things are up to date should give you  a good way to learn your way around.

[2016-11-29 10:51] dignifiedquire commented on #2474
@vivganes added you to the main repo and karma-intellij

[2016-11-29 10:52] dignifiedquire commented on #2474
@jeserkin we have enough work for everyone :)

Anything in particular you would like to start working on?

[2016-11-29 10:53] dignifiedquire commented on #2474
@boneskull I am not a Google employee, but @vojtajina the original author of karma was when he wrote the project which is the reason it is still under the Google umbrella right now. I'm talking to them about changing this, but I don't know if and how fast things in this area will change.

[2016-11-29 10:54] dignifiedquire commented on #2474
@kostkobv great, anything in particular you would like to start working on?

[2016-11-29 10:55] jeserkin commented on #2474
@dignifiedquire I think closest topics to me are:
* karma-phantomjs-launcher
* karma-moch
* karma-jasmine

Plus labeling issues or requesting more information.

[2016-11-29 16:51] erperejildo commented on #2442
I have installed angular-mocks and the problem now is different. I created a new factory (Angular) called `cardsFrequencyFactory` and karma displays this error:

I'll try to go deeper into it...

[2016-11-29 17:03] kostkobv commented on #2474
@dignifiedquire I would like to work with karma-mocha, karma-jasmine and karma-phantomjs-launcher for the same reason as @dignifiedquire.

Still I'm open to assist with any kind of issues on any plugin

[2016-11-29 17:10] dignifiedquire commented on #2474
@jeserkin @kostkobv added you to those three repos.

For everyone I have given `write` access: Please no merges without review of at least one other contributor, and on karma itself no merges without my approval. Also no pushes to `master` please.
Also please keep your work to personal forks rather for now. Thank you 🎉

[2016-11-29 21:47] maksimr commented on #2475
IMHO

I really like idea of dependency injection :neckbeard: .
Only one thing in karma's DI like a magic. It is DI using comment in function's argument:

[code]

@dignifiedquire why do you want replace it? Only because people can not understand it?
Really they don't understand it or maybe we could improve DI's API make it more obvious if it's not ovious now

✌️

[2016-11-29 22:48] tmair commented on #2429
Just as a reference the deprecation warning was introduced with https://github.com/nodejs/node/pull/8169/commits/996389c0b9bf87e3b393d06e18e722635035d579 and reverted with https://github.com/nodejs/node/commit/4fffe32a4b3a93548c4d39b1c2531aa38403b5e6. So in the next 7.x node version it should not cause any troubles anymore, but it might be a breaking change in nodejs 8

[2016-11-30 03:04] boneskull commented on #2474
@dignifiedquire Hmm. Are they just no longer interested in Karma?

[2016-11-30 07:35] dignifiedquire commented on #2475
@maksimr I am not sure, maybe just update things to use a newer library. If we are happy with DI itself I am happy to just move to a maintained library.

[2016-11-30 10:43] erperejildo commented on #2442
Ok, I just realised what the problem was. I was loading in my gulpfile my factories after app.js. For the app this was ok because I concatenated all the files in one but for karma this didn't work well.

Thanks again!

[2016-12-01 00:15] grifball opened #2477 "BindAddress option"
I'm sorry if this option already exists and I just didn't notice it.
I'm using karma on a private project on a server with port 9876 open.
Rather than going through and closing that port in the firewall, it's easier just to bind to 127.0.0.1 instead of 0.0.0.0.
So I added support into karma for that, it's a simple change, I included a diff of the files.
I'm using karma version 1.3.0
[diff new old.

[2016-12-01 08:25] maksimr commented on #2477
@grifball Karma don't have this option now
We had a [pull request(PR)](https://github.com/karma-runner/karma/pull/1214) about it with long discussion.
It will be nice if you look at this PR and reanimate it

Thanks!

relates https://github.com/karma-runner/karma/issues/1593

[2016-12-01 08:31] maksimr commented on #1593
@larkin
Join this issue with #2477
It will be nice if you or @grifball create pull request

Thanks!

[2016-12-01 08:31] #1593 closed

[2016-12-01 08:37] maksimr commented on #2417
@Shilpi3 you should define property `framework` in your config

[code]

Look at documentation - http://karma-runner.github.io/1.0/config/configuration-file.html

Thanks!

[2016-12-01 08:37] #2417 closed

[2016-12-01 08:44] maksimr commented on #2427
@hackhat how many karma servers do you run in parallel?
Is this problem reproduced for Chrome?

[2016-12-01 08:56] maksimr commented on #2384
@jrgleason looks like you code rewrite global variable `module` try use `angular.mock.module` instead `module`

Thanks!

[2016-12-01 08:57] maksimr commented on #2249
Already fixed in PR #2318

[2016-12-01 08:57] #2249 closed

[2016-12-01 08:59] maksimr commented on #2344
@optimatex you have incorrect proxy settings (see comment from @vivganes )

[2016-12-01 08:59] #2344 closed

[2016-12-01 13:21] hackhat commented on #2427
2 servers, I think it didn't happened but I will confirm later. Thanks

[2016-12-02 01:25] jdmarshall commented on #2152
I believe this is the problem.  In BaseLauncher, restart() calls self.start, which should emit a new start() event and cause the _start() functions to be called in the custom launchers.

But the event only fires the first time.

It may be that a different restart mechanism is needed.

[2016-12-02 05:53] wesleycho commented on #2474
I would like to assist as well - in particular, I would like to assist with the core, and maybe other plugins. In particular, I (selfishly) would like to work on whatever is necessary to implement support for headless Chrome, as I've been bitten more than once by PhantomJS (including today) :) , but I also am willing to work on any other task needed too.

Is there a gathering point for people to d

[2016-12-02 08:10] jeserkin commented on #2474
Regarding @wesleycho second paragraph. I've also thought about a way to discuss quickly some questions. There are different ways for it. Gitter, Slack, Skype, SO Private chat room.

[2016-12-02 08:20] maksimr commented on #2416
@naccarati look at https://connect.microsoft.com/IE/feedback/details/794531/getting-an-exception-this-function-is-not-supported-on-this-system-when-using-localstorage-when-ie-started-under-the-windows-service

Close as duplicate of https://github.com/karma-runner/karma-ie-launcher/issues/10

[2016-12-02 08:20] #2416 closed

[2016-12-02 08:28] maksimr commented on #2342
@eklundjoshua could you post config for karma-remap-istanbul?

Thanks!

[2016-12-02 08:32] maksimr commented on #2345
@fkolar could you debug and look at value of **msg** variable here `TypeError: (msg || "").replace`

Thanks

[2016-12-02 08:34] maksimr commented on #2348
@HerrDerb do you run karma from console?
If **yes** then which exit status return `karma start ...` command

Thanks

[2016-12-02 08:37] maksimr commented on #2427
@hackhat thanks!

If you confirm that this problem reproduce only for PhantomJs than problem in PhantomJs launcher not karma itself.

[2016-12-02 08:39] fkolar commented on #2345
I am closing this issue as this one is already resolved while ago. The main problem was it could not instantiate certain class , - and it was at the time I was using barrells and try to import Class as {XX, XX, XX, XX} from 'One common root',  and it did not work propertly - when I imported every single class it started to work.

[2016-12-02 08:39] #2345 closed

[2016-12-02 12:25] StlthyLee commented on #1265
I too am seeing the same issue as nicopeeters on the same environment.

[2016-12-02 14:01] randakar commented on #1751
+1

[2016-12-02 14:13] Anmo commented on #1868
I had the same problem and I used the `require.context` like is suggested in [karma-webpack docs](https://webpack.github.io/docs/usage-with-karma.html#alternative-usage).

The problem with this approach is that you can't include test dynamically (just test one spec for instance).
I did a work around with `webpack.definePlugin`. With the karma config pointing to the `test/test_index.js` I changed t

[2016-12-02 15:01] eklundjoshua commented on #2342
@maksimr Thanks for the follow up! Here is the **karma.conf.js** that I'm currently using:

`var path = require('path');

var webpackConfig = require('./webpack.config');

module.exports = function (config) {
    var _config = {

        // base path that will be used to resolve all patterns (eg. files, exclude)
        basePath: '',

        // frameworks to use
        // available frameworks: h

[2016-12-02 16:50] maksimr commented on #2342
@eklundjoshua

From [remap-instanbul](https://github.com/SitePen/remap-istanbul)

![](http://content.screencast.com/users/maksimrv/folders/Jing/media/280b1ff7-5d02-4026-8aa2-b2fd15d8717b/00000301.png)

Try remove `'text': null` from `remapIstanbulReporter` reporters

Thanks

[2016-12-02 16:56] maksimr commented on #2391
@pauldraper Thanks

close as duplicate https://github.com/karma-runner/karma/issues/672

[2016-12-02 16:56] #2391 closed

[2016-12-02 21:34] #2403 closed

[2016-12-03 03:16] Emeegeemee commented on #2473
Might want to verify that switching to yargs addresses #213 (would guess so, but I've never used yargs) or just close it since its pretty old . Also if this is up for grabs, I might have some time to give.

[2016-12-03 08:28] dignifiedquire commented on #2473
I checked and it looks like yargs does not have this issue anymore :)
I've used yargs already in two different projects and it's been a pleasure so far.

Great, let me know if you have any questions

[2016-12-03 13:36] abouthiroppy commented on #2474
I would be willing to help with contributing karma-cli:)

[2016-12-03 21:57] grifball commented on #2477
I looked at #1311 and #1214 and they both seem fine to solve this issue, so I added them in and fixed the unit tests so that the dummy web server accepts the correct arguments. I'll make a PR.

[2016-12-03 22:41] maksimr commented on #2248
@balu123456 could you create stub project which reproduce this problem

Thanks!

[2016-12-03 22:52] maksimr commented on #2429
@isiahmeadows @dignifiedquire it's interesting karam use `new Buffer` only.
So problem not in karma itself, looks like one of dependencies use deprecated format for `Buffer`.

[2016-12-03 23:05] maksimr commented on #2429
@isiahmeadows could you reproduce this problem on stub project?

[2016-12-04 01:59] dotnetCarpenter commented on #2429
new Buffer might also be deprecated so hold your breath. Very unfortunate I
can't currently find the source of this claim. I saw it somewhere in a
discussion of a PR in node. https://github.com/nodejs/node/pull/

On Sun, Dec 4, 2016 at 12:05 AM, Maksim Ryzhikov <notifications@github.com>
wrote:

[2016-12-04 02:28] wesleycho commented on #2429
I see `new Buffer` used https://github.com/karma-runner/karma/blob/8b1b4b1052925e15770a0d4017a6ebc9ea89c0ed/lib/middleware/common.js#L43-L46 - in particular, Node seems to have deprecated all of the `new Buffer` usages as well, see https://nodejs.org/api/buffer.html#buffer_class_buffer . Would it be reasonable to change these two usages to `Buffer.from` and `Buffer.alloc`?

[2016-12-04 02:30] wesleycho commented on #2373
Usually this type of error can occur when one is doing something like `window.location.href = 'http://example.com';` - this is something a user must work around karma to test, as the test environment is iframed, and changing the location compromises the test environment.

[2016-12-04 02:47] wesleycho commented on #2372
Wouldn't `logLevel: config.LOG_INFO` suggest it is supposed to log any info logs or higher, which would include warnings since warnings are at a higher level?

Here are the docs on logLevel:

[code]
See `logLevel` [here](http://karma-runner.github.io/1.0/config/configuration-file.html).

[2016-12-04 02:56] wesleycho commented on #2338
What is the behavior that you are reporting here?

Is it the failure of the script from the test failures? If so, that is expected behavior by Karma. Otherwise, more details should probably be given, as there is not enough to adequately address what is being attempted to be asked, and guessing isn't a good approach :) .

[2016-12-04 03:07] wesleycho commented on #2342
I've seen this issue in my app as well, it turns out that it doesn't matter what reporters you are using with remap-istanbul - I was able to isolate it as a karma coverage reporter issue.

[2016-12-04 04:34] wesleycho commented on #2342
After doing some chasing around, I am mostly convinced this is because karma-remap-istanbul is using `baseReporterDecorator`, so when writes are triggered in the base reporter, it propagates to the karma-mocha-reporter and karma-remap-istanbul.

I would recommend for fixing this that the writing of the logs be delegated to another reporter type that is not base, and have dots and progress use that

[2016-12-04 08:42] maksimr commented on #2429
@wesleycho

Yes, but it's not related to warning from current issue.

Thanks

[2016-12-04 08:55] w3chtml commented on #553
@bochove Should be useful
http://thejsguy.com/2016/01/03/controlling-which-tests-run-in-jasmine.html

[2016-12-04 21:59] gabrielcsapo commented on #2304
@MLefebvreICO seems like Chrome does (https://developer.chrome.com/extensions/desktopCapture)

[2016-12-05 09:56] jeserkin commented on #2474
For those, who are members now and support Karma project more actively I propose https://karma-runner.slack.com. Since as @wesleycho mentioned it is useful to have a place to ask questions not issue related and discuss other maintenance matters. If someone is interested, then ping me or contact via email and I can add you to the domain.

[2016-12-05 15:21] jonesmac commented on #1731
I just ran into this issue today.  While I would like to find an easy way to specify an individual file, the other answer in the SO thread does give a way to test a describe block which is very helpful.  For me, when I want to run tests on an individual file, calling out the name of a describe block is sufficient.
[code]

[2016-12-06 05:17] wesleycho commented on #2321
Karma will run all the tests it can, as each spec run is instantiated fresh.

Having a minimal reproduction would help greatly for debugging this - otherwise it would be very difficult, if not outright impossible, for anyone to help. FWIW, I do not have any issues with Webpack, karma, and PhantomJS with regards to not exiting with a proper exit code on test failure.

[2016-12-06 05:18] wesleycho commented on #2320
Looks like this has already been released, so this can probably be closed now.

[2016-12-06 05:27] wesleycho commented on #2292
Wouldn't another option be to not use an iframe using `client.useIframe`?

In any case, this can probably be closed as a support issue.

[2016-12-06 05:28] wesleycho commented on #2305
I have not had this problem either - this can probably be closed as fixed in a newer release.

[2016-12-06 05:32] wesleycho commented on #2243
Is this still an issue? I haven't seen something like this when a file isn't found, it just spits out a simple 404 in the console with the actual path it tried to request for.

[2016-12-06 05:57] wesleycho commented on #2221
Can you explain more in detail your setup that causes this problem to be exposed? The change in the PR is likely not to get merged, as it appears to add potential problems & smells like a hack. With more detail, a better fix can probably emerge.

[2016-12-06 08:15] maksimr commented on #2320
Close as duplicate https://github.com/karma-runner/karma/issues/2310

Feel free reopen
Thanks

[2016-12-06 08:15] #2320 closed

[2016-12-06 08:17] maksimr commented on #2292
Agree with @wesleycho try use `useIframe: false` it should resolve your issue

Thanks

[2016-12-06 09:15] jeserkin opened #2485 "Discussing switch from gitter to slack or ..."
As all well know, official way for asking quick questions and discussing product at hand is [gitter](https://gitter.im/karma-runner/karma) channel, but it is somewhat limited in capabilities.

I looked around on the web to propose something, that might be more efficient.
1. Slack:
1.1 Free package has some limitations as well, like searchable messages amount, but if one would compare it to Gitter,

[2016-12-06 10:37] #2325 closed

[2016-12-06 12:23] wesleycho commented on #2209
What is happening here is that karma is truncating the strings before `/base`

[2016-12-06 12:32] wesleycho commented on #2053
It should be noted that you shouldn't install karma globally, just the cli. An installation of karma should be specified with a package.json, along with plugins like the launchers.

[2016-12-06 13:08] Dinistro commented on #1788
I also had this issue. I was able to fix it with a workaround provided here: https://github.com/karma-runner/gulp-karma/pull/23#issuecomment-232313832

[2016-12-06 14:11] #2190 closed

[2016-12-06 14:28] zincli commented on #2221
Thanks you guys. This issue could be closed. We had drop the use of npm-install which causes this problem. `npm install` is too slow for us T_T, but now we found another way faster to install.

[2016-12-06 14:28] #2221 closed

[2016-12-06 15:44] wesleycho commented on #2485
Discord is another option too. My personal preference is for something like Slack or Discord.

[2016-12-06 20:57] eklundjoshua commented on #2342
Thank you @maksimr. I tried your recommendation but still saw the duplication of logs. Thank you @wesleycho for your detailed findings as well!

[2016-12-06 22:22] wesleycho commented on #1250
This should probably be closed, I don't think there is enough actionable information, plus the version of karma is old.

I suspect there are other open issues with more detail that likely overlap with whatever is at play here.

[2016-12-07 06:53] santaclauze opened #2488 "Testing fails to test certain files"
I am using Karma with a React boiler plate. Testing has been fine so far, but i encountered an issue where Karma simply skips a directory.

The directory is built in the same way as all other tested directories, the only notable difference that I was able to identify was that the length of the directory name seemed to enable or disable the Testing.

### Expected behaviour
Test directory `CardDeckW

[2016-12-07 07:40] jeserkin commented on #2485
Can one send code snippets in there as well? @wesleycho I know, that it was mainly used by gamers, did that change?

[2016-12-07 10:21] isiahmeadows commented on #2429
Welp...it's [likely *not* an issue](https://ci.appveyor.com/project/isiahmeadows/thallium/build/karma-windows%20143) with Karma itself, but one of its dependencies. I'm investigating which.

[2016-12-07 10:23] isiahmeadows commented on #2429
Here's the involved files:

- `karma.conf.js`:

[code]

- `package.json`:

[code]

- `test.js`:

[code]

[2016-12-07 10:28] #2429 closed

[2016-12-07 10:30] #2361 closed

[2016-12-07 10:37] dignifiedquire commented on #2485
Discord is used by the react community, after they had issues with Slack. Some background here: http://yangshun.im/react/blog/2015/10/19/reactiflux-is-moving-to-discord.html

[2016-12-07 10:55] jeserkin commented on #2485
I have tried Discord and I have to say, it feels limited. One thing, that I noticed right away, was that there is no way to select whole text in message box with mouse, seems like a simple thing. Plus, those who do not know the code syntax will have no idea how to paste it there for it to be readable. All settings just scream "gamers". It is hard to say, why React did choose it.
Slacks message fie

[2016-12-07 10:59] maksimr commented on #2485
@jeserkin slack for public chat? If **yes** then second question could we make slack allowed without registraction only on view (for example)

[2016-12-07 11:24] dignifiedquire commented on #2485
Slack requires registration, so there is no browsing or checking of content without it, which for me is a large negative. Both stack overflow and github allow everyone to browse without registration.

[2016-12-07 11:36] jeserkin commented on #2485
I think Slack has guest access, but it is only for paid plans if I am not mistaken.

[2016-12-07 14:10] dignifiedquire commented on #2292
Closing, please let us know if this persists @mahmoodabuzaina

[2016-12-07 14:10] #2292 closed

[2016-12-07 14:12] dignifiedquire commented on #2228
@vigreco yes we should keep this. The reasoning being that you usually use `console.log` for debugging, while still wanting to keep only errors otherwise.

[2016-12-07 14:15] dignifiedquire commented on #2474
@wesleycho added you to the main repo, so you can add labels.

@everyone I appreciate all the feedback and work already being done. Thank you!

[2016-12-07 14:17] dignifiedquire opened #2489 "New Launcher - Chrome Headless"
@wesleycho mentioned he would like to work on this. So opening an issue for planning.

[2016-12-07 14:18] dignifiedquire commented on #2474
- Discussion about chat/forum: #2485
- Issue about headless chrome: #2489

[2016-12-07 14:18] dignifiedquire commented on #2474
@abouthiroppy great, it really needs some love =)

[2016-12-07 14:22] dignifiedquire opened #2490 "Drop support for Node 0.10 and 0.12"
I mentioned this before, the original plan was to support the latest three releases of Node.js and to follow along with the LTS schedule: https://github.com/nodejs/LTS

At the end of the year both 0.10 and 0.12 will have reached end of maintenance, so Karma can drop them safely.

This should happen in a new major release, aka 2.0.

Things to be done for this

- Update docs
- Update engines matcher

[2016-12-07 14:23] wesleycho commented on #1717
Closing this as this looks like purely an Angular 1 testing issue :) . What @jrhdoty said is correct though, this is an issue with properly injecting locals in Angular.

[2016-12-07 14:23] #1717 closed

[2016-12-07 14:35] wesleycho commented on #1643
I'm confused with this - I don't see any proxying in the configuration, how is this being proxied?

[2016-12-07 14:48] wesleycho commented on #1682
Closing, as this appears to be fixed by https://github.com/karma-runner/karma-runner.github.com/commit/c2760258284cb195f60dd8e961ecbc065b9a88ce#diff-dc3f769f4b7820f0f31d4c5c9065b392

[2016-12-07 14:48] #1682 closed

[2016-12-07 14:54] maksimr commented on #2489
@dignifiedquire  reporter? Looks like it should be launcher :)

[2016-12-07 14:55] wesleycho commented on #1627
If it directly requests `http://localhost:4848/qrs/...`, then there is nothing you can do. One thing that can be done is to change the request url to hit `/qrs/extension/schema?...` in the client code, and have a proxy in your codebase to send the request over to.

Even better would be to mock out the XHR mechanism, that way it avoids fragility from testing the server/client interaction.

[2016-12-07 14:58] wesleycho commented on #2489
Should be launcher - from what I understand, we need to add support for xvfb (https://github.com/karma-runner/karma/issues/1320) in core before we add a new launcher, is this correct?

[2016-12-07 15:03] wesleycho commented on #1621
Closing this as a support ticket - PhantomJS uses quite an outdated version of Webkit, so one cannot use most raw ES2015 features with it.

[2016-12-07 15:03] #1621 closed

[2016-12-07 15:03] dignifiedquire commented on #2489
Yes it should be launcher :D

@wesleycho why do we need support for xvfb in core, as far as I understand there are chromium builds which are really headless:

- https://news.ycombinator.com/item?id=11839303
- https://bugs.chromium.org/p/chromium/issues/detail?id=546953#c54

[2016-12-07 15:10] wesleycho commented on #2489
Ah, was xvfb only for when there was not a headless version? I must've misunderstood the situation when researching this before.

Doing some more searching, it appears that the `--headless` parameter is going to be added to Chrome eventually - do we want to create a separate launcher for headless Chromium? How do we want to handle using the headless Chromium itself? Currently it looks like one has

[2016-12-07 15:18] wesleycho commented on #1567
Karma has nothing to do with $httpBackend from Angular 1. One could configure one's application for testing where it makes a request to `/api/url` and `/api` is proxied to your api server in the karma config. On the Angular 1 side, one could use the ngMockE2E module and use $httpBackend.passThrough

[2016-12-07 15:32] wesleycho commented on #1374
This sounds like a potential PhantomJS issue. This doesn't sound like the responsibility of karma.

This sounds like a relevant piece of information though: https://github.com/ariya/phantomjs/issues/10162 .

FWIW, I want to create support for headless Chrome/Chromium, so that should probably address this problem once that is done.

[2016-12-07 15:39] wesleycho commented on #1301
Why would one want to use karma with zero tests?

[2016-12-07 15:58] wesleycho commented on #1282
Looking at the code path and seeing what is said from prior attempts to debug in comments here, my suspicion would be that a V8 bug is lurking here (although I do not know if it would be fixed already), or Socket.io isn't doing the right thing in IE9 [here](https://github.com/karma-runner/karma/blob/ee10977ba6a87d40e76c41439c64aef7264caffa/client/karma.js#L170-L182).

On `register`, socket.io crea

[2016-12-07 18:08] jlmakes opened #2491 "(Question) Is it possible to add a file to the preprocessor file list programmatically?"
I maintain the [Karma Rollup preprocessor](https://github.com/jlmakes/karma-rollup-preprocessor), and I've encountered some challenges with `autoWatch: true` and Rollup: a changed file will be reprocessed but not the dependencies it imports... so you can easily end up with stale tests.

I have hacked a solution together where I map the dependencies of each file, and manually change the accessed/mo

[2016-12-08 05:41] wesleycho commented on #2269
This sounds like a legitimate failure in the test being executed, although without a minimal reproduction/more details, we likely cannot help here.

[2016-12-08 08:34] kopax commented on #2488
I have the same bug here.

When the path is too long the .test.js file got ignored.

I fixed that by creating a `FIX` directory in every parents of my ignored tests, doing a manual import myself.

Any information on this ?

[2016-12-08 14:32] wesleycho commented on #2259
This is because that glob pattern is overly broad.

IMO, that is fine, because a broad glob pattern has huge negative performance implications as well. This is one area where I think supporting has large negative ramifications for the user on the performance side, and that nothing more should be done in karma itself in regards to this area.

[2016-12-08 14:51] wesleycho commented on #887
Is this something that can be addressed by the library? This seems like not great behavior by these editors in question, and not sure there is anything that can be done about this.

[2016-12-08 17:01] dignifiedquire commented on #2491
I'm not a 100% sure how karma-webpack does it, but I know that it works fine in the auto watch scenario (or at least it did the last time I checked). It might be worthwhile to look at this code: https://github.com/webpack/karma-webpack/blob/v1/src/karma-webpack.js

I think the answer is yes but I need to dig into the code first to give a more helpful answer.

[2016-12-08 18:47] jlmakes commented on #2491
Thanks for the response @dignifiedquire

Feeling a bit in over my head... but reverse engineering existing packages and reviewing the source seems to be par for the course. I just learned you can inject dependencies with inline comments 😂

I'll see what I can figure out...

[2016-12-09 04:07] ruofeng086 opened #2495 "using vue-cli implement npm run test script appear error"
hi all. I using vue-cli development project, implement test script appear error
as follows:

[code]

version as follows:

[code]

I hope get help, thank in advance!

[2016-12-09 12:02] dignifiedquire commented on #2495
The important error is here: `Error: [vuex] vuex requires a Promise polyfill in this browser.`

You are trying to test vue inside PhantomJS which does not have an appropriate `Promise` implementation, so you need to provide a polyfill.

[2016-12-09 13:23] wesleycho commented on #2342
Just so a solution is out in the open, we could either move to create another reporter type that can be decorated around, or we can try making a mixin pattern of sorts to do this. A mixin pattern would probably be more flexible than an inheritance pattern here, and not create problems in case we missed other features of the reporter we missed.

[2016-12-09 16:47] JPMardelli commented on #2342
I've got similar issues when running with the karma coverage reporter and the karma mocha reporter. Any of the config options to turn off console reporting do it for both, can't find a way to turn one of and not the other without rewriting them. Wish there was an option for which reporter to send console output to. Also unrelated, but I don't understand why the coverage reporter doesn't respect th

[2016-12-10 04:18] nickmccurdy commented on #2490
Note that 0.10's maintenance has already ended (0.12 ends December 31st).

[2016-12-10 05:36] Emeegeemee commented on #2473
I've started to look into this a bit more and I think I've run into a small problem. So far I'm trying to match the yargs.parse object to optimist.parse object. What I've found if that when you specify a command flag yargs will always puts the property into the argv object by setting it to false or undefined if the flag represents a boolean in the former or anything else in the latter. This in its

[2016-12-10 05:44] wesleycho commented on #2233
In this case, likely what is desired is to use a proxy. @tangbc can you let us know if either approach works for you, so that we can close this issue?

[2016-12-10 05:47] wesleycho commented on #2209
@dignifiedquire what are your thoughts on perhaps making a breaking change to choose a unique name for the base url, such as `karma-base/`? It would be much less likely to conflict than a common name like `base` is alone.

[2016-12-10 22:43] wesleycho commented on #1235
What would grep like support look like for this @dignifiedquire? I have had a work request for this on my team a couple of months ago, as it would aid developer workflow greatly when using an IDE like WebStorm, so I would be interested in implementing support for this.

[2016-12-11 06:54] wesleycho commented on #1687
Going to close this due to staleness & lack of response to suggestion to adjust the proxy for the original issue - this is not really actionable, feel free to open a new issue if this is still a problem with more detail (a minimal reproduction is generally very useful in order to assist).

[2016-12-11 06:54] #1687 closed

[2016-12-11 06:56] wesleycho commented on #2490
How soon should these changes be made? Is the intention to do a release of 2.0 soon after 0.12 support ends? Will there be an interim release beforehand?

[2016-12-11 07:57] wesleycho commented on #2168
I'm going to close this issue as this is a user problem - it should be noted that there is a starter with coverage all set up properly with https://github.com/preboot/angular2-webpack, primarily maintained by one of the developers on the Angular docs team, so clearly coverage works fine with karma and Angular 2, once one knows all of the important aspects about how Angular 2 works.

[2016-12-11 07:57] #2168 closed

[2016-12-11 07:59] wesleycho commented on #2167
I do not believe this is possible, as Karma requires a server to serve off of, and port 80 is reserved by the browser. Is there a particular reason why one absolutely must have the port number removed when running tests?

[2016-12-11 08:57] dignifiedquire commented on #2490
There is no urgent rush to do this, so I would wait until January for a new 2.0 release. We can still do  regular minor and patch releases in the meantime as we need them.

[2016-12-11 09:00] dignifiedquire commented on #2473
Well.. there is #2472 which might needs to be combined with this.

What I'm not not entirely clear on is why things are overriden if they are set to `undefined`. The `merge` in parseConfig should only apply defined properties I thought.

[2016-12-11 10:14] gayanwiharagoda commented on #2167
I have resolve this by adding port 80 in target pattern like below. Thank you for the reply. I hope it will help others.
http://localhost:9877/test1.cmd to http://localhost:80/test1.cmd

[2016-12-11 12:19] dignifiedquire commented on #2209
If we are switching we should be switching to something more specific, like`__karma__base__/`. But to fix this issue we should be able to adjust the matcher, such that it only replaces inside urls where the host is the same as `config.hostname`.

[2016-12-11 12:20] #2477 closed

[2016-12-11 14:22] wesleycho commented on #2148
This sounds like something outside the responsibility of a reporter - it should be served statically and referenced appropriately. Depending on the approach, using the proxy option in karma's config could help accomplish this.

Going to close this, as the original issue is addressed - feel free to open a new issue if you feel there is an issue in karma itself.

[2016-12-11 14:22] #2148 closed

[2016-12-11 14:43] wesleycho commented on #2167
Ah, so you were serving from port 80 - a proxy with karma.conf.js then accomplishes that.

Sounds like you have a solution, so I am going to close this issue.

[2016-12-11 14:43] #2167 closed

[2016-12-11 14:44] wesleycho commented on #2209
So maybe a configurable option like `config.basename` would work?

[2016-12-11 16:42] wesleycho opened #2500 "Test failures do not display accurate test line numbers in stack trace"
### Expected behaviour
The line number in a test file referenced when a test fails is correct

### Actual behaviour
The line number reported is incorrect, a virtual line number generated from Babel

### Steps to reproduce the behaviour

1.  Go to https://github.com/karma-runner/karma/blob/e36ba6c1d4cad4fc321f3376129b329fe663068d/test/unit/browser.spec.js#L30
2. Change `.to.equal(fullName)` to `.to

[2016-12-12 13:03] 4garfield commented on #2337
seems the same issue of [browserstack-launcher](https://github.com/karma-runner/karma-browserstack-launcher/issues/86)

just add the link of the issue, please refer to it if you need more infomation.

[2016-12-12 15:10] deejbee commented on #887
Unfortunately I don't seem to be able to use the suggested workaround as options.files accepts an array of either specific file names or a folder such as /project/*.js -but not a combination of both.  I need to add a bunch of libraries at the top of the list of files, followed by the tests.  e.g.:

[code]
Or am I doing something wrong?

[2016-12-12 15:10] wesleycho commented on #2211
FWIW, I have noticed that the Angular team has set up karma with Sauce Labs to use Sauce Labs via shell script in separate processes - if I had to guess, it is to have environmental separation for purer test environments, but maybe they came across some of the same issues with multiple browsers.

Separate issues should probably be opened if there are specific issues found though, that way we can t

[2016-12-12 15:10] #2211 closed

[2016-12-12 15:20] wesleycho commented on #1292
The karma-junit-reporter problem should be fixed in the 1.2.0 release of karma-junit-reporter, but this problem at its root is still present it sounds like.

[2016-12-12 15:22] wesleycho commented on #887
@deejbee Karma uses https://github.com/isaacs/node-glob for pattern matching, so any valid glob patterns supported by the library work here.

[2016-12-12 18:18] ajbogh opened #2502 "Complete TODO listed in client/karma.js line 65"
### Expected behaviour
Should report stack trace of window reload location, or report file and line with error. Should not include a TODO.

### Actual behaviour
Includes a TODO and reports an obscure message about "Some of your tests did a full page reload."

### Relevant code (master)

      this.onbeforeunload = function () {
        if (!reloadingContext) {
          // TODO(vojta): show what t

[2016-12-12 18:55] hackhat commented on #2427
@maksimr  Also happens with chrome :/

[2016-12-12 22:44] nadhir-falta commented on #1751
Same problem here karma-junit-reporter 1.1.0, karma 1.3.0, any news about this?

[2016-12-12 23:12] g-patel commented on #553
@vojtajina, following does not work for me, it runs all suite and tests still.
[code]

Why the `--grep` option not mentioned in the karma docs?
[code]

[2016-12-12 23:21] g-patel commented on #553
I don't like the `describe.only` (mocha) and `ddescribe` (jasmine) solutions as those are error prone. You might forget to revert the `.only` part before committing and your jenkins/builds would still be in joy thinking the test suites are passing.. ;)

[2016-12-13 00:24] devanshah1 commented on #2192
@dignifiedquire @wesleycho I used the `localStorage.debug = '*';` option in the browser to enable the logs in karma to see if the info emit was going through, I did see that the emit was dispatch. Do you happen to know where I can look to verify if the reporter has received it or to verify if the emmiter is registered from the reporter.

[2016-12-13 00:30] wesleycho commented on #2218
@main-kun your issue should be fixed by the latest release of `karma-junit-reporter`, 1.2.0.

@mcgraphix a mitigating fix can probably be done to `karma-htmlfile-reporter` similar to the patch to `karma-junit-reporter`, but the root of the issue in karma itself is #1292 as mentioned by @stramel.

[2016-12-13 05:50] shengxihu commented on #880
I resolved this problem with this conf:
[code]
by the way, i also get:
[code]
with:
[code]
and I also resolved this problem with:
[code]
maybe this will help somebody.

[2016-12-13 07:01] randakar commented on #1751
karma-junit-reporter 1.2.0 should make this error message go away. Though it's quite likely other reporter suffer from the same (or at least something very similar) issue. I'm pretty sure the Jenkins one does.

[2016-12-13 14:33] veekri opened #2504 "RangeError: Invalid Date in"
i am getting  RangeError: Invalid Date in   eroor

if i run through jamine spec its working fine
### Actual behaviour

### Environment Details

- Karma version (output of `karma --version`):
- Relevant part of your `karma.config.js` file

### Steps to reproduce the behaviour

1.
2.
3.

[2016-12-13 16:20] ahmehri commented on #2200
We use Karma at TrustTIC:
![trusttic](https://cloud.githubusercontent.com/assets/3668245/21148402/6a37daa4-c158-11e6-91cd-25e7068bc07d.png)

[2016-12-13 17:44] Drag13 commented on #1710
Have same issue.
Karma does not want to load typescript files outside the root path.

[2016-12-13 19:17] pauldraper commented on #439
True, but it's a hack to get these systems to work in karma in the first place right? I'm tempted to put that consideration aside for now.

I agree with the suggestions made by @vojtajina https://github.com/karma-runner/karma/issues/439#issuecomment-20945728 (even if they are three and a half years old :)

I thinking

[code]

And then the resolved object would be

[code]

We could reuse `concurren

[2016-12-13 20:35] maksimr commented on #2200
* [JetBrains](https://www.jetbrains.com) / [YouTrack](https://www.jetbrains.com/youtrack/?fromMenu), [Hub](https://www.jetbrains.com/hub/?fromMenu)
* https://www.jetbrains.com
* ![icon_intellijidea](https://cloud.githubusercontent.com/assets/616193/21157952/65a53a66-c18c-11e6-8901-3ed0381ddc13.png)  https://www.jetbrains.com/company/press/
* https://www.jetbrains.com/company/contacts/contact @JetB

[2016-12-13 20:54] GBarthos commented on #1709
but still, is it possible to do this through the public API ?

[2016-12-14 14:06] pimterry opened #2505 "Arbitrary preprocessor order differs between platforms"
### Expected behaviour

- When a set of preprocessors is defined, the order may be inferred or chosen arbitrarily ('Order of Execution': http://karma-runner.github.io/1.0/config/preprocessors.html), but the same order is always used

(More generally: for a defined test suite, it should be run in the same way everywhere)

### Actual behaviour

- On Linux a different arbitrary preprocessor order is

[2016-12-14 15:20] wesleycho commented on #2502
Closing as a duplicate of #1101

[2016-12-14 15:20] #2502 closed

[2016-12-14 15:21] wesleycho commented on #2504
This sounds like a bug in your test/codebase, and not in karma - do you have a reproduction that we can look at (karma.conf.js, test where error is being thrown, etc.)?

[2016-12-14 15:33] wesleycho commented on #2342
Alternatively, we could add a new hook inside karma for running actions after reporters, since some of the things being done by reporters like the karma-junit-reporter and karma-remap-istanbul are actually doing post test processing. This would minimize pain to other reporters, and the reporters causing the multiple logging can then be refactored to avoid this. Maybe a `postReporters` config optio

[2016-12-14 15:51] wesleycho commented on #2334
This does not sound like a karma bug. This repository is for issues with karma itself - see https://github.com/karma-runner/karma/blob/master/CONTRIBUTING.md

Closing this as a support issue.

[2016-12-14 15:51] #2334 closed

[2016-12-15 06:56] kentor commented on #1534
this is fixed

[2016-12-15 06:56] #1534 closed

[2016-12-15 10:35] twolfson opened #2507 "Add hooks support to configuration file"
I'm developing an application which leverages Karma to run its tests and PhantomJS to take screenshots during said tests (https://github.com/karma-runner/karma-phantomjs-launcher/issues/19#issuecomment-259905009). I currently have a setup which uses `nodemon` to run Karma once and compare images when a file changes.

Unfortunately, this setup is a bit slow as Karma has to launch a browser every ti

[2016-12-16 07:26] timmyLan commented on #2368
fixed?how?

[2016-12-16 15:45] fchiumeo commented on #1908
It also happens with zone.js and angular 2

[2016-12-17 01:01] kiwenlau commented on #976
I test 4 browsers(Chrome, Opera, Safari, Firefox) at the same time. And I found that there always 1 browser log which does not have prefix of browser info.  I don't know how to solve this problem.

[2016-12-17 09:32] RobertDiebels commented on #2050
Any chance on this getting picked up?

[2016-12-17 10:13] maksimr commented on #2368
@timmyLan looks like you have misconfigurations

If you use ES6 or other version of compiled javascript which does not supported by browser, you should put it to preprocessors section
[code]

Thanks!

[2016-12-17 10:41] maksimr commented on #2050
@RobertDiebels is it reproduced on latest version of karma?

Thanks

[2016-12-17 11:25] maksimr commented on #2050
Which command do you run in terminal to start karma?

[2016-12-17 12:20] RobertDiebels commented on #2050
@maksimr I've created a repo for reproduction purposes https://github.com/RobertDiebels/karma-test/tree/master . I'll update my initial description with version numbers and the like.

[2016-12-17 12:26] RobertDiebels commented on #2050
@maksimr just updated the description and checked if I get the same on 1.3.0. I think it's caused running in the browser? Shutting off the network adapter disables the websockets I think, I haven't looked at the code.

Still the thing with unit tests is that they should be able to run with or without a functioning or connected network adapter.

[2016-12-17 13:50] maksimr commented on #2050
@RobertDiebels Thanks!

I totally agree that karma should work without internet connection (offline).

I have checked on MacOs all work as expected if disable network, I don't understand what meant `shut off your adapter` and I don't know how it works on Windows

but be carefully `karma` based on network client-server architecture and if you totally remove network adapter so that local network als

[2016-12-18 08:41] RobertDiebels commented on #2050
@maksimr yea the part about the adapter makes sense.

I think I first encountered this when my connection dropped for an hour or two when I was working from home. So I tried reproducing by just shutting off the adapter (not the same ofc. I just didn't feel like crawling under my desk xD).

I'll try to simulate by disconnecting my LAN cable or turning off my router. Will report back in a second.

[2016-12-18 09:23] maksimr commented on #2050
@RobertDiebels thanks, very strange I will try check it on windows 10

[2016-12-18 10:24] maksimr commented on #2050
I can confirm that problem exist, but problem in `karma run` command only

`karma start` work as expected, `karma run` does not work if disable network

<img width="1370" alt="karma-windows-problem" src="https://cloud.githubusercontent.com/assets/616193/21292895/0fb2bace-c525-11e6-9889-5fe9a1c693b3.png">

[2016-12-18 10:44] maksimr commented on #2050
@RobertDiebels how workaround you cuold set `hostname: '127.0.0.1' in karma.config.js

[2016-12-18 11:27] maksimr commented on #2050
I have investigated the problem and the problem in nodejs iteself - https://github.com/nodejs/node-v0.x-archive/issues/25489

I don't think that add workaround to runner.js is best solution because it could break ipv6.
So my suggest add this problem with [workaround](https://github.com/karma-runner/karma/issues/2050#issuecomment-267814425) to FAQ.

cc @dignifiedquire

[2016-12-18 11:27] #2050 closed

[2016-12-18 18:52] RobertDiebels commented on #2050
@maksimr thanks for the investigation. Will use the work-around.

[2016-12-19 04:00] timmyLan commented on #2194
[code]
it work for me.when I remove `autoWatch: false`options,this issues appear,I hop it can help you.

[2016-12-19 09:53] AlexShemeshWix commented on #24
Same here
Karma 0.13.33
karma-chrome-laquncher 2.00
Chrome 54
Linux Ubuntu 14.04

[2016-12-19 19:17] madnight commented on #1597
"scripts": {
  "babel": "./node_modules/.bin/babel-node --presets es2015",
  "test": "NODE_ENV=test npm run babel -- ./node_modules/karma/bin/karma start karma.conf.babel.js"
}

^ this trick also works for me in case you only want one karma.conf file, instead of the two suggested by @levithomason solution

[2016-12-19 22:28] skyrpex commented on #1597
@madnight you can skip the path to node_modules, like this:
[code]

Not sure if the karma path can be skipped. If not, moving it to another script would do the trick.

[2016-12-19 22:41] madnight commented on #1597
@skyrpex yes i tried that, but removing the karma path does not work, however removing the path from babel does, now its even more concise and we all love conciseness :smiley:

[2016-12-20 11:24] dignifiedquire commented on #2342
The reporters really need some work, as we have already seen in https://github.com/karma-runner/karma/pull/2397 and https://github.com/karma-runner/karma/issues/1411. I am okay with creating a breaking change if we can figure out a good solution that gets rid of the varying issues and makes it easy and clear on how to correctly extend and add reporters.

[2016-12-20 11:55] skyrpex commented on #1597
@madnight what about this?
[code]

[2016-12-20 12:02] madnight commented on #1597
this also came to my mind, but does not work either, if it would be a bash shell, then i would know how to compose it correctly, but i dont know exactly how this npm script executioning work

[2016-12-20 20:47] grifball commented on #2500
I tried to replicate this but couldn't. Your change didn't throw an error so I changed it to this:
`.to.equal(fullName + '1')`
And then it gave me the correct line number (30):
`at Context.<anonymous> (test/unit/browser.spec.js:30:33)`
I'm on the latest commit in the master branch, running `npm test`

[2016-12-21 14:50] andrepcg opened #2511 "Karma not working with Node v7.3.0"
Trying to run karma with node 7.3.0 and I'm getting the following error:

[code]

Tried again with Node version 7.2.1 and it works

### Environment Details

- Karma version: 1.3.0
- Node version 7.3.0

[2016-12-21 14:55] dignifiedquire commented on #2511
Could you try with a different browser? This might be an issue with the browser `jsdom` you are using rather than karma itself

[2016-12-21 16:52] madnight commented on #2511
if i try to execute karma with 7.3.0 the tests fails "Some of your tests did a full page reload!" without further details

[2016-12-21 17:37] madnight commented on #1656
I found something interesting if you run the tests separate:
[code]
then this page reload error does not occur, however this solution results in longer test run times, since they are executed twice

[2016-12-21 19:48] avocadee opened #2512 "Question : how to make report while running karma manual mode (without singleRun)"
Hi, thanks in advance.
My question is , when does karma create report files on browser capture mode?

I am trying to make my environment like below.
- when i am running this env with singleRun=true & browser = chrome, karma makes reports as well.
- but it's not making reports in singleRun=false & no browser.

### Expected behaviour
1. command "start karma" with conf (singleRun:false + no browser(t

[2016-12-21 20:30] nickaversano opened #2513 "Karma exits immediately and doesn't throw error when a webpack loader is not found"
### Expected behaviour
To throw an error.

### Actual behaviour
Karma exits immediately with no output.

### Environment Details

- Karma version: 1.3.0
- Relevant part of your `karma.config.js` file
[code]

### Steps to reproduce the behaviour

1. From the parent directory to this `karma.conf.js`, run `./my-directory/node_modules/.bin/karma start my-directory/karma.conf.js --browsers Chrome`
2. N

[2016-12-21 22:36] maksimr commented on #2512
@Heeseong

First of all, what does mean `report files`?

Karma create reporters when start server. I have checked karma@1.3.0 on node@5.12.0 with progress reporter. All work as expected[1]

[1] I run karma without any browser with --no-single-run then manually open browser and go to http://localhost:9876 after that karma run test and report result in console.

Thanks!

[2016-12-21 22:38] maksimr commented on #2513
@nickaversano could you provide stub project which reproduce this problem

Thanks!

[2016-12-21 22:42] maksimr commented on #2511
I have checked karma@1.3.0 on node@7.3.0 with Chrome on MacOs all work fine.
Look like problem in `jsdom`

[2016-12-22 12:31] whit537 commented on #2485
http://slackarchive.io/ provides a public archiving service, which might address this.

[2016-12-23 11:26] anji22 commented on #707
I'm having same problem. Did anyone figure out a solution?
This below is my typescript file.
----------------------------------
import { AppComponent } from './app.component';
import { SampleTest } from './SampleUnitTest';
import { async, ComponentFixture, TestBed } from '@angular/core/testing';
import { By } from '@angular/platform-browser';
import { DebugElement } from '@angular/core';

describe

[2016-12-24 03:42] alexander-ossur commented on #2243
Apologies for the late reply,

Unfortunately I can not check the issue for at least a month. Please feel free to close it if necessary. I will come back with it later for sure if issue is still exists.

[2016-12-24 20:17] #2243 closed

[2016-12-24 20:21] maksimr commented on #2511
Close because issue has moved to jdom

Thanks!

[2016-12-24 20:21] #2511 closed

[2016-12-25 09:27] wesleycho commented on #2402
I reported the issue in the project in which this issue originates in - should we close this as not a karma bug? Unless we replace the library, this isn't something that can be fixed in karma itself.

[2016-12-25 10:00] dignifiedquire commented on #2402
I marked it as bug-upstream, so it's clear that we know thr issue is somewhere else. Lets leave it open though.

[2016-12-26 11:51] scottohara commented on #2131
I believe this used to work until https://github.com/karma-runner/karma/pull/1558.

I was previously using an empty `--browsers` arg to start the server without capturing any browsers, then browse to http://localhost:9876 on a physically attached iPhone and run the test suite there.

[2016-12-27 06:00] erwingaitano opened #2517 "Karma runs tests when ANY src/**/file has changed"
### Expected behaviour

Karma should run the tests only when watched files change.

### Actual behaviour

It runs the tests when ANY file inside my src folder has changed.

### Environment Details

- Karma version (output of `karma --version`): 1.3.0
- Relevant part of your `karma.config.js` file

const webpackConfigTests = require('./webpack/config.tests');

[code]

### Steps to reproduce the beh

[2016-12-28 22:28] habermeier commented on #439
I'd hate to have to group tests by hand.  What if we had the system uses the regular configuration as a starting point, and have it build up and refine an optimal parallel test plan over time?  Along the way it might be able to discover any dependency chains (that shouldn't be there, but might be).  It could flag those as "todo" items for developers, but could work around those should it discover

[2016-12-28 23:25] FezVrasta commented on #439
really, just copy what jest does. it's fine

[2016-12-29 00:24] devanshah1 opened #2518 "Is it possible to load a local file into an iframe in karma?"
### Expected behaviour

Be able to create an iframe in the karma browser and then set the src attribute of the iframe to a local file with the file protocal.

### Actual behaviour

Does not load anything or does not throw any kind of error for loading.

### Environment Details

- Karma version (output of `karma --version`):
- Relevant part of your `karma.config.js` file

karma version 1.3.0

### S

[2016-12-29 06:52] wesleycho commented on #2518
Karma already runs tests in an iframe by default - you could do whatever you like, but if you want to nest an iframe with the test runner, you will have to create an eventing system where the tests in the iframe are able to notify the parent window, and then you would need an adapter for converting that data into test result reporting in Karma.

This is not really a karma problem, but more of an a

[2016-12-30 11:37] MarcinMilewski commented on #558
I've got weird problem: run single test iteration works, but  in continous mode doesn't,  that means after starting browser PhantomJS, last log is Connected on socket ... and any test don't run.

[2017-01-01 04:45] ykosbie opened #2520 "basePath does not append trailing slash in preprocessors"
### Expected behaviour
Karma automatically adds a trailing slash to baseBath for files defined in the files array.  So if you set
{
    basePath: "../my/other/folder",
    files: ["file.js"]
}

karma serves `../my/other/folder/files.js` and not `../my/other/folderfile.js`.

When you define the same pattern for a preprocessor, karma should also append a trailing slash -- or, karma should list a WAR

[2017-01-01 07:13] omorrison3 commented on #1265
same issue

[2017-01-01 19:55] FezVrasta opened #2521 "DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead."
### Expected behaviour
No deprecation warnings show up.

### Actual behaviour
[code]
Is printed on any karma run.

### Environment Details

- Karma version: 1.3.0

### Steps to reproduce the behaviour

1. Run `karma start` (no config needed)

[2017-01-01 19:56] FezVrasta commented on #2521
https://github.com/karma-runner/karma-chrome-launcher/issues/79

[2017-01-01 21:04] maksimr commented on #2521
@FezVrasta thanks

Problem [here](https://github.com/karma-runner/karma/blob/39d378d20dee61a88572225db9e1855da3adb346/lib/temp_dir.js#L7)

[2017-01-01 21:34] FezVrasta commented on #2521
but in the line you pointed, the new api is used, it should not throw any warning...

[2017-01-01 21:51] maksimr commented on #2521
@FezVrasta you are right!

Looks like a problem in third party library, because I could not find tmpDir neither in karma nor karma-chrome-launcher

Thanks

[2017-01-01 22:07] maksimr commented on #1662
I have simple use case which reproduce this problem on macOs:

[code]

[karma.conf.js](https://gist.github.com/16fe347ea605ab43cc8316b71033e9e9)

[2017-01-01 23:15] maksimr commented on #2521
I have checked on macOs

node@7.3.0
karma@1.3.0
karma-chrome-launcher@2.0.0
karma-jasmine@1.1.0

All work whithout warnings

![kapture 2017-01-02 at 2 13 57](https://cloud.githubusercontent.com/assets/616193/21583425/298c6766-d091-11e6-9204-b47ea374776a.gif)

[2017-01-01 23:15] #2521 closed

[2017-01-02 15:57] ngie-mp commented on #1693
Same issue as @bvarga, browser launchs but stuck there. Instead with `singleRun` to `false` it works

[2017-01-02 23:39] pauldraper commented on #439
Not sure if I understand this right, but I wasn't suggesting that.

[code]

`grouped` just means "these are the files I want to split into different test groups. (As opposed to the common library files that are in *all* the tests groups.)

Karma then generates a number of arbitrary groups automatically from those locations. I suggest a `groups` config options for the number of groups. It can be tu

[2017-01-03 07:24] FezVrasta commented on #2521
Found the problem, it's `wd`.

https://github.com/admc/wd/pull/456

[2017-01-03 11:05] thany opened #2524 "Cannot find plugin"
### Expected behaviour
It should be able to find installed plugins.

### Actual behaviour
The reverse of "expected behaviour", innit? :)
It's not able to find installed plugins.
[code]

### Environment Details
Karma version 0.13.14
[code]

### Steps to reproduce the behaviour

1. Clone [Angular-seed](https://github.com/angular/angular-seed)
2. `npm i`
3. `npm i --save-dev karma-phantomjs-launcher`

[2017-01-03 12:32] thany commented on #2524
Ok, one thing I found is that somehow I magically had some modules installed in the nodejs installation directory - that's not where they're supposed to be put. Global packages normally go into the user profile.

So, trying again...

[code]

That's better. At least it tells me **where** it cannot find whatever it needs this time.

[2017-01-03 12:42] thany commented on #2524
Okay, one more update, for those who also come across this problem.

There where executables for `jasmine` and `karma` in the nodejs installation folder (again, not where they're supposed to be installed). I deleted those, removed-and-reinstalled `karma-cli` globally, and now it works. Or at least I'm not getting any errors trying to run karma.

So, remains one question: why or how does karma deci

[2017-01-04 08:21] Ricq opened #2525 "Inconsistent trailing slash for config.basePath"
I'm trying to build a Karma configuration that runs across different developer and build machines.
The issue I'm running into is that it seems that there is no consistent way to make the base path either always end with a trailing slash or always have no trailing slash. What I've found is that the base path is built using Node's `path.resolve(...)` method (in config.js). Node's documentation menti

[2017-01-04 08:22] Ricq commented on #2525
Note: I've submitted this issue after having submitted a Google Groups question and a Gitter question some weeks ago, both of which were not responded to.

[2017-01-04 15:14] smcauliffe commented on #393
Anyone know why this happens?

[2017-01-04 15:57] manthey commented on #1569
This can be done via middleware.  You can check if the request.url  matches a particular extension, then serve the file:

The middleware function:
[code]

And in the configuration:
[code]

[2017-01-04 20:08] kamok opened #2526 "Missing error handler on `socket` when I get "Delaying execution, these browsers are not ready: Chrome" from previous test"
### Expected behaviour
I expect Karma not to crash when it runs the test again after displaying  "Delaying execution, these browsers are not ready: Chrome" from the previous test.

### Actual behaviour
This happens when I make some changes and then save my file. Before karma finishes running, if I do another save after a change, it will first interrupt the test with `04 01 2017 15:00:37.775:INFO [

[2017-01-04 20:09] kamok commented on #2526
I'm aware of  #2042, but I think it's a different problem.

[2017-01-04 22:10] steveworkman commented on #1247
I have tried to do this recently and can confirm that it doesn't work.

With the following simple configuration
[code]
I get the following error message

[code]

It appears that the di injector is trying to fetch the factory from the known set of node_modules only (those that start with karma-) and doesn't know that this is its own function.

I'm using Karma 1.3.0

[2017-01-05 06:38] twolfson commented on #2524
I think the issue is a typo in `browsers`. It should be `PhantomJS` not `PantomJS` =/

To answer your plugin resolution question:

By default, plugins are resolved via Node.js' `require` statement. There is support for pattern matching (e.g. `karma-*` loads all matching modules) but based on your config that isn't a problem:

https://github.com/karma-runner/karma/blob/v1.3.0/lib/plugin.js#L13-L19

[2017-01-05 06:45] twolfson commented on #2518
In addition to @wesleycho's comment, Karma uses `http://` for communication. I'm pretty sure most browsers restrict accessing `file://` from `http://` pages for security reasons (e.g. otherwise sites could access `/etc/passwd` (`file:///etc/passwd`) without permission).

Karma does support hosting files from its server via the `files` configuration option as well as serving proxies:

http://karma-

[2017-01-05 06:50] twolfson commented on #2507
Bump on this issue =/

[2017-01-05 07:09] twolfson commented on #2517
I created a gist to reproduce the issue and was unable to =/

https://gist.github.com/twolfson/4e6e014c97c7ddc374ace0101f6ef67c

Could you provide more of your setup so we can get a more accurate representation? (e.g. code, what OS you're on)

[2017-01-05 07:21] twolfson commented on #2488
I created a proof of concept to reproduce the issue and was unable to:

https://gist.github.com/twolfson/979d5f0975c64a790abca5003363336c

Could you provide more info about your `karma.conf.js`? I might have something configured differently than you which is causing the issue =/

[2017-01-05 09:21] thany commented on #2524
Oops @ typo :D
But that didn't cause the 'cannot find plugin' error.

Anyway, it would still help (others as well I'm sure) if karma would print out the location(s) of a plugin when it couldn't find it. Googling around, it seems to be a fairly common problem.

[2017-01-05 09:36] twolfson commented on #2524
I think the current message is the best we can do. As linked, it's hard to predict where the `node_modules` folder should be (e.g. someone can be inside of `test/path/to/nested/folder` and run `karma` which resolves from `node_modules`, not `test/path/to/nested/folder/node_modules`). If we were to output that, it would be a whole lot of confusing feedback to the user x_x

[code]

[2017-01-05 09:48] #2295 closed

[2017-01-06 17:01] wesleycho commented on #2524
I took a look at this, and what I suspect happened is that the step to run `cd angular-seed` was forgotten. I was not able to reproduce this, this is highly likely a user error.

[2017-01-06 18:15] brentoneill opened #2528 "Exits with status code 1 and does not run tests"
### Expected behaviour
Tests should run as expected and open the browser window.

### Actual behaviour
[code]
### Environment Details

- Karma version - **1.3.0**
Config:
[code]

### Steps to reproduce the behaviour

1. Run the test command `npm run test`
2.Karma looks like its starting then it shows that it executes 0 of 0 tests when we have 133 in this repo.

### npm debug log
[code]

[2017-01-06 22:59] afiedler commented on #1087
I have the same same problem with karma 1.3.0. A workaround similar to the one @nizhu is using worked for me. What I did was remove all glob patterns from any files that were watched for changes. So from this:
[code]

To this:
[code]

Obviously you'll want to do this programatically. The `glob` npm package helps. I ended up doing something similar to nizhu's npm package.

[2017-01-07 20:09] tjsail33 opened #2529 "Node Security Project Vulnerabilities"
### Expected behaviour
[code]
should report no security vulnerabilities.

### Actual behaviour
[code]

### Environment Details

- Karma version (output of `karma --version`): 1.3.0

### Steps to reproduce the behaviour

1. `npm install -g nsp`
2. `nsp check`

### Comments
I noticed that the package.json in `master` has already bumped the affected dependency, I'm mostly hoping that this can be pack

[2017-01-09 09:29] thany commented on #2524
[code]
Fixed that :)

The thing is, I did not forget the `cd angular-seed`, honestly. I think it was trying to find the plugins in the global installation (in the user profile) or in the superglobal installation (in the nodejs program directory). Whichever the case, a message like "We didn't find the plugin here & here" would help in diagnosing what went wrong.

Because with all due respect, thing

[2017-01-09 19:49] dignifiedquire commented on #2529
Thanks for the report, will publish a new version soon.

[2017-01-09 19:57] tjsail33 commented on #2529
thanks so much @dignifiedquire!

[2017-01-09 21:36] isiahmeadows opened #2532 "Frequent disconnecting while debugging in single runs"
### Expected behaviour

No disconnection while idling in the debugger

### Actual behaviour

Wait in the debugger for more than 2 seconds, and the connection is dropped

### Environment Details

- Karma version (output of `karma --version`): 1.3.0
- Relevant part of your `karma.config.js` file

[code]

### Steps to reproduce the behaviour

1. Install the relevant packages (`npm i karma karma-mocha

[2017-01-09 21:41] chazzlabs commented on #2372
Was anyone able to make any progress on this issue?  I recently started seeing this warning when migrating the build of an existing React application from Gulp to Webpack 2.  I'm running the same versions of ```jasmine-core```, ```karma```, and ```karma-chrome-launcher```, but version ```^1.1.0``` of ```karma-jasmine```.

[2017-01-09 21:51] isiahmeadows commented on #2532
Here's the output of the above, but with `--log-level debug`:

[code]

[2017-01-10 05:22] krotscheck commented on #2474
Hrm- I wouldn't mind helping with karma-browserstack-launcher. It's not a huge codebase to maintain, and we use it at work.

[2017-01-10 13:54] wesleycho commented on #2528
Can you slim this down into a minimal reproduction in a repository?

If it helps, I have seen this error happen when there is a syntax error in one of my scripts. I would check to see if TypeScript isn't erroring out and the stack trace isn't being outputted. It might help to try wiring in tslint and running that to see if there are not any errors coming in there.

[2017-01-10 13:56] wesleycho commented on #2532
If it helps, if you set autoWatch to true and singleRun to false, you could click the debug button in the browser that opens up (cannot use PhantomJS in this case I believe), and set a breakpoint to debug the test.

Not sure if it would help you work around this case though with PhantomJS.

[2017-01-10 14:00] wesleycho commented on #2526
This looks like a quick workaround probably can be made [here](https://github.com/marcules/karma-remap-istanbul/blob/master/index.js#L24-L30) to fix this.

Ultimately this seems like a race condition where onBrowserComplete isn't being executed on the reporters before executing the next test suite execution.

[2017-01-11 01:35] isiahmeadows commented on #2532
@wesleycho I appreciate the tip (didn't know `--single-run` would cause similar issues in GUI browsers), but for headless browsers like PhantomJS, yeah, not so much... :frowning:

[2017-01-12 00:19] blackswanny commented on #2228
can you merge it?

[2017-01-12 00:45] vivganes commented on #2489
If we plan to build headless Chromium during `npm install` then it is going to increase the 'setup' time for people who don't want headless Chromium as well.  Creating a separate launcher will not have this issue.  Also it will be helpful to isolate headless from regular Chromium because headless chromium is new and not supported in all platforms yet.

[2017-01-12 00:48] wesleycho commented on #2489
IMO we should create a new launcher for headless Chrome.

I haven't gotten a chance to sit down and start hacking it out since I have been busy, but I should be able to start working on an implementation next week.

[2017-01-12 13:08] ur92 commented on #2264
Looks like I have related problem, when using `nocache: true`, `angular-filesort` framework won't sort the angularJS files so angularJS apps have no chance to be bootstrapped correctly.
Any fix for this?

[2017-01-12 23:40] devanshah1 commented on #2518
@wesleycho @twolfson I will create a sample project and send it your way.

[2017-01-12 23:43] devanshah1 opened #2534 "API 'window.__karma__.info()` does not work"
### Expected behavior

Expect the info emitter to be dispatched which is set in the reporter. The reporter is expected to write to console a message. Refer to: https://groups.google.com/forum/#!topic/karma-users/ShR96TcKm6Q

### Actual behavior

Nothing is written to the terminal/console.
### Enviroment Details
- Karma version (output of `karma --version`): Tried on "0.13.22" and "1.0.0"
- Relevan

[2017-01-13 01:45] SachaG commented on #1979
Cross-posting this here because it might help others, here's a solution to this issue by @abernix:

https://gist.github.com/abernix/a7619b07b687bb97ab573b0dc30928a0

[2017-01-14 08:23] aqrln commented on #2529
@dignifiedquire any update on this?

[2017-01-14 19:37] #1662 closed

[2017-01-14 19:39] #2228 closed

[2017-01-14 19:40] #694 closed

[2017-01-14 19:42] #2209 closed

[2017-01-14 19:46] dignifiedquire commented on #2474
@krotscheck great to hear :)

[2017-01-14 19:49] dignifiedquire commented on #2529
Just published 1.4 🎉 https://github.com/karma-runner/karma/releases/tag/v1.4.0

[2017-01-14 19:49] #2529 closed

[2017-01-15 07:33] linuxenko opened #2535 "Is it possible connect application with karma runner ?"
Hey, karmers :bee: , is it possible connect something different with karma runner ? I'm trying connect native application of the very strange device :iphone:, it does not change its `origin`, opening links and `iframes` opens web browser. Is it possible connect to `runner` from the native application, not a web browser ?
Thanks.

[2017-01-15 17:01] maksimr commented on #2535
@linuxenko if short 'No', you should have something that implements real browser API (HTTP, HTML, DOM, javascript interpreter etc.)

Could you describe 'Use case'

Thanks

[2017-01-15 17:20] linuxenko commented on #2535
@maksimr, it is a javascript application with its own `console.*` and `window`, `dom`, `xmlhttprequest`, but i cannot run `context` of the karma inside of a frame or launch a new window for every `context` run.

Right now i can connect to `karma runner` server, it does log my connection activity, i even can recognize events `runner` sent to my application that saying to start a new `context.html`

[2017-01-15 18:10] maksimr commented on #2535
@linuxenko

Yes, look at option [client.useIframe](http://karma-runner.github.io/1.0/config/configuration-file.html).

Karma use socket between client and server. [Some code](https://github.com/karma-runner/karma/blob/master/client/karma.js) injected to html (context.html) to setup  connection with server, and send data about tests to the server.
Framework use this client API to send data on the s

[2017-01-15 18:15] maksimr commented on #2535
Tests and frameworks loaded as javascript files - look at [this](https://github.com/karma-runner/karma/blob/master/static/context.html#L25) and [this](https://github.com/karma-runner/karma/blob/master/lib/middleware/karma.js#L211-L215)

[2017-01-15 18:20] maksimr commented on #2535
@linuxenko If you want understand how karma works, I'm strongly recommend read [this](http://karma-runner.github.io/1.0/intro/how-it-works.html) and [this](https://github.com/karma-runner/karma/raw/master/thesis.pdf)

Thanks

[2017-01-15 20:38] arusakov commented on #2517
@erwingaitano
Maybe there is `require('./NAME.css')` in you `.js` file?

[2017-01-16 10:16] linuxenko commented on #2535
Thank you @maksimr , it seems like i can create `json` static files with all configuration i need by modifiying `context's` middleware. cool 😎

[2017-01-16 11:49] #2535 closed

[2017-01-16 16:14] dignifiedquire commented on #2490
We are ready for this :)

[2017-01-16 16:46] vivganes commented on #2532
@wesleycho @isiahmeadows  Is this same as issue mentioned in #2447 ?

[2017-01-16 21:58] hengroy opened #2538 "Performance issue with serving files in Karma 1.4"
### Expected behaviour
I have an Ext JS project with over 500 files. With karma 1.3, it was serving all these files in around 3-5s.

![karma13](https://cloud.githubusercontent.com/assets/25161190/22000327/8ceb33f6-dc0c-11e6-8c5f-407adf2f99e6.png)

### Actual behaviour
With Karma 1.4 and the exact same files, it was taking over 80 seconds to serve these files, which results in a timeout before the

[2017-01-17 11:30] linuxenko opened #2539 "[config] custom middleware-plugin does not work"
### Expected behaviour

Regular middleware behaviour

### Actual behaviour

Nothing, it does not work

### Environment Details

- Karma version (output of `karma --version`):

Karma version: 1.3.0
- Relevant part of your `karma.config.js` file

[code]
### Steps to reproduce the behaviour

1. Copy example from  [documentation](http://karma-runner.github.io/1.0/config/configuration-file.html) (middl

[2017-01-17 11:35] linuxenko commented on #2539
idk why `middleware` option does not work, but `beforeMiddleware` fork just fine for me )

[2017-01-17 11:37] #2539 closed

[2017-01-17 20:55] maksimr commented on #2539
@linuxenko could you provide stub project which reproduce problem with middleware

Thanks

[2017-01-17 21:08] linuxenko commented on #2539
[code]
`beforeMiddleware` works, `middleware` does not )

@maksimr

[2017-01-17 21:19] maksimr commented on #2539
@linuxenko `middleware` should work. Note `middleware` set [**after** karma middleware](https://github.com/karma-runner/karma/blob/master/lib/web-server.js#L78-L82)!

Maybe in your case request simple **does not reach** your middleware.

[2017-01-18 17:02] #2447 closed

[2017-01-19 11:38] jeserkin commented on #2485
@whit537 I've looked into it and have to say. Very slow sync. People will not agree to that.

[2017-01-19 14:46] vivganes commented on #2532
@dignifiedquire I believe this will be fixed by adding a big numerical value for `processKillTimeout` property.  I have created a PR #2541 to update the docs.

But, in order to be used by @isiahmeadows, we might need to release a version.

@isiahmeadows Is it possible for you to check directly from master? Do you require a release?

[2017-01-19 14:57] wesleycho commented on #2532
@vivganes you can always specify to consume a specific commit with npm. Karma doesn't have a build process, so it wouldn't depend on anything special being done.

[2017-01-19 17:30] brentoneill commented on #2528
Closing as it appears the issues is with the `karma-chrome-launcher` plugin - tests run fine on the FireFox launcher

[2017-01-19 21:07] isiahmeadows commented on #2532
I'd strongly prefer a release, but I can at least try `master` or whatever
you all use for nightlies, until it's released (I control it exclusively,
but it's for a decently sized testing framework). It's basically blocking
me from debugging an unusual, obscure bug in a dependency that won't easily
reproduce, something I'm *not* looking forward to.

[2017-01-20 01:41] whit537 commented on #2485
The sync lag hasn't been an issue for us. We've had more [trouble with linking](https://twitter.com/whit537/status/816396064806801409). 😞  If you find a better alternative I'd be interested!

[2017-01-20 02:31] wesleycho commented on #2538
Could https://github.com/karma-runner/karma/commit/3d94b8c be the culprit @dignifiedquire ? I wonder if this would be improved when we switch to Node 6+ .

[2017-01-20 03:37] metavurt commented on #2372
Came here to duplicate @chazzlabs comment. Searching for a solution that works long term.

[2017-01-20 10:32] dignifiedquire commented on #2538
@wesleycho that shouldn't be a problem, safe-buffer [checks if the methods are there](https://github.com/feross/safe-buffer/blob/master/index.js#L4) before patching

[2017-01-24 15:40] joetidee opened #2550 "Error: No provider for "framework:chai"!"
Have loaded chai 3.5.0 package into my webpack project as a dependency, am getitng the following error when running `sudo npm run test`:

[code]

karma.conf.js:
[code]

[2017-01-24 15:49] joetidee commented on #2550
Installed the `karma-chai` package to fix this.

[2017-01-24 15:49] #2550 closed

[2017-01-25 12:38] pbio commented on #1868
If others are having this issue still, I solved it buy using

`node --max_old_space_size=4096 node_modules/karma/bin/karma start`

instead of

`karma start`

[2017-01-25 23:55] octalmage commented on #1087
I'm running into the same issue, the first test runs and works, but all auto-runs after that don't run the updated code. I tried the glob technique above but it didn't resolve the issue for me. Note that it does work if I run them locally, but in a Docker container it doesn't.

[2017-01-26 21:21] krmannix commented on #1206
I'm having this issue as well, on a wercker box. Haven't done anything, builds just starting failing beginning of this week. Our timeout is 60s, so that doesn't seem to be an issue

[2017-01-26 21:33] krmannix commented on #1206
I was able to resolve this with [this workaround](https://github.com/karma-runner/karma-chrome-launcher/issues/73#issuecomment-236597429)

[2017-01-27 15:08] bennyn opened #2552 "Batch job does not terminate with Karma 1.4.0"
### Expected behaviour

The batch job `gulp test_browser` should terminate when the Gulp task `test_browser` finishes.

### Actual behaviour

The batch job `gulp test_browser` does not terminate when the Gulp task `test_browser` finishes. I need to kill the job manually (`Ctrl + C`).

### Environment Details

- Operating system: Windows 10 Home
- Karma version (output of `karma --version`): 1.4.0

[2017-01-27 18:04] abogartz commented on #2526
I've also been having this problem for about the last month.

[2017-01-29 04:14] #2532 closed

[2017-01-29 05:11] isiahmeadows opened #2553 "Awkward to install from repo via `npm install karma-runner/karma`"
It'd be much more helpful to do that if I didn't have to turn around and also `pushd node_modules/karma && npm i grunt && grunt build && popd`.

[2017-01-29 05:18] isiahmeadows commented on #2553
I'm looking in terms of CI, to clarify.

[2017-01-29 21:08] dignifiedquire commented on #2553
The git repo is not really meant to be installable due to the code generation. Is there a specific reason why you need to install from git instead of npm?

[2017-01-29 21:09] dignifiedquire commented on #2552
Thank you for the report

[2017-01-30 02:00] isiahmeadows commented on #2553
An important patch is available there that hasn't made it to npm.

On Sun, Jan 29, 2017, 16:08 Friedel Ziegelmayer <notifications@github.com>
wrote:

[2017-01-30 15:41] dignifiedquire commented on #2553
I did a release yesterday, so you can use `1.4.1`

[2017-01-30 16:37] isiahmeadows commented on #2553
Well, then. That fixes my problem. 😄

[2017-01-30 16:37] #2553 closed

[2017-01-30 19:47] gkatsev opened #2556 "karma 1.4.0 broke IE8 support"
### Expected behaviour
Running karma in IE8 is possible.

### Actual behaviour
IE8 does not work anymore.

### Environment Details

- Karma version (output of `karma --version`):
- Relevant part of your `karma.config.js` file

Karma version: 1.4.1
My karma config is available [here](https://github.com/videojs/video.js/blob/master/test/karma.conf.js)

### Steps to reproduce the behaviour

1. Start