[2017-01-30 19:47] gkatsev commented on #2556
Here's greenkeeper's issue against the videojs project which alerted me to this: https://github.com/videojs/video.js/issues/3946

[2017-01-30 20:10] dignifiedquire commented on #2556
Thank you for the report. If you could help us figure out what exactly the issues are, that would be great. As far as I understood socket.io broke IE8 but fixed it later at which point I upgraded the dependency. But it sounds like sth ist still not right.
Agreed on using ES3 preset, want to do a PR for that?

[2017-01-30 20:16] gkatsev commented on #2556
I'll make a PR for the es3 preset and I'll investigate the socket.io thing. Thanks for the quick response!

[2017-01-30 20:21] gkatsev commented on #2556
The es3 preset PR: https://github.com/karma-runner/karma/pull/2557

[2017-01-30 21:35] gkatsev commented on #2556
So, the socket.io issue is that uglify 2.7 disabled support for IE8 in a minor version update. Since karma  uses the minified file it broke. Switching to the unminified file works great. I'll open an issue/PR against socket.io-client

[2017-01-31 18:57] gsuresh86 commented on #2474
I would like to contribute to the website. Here is my first pull request
https://github.com/karma-runner/karma-runner.github.com/pull/40

[2017-01-31 19:57] gkatsev commented on #2556
I opened up an issue against socket.io-client: https://github.com/socketio/socket.io-client/issues/1063
Unfortunately, I can't help out anymore with this this week (most likely). It seems like the problem isn't even in socket.io-client but in a dependency.

An easy workaround is to serve the socket.io-client file manually and only use the unminified file as that one works.

I'll check back in next

[2017-01-31 22:07] Luchillo commented on #2474
@dignifiedquire I would like to help but first i have to make work karma in my project.

Basically a Node api, with webpack, typescript, karma, jasmine, and trying to integrate karma-coverage, until that happens i'll be of no use.

[2017-01-31 23:13] raptoria opened #2558 "Possible to serve up a file so that it is available at localhost:9876, and not /base/ ?"
I have {pattern: './src/newWave.html', watched: false, served: true, included: true}, in my files list, but I would like this file to be available at localhost:9876/newWave.html, and not localhost:9876/base/src/newWave.html/ (the way it is now)

How would I do this?

[2017-02-01 07:12] macdaddyaz commented on #2348
I am getting the same behavior. This is affecting my integration builds on Travis CI.

karma.conf.js:
[code]

I can simulate the behavior by setting the `TRAVIS` environment variable locally.

[code]

Karma is definitely using my Travis browser config (note the "Chrome (Travis CI)" in the log). But when the tests are complete, the runner and browser just sit there. I have to Ctrl-C to stop them. I

[2017-02-01 07:17] macdaddyaz commented on #2348
I just installed the CLI, and specifying `--single-run` on the command line works properly. Only the property in the config file is being ignored.

I guess for now a workaround is to tweak the `npm test` command to supply the `--single-run` param.

[2017-02-01 19:08] raptoria commented on #2558
figured it out
    proxies: {
      '/newWave.html': '/base/src/newWave.html'
    },

[2017-02-01 19:08] #2558 closed

[2017-02-01 21:56] dignifiedquire commented on #2558
Great that you found it yourself, and thank you for reporting your solution :)

[2017-02-02 00:27] pedrotcaraujo opened #2559 "Karma does not install in node v7 as --save-dev"
### Expected behaviour
Would like to install Karma in Node v7
### Actual behaviour
NPM engines disable to install karma with node v7 in my project, but global it works.
### Environment Details
- Karma version (output of `karma --version`): Karma version: 1.4.1

### Steps to reproduce the behaviour

1. nvm install v7
2. npm install karma --save-dev
npm ERR! notsup Unsupported engine for karma@1.4.1

[2017-02-02 01:09] pedrotcaraujo commented on #2559
By myself I found out the answer :). Because LTS https://github.com/nodejs/LTS. It can close if you want.

[2017-02-02 12:45] JPMoresmau commented on #2408
I'm now using Chrome 55, which also gave me an error with no message, but I manage to fix it (https://github.com/angular/angular-cli/issues/2125). so this can be closed. It would be good to get more information on an error, though.

[2017-02-02 12:45] #2408 closed

[2017-02-03 10:55] alexey2baranov commented on #1873
I notice same issue in only one my spec file. The others specs are runed once

[2017-02-03 19:30] gandra commented on #1788
Having the same issue with fresh new angular2 app made with angular cli: http://stackoverflow.com/questions/42030568/how-to-manage-to-exit-phantomjs-launcher-after-tests-execution

[2017-02-04 14:00] #2233 closed

[2017-02-07 08:40] sunfeng90 commented on #785
Solved this problem by calling "npm install karma-requirejs"

[2017-02-07 19:34] Fernker commented on #2317
Just chiming in that I'm seeing this as well.  I only see it when on the default Karma window and inspecting the traffic (in the iFrame).  I get the `?undefined`.

But if I go to the Debug window there is no `?undefined` and I don't have the caching issue in that window, just in the main one.

[2017-02-07 20:11] Fernker commented on #2317
I seemed to have found a possible culprit.  In lib/middleware/karma.js there are these lines:

`if (requestUrl === '/context.html') {
       filePath += '?' + file.sha
  }`

Which confirms what I was seeing that it was only happening with the iFrame (context.html).

At this point the file object has no .sha on it, thus putting `?undefined` and then later the cache-headers function (lib/source_file

[2017-02-09 01:59] grifball commented on #2552
I tried your repo on Ubuntu 16 and it terminated correctly. Seems to be a windows thing.

[2017-02-09 18:01] ethaneron commented on #558
Hello everyone,  I ran into this same (frustrating) issue and discovered the problem was in the gulp config I was using to run karma / PhantomJS.  When I changed singleRun: false -> true it started working for me again:

[code]

[2017-02-10 07:59] dryajov opened #2565 "Fail tests on unhandled exceptions"
### Expected behaviour
Tests should fail on unhandled exceptions

### Actual behaviour
Tests succeed on unhandled exceptions

### Environment Details
- Karma version (output of `karma --version`):
   Karma version: 1.4.1
- Relevant part of your `karma.config.js` file

### Steps to reproduce the behaviour

1) create a spec file that throws an exception (e.g. `throw 'Throwing on purpose!!!'`)
2) run

[2017-02-10 17:38] dryajov commented on #2565
@dignifiedquire any input on this? Is this expected behavior or a bug? I can probably dig around the code base see whats the best solution for this is, but would love to hear your feedback first.

[2017-02-10 19:13] maksimr commented on #2565
@dryajov could you provide stub project to reproduce this error

Thanks

[2017-02-11 11:51] duncanawoods commented on #2348
I'm seeing both --single-run argument and the config file parameter being ignored when karma is launched from another process. Both work as expected when the same command line is executed in a shell.

    Win10
    node v7.4
    karma-chrome-launcher@2.0.0
    karma@1.4.1
    karma-cli@1.0.1

I can upload a test case if you need it.

[2017-02-11 16:34] elliot-j opened #2567 "missing official doc for client.builtPaths configuration setting"
The karma.conf.js file in the [angular 2 quickstart](https://github.com/angular/quickstart/blob/master/karma.conf.js) project uses the setting

    client: {
          builtPaths: [appBase, testingBase], // add more spec base paths as needed
          clearContext: false // leave Jasmine Spec Runner output visible in browser
        },

I have been looking for what exactly the `client.builtPaths`

[2017-02-14 02:36] dryajov commented on #2565
Turns out that this behavior was caused by `failOnEmptyTestSuite` being set to false and the exception thrown outside an `it` (mocha) definition. Though this flag makes things quite confusing in this particular scenario, I wonder if tests should fail on unhandled exceptions even with this flag set to false, or maybe have a flag to control it this behavior, something like `failTestsOnUnhandledExcep

[2017-02-14 09:20] Dipak1991 commented on #508
Is there any way in which I can skip nested directory keep everything else in the coverage report ?

[code]

I want to exclude all files under my

`src/lib/!(filters)/**`

But want everything else under src in coverage report.

OP - http://stackoverflow.com/questions/42105675/karma-config-to-exclude-nested-directories

[2017-02-15 03:14] abdulrahmank commented on #2559
How did you solve this issue? @pedrotcaraujo

[2017-02-15 16:42] Koslun commented on #1788
Still seeing this issue with karma version 1.4.1. I.e. after the gulp tasks have completed and results have been output to console there is a roughly ~35 second delay before the process fully exits. Manually counted to around ~35 seconds on my local relatively powerful Ubuntu desktop machine while the pipelines I've seen on our CI on Codeship repeatedly got around the same value of 35 seconds +/-

[2017-02-16 02:24] pedrotcaraujo commented on #2559
I just downgrade my node to LTS version 6 =/

[2017-02-16 08:42] dignifiedquire commented on #2559
We just need to add `7` in the engine field in `package.json` and do a release with it. PRs welcome

[2017-02-16 12:09] pedrotcaraujo commented on #2559
@dignifiedquire will this change considered? Since that node v7 is not a LTS yet.

[2017-02-16 12:43] dignifiedquire commented on #2559
@pedrotcaraujo that's fine, we still want to support it

[2017-02-16 13:03] devanshah commented on #2534
Any update on this one?

[2017-02-16 13:05] devanshah1 commented on #2534
Any update on this issues?

[2017-02-16 13:10] devanshah1 commented on #2534
Closing this one as it is the same as #2192

[2017-02-16 13:10] #2534 closed

[2017-02-16 23:05] Behroozz opened #2572 ""a" start ./test/karma.conf.js was unexpected at this time.""
### Expected behaviour
when I ran this script in package.json
`"scripts": {
    "test": "karma start ./test/karma.conf.js", `
with yarn test or npm run test it should be able to find karma and run the script

### Actual behaviour
Throw an error:
`yarn test v0.20.3
$ karma start ./test/karma.conf.js
a" start ./test/karma.conf.js was unexpected at this time.
`
### Environment Details
Karma : 1.4.1
N

[2017-02-17 10:46] #2559 closed

[2017-02-17 14:59] joyfulelement commented on #2572
I had experienced the same issue. It happened on my Windows developement environment.

[2017-02-17 15:04] Dipak1991 opened #2575 "Exclude files from nested directory in preprocessor"
I have directory structure like,

[code]

I want a code coverage for all *.js files under src folder expect  `src/lib/!(filters)/** ` and  `src/!(test)/**,`

I tried,

`{src/**, src/lib/!(filters)/**, src/!(test)/**}/!(*.spec!).js : coverage `

but its excluding everything and giving coverage report only for files under lib folder except filters folder.

Any thoughts on how this can be solved?

[2017-02-18 12:56] WeijianXu commented on #706
@arunkumarg Your methods are really helpful!

[2017-02-19 11:43] #2061 closed

[2017-02-19 17:16] bushuyev commented on #1873
Chrome runner +dots or spec reporter result in same.

[2017-02-19 20:52] wangyunan941113 commented on #1265
Hi， I have the same problem with you , have you fixed it?

[2017-02-20 05:54] devinscodev opened #2579 "EINVAL error on 'karma init'"
### Command
`C:\Development\Proj1> karma init karma.conf.js`

### Expected behaviour
The Karma init questionnaire should begin

### Actual behaviour
I get this error:
[code]

### Environment Details
- OS: Windows 10
- Karma version: 1.4.1
- Node version: 7.1.0

I have tried this both by invoking Karma directly through `./node_modules/.bin/karma init karma.conf.js` and by installing the cli and inv

[2017-02-20 08:11] devinscodev commented on #2579
Looks like this is an issue (nodejs/node#9542) with the version of Node and Windows I was using. I have switched back to 6.9.5 and am no longer experiencing the issue.

[2017-02-20 08:11] #2579 closed

[2017-02-21 15:52] sabi0 opened #2581 "Git Commit Msg document error"
The page at http://karma-runner.github.io/1.0/dev/git-commit-msg.html  says that the commit message body

However, the example at the top of the page has the body starting with "Added".

[2017-02-21 19:30] sterjakovigor commented on #1087
Same problem karma 1.5.0!

[2017-02-21 22:58] ykosbie opened #2582 "Undocumented breaking change"
### Expected behaviour
#2228 extended `browserConsoleLogOptions.level` to filter messages on the terminal.  This changes the behavior of karma so that under certain circumstances messages created with `console` no longer show up in the terminal without configuration changes.  This should be documented.

### Actual behaviour
There is no documentation.  In my case I spent over 3 hours investigating

[2017-02-22 10:39] dignifiedquire commented on #2581
Thank you for spotting this. Want to file a PR to update the example?

[2017-02-22 10:41] dignifiedquire commented on #2582
Log levels keep on giving. I am sorry about that. @wesleycho could you do a small write up about the old vs the new behaviour, that we can put into the changelog?

[2017-02-22 10:48] sabi0 commented on #2581
I think a PR would be an overkill for such a minor fix. Feel free to commit the change yourself.

[2017-02-22 12:04] mgol commented on #878
Another idea on how to make it work is in #20. That would not require OSAscripting and would resolve some other issues as well.

[2017-02-22 15:06] wesleycho commented on #2582
Sure, how should I do so - should I modify the changelog?

[2017-02-24 00:49] lpender opened #2585 "Tests do not tear down properly"
### Expected behaviour

Tests should run independently, cleaning up javascript variables and DOM between test runs.

### Actual behaviour

Tests do not properly tear down and clean up, have poor separation.

### Environment Details

- Karma version (output of `karma --version`):

[code]

### Steps to reproduce the behaviour

1. Create the following test file:

[code]

2. Run the tests.
3. Tests sh

[2017-02-24 10:02] gerome0123 opened #2586 "how to load module in karma test or in config"
### Expected behaviour
  pass my single test
### Actual behaviour

my angularjs have a module for my controller
#= require ./../base

#= require angular-file-model
#= require angular-file-upload

angular
  .module "CaesApp", ["CommonApp", "file-model", "angularFileUpload"]

i do this to minimize my code to prevent repeating code every controller.

it seem karma did not load my module?????

### Env

[2017-02-24 17:05] valera-rozuvan commented on #2474
@dignifiedquire I want to help. Code, documentation, project management, issues & bugs, etc.

[2017-02-24 20:32] Fernker commented on #1035
@bcherny Were you able to find the solution to your issue?  I'm seeing the same thing happen (20-30 builds) and I'd really like to solve it.

[2017-02-24 22:22] Luchillo commented on #2474
Hey @dignifiedquire i actually managed to get through it, i have a current Node.js app running on karma, jasmine and typescript with karma coverage on, wanna take a look?

Although i need to updated since the real project in which i have it working is in Bitbucket in a privated repo: [Luchillo/Node-typescript-karma-base](https://github.com/Luchillo/Node-typescript-karma-base)

[2017-02-27 08:21] spongyT commented on #1476
Go the same problem and it´s very annoying especially if you run tests with async(), which will fail, when proxied request are denied.
Actually I found a workaround for my problem by injecting some class which don´t rely on proxied request, but a general fix will be welcome.

[2017-02-28 10:16] pdeveltere commented on #1265
Same problem here...

[2017-02-28 14:14] Luchillo commented on #2485
Have anyone considered Gitter? i find it very good with the support for markdown syntax, as well as the code highlight.

[2017-02-28 16:43] chaabenMohamed opened #2587 "Wrong log while watching when test is focused"
### Issue
When running karma in watch mode, the log is correct, after focusing one test (we tell karma to run only that test and not all the tests), the log displays always the result of running all the tests. However, after verifying the execution in the browser, only one test have been executed.
This issue does't exist in v0.13.22, it only appears starting from v1.0.0.

### Expected behaviour
Lo

[2017-02-28 19:55] robsimmons commented on #2582
The new behavior doesn't seem like it could be consistent with the _debug info log warn error_ ordering of console verbosity that the previous ticket claimed. If I include this in a spec:

[code]

then as of 1.5.0, on the command line I get

[code]

The string `browserConsoleLogOptions` only appears under ./node_modules/karma.

[2017-03-01 07:30] cjemagid commented on #1349
I struggled with the exact same problem. After investigating I realized that karma was running globally using '/usr/' directory as the base folder.

A solution that worked for me was to replace karma with karma-cli:
`npm remove -g karma
    npm install -g karma-cli`

[2017-03-01 07:32] cjemagid commented on #880
I struggled with the exact same problem. After investigating I realized that karma was running globally using '/usr/' directory as the base folder.

A solution that worked for me was to replace karma with karma-cli:

[code]

[2017-03-01 14:43] robsimmons commented on #2582
To be clear, "the ordering that the previous ticket claimed" refers to @dignifiedquire's comment on December 7 to #2228.

[2017-03-02 01:12] JoshSchreuder commented on #2268
Sadly I have the same issue with `phantomjs-prebuilt@2.1.7`. Running the same tests in Chrome / Firefox correctly picks up the sourcemaps in stacktraces. This seems to be a problem with Phantom.

[2017-03-02 15:29] s100 commented on #2582
Yes, it seems that in practice the order of decreasing verbosity/increasing severity is now `log`, `debug`, `info`, `warn`, `error`. Since the default value of `browserConsoleLogOptions.level` is `"debug"`, this means that anybody not using this option will no longer see `console.log` entries at all.

A workaround is to set `browserConsoleLogOptions.level` to `"log"`.

[2017-03-02 18:01] gcca commented on #2474
I would like contribute, @dignifiedquire. I could help in Issues & Support, and Coding.

[2017-03-02 18:06] gcca commented on #2572
Can you share your karma configuration file?

[2017-03-02 18:14] gcca commented on #2565
I follow your steps and karma shows the thrown error.

[2017-03-03 12:26] EddyP23 commented on #2489
So what is the plan for this? Is there a repo or an issue I can follow to track progress on this?

[2017-03-03 12:31] myitcv commented on #2489
@EddyP23 in lieu of something official, you can create a custom launcher today, per [this comment](https://github.com/karma-runner/karma-chrome-launcher/issues/83#issuecomment-280423282)

[2017-03-03 13:50] mgol commented on #2582
Chrome has 4 levels of filtering output in a console: Verbose, Info, Warnings & Errors. Choosing Errors just enables `console.error`, choosing Warnings enables `console.error` & `console.warn`, choosing Info enables everything except `console.debug` and choosing Verbose enables anything.

This means while order between LOG & INFO is not clear, they both should definitely be closer to ERROR than DE

[2017-03-03 14:37] rogeriopvl commented on #2474
@dignifiedquire I can help with karma-chrome-launcher & karma-cli

[2017-03-03 15:35] robsimmons commented on #2582
[This doc](https://developers.google.com/web/tools/chrome-devtools/console/console-reference) (and I've found at least one other) says that Log + Debug are exact aliases, so contrary to what the previous issue said (and what I was kind of advocating for above), putting Info between Log and Debug probably isn't justifable. So either log > debug, log = debug, or log < debug is justifiable, but the i

[2017-03-03 16:41] mgol commented on #2582
@robsimmons What I proposed fits passes your criteria regarding the desired order. If we're talking compatibility breaks, though, previously `LOG_INFO` printed `console.log`s and now it doesn't so to be backwards compatible the order would have to be:
[code]

[2017-03-03 16:48] dignifiedquire commented on #2582
So if I understand it correctly, if we move to the last option @mgol proposed brings the default behaviour back to what it was before, while matching the general expectations for the various values that can be set. Could I get some confirmation for that?

[2017-03-03 17:05] robsimmons commented on #2582
@dignifiedquire I believe that's mostly right. The sadness is there has to be a choice between backwards compatibility and complying with the spec that Console.log === Console.debug.

There's a separate and not-cleanly-answerable question of whether "general expectations" match the spec. I suspect the ordering disable / error / warn / log / info / debug may be both "incorrect" and "generally expec

[2017-03-04 14:30] hikirsch commented on #2572
We are experiencing this problem too, also on a Windows environment.  Our karma config is straight out of the angular-cli, untouched.

[code]

[2017-03-04 15:56] dignifiedquire commented on #2474
@gcca @rogeriopvl great to hear :) feel free to start responding to issues and making PRs for fixes :)

[2017-03-04 19:31] ykosbie commented on #2582
@robsimmons @dignifiedquire I first encountered this issue b/c I was working w/ the expectation that log != debug.  `console.log` is used as the default "write output the screen" in most tutorials I've seen.  It's even used in the [official jasmine docs](https://jasmine.github.io/edge/node.html#section-Custom_onComplete).  According to the spec, most of these cases should be using `console.info` b

[2017-03-04 21:19] rogeriopvl commented on #2474
@dignifiedquire already did a PR and checked some issues, but it would be easier if you add me to the repo/org so I can starting labelling and cleaning stuff.

[2017-03-05 07:36] iyyappan13391 opened #2592 "what is the phantom pdf A4 size in pixel?"
Actually i am using getting final output pdf A4 with help of phantom.I'm having content of exact A4 size(595 * 842 pixels).But **phantom pdf output** is larger than A4(595 * 842 pixels).B size.

Does anybody know???

[2017-03-05 09:40] saeidalidadi commented on #1507
I have the same problem for my new project which is based on `angularJs`.
I have been solved this with my solution that I think would be useful to write it here.

My project directory structure is as follow:
[code]
`karma.conf.js`
[code]

[2017-03-07 00:52] petemill opened #2593 "TypeError: Cannot read property 'unmask' of undefined (Socket.io)"
With a fresh `npm install` I am suddenly seeing an error to do with Karma's socket.io code. This is across different browsers (Chrome / PhantomJS) and systems (macOS / Ubuntu).

### Expected behaviour
Karma starts, loads browser, connects to browser and then runs tests.

### Actual behaviour
Karma starts, loads browser, and fails to connect to browser, instead receiving a syntax error:
[code]

###

[2017-03-07 01:16] petemill commented on #2593
Can ignore this - weird coding in ws package can cause conflict if more modern version of bufferutil and utf-8-validate packages are installed

[2017-03-07 01:16] #2593 closed

[2017-03-08 06:48] msintaha commented on #1268
Has anyone found any fix for this? I'm facing the same problem in my Jenkins CI server and the tests run perfectly in local env but fails in CI, UNLESS I decrease the number of tests. It seems like it can only run 139-140 tests successfully but after that it starts giving `Script Error`. This is a huge issue as it's not letting me add more tests. I've also removed the `$window` spies but it still

[2017-03-09 11:17] esr360 commented on #438
Config didn't work for me either, I'm still having issues with media-query dependent code due to being unable to alter the browser resolution.

[2017-03-11 22:04] FezVrasta commented on #2592
What the hell does it have to do with Karma Runner?

[2017-03-12 01:21] #2592 closed

[2017-03-12 01:28] maksimr commented on #2587
@chaabenMohamed could you add `karma.config` to the description or create a stub project which reproduces the problem because I can't reproduce the problem using `karma@1.5.0`,`karma-jasmine@1.1.0` and `jasmine-core@2.5.2`

Thanks

[2017-03-12 01:39] maksimr commented on #2585
@lpender I don't think that this stuff should be in the karam because:

1. It's hard to implement properly
2. Karma is a test runner, it's not a test framework
3. Client test code know more about test's context and test framework

In your case, it is easy to implement using something like `beforeEach` or `afterEach`. Where you write code which setup(beforeEach) and clean(afterEach) environment.

[

[2017-03-12 01:48] maksimr commented on #2586
@gerome0123 the order is matter

[code]

`karma` will load `angular.js` first then `angular-mock.js` and then `Position1IndexCtrl.js`
where as I see from description you try use module `CaseApp` which is not defined when we execute `Position1IndexCtrl.js`

[2017-03-12 01:48] #2586 closed

[2017-03-13 11:31] zwolej opened #2599 "Karma fail on big amount of tests"
I am using fresh angular-cli I started to write tests for all components. Simple test that checks if component will atleast compile:
[code]
After adding like 50 such tests my karma broke with:

[code]
So I added to karma:

[code]

everything worked fine, but now when I added like 150 tests more and I changed  browserNoActiviity to 210000 Karma is failing with message.

[code]
How should be setup k

[2017-03-13 13:04] zwolej commented on #2599
It seems that adding helps

but I dont understand why browser disconnect ?

[2017-03-13 19:23] lpender commented on #2585
I'm working on building end-to-end tests with video ad technology.

Video ads generally, and video js specifically, create side-effects that
can be unpredictable and hard to track down.

The result is that, often, tests pass when run separately but fail when run
together.

Thanks

On Sat, Mar 11, 2017 at 8:39 PM, Maksim Ryzhikov <notifications@github.com>
wrote:

[2017-03-13 19:50] maksimr commented on #2585
can be unpredictable and hard to track down.

If it's hard to track down by the client application, how should it track `karma`?

Thanks

[2017-03-14 07:01] iyyappan13391 commented on #2592
Apologies for my mistake.

[2017-03-14 08:57] moehlone opened #2602 "Missing console logs in terminal output"
Hi,

until karma 1.4.1 I had console.log / error / debug output but since 1.5.0 nothing is printed to the terminal. I have seen the following changelog:

filter browser logging by level of LOG (89a7a1c), closes #2228

Do I have anything to adapt?

Following config is used:

[code]

Thank you!

[2017-03-14 09:08] IgorAufricht commented on #2228
This change made the LOG level messages the lowest priority, which I think should not be the case based on the comment by @dignifiedquire above:

See #2602.

[2017-03-14 09:09] IgorAufricht commented on #2602
Based on the commit 89a7a1c LOG level messages are of the lowest priority. I don't think this should be the case looking at the comments from #2228:

[2017-03-14 12:18] remcohaszing opened #2603 "Headless Chrome instances is reported as Safari 0.0.0"
Most of this was copied from https://github.com/karma-runner/karma-chrome-launcher/issues/107

### Expected behaviour

Google Chrome headless should be reported as Google Chrome.

### Actual behaviour

When Google Chrome is configured to run in headless mode, Karma reports it as Safari 0.0.0.

### Environment Details

- Karma version (output of `karma --version`): Karma version: 1.5.0
- Google Chr

[2017-03-14 12:20] remcohaszing commented on #2489
Chrome headless just works. See #2603 for an example configuration.

[2017-03-14 13:11] madCoder24 commented on #2603
I am seeing the same thing, but I get additional output. That says "executed 0 out of 0 disconnected". I am not sure if this is because I am running Chrome headless or something other issue due to my Karma configuration.

[2017-03-14 14:24] remcohaszing commented on #2603
@madCoder24 I think that's related to another part of your config. The above config works just fine for me.

[2017-03-14 17:10] rogeriopvl commented on #2603
Is chrome headless user agent different from normal chrome?

That could be the issue. Karma uses the [useragent](https://www.npmjs.com/package/useragent) package, which in turn uses the [uap-core](https://www.npmjs.com/package/uap-core) package to identify UAs. Maybe that package needs to be updated to include the chrome headless UA string?

[2017-03-14 17:12] blackswanny commented on #2602
I don't see link to original report. Log function is the basic and lowest priority function of `console`, so it was obvious to put it there.
@moehlone for browser console to work you need to add `browserConsoleLogOptions` option in config

[2017-03-15 06:30] doberkofler opened #2605 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
### Expected behaviour
run an arbitrary large number of unit tests run in a single invocation

### Actual behaviour
when combining a large number of unit tests, they eventually fail with the error:
FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory

### Environment Details

- Karma version (output of `karma --version`):

    "karma": "~1.5.0",
    "karma-chai": "~0.

[2017-03-15 08:18] donaldpipowitch commented on #2602
@blackswanny Thank you for the hint. I added this to my config and now I can see my logs again on the terminal.

[code]

The docs about this config can be found [here](https://github.com/karma-runner/karma/blob/eaeffe94470775fdc8b9924e386a96fb8893ac47/docs/config/01-configuration-file.md#browserconsolelogoptions).

[2017-03-15 08:50] moehlone commented on #2602
I swear I added this too, but with level 'info'.. It works now - sorry and thank you!

[2017-03-15 08:50] #2602 closed

[2017-03-15 10:58] remcohaszing commented on #2603
Yep, the user agent differs.

Regular Chrome:

[code]

Headless Chrome:

[code]

[2017-03-15 11:30] IgorAufricht commented on #2602
The [documentation](https://github.com/karma-runner/karma/blob/eaeffe94470775fdc8b9924e386a96fb8893ac47/docs/config/01-configuration-file.md#browserconsolelogoptions) says:

This is currently not the case. Log level is not always logged, it's only logged when you set the `level` to `log`:
[code]
For every other `level` setting (including the default), the `log` level messages are not logged.

I be

[2017-03-15 12:31] Catx7 opened #2606 "[help wanted]Karma.config.js babel-node"
Hello ,
I am using ES6 and I want to export karma config to be used with others config files.

If I export my karma.config.js file like this it works somehow:
`module.exports = (cfg) => cfg.set(karmaConfig)`
but I want to export file settings this way:
`export default karmaConfig;` becaue I use babe-node and ES6 and my other config files like webpack.config.js is exported like this .
`export defau

[2017-03-15 12:35] Catx7 commented on #2606
script from package json to start karma
`"babel-node ./node_modules/karma/bin/karma start config/karma.config"`
karma config file.
[code]

[2017-03-15 13:46] rogeriopvl commented on #2603
Thanks for checking the UA @remcohaszing. Pull request opened upstream to fix this: https://github.com/ua-parser/uap-core/pull/228

[2017-03-15 15:59] blackswanny commented on #2602
agree. However, the main idea is to prevent consoling of some level and up.
Putting LOG above all is just shuffling of these functions in not a natural way.
The priority should be  log() , info() , debug() , warn() , and error() .
I vote for the change of documentation rather than meaning of these functions, which is confusing.

[2017-03-15 22:04] maksimr commented on #2585
@lpender I think you could implement this using [customContextFile](http://karma-runner.github.io/1.0/config/configuration-file.html).

You could at [default implementation of context.html](https://github.com/karma-runner/karma/blob/master/static/context.html#L28).
As you can see there you have special variables like ` %MAPPINGS%` and `%SCRIPTS%`.
This allows you control when and how load the file

[2017-03-15 22:07] jnwu commented on #1035
As a workaround, I am forcing the karma server to be executed in a separate process via 'gulp-multi-process'

`
gulp.task('test', () => {
    const config = parseConfig(path.resolve('test/karma.conf.js'));
    const server = new karma.Server(config);
    server.start();
});

gulp.task('multi', (cb) => {
    return multiProcess(['test'], cb);
});

gulp.task('watch', () => {
    gulp.watch(files, ['

[2017-03-15 22:20] bcherny commented on #1035
@Fernker Missed your comment - we still see this issue every 20-30 builds. When it happens, we restart the build, and it usually passes. I've noticed that it tends to happen more often when we are running multiple builds in parallel on a single environment.

[2017-03-16 01:53] Hosar opened #2608 "Uncaught SyntaxError: Unexpected token export"
### Expected behaviour
Run a test with es6
### Actual behaviour
Getting  Uncaught SyntaxError: Unexpected token export
### Environment Details

- Karma version: 1.5.0

[code]

- babel-core: "^6.24.0"
- node: v7.4.0

[2017-03-16 10:27] dignifiedquire commented on #2605
I have seen this issue before and it is not due to karma but due to webpack as far as I can tell

[2017-03-16 18:14] jadekler commented on #1597
Is this still being considered? @skyrpex

[2017-03-16 21:59] skyrpex commented on #1597
I'm not sure what do you mean, @jadekler. My participation here consisted only in a few comments and opinions 👍

[2017-03-20 02:17] nickmccurdy commented on #2490
The latest versions of eslint, lodash, and log4js now require Node >=4. I think it would be a good idea to update soon if possible.

[2017-03-20 02:21] anatesan opened #2615 "Karma calls Jasmine it test twice. Second call has no preceding beforeEach() call."
### Expected behaviour
I expect
1) each test (specified in it) to be run once
2) each test run of the it call needs to be preceded by a call to beforeEach().

### Actual behaviour
On expected behavior (1) above,  I do see the call to the it test happening twice - see trace below.  (Note there is an issue reported here in https://github.com/karma-runner/karma/issues/1873)

On expected behavior (2),

[2017-03-20 10:57] moehlone opened #2616 "Promise resolver is executed instantly / then never called"
### Expected behaviour

A promise resolver should only execute after processing the promise with `then`.

### Actual behaviour

Any promise resolver is called instantly and the `then` block/resolver is never called.

### Environment Details

- Karma version: 1.5.0
- `karma.config.js` file:
[code]
### Steps to reproduce the behaviour

1. Run the following coding anywhere in the test setup.
[code]
2

[2017-03-21 11:38] silverbucket opened #2619 "Jenkins tests on MacOS timeout with Firefox, Safari"
### Expected behaviour
Like Chrome, the browser tests should at least start for Firefox and Safari as well.

### Actual behaviour
Browsers are detected and attempted to launch, but Firefox and Safari always timeout and fail. This does not happen on the same Jenkins setup running on a Linux machine.

### Environment Details

node: `7.7.2`
npm: `4.1.2`
mocha: `3.2.0`
karma: `1.5.0`
macOS: `10.12.3`

[2017-03-21 12:42] Catx7 commented on #2606
uadtes?

[2017-03-21 13:37] ricardomlourenco commented on #746
Have you tried use Selenium? There is a plugin for karma I guess:
https://www.npmjs.com/package/karma-selenium-webdriver-launcher

I've never used with Karma however I used it with .net and it worked pretty good.

[2017-03-21 14:39] dignifiedquire commented on #2616
This is not related to Karma, but rather to the promise implementation or shim in the browser you are testing.

[2017-03-21 15:50] moehlone commented on #2616
The problem is, that Karma runs my local browser (Chrome) and execution fails. Our application itself is working in these steps (also tested with the same Chrome). Any suggestions? :/

[2017-03-21 18:55] maksimr commented on #2616
@moehlone I agree with @dignifiedquire this is not a problem of the `Karma`.
This is a default behavior in Chrome. Type your example in developer tools and you will see that Chrome resolve promise immediately.

Thanks
![karam-issue-2616](https://cloud.githubusercontent.com/assets/616193/24165278/01ab3ee2-0e81-11e7-8973-92d6728a716d.gif)

[2017-03-21 18:55] #2616 closed

[2017-03-21 19:01] maksimr commented on #2619
@silverbucket Look lika the problem in [karma-firefox-launcher](https://github.com/karma-runner/karma-firefox-launcher) and [karma-safari-launcher](https://github.com/karma-runner/karma-safari-launcher).

Try run only Firefox or only Safari if this works then try run Firefox and Safari together without Chrome.
Also will be cool if you run karma with LOG_LEVEL.DEBUG.

Thanks!

[2017-03-21 19:16] maksimr commented on #2606
@Catx7  Config file must export a function!

We [support ES6 `default`](https://github.com/karma-runner/karma/blob/master/lib/config.js#L364-L366) so you could write something like this:

[code]

Thanks

[2017-03-21 19:16] #2606 closed

[2017-03-21 19:21] maksimr commented on #2615
@anatesan could you provide test repository which reproduces this problem because we use karma + jasmine in our project and all work as expected.

Thanks

[2017-03-21 19:28] maksimr commented on #2608
@Hosar [karma-babel-preprocessor](https://github.com/babel/karma-babel-preprocessor) is better place for this issue because I think the problem in babel setup.

Thanks

[2017-03-21 19:46] maksimr commented on #2599
@zwolej

**browserDisconnectTimeout** - It means that [socket.io](https://socket.io/) send disconnect event and karma waits specified period of time when socket.io recovers the connection.

**browserNoActivityTimeout** - It means that karma doesn't receive any message from socket.io during this period of time.

In your case, I suggest to remove `code coverage` because it really slows down tests.

[2017-03-21 19:56] #2585 closed

[2017-03-21 20:28] doberkofler commented on #2605
@dignifiedquire I'm using webpack2 for the production code itself and it actually never reports this problem. Is there any way to track down where the problem comes from?

[2017-03-22 00:05] rogeriopvl commented on #2603
@remcohaszing the [useragent](https://npmjs.com/package/useragent) package has now updated the regexps from uap-core ([see here](https://github.com/3rd-Eden/useragent/commit/cbc106584bc417bd5843d3e0fa4d89ef81cd6988)) in version `2.1.13`, so we can close this, since a simple `npm update` should fix this issue.

[2017-03-22 03:13] Hosar commented on #2608
Ok got it, I'll check on that. Thank you

[2017-03-22 08:39] chaabenMohamed commented on #2587
@maksimr karma.config has bin added in old comment.

[2017-03-22 08:44] maksimr commented on #2587
@chaabenMohamed try remove **junit** reporter

[2017-03-22 09:54] chaabenMohamed commented on #2587
I removed junit reporter but I still have the same problem

[2017-03-22 10:05] maksimr commented on #2587
@chaabenMohamed thanks

Could you create project which reproduces this problem then I can investigate this

[2017-03-22 11:31] timargra opened #2622 "Karma proxy behaves weirdly"
### Expected behaviour

Proxy should process requests the same way other servers (e.g. nginx) do.

### Actual behaviour

Getting strange errors - sometimes 404, sometimes other unexpected responses - when proxing my APIs (e.g. Mite API) through Karma. When simply proxying _http://www.google.com_, I get a 404.

To diagnose the problem I proxied an nginx on localhost, but the access log seems fine

[2017-03-22 22:03] robododge commented on #2452
FYI - I ran into the same issue with my karama runtime when switching to Webpack2 for the first time.   But my issue was simple mis-configuration of the new webpack2 module:rules.    I found this by printing the error message from Exception object emitted by webpack.  Karma did not print this message.  This message is important and gives you exact detail as to what is wrong with your webpack confi

[2017-03-23 00:03] yushadowx commented on #1035
The problem remains for Karma 1.4.0 on Windows. Is there workaround for that?

[2017-03-23 07:31] SDohle commented on #2572
I get the same issue on my windows machine

[2017-03-24 02:58] cadreon-ashok-natesan commented on #2615
This reproduces pretty easily for me with this test - this is the spec file referenced in the karma files section below

`describe('demonstrate 2 calls per it', function(){

  beforeEach(function() {
    console.log('in Before Each');
  });

  it('Test1 run', function(){
    console.log('in Test1');
    expect(1).toEqual(1);
  });

  it('Test2 run', function(){
    console.log('in Test2');
    exp

[2017-03-24 17:46] IgorAufricht commented on #2602
@blackswanny While I agree with your idea in general, the fact is `console.log()` calls are common in any js environment and I think it's quite confusing if they are not printed by default.

[2017-03-24 20:56] blackswanny commented on #2602
@IgorAufricht I think this was the main idea of the whole feature. When a person writes unit tests, he wants to focus on exact failing or under investigation unit tests and functionality. The one doesn't want to go through many log pages of some other irrelevant stuff trying to find needed information. Especially, if these console.logs are left by third party frameworks or other parties

[2017-03-25 07:50] levithomason commented on #2119
We also ran into the issue with only receiving each line to the `formatError` method sometime after my last comment.  I hadn't had time to get back here.

The big problem is, you then can't filter out individual lines as the formatter always returns at the minimum a line break: `msg + '\n'` where `msg` is the return of your `formatError` function.

If we simply return the `formatError`'s return va

[2017-03-25 07:57] maksimr commented on #2615
@cadreon-ashok-natesan You should not load jasmine files manually if you set

[code]

so the problem that jasmine loaded twice.

Thanks

[2017-03-25 07:57] #2615 closed

[2017-03-25 07:59] maksimr commented on #2608
@Hosar Did you solve the problem?

[2017-03-25 07:59] #2599 closed

[2017-03-25 08:01] maksimr commented on #2587
@chaabenMohamed do you run karma without code coverage?

[2017-03-25 08:06] levithomason opened #2626 "`formatError` cannot filter out stacktrace lines as stated"
### Expected behaviour
Per the [docs for `formatError`](https://karma-runner.github.io/1.0/config/configuration-file.html) I expect to be able to:

### Actual behaviour
No matter the return value, a new line is always appended to the `formatError` return value.  This makes it impossible to remove the line from the stack.  There are always the same number of lines, even if they are empty.

### Envi

[2017-03-25 08:31] levithomason commented on #2119
Note, fix posted here: https://github.com/karma-runner/karma/pull/2627

[2017-03-25 11:54] donaldpipowitch commented on #2119
Thank you!

[2017-03-25 14:07] paladox opened #2628 "Karma broken since 1.1.1"
### Expected behaviour
Tests to pass

### Actual behaviour
It is failing with an unspecified error.

[code]

See https://integration.wikimedia.org/ci/job/mediawiki-core-qunit-jessie/14342/console please.

### Environment Details

- Karma version (output of `karma --version`):
1.1.1 with https://gerrit.wikimedia.org/r/#/c/343719/

- Relevant part of your `karma.config.js` file
https://phabricator.w

[2017-03-25 14:15] maksimr commented on #2628
@paladox from log above I see that karma does not load your test and source files.

Could you explain what does `pattern: wgServer + wgScriptPath + '/index.php?title=Special:JavaScriptTest/qunit/export',` means in your config, please?

Thanks

[2017-03-25 14:25] paladox commented on #2628
@maksimr Hi, these wgServer + wgScriptPath are defined here https://phabricator.wikimedia.org/source/mediawiki/browse/master/Gruntfile.js;162a7a306c20db2693e842070393676159f653e9$5

And they are defined in https://github.com/wikimedia/integration-jenkins/blob/ddcc42e3f6e069ba7dcf24ca07122c4e68659db9/bin/mw-set-env-localhost.sh

[2017-03-25 14:25] paladox commented on #2628
But this works in 1.1.0 but breaks in 1.1.1

[2017-03-25 14:28] maksimr commented on #2628
@paladox does it work on a local machine(your PC)?

[2017-03-25 14:29] paladox commented on #2628
Haven't tried it locally yet.

[2017-03-25 14:33] maksimr commented on #2628
Changes which can break your code
https://github.com/karma-runner/karma/commit/5690ffe

[2017-03-25 14:35] paladox commented on #2628
oh thanks.

[2017-03-25 14:41] maksimr commented on #2628
@paladox I recommend you check **wgServer**'s log and find the request from the Karma.
Maybe browser doesn't send the request or cut it.

Thanks!

[2017-03-25 14:41] paladox commented on #2628
Oh, i doint have access to those logs. Will have to ask releng (maintains wikimedia's ci). I am going to go through the commits and test them with ci to find out which one breaks.

[2017-03-25 14:45] paladox commented on #2628
It seems it breaks with https://github.com/karma-runner/karma/commit/5690ffe82bb7ff195576f6f43dd8c281e51aa833 as using https://github.com/karma-runner/karma/commit/64453103d6375a4f012ba72fa32bbea9913e7570 works.

Could we introduce a config for this please?

[2017-03-25 14:45] maksimr commented on #2628
If you can run tests locally you could check the request in the browser.

[List of changes between 1.1.1 and 1.1.0](https://github.com/karma-runner/karma/compare/v1.1.0...v1.1.1)

[2017-03-25 14:45] paladox commented on #2628
See https://integration.wikimedia.org/ci/job/mediawiki-core-qunit-jessie/14344/console

[2017-03-25 14:46] paladox commented on #2628
Seems that failed but it lasted longer.

[2017-03-25 14:49] maksimr commented on #2628
@paladox in Jenkins's log problem that you have broken **karma**

[code]
This file should exit

[2017-03-25 15:28] paladox commented on #2628
oh. Thanks. Ok i've built it with that https://github.com/karma-runner/karma/commit/64453103d6375a4f012ba72fa32bbea9913e7570 commit and it works

See https://integration.wikimedia.org/ci/job/mediawiki-core-qunit-jessie/14350/console please.

[2017-03-25 15:37] paladox commented on #2628
Tested with https://github.com/karma-runner/karma/commit/5690ffe reverted and seems to still fail https://integration.wikimedia.org/ci/job/mediawiki-core-qunit-jessie/14351/console

[2017-03-25 15:43] paladox commented on #2628
I didn't revert it correctly. Anyways there seems to be a config to disable that and it now works https://integration.wikimedia.org/ci/job/mediawiki-core-qunit-jessie/14352/console

[2017-03-25 18:18] maksimr commented on #2628
@paladox am I right that problem was in **crossorigin="anonymous**?

[2017-03-25 18:20] paladox commented on #2628
Yep.

[2017-03-25 18:21] maksimr commented on #2628
@paladox Thanks,

but we still should understand what was happen

[2017-03-25 18:36] paladox commented on #2628
Ok, your welcome. :)

[2017-03-25 19:02] maksimr commented on #2628
Ok, I found https://github.com/karma-runner/karma/pull/2318

[2017-03-25 19:02] #2628 closed

[2017-03-25 20:03] cadreon-ashok-natesan commented on #2615
@maksimr Thanks for your pointer.  You are absolutely correct.

After taking this out,  I no longer see this behavior.   This also solved a couple of other issues I was seeing.

I am not sure if this is possible without causing other issues.  Would this make sense to have karma detect this situation and just prevent these duplicate loads (or at least flagging an error)

[2017-03-25 20:11] maksimr commented on #2615
@cadreon-ashok-natesan

I don't think that it's karma's responsibility.
In my opinion **jasmine** should show a warning if jasmine was loaded twice, as it's implemented in **Angular** and **React**.

[2017-03-26 10:25] maksimr commented on #2622
@timargra  you should use [`changeOrigin`](http://karma-runner.github.io/1.0/config/configuration-file.html) option

[code]

The proxy will send **Host** header which refers to `localhost` if you don't turn on *changeOrigin* option.

Thanks!

[2017-03-26 10:25] #2622 closed

[2017-03-26 10:30] maksimr commented on #2605
@doberkofler you can debug it using `node --inspect`

[code]

[2017-03-26 10:33] maksimr commented on #2605
@doberkofler am I right that [you already had such problem with webpack](https://github.com/webpack/webpack/issues/1914#issuecomment-280951550)?

[2017-03-26 10:39] #2603 closed

[2017-03-26 11:22] doberkofler commented on #2605
@maksimr Yes, but the problems have been resolved after migrating to webpack2. I'm not sure where the problem comes from but currently it does not seem as if it would be webpack problem because the webpack builds themselves work as expected and are actually even bigger then the unit tests.

[2017-03-26 11:33] maksimr commented on #2605
@doberkofler I recommend you update [karma-webpack](https://github.com/webpack-contrib/karma-webpack) and try to debug this by `node --inspect`

I'm still thinking that the problem in *webpack*

Thanks

[2017-03-26 11:36] doberkofler commented on #2605
@maksimr Currently using karma-webpack 2.0.3 and will try to debug. Thank you!

[2017-03-26 21:03] maksimr commented on #2489
@wesleycho am I right that we want to build Headless Chrome?

[2017-03-27 11:04] lvanderbijl commented on #199
having the same problem in webstorm 2017 using typescript spec files.

Karma 1.5.0

Can also confirm disabling safe write "fixes" the issue.

[2017-03-28 07:03] madroneropaulo opened #2630 "console log not working"
### Expected behaviour
I expect to be able to ```console.log()``` on any spec.
### Actual behaviour
Logs are printed only within the "describe" scope, but not within blocks beforeEach, it, etc.
Instead, a TypeError is returned "undefined is not a constructor (evaluating 'console.log()'...)"

[code]
### Environment Details

- Karma version (output of `karma --version`): 1.5.0
- Relevant part of you

[2017-03-28 08:22] chaabenMohamed commented on #2587
I have runed karma without code coverage coverage but it still have the same problem.

[2017-03-28 08:31] maksimr commented on #2587
@chaabenMohamed Could you create a project with the problem which I can download and run on my local machine?

[2017-03-28 08:34] maksimr commented on #2630
@madroneropaulo this
[code]
is **invalid** javascript.

Try this in your test:

[code]

[2017-03-28 10:13] madroneropaulo commented on #2630
Ok that was a random comment, I have valid text on my specs. Please reopen.

[2017-03-28 12:41] bennyn opened #2631 "Requiring Karma breaks Jasmine tests due to the use of "core-js""
### Expected behaviour

Passing tests.

### Actual behaviour

[code]

### Environment Details

- Karma v1.5.0
- Node.js v7.7.3

### Steps to reproduce the behaviour

I have a test setup with [Gulp](http://gulpjs.com/), where I use the [Jasmine](https://jasmine.github.io/) test framework to execute a single test.

The test is passing but as soon as I require Karma in my `gulpfile.js` (with `const k

[2017-03-28 15:37] maksimr commented on #2631
@bennyn karma uses [core-js for support **es5**](https://github.com/karma-runner/karma/search?utf8=%E2%9C%93&q=core-js&type=)

cc @dignifiedquire

[2017-03-28 16:01] shirakaba opened #2632 "Imports of style 'import B = A.B' are not understood by Karma"
### Expected behaviour

Should be able to import a module without an error being thrown.

### Actual behaviour

Karma runner reports an error: `"TypeError: FailingModule_1.FailingModule is undefined"`

### Environment Details

- Karma version (output of `karma --version`): 1.5.0

[code]

### Steps to reproduce the behaviour

1. Create a module `FailingModule.ts` with inner classes:

[code]

2. Cre

[2017-03-28 16:48] celamb4 opened #2633 "Jenkins ssh slave - Chrome not captured in X ms"
### Expected behaviour

### Actual behaviour

### Environment Details

- Karma version (output of `karma --version`):
Karma version: 1.5.0

- Relevant part of your `karma.config.js` file
[code]

### Steps to reproduce the behaviour

1. Launch ubuntu ssh slave agent with Xvfb display and chromium. Export Display, export chrome_bin
2. Run npm test via pipeline script (i.e. jenkins agent executes tes

[2017-03-28 18:44] celamb4 commented on #2633
Details on the display (Xvfb). This is the output of the command executed by the jenkins ssh agent in the pipeline. Not manual.

`sh 'xset q`

[code]

[2017-03-28 19:12] maksimr commented on #2632
@shirakaba looks like a problem not in **karma** itself.
I think the problem in misconfiguration of webpack + typescript.
Try pass full **webpackConfig** in karma.config:

[code]

Thanks

[2017-03-28 19:21] maksimr commented on #2633
@celamb4 am I right that If you connect to the *slave* by ssh and run *karma* all work fine?

[2017-03-28 19:36] celamb4 commented on #2633
@maksimr thank you for the reply!

Yes. if I ssh manually (i.e. via my laptop terminal) to the slave ssh node. I can run the tests fine. Not sure why karma is not able to connect to the chrome socket when launching via jenkins agent. Might not be karma, I found #1206 and noticed similar issues/behavior.

Note (FYI): the ssh slave is being launched by the azure vm agent plugin automatically and get

[2017-03-28 19:42] maksimr commented on #2633
Interesting ...

@celamb4 are you sure that Jenkins starts X-server(Xvfb) when it launches an agent(slave)?
Where located code which starts Xvfb ([like this](https://github.com/karma-runner/karma/blob/master/.travis.yml#L36-L37)?

I think that when you connect to the agent by ssh, it starts X-server properly.

[2017-03-28 19:46] maksimr commented on #2630
@madroneropaulo can you create a stub project which reproduces this error?
Because I see nothing strange in your config.

Thanks

[2017-03-28 21:14] celamb4 commented on #2633
Im pretty sure Xvfb is running. Not sure what I'm missing.
Thanks for the support @maksimr

I've tried several ways also. I've been struggling with this for some time now.

1) starting xvfb from within the init script before jenkins runs Slave.jar with:
`Xvfb :1 -screen 0 '1280x1024x24' -ac`

2) starting xvfb right before npm test with:
`sh "xdpyinfo -display :1 >/dev/null 2>&1 && echo 'Display 1

[2017-03-29 08:38] thanhnguyen92 opened #2634 "Unit test karma with browser phantomJS doesn't support import inheritance"
### Expected behaviour

### Actual behaviour

### Environment Details
I have these model classes:

**base.model.ts**
[code]

**customer.model.ts**
[code]

**product.model.ts**
[code]

**home.model.ts**
[code]

**home.service.ts**
[code]
- Karma version (output of `karma --version`): 1.5.0
- Relevant part of your `karma.config.js` file
[code]
- **PhamtomJS** version 2.1.1
- **karma-phantomjs-launch

[2017-03-29 08:55] shirakaba commented on #2632
@maksimr Thanks for coming to help out! Unfortunately, passing the full webpackConfig produces no change in the situation.

[2017-03-29 08:59] maksimr commented on #2632
@shirakaba what browser(launcher) do you use?

[2017-03-29 09:15] shirakaba commented on #2632
Above is a simplified configuration, but to be exact, I use Firefox 49.0.2 (the latest version is Firefox 52 or something), with a custom launcher config to prevent it auto-updating (this is the browser I am forced to use for television-related development):

        browsers: ["FirefoxDev"],
        customLaunchers: {
            FirefoxDev: {
                base: 'Firefox', // I have named Fire

[2017-03-29 10:33] papakai opened #2635 "karma not starting custom browser script correctly"
I wrote a bash script looking like follows:
[code]

starting it manually does what it is written for: opens chromium
`./karma-chrome-browser.sh  http://localhost:9876/?id=12265363`

but this is not working through karma's config file and `karma start`

[code]

I am getting this output:
[code]

Any idea what the reason can be for that behavior? It is my first custom browser script, so this might ev

[2017-03-29 10:47] papakai commented on #2635
Looks like this is a path issue in karma config as in case I work with the absolute path, it opens chromium.
But browser window is not getting opened with the url required and is getting reopen multiple times because of:

[code]

Is it possible to get the current work directory in karma config to prepend it dynamically as path to the bash script? The bash script is located in the same path as karm

[2017-03-29 11:01] papakai commented on #2635
I've rewritten the bash script to
[code]

which opens now the browser window in general correctly, but It opends multiple times (not sure if that's correct...) and produces the following log
[code]

[2017-03-29 12:42] bennyn commented on #2631
@zloirock As author of "core-js", maybe you can help with this issue? Can you tell us under which circumstances "core-js" executes `validateArrayBufferArguments`?

It looks like that "core-js" overwrites Node's ArrayBuffers with a behaviour which makes my test project fail: https://github.com/bennyn/karma-core-js-error

[2017-03-29 18:18] celamb4 commented on #2633
Fixed this.

For anyone having a similar issue. Karma was only able to connect to the xvfb display on DISPLAY=:0

I initially had it on a different display and it was timing out. I was able to run tests on the slave and master on display 0.

[2017-03-29 18:26] #2633 closed

[2017-03-29 19:08] devanshah2 commented on #2192
@dignifiedquire @wesleycho @maksimr Not sure if you have had a change to take a look at this one.

[2017-03-29 21:06] zloirock commented on #2631
In all cases, when `ArrayBuffer` is not completely correct by the spec. By the spec, this error should be thrown if you pass to `ArrayBuffer` constructor incorrect length.
[`24.1.2.1 ArrayBuffer(length)`, step 2](https://tc39.github.io/ecma262/#sec-arraybuffer-constructor) -> [`7.1.17 ToIndex(value)`, step 2, `b` or `c`](https://tc39.github.io/ecma262/#sec-toindex)

[2017-03-29 21:14] wbruno commented on #2630
@madroneropaulo see https://github.com/karma-runner/karma/issues/2582

[2017-03-29 21:22] maksimr commented on #2192
After some investigation, I think it never worked as you want.
Browser emits [only 'browser_log'](https://github.com/karma-runner/karma/blob/master/lib/browser.js#L107-L113) event.
Yes, [all log information implemented through 'info' event](https://github.com/karma-runner/karma/blob/master/client/karma.js#L96).

**Answers to questions**:

Yes, karma itself because karma sends [`console.log`](https

[2017-03-29 22:30] devanshah1 commented on #2192
@maksimr Thanks a lot for taking a look at this. So the PR that you added I should be able to add

[code]

to the reporter and then on the client side stilling having:

[code]

will make things work right?

[2017-03-29 22:32] maksimr commented on #2192
@devanshah1 yup

[2017-03-29 22:33] devanshah1 commented on #2192
@maksimr Awesome thanks a lot for this PR

[2017-03-29 22:34] devanshah1 commented on #2192
@dignifiedquire @maksimr Any idea on when this can be released?

[2017-03-29 22:37] edmundo096 commented on #2452
@robododge Stumbled into this, had simple misconfiguration too (in my case, was `configuration.resolve.extensions[0] should not be empty.`). Thanks for the tip.

This edit is from 15 days ago: https://github.com/webpack-contrib/karma-webpack/commit/4216f1357d6ae3552762b3cf8e2d652b1286f6b9

[2017-03-30 08:08] #2192 closed

[2017-03-30 08:30] maksimr commented on #2264
https://github.com/karma-runner/karma/issues/2317

[2017-03-30 08:56] maksimr commented on #2264
@ur92

As you can see [here](https://github.com/karma-runner/karma/commit/6ef7e7b1546ff3e80a0369ea69c33625858a1e7a) excluding this preprocess step was a feature of the **nocache** option.

@nmalaguti can you please explain why you've decided to exclude preprocess step?
It was strange to exclude it beacause we already have option **preprocess** which allows to remove preprocess step.
Perhaps with t

[2017-03-30 09:41] bennyn commented on #2631
Thanks for the answer! So the problem seems to be located in Node.js, which is incorrectly (according to the spec) implementing ArrayBuffers?

@maksimr Do you need any further information from my side? I was quite surprised that a simple `require('karma')` can break my test setup.

[2017-03-30 09:52] zloirock commented on #2631
@bennyn the problem in code which pass incorrect length to `ArrayBuffer` constructor.

[2017-03-30 10:02] bennyn commented on #2631
But when `core-js` is not involved, my code works perfect. It's just the core-js ArrayBuffer polyfill which makes it fail. Have you checked my example here? https://github.com/bennyn/karma-core-js-error

[2017-03-30 12:58] nmalaguti commented on #2264
@maksimr the way that preprocessing worked at the time (and may still work - I haven't been working with karma in a while) is that each file was preprocessed once at start or on change and the result was cached in memory. If `nocache` is enabled, there is nowhere to store the result of preprocessing (unless you write it to disk, which karma doesn't do), so preprocessing doesn't make sense. `nocach

[2017-03-30 16:29] MattDillard commented on #2615
I experience the same symptoms as the original poster, but it was not due to including jasmine.js in the files section of karma.conf.js. Instead, my files section references only "test.ts", as I am working on an Angular application, and that is how Angular CLI sets up new projects ("ng new MyApp").

Recently, though, the following lines had been accidentally removed from test.ts. Restoring these f

[2017-03-30 17:02] cadreon-ashok-natesan commented on #2615
@MattDillard:  Are you suggesting that every test have this line?   This seems counter-intuitive as a best practice.   Also,  I don't have this in my tests & things are working fine after I made the fix suggested by @maksimr

[2017-03-30 18:26] MattDillard commented on #2615
@cadreon-ashok-natesan: No, this is not for every single test. When setting up a new Angular project, it uses a different mechanism for specifying which files contain unit tests. This specification (along with some other boilerplate) is done in a single file called "test.ts". That's where this goes.

I suspect my issue was more specific to running in an Angular environment. I simply wanted indicat

[2017-03-30 21:51] maksimr commented on #2631
@bennyn

Am I right that you use ArrayBuffer and pass incorrect length?

Thanks

[2017-03-31 02:03] chriscasola commented on #2500
I was able to replicate this on os x with node v6.9.2 - it also incorrectly tells me the test failed on line 32 but the actual failure line is 30.

[2017-03-31 14:27] ramadanko commented on #895
Hi guys, i had the same issue yesterday and none of these solutions worked for me, but i set **singleRun** in **karma.conf.js** to **true** which means it will run once and exit, then i watch the files with gulp.watch and on change i run karma from there, and i prefer this solution even if there is no problem with karma, because we have to check for UT while development too in one console.
`var Se

[2017-03-31 15:43] raphaelLacerda commented on #888
i was having the same problem

it was basically removing requirejs from the list of frameworks
frameworks: ['jasmine'],

[2017-04-01 07:12] #2500 closed

[2017-04-01 07:13] dignifiedquire commented on #2192
I will try to make a release over the weekend

[2017-04-01 09:45] bennyn commented on #2631
@maksimr and @zloirock thanks for your great help!

The problem really sits within a 3rd party library, which I use. The third-party library initializes ArrayBuffers with floating point numbers. Node.js does not bother about it but when integrating "core-js" (which pays close attention to the ArrayBuffer spec) it comes to errors.

Here is an example which works with Node.js:

[code]

When requirin

[2017-04-01 09:45] #2631 closed

[2017-04-01 11:11] mihirsoni commented on #2152
is there any update on this ?

[2017-04-01 14:35] wesleycho commented on #2634
I highly suspect this is a user error. I recommend taking a look at an Angular starter project to see how to properly set up karma for testing with Angular, such as https://github.com/preboot/angular-webpack

[2017-04-01 15:14] thanhnguyen92 commented on #2634
Thank for you answers
@wesleycho I can run testing normally with another cases, but in the case as described is couldn't.
@maksimr I have tried with browser Chrome instead of PhantomJS (2.1.1), but the issue still couldn't resolve.

[2017-04-01 15:19] maksimr commented on #2634
Maybe something similar to https://github.com/karma-runner/karma/issues/2632

[2017-04-01 15:20] devanshah1 commented on #2192
@dignifiedquire Thanks a lot

[2017-04-03 14:02] harpreet86 commented on #1799
I am facing the same issue on Ubuntu but it is working fine for me in windows. Any suggestions

[2017-04-04 12:55] nudelx commented on #2372
same here !!!

[2017-04-04 21:45] nemoDreamer commented on #1292
karma-runner/karma/issues/1292

[2017-04-04 21:47] nemoDreamer commented on #1292
Still getting the issue in `onBrowserComplete`, left a note in https://github.com/karma-runner/karma-junit-reporter/issues/86

[2017-04-05 08:05] dalidovski opened #2646 "Angular2 - KarmaJS - unit Tests no executed automatically on npm test"
# Dependencies versions

"karma": "^1.2.0"
"karma-chrome-launcher": "^2.0.0"
"karma-cli": "^1.0.1"
"karma-jasmine": "1.0.2"

# Description

I'm using KarmaJS and JasmineJS for unit testing on Angular2. When I run "npm test" the browser opened automatically, however the tests not executed automatically.

![ng-test](https://cloud.githubusercontent.com/assets/22326523/24695660/e65c17e4-19e6-11e7-99a7

[2017-04-05 14:36] #2626 closed

[2017-04-05 19:31] ralberts commented on #2646
Same issue for me :-)

[2017-04-05 19:33] dignifiedquire commented on #2646
what is the command that `"test"` is actually set to in your package.json?

[2017-04-05 23:58] tiefling commented on #558
I've just hit this - works fine on my local machines but won't run on the Visual Studio Online CI server. It used to work fine but has recently just stopped...

    2017-04-04T18:24:11.4691955Z [18:24:11] Starting 'karma-server'...
    2017-04-04T18:24:22.7975588Z [32m04 04 2017 18:24:22.796:INFO [framework.browserify]: [39mbundle built
    2017-04-04T18:24:22.8435587Z [32m04 04 2017 18:24:22.843:

[2017-04-06 01:10] tiefling commented on #558
I fixed this by fixing karma version at 1.3.0 (1.3.0 instead of ^1.3.0)

There must be  a bug in 1.5.0, which it was using before on the CI server (my local copy is 1.3.0).

Any updates?

[2017-04-06 01:21] tiefling opened #2647 "Karma fails to start a browser on CI Server (v1.5.0)"
Related to Issue #558.

Using karma 1.5.0 on my CI server (Visual Studio Online)...

    2017-04-04T18:24:11.4691955Z [18:24:11] Starting 'karma-server'...
    2017-04-04T18:24:22.7975588Z [32m04 04 2017 18:24:22.796:INFO [framework.browserify]: [39mbundle built
    2017-04-04T18:24:22.8435587Z [32m04 04 2017 18:24:22.843:INFO [karma]: [39mKarma v1.5.0 server started at http://0.0.0.0:9876/
    20

[2017-04-06 01:28] tiefling commented on #2635
@papakai I've been having serious problems with Karma 1.5.0 not working at all - I'd rule that out first by trying with 1.3.0

[2017-04-06 02:33] devanshah1 commented on #2192
@dignifiedquire @maksimr Thanks a lot for this, works like a charm.

[2017-04-06 05:05] exogen commented on #2556
Does anyone know of a workaround for this? I can't seem to get IE8 working even if I downgrade Karma to 1.3.0.

[2017-04-06 07:40] maksimr commented on #2647
@tiefling is it reproduced for other browsers?(Chrome, Firefox)
is it reproduced if start without **gulp**?
Does version **1.4.x** works for you?

Could you run karma with log level equals DEBUG and post your *karma.config.js*

Thanks

[2017-04-06 07:47] maksimr commented on #2646
@dalidovski why do you patch **karma**?

[code]

Is problem reproduced if remove such hacks?

[2017-04-06 07:53] #1737 closed

[2017-04-06 07:54] #1738 closed

[2017-04-06 07:55] dalidovski commented on #2646
@dignifiedquire ng test -- "test": "ng test"

[2017-04-06 08:01] papakai commented on #2635
I am not having issues with karma 1.5 at all, working fine. Just the above described issue.

[2017-04-06 08:15] mgol commented on #2556
@exogen [Sizzle](https://github.com/jquery/sizzle/) uses Karma 1.1.1 and it seems to work with IE 8 and even 7: https://travis-ci.org/jquery/sizzle.

[2017-04-06 09:57] maksimr commented on #2635
@papakai

Yup, you should use absolute path because inside *karma* we use [path.nomralize](https://github.com/karma-runner/karma/blob/master/lib/launchers/process.js#L46)

It's because when you launch the browser it creates a separate process and returns exit code 0.
You should run browser in the same process with the *sh* script

I have created working gist - https://gist.github.com/maksimr/f4bd6

[2017-04-06 09:57] #2635 closed

[2017-04-06 09:58] tiefling commented on #2647
I'll test all of the above and get more data on it for you - In the meantime, here's my config.

[code]

[2017-04-06 10:09] tiefling commented on #2647
1.5.0 seems to work fine on my local machine - It fails on my Visual Studio Online CI Server (updated title to reflect).

This makes recreating the problem here very difficult so I'm having to trigger many builds.

[2017-04-06 10:26] tiefling commented on #2647
Looking at the CI Server...

v1.4.0 is also failing

Here's the log output from that run (with all browsers enabled)...
[code]

I don't think it's possible to run this on the CI server without gulp as otherwise I won't have a compiled test bundle to run against. I am just queuing a build using 1.3.0 with DEBUG enabled to get you a comparative log.

[2017-04-06 10:29] papakai commented on #2635
@maksimr many thanks for this, helped really a lot and is doing his job nicely. See my comment on your gist.

[2017-04-06 10:52] tiefling commented on #2647
Comparative with 1.3.0 failed when running with all browsers (although it started running tests it didn't complete - not unexpected given I've never tried it before). Tried comparatives now with just Phantom, which has historically worked fine (it worked last night!)...

[code]
This is now not working anymore. Not sure what is broken now - I managed to get this working last night by reverting to 1

[2017-04-06 11:18] tiefling commented on #2647
Not convinced this is a Karma problem specifically but any help anyone can offer would be appreciated.

[2017-04-06 11:50] tiefling commented on #2647
Apologies. Found that, despite the log indicating it was finding it, that some of the build agents seem to fall over unless you provide the following environment variable...

PHANTOMJS_BIN - C:\NPM\Modules\PhantomJS.cmd

[2017-04-06 11:50] #2647 closed

[2017-04-06 13:14] ralberts commented on #2646
I haven't looked to see if my dependencies are the same or not as this original thread. Though when the upgrade came out yesterday and I had the same trouble - I tried running from within intellij/webstorm and our grunt file using the command:

Webstorm:
`"C:\Program Files\nodejs\node.exe" C:\Users\<user>\.IntelliJIdea2017.1\config\plugins\js-karma\js_reporter\karma-intellij\lib\intellijServer.js

[2017-04-06 23:00] jeserkin commented on #2485
@luchillo17 have you looked at the title? :)

[2017-04-07 00:23] exogen commented on #2556
@mgol Thanks for the tip! After I couldn't get 1.1.1 to work either, I started looking at other dependencies. It works after swapping out `karma-mocha`/`mocha`/`expect.js` for `karma-jasmine`/`jasmine-core`, so I guess one of those deps broke IE8 compatibility. Karma 1.3.0 does indeed work with IE8 (latest is still broken however).

[2017-04-07 06:26] maksimr commented on #2556
@exogen look at https://github.com/karma-runner/karma-jasmine/issues/105 and https://github.com/karma-runner/karma-mocha/issues/104 maybe this is your case

[2017-04-07 08:06] dalidovski commented on #2646
@ralberts  Did you find a way to fix this issue ?

[2017-04-07 09:26] #2646 closed

[2017-04-07 09:27] dalidovski commented on #2646
I was excluding all *.spec.ts files in tsconfig.json.

It has to be like :

[2017-04-07 15:39] omniscient opened #2652 "Karma 1.6 breaks Headless support for Chrome"
### Expected behaviour
When using Karma 1.6, you should be able to use chrome headless support

### Actual behaviour
Chrome won't start with headless mode

[code]

### Environment Details

- Karma version (output of `karma --version`): 1.6
- Relevant part of your `karma.config.js` file
[code]
### Steps to reproduce the behaviour

1. Setup a custom launcher as above
2. karma start --single-run --br

[2017-04-08 14:16] Karatsuba commented on #2174
Hey @stramel . I run into the same problem. Do you find some solution for this?

[2017-04-08 14:44] maksimr commented on #2174
@Karatsuba @stramel

You should use [`changeOrigin`](http://karma-runner.github.io/1.0/config/configuration-file.html) option

[code]

[Example](https://gist.github.com/maksimr/30626efa5e63df2cb8836d80455cf96e)

[2017-04-08 14:44] #2174 closed

[2017-04-08 14:56] CanadianEngineer commented on #2619
Hey, so I'm having a similar issue, but I'm on Debian, and its with both Chrome and Firefox browsers. If I run `npm test` or `ng test` through my console, it works. Jenkins, on the other hand, can't start either browsers.

Jenkins is able to start a PhantomJS browser, but the problem is that all of the tests fail due to how they were written. Angular2 sets up the project so that you have e2e tests

[2017-04-08 14:57] maksimr commented on #2652
@omniscient I can't to reproduce the problem on *macOs/Chrome 57.0.2987.133*

Sample Project - https://gist.github.com/maksimr/a6b6a68e3fd5dfa8d63e6c9379d2f998

![chrome-headless](https://cloud.githubusercontent.com/assets/616193/24829953/d5b4bbbc-1c84-11e7-91ef-116bbd4a4c30.gif)

[2017-04-08 15:05] maksimr commented on #2619
@CanadianEngineer @silverbucket

Look at the issue - https://github.com/karma-runner/karma/issues/2633
I believe that the problem in X-server setup on Jenkins

Thanks

[2017-04-08 15:05] #2619 closed

[2017-04-10 12:03] thany opened #2654 "Release notes missing"
Release notes for 1.6 are [missing](http://karma-runner.github.io/1.0/about/changelog.html).

I was hoping to find a note that explains any [breaking changes](https://github.com/karma-runner/karma/issues/2652).

[2017-04-10 12:23] maroy1986 commented on #2652
Small precision, it crash on Bitbucket Pipeline, which run some CoreOS Linux OS. We are not using macs, essentially Windows and Linux boxes for builds.

[2017-04-10 15:22] GeorgeLolos opened #2655 "Karma tests are failing due to a warning from React Test Utils"
### Expected behaviour
Karma tests should run flawlessly
### Actual behaviour
Karma tests are failing
### Environment Details

[code]

### Steps to reproduce the behaviour

1. Update to react@1.15.1 and react-dom@1.15.1
2. Run your Karma tests
3. Watch it fail

[2017-04-10 20:32] maksimr commented on #2652
You can look at [CHANGELOG](https://github.com/karma-runner/karma/blob/master/CHANGELOG.md#160-2017-04-05).

Did you tray run [sample project](https://gist.github.com/maksimr/a6b6a68e3fd5dfa8d63e6c9379d2f998) on Bitbucket?
Is it reproduced locally?
Does it work if downgrade on karma@1.5.x?

[2017-04-10 20:34] maksimr commented on #2654
@thany you can look at [CHANGELOG](https://github.com/karma-runner/karma/blob/master/CHANGELOG.md#160-2017-04-05)

Thanks

[2017-04-10 20:36] maksimr commented on #2655
@GeorgeLolos could you create sample project which reproduces the problem?

Thanks

[2017-04-10 22:24] omniscient commented on #2652
Hey @maksimr! Thanks for your support on this, very appreciated. Your sample works fine on Linux/Bitbucket. We use a custom implementation of Tape and RequireJS adapter with Karma. I am trying to put a sample together for you but it might take a few days. I'll let you know.

[2017-04-11 12:00] thany commented on #2652
For me it does work again after downgrading to karma 1.5.

[2017-04-11 14:38] pavel06081991 opened #2656 "Error: spawn babel-node ENOENT #105"
I'm not sure where this issue comes from, I've created it in cross-env repository(https://github.com/kentcdodds/cross-env/issues/105)
Maybe it is related to karma, here is my karma config file, hope you can help me:

[code]

[2017-04-11 18:33] maksimr commented on #2656
This error

    at notFoundError (D:\work\my_projects\react-starter\node_modules\cross-spawn\lib\enoent.js:11:11)
    at verifyENOENT (D:\work\my_projects\react-starter\node_modules\cross-spawn\lib\enoent.js:46:16)
    at ChildProcess.cp.emit (D:\work\my_projects\react-starter\node_modules\cross-spawn\lib\enoent.js:33:19)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:215:12

[2017-04-11 18:34] #2656 closed

[2017-04-11 18:42] maksimr commented on #2652
@thany

Did you try to run [sample project](https://gist.github.com/maksimr/a6b6a68e3fd5dfa8d63e6c9379d2f998) in your Docker image?
Also, I didn't see code which runs karma tests in your Docker config sample.

Thanks

[2017-04-11 18:55] arranbartish opened #2657 "Tests repeat when using angular4 + mocha + karma"
# Context

I have confirmed "green" builds on the master branch which is using angular-cli 1.0.0 and the old angular2 dependencies. My Objective is to upgrade from angular2 to angular4.

### Expected behaviour

- Tests to run only once

### Actual behaviour

- Some tests are running more than once

### Environment Details

angular-cli: 1.0.0
angular: 4.0.X

[code]

### [`package.json`][package-jso

[2017-04-11 20:15] JakeChampion commented on #2121
Also seeing this behaviour, if someone can point to what needs changing, I will give it a go :-)

[2017-04-12 13:20] rafaelubal opened #2659 "PhantomJS crashing on Windows Bash"
Hi all,

Running unit tests on Karma + PhantomJS is crashing on Windows Bash, most likely due to a missing feature in Windows Bash itself, probably in a socket-related system call. The issue has been reported here:

https://github.com/Microsoft/BashOnWindows/issues/903#issuecomment-293376190

It is manifested as a Segfault on PhantomJS. We're trying to find a way to run PhantomJS under GDB, in ord

[2017-04-12 14:47] Florian-R commented on #2659
I dont know enough GDB, so this is maybe a stupid idea, but what about tweaking the command that Karma use to launch Phantom. I mean by modifying manually karma-phantomjs-launcher [here](https://github.com/karma-runner/karma-phantomjs-launcher/blob/eb0ca03d1938ed7b18da572284d3d52e2c1b70c9/index.js#L104), either directly in your `node_modules` or with a linked copy.

[2017-04-12 20:35] Deilan commented on #2647
@tiefling Would you kindly explain in more detail what helped you to resolve the issue? I am trying to fire off an angular-cli boilerplate application tests in Visual Studio Team Services and "Cannot capture PhantomJS in 60000ms". :)

[2017-04-12 21:52] tiefling commented on #2647
You need to add the environment variable...

PHANTOMJS_BIN: C:\NPM\Modules\PhantomJS.cmd

to the 'Variables' section of the build configuration and you should find that will fix it. Not the most intuitive.

[2017-04-13 07:30] ghelyar opened #2660 "autowatch does not work on paths with parentheses"
### Expected behaviour
Changing a source file causes Karma to run the tests

### Actual behaviour
Changing a source file is unnoticed by Karma

### Environment Details
Windows 8.1 x64

- Karma version (output of `karma --version`):
1.6.0

- Relevant part of your `karma.config.js` file
files: ['src/**/*.js'],
autoWatch: true

### Steps to reproduce the behaviour

1. Create a root directory with a s

[2017-04-13 09:00] thany commented on #2652
It's the CI environment that runs the tests in the docker. I'm not sure how good you are with docker, but what I posted was the `Dockerfile`, which is only responsible for building the image that makes up the docker.

In the end, it doesn't matter what kind of tests are being run. It's karma that locks up, not the tests.

[2017-04-13 10:22] maksimr commented on #2652
@thany

I know but I still don't see any line of the code which runs the **karma**/tests. All of these stuff simple setups environment and nothing about your tests or karma.

Could you describe how you run tests?

Thanks

[2017-04-13 10:24] maksimr commented on #2652
@thany I still recommend you to run sample project in your Docker because sometimes problem not in karma.

[2017-04-13 14:07] pselden commented on #2489
https://github.com/karma-runner/karma/issues/2489#issuecomment-286404590 -- is it supposed to still bring up a chrome window at launch (localhost:9876) when I run with the headless configuration?

[2017-04-13 14:17] remcohaszing commented on #2489
@pselden no, it is not.

The configuration I referenced works for me, my coworkers and in a Docker container.

Just for reference, here's the relevant part of the Dockerfile I use:

[code]

Note that headless mode is only supported in Linux and you'll need a pretty recent Chrome version. Afaik Chromium from the Ubuntu PPAs doesn't support it yet for example.

[2017-04-13 14:25] otroboe commented on #2489
It seems to be on Chrome 59 (canary/dev).
https://www.chromestatus.com/features/5678767817097216

[2017-04-13 16:54] jchull commented on #2489
@remcohaszing posted example config that works on OS X with canary, worked with Karma 1.3

`HeadlessChrome 0.0.0 (Mac OS X 10.11.6): Executed 218 of 302 (skipped 84) SUCCESS (4.473 secs / 4.047 secs)`

[code]

[2017-04-13 23:19] wesleycho commented on #2489
@dignifiedquire should we close this issue? It seems like Chrome launched with headless support on all platforms in a way that makes it simple for developers to enable it within the existing karma launcher.

[2017-04-13 23:24] rogeriopvl commented on #2489
+1 for not needing another launcher

[2017-04-13 23:26] rogeriopvl commented on #2489
Also there's this PR for chrome headless support: https://github.com/karma-runner/karma-chrome-launcher/pull/111

[2017-04-14 00:40] dignifiedquire commented on #2489
closing due to the above explanations

[2017-04-14 00:40] #2489 closed

[2017-04-14 13:22] MiraLak commented on #2593
I have the same issue. So what is the suitable version of bufferutil and utf-8-validate ?
I'm using 3.0.0 for buffuerutil and 3.0.1 for utf-8-validate

[2017-04-14 16:31] arranbartish commented on #2657
I've done some additional investigation and I've managed to reproduce the issue a second time in the simplest step-by-step form I can.

# Overview of additional investigation

## 1. create project with angular-cli

- `ng new someBankProject`
- `ng test` expected result 3 tests run

| Description | Detail |
| ---               | ---   |
| setup          |  angular-cli + angular4 + karma + jasmine

[2017-04-14 17:03] AhmedHadjTaieb opened #2661 "Karma fails with coverage reports"
### Expected behaviour
I use jasmine with karma to my unit tests for project angular cli and I need the report of coverage.
But when I use coverage and coverage-istanbul I found error.

### Actual behaviour

<--- Last few GCs --->

[5894:0x102801600]   169936 ms: Mark-sweep 1471.6 (1620.9) -> 1471.6 (1622.9) MB, 1062.8 / 0.0 ms  allocation failure GC in old space requested
[5894:0x102801600]   172

[2017-04-16 12:21] gomesNazareth commented on #1868
I used  --max_old_space_size and  I again got the  memory error. After doing some online research i realized it not underscore but dash like    --max-old-space-size

[2017-04-16 18:43] LoveIsGrief opened #2663 "Complete browser log output when process isn't started"
I was working on litixsoft/karma-detect-browsers#22 and travis isn't able to start Chromium successfully ([logs](https://travis-ci.org/LoveIsGrief/karma-detect-browsers/jobs/222597188)).

![lamb sauce1](https://cloud.githubusercontent.com/assets/2829538/25073317/2b6acf96-22e4-11e7-9d8b-534a3fb2e5c3.png)

The process exits "successfully", yet too early and I have no idea why. I cannot recreate it l

[2017-04-18 05:29] mcm-ham commented on #2572
I had the same problem on Windows as well but upgrading to the latest version 1.6 fixed it for me.

[2017-04-18 11:18] wesleycho commented on #2655
My suspicion is this is due to the fact that the user is using a development build of React, and not a production one for running tests. The culprit is likely https://github.com/facebook/fbjs/blob/e66ba20ad5be433eb54423f2b097d829324d9de6/packages/fbjs/src/__forks__/warning.js#L36 .

This does not appear to be a karma bug though.

[2017-04-18 11:21] wesleycho commented on #2657
Can you create a minimal reproduction as a separate repository? I have a work project in Angular 4 that uses karma and istanbul and do not get this issue at all, so a minimal reproduction can help greatly for addressing this.

[2017-04-18 11:53] devsheder opened #2667 "Error ni QJobs after accessing localhost server while runing "karma start""
### Expected behaviour

Access localhost server launched by karma start command

### Actual behaviour

Error in NodeJs console (through Windows cmd.exe) :
_ > karma "start"
18 04 2017 13:46:46.592:WARN [karma]: No captured browser, open http://localhost:9876/
18 04 2017 13:46:46.603:INFO [karma]: Karma v1.6.0 server started at http://0.0.0.0:9876/
18 04 2017 13:46:51.631:INFO [Chrome 57.0.2987 (Wi

[2017-04-18 12:27] brutalcrozt commented on #1403
Yes please

[2017-04-18 15:53] arranbartish commented on #2657
@wesleycho : Thanks for having a look! I've created a minimal commit chain already. You can use 0e6c2811b9aab722fcc382e4676d97c089ad1f91 on repo https://github.com/arranbartish/angular-cli-seed

- [First commit: Clean angular-cli project][first-commit]
- [Second commit: Introduce travis, wallabyjs, and refactor test boiler plate into `beforeEach`][second-commit]
- [Third commit: convert to mocha *

[2017-04-18 17:29] arranbartish commented on #2657
@wesleycho : I am still massively confused and have a question, **though I managed to get the tests to run only once**.

both of these branches now work, so my issue is solved, but I still don't get the why.
- [removed the frameworks chai and sinon-chai][branch-without-frameworks]
- [downgraded back to angular2][branch-with-downgrade]

I don't understand why the frameworks caused an issue with ang

[2017-04-18 19:29] arranbartish commented on #2657
Going to close the issue because it's "fixed". I would love it if someone could help me explain what the `frameworks` is doing though. Being able to know **why** it's fixed is important 😄

[2017-04-18 19:29] #2657 closed

[2017-04-19 01:55] muthu90ec opened #2668 "How to use html runner files?"
### Expected behaviour
Karma should use a runner file like
[code]

[2017-04-19 09:21] maksimr commented on #2668
@muthu90ec you can create custom context page. Look at documentation for [customContextFile](http://karma-runner.github.io/1.0/config/configuration-file.html)

Thanks

[2017-04-19 09:21] #2668 closed

[2017-04-19 09:37] mgol commented on #2582
@dignifiedquire Is there any other doubt here on what should be done? If my list sounds OK I can submit a PR; it'd be good to get this regression resolved.

[2017-04-19 09:39] dignifiedquire commented on #2582
@mgol yes lets go with that please so we can unbreak peoples code

[2017-04-19 09:43] creat-or commented on #2593
I also have the same issue after upgrading to a newer angular-cli (and updating karma). What's the solution? :)

[2017-04-19 11:02] RobYed commented on #2489
Thanks for pointing out how chrome runs headless with karma :+1:

On Windows 7 Chrome still launches an empty window, when running Karma. Is there any possibility to prevent opening that window? I already tried the options `--new-window/min` and `--no-startup-window`, without success.

[2017-04-19 16:47] MiraLak commented on #2593
@creat-or I downgraded the dependencies version for bufferutil and utf-8-validate and it worked.

[2017-04-19 21:33] sbrady commented on #895
Although this is RE: intellij.
Adding the following line to `/etc/sysctl.conf`
`fs.inotify.max_user_watches = 524288`
Then
`sudo sysctl -p --system`

fixed it on my linux box
https://confluence.jetbrains.com/display/IDEADEV/Inotify+Watches+Limit

[2017-04-20 01:59] michaelsbradleyjr opened #2669 "usePolling should be false for newer macOS?"
See: https://github.com/karma-runner/karma/blob/master/lib/config.js#L318

tracking it back w/ blame:

https://github.com/karma-runner/karma/commit/66f50d7e584d4cbde820e70746be3f3378440fa8

https://github.com/karma-runner/karma/commit/66f50d7e584d4cbde820e70746be3f3378440fa8#commitcomment-21831412

On current macOS (I'm running 10.12.4, for example) setting `usePolling` to false works much better

[2017-04-20 08:48] AndyRightNow opened #2671 "Karma is not able to run if any methods in `Array.prototype` are modified beforehand."
### Expected behaviour

Karma should be running.

### Actual behaviour

Not able to parse the paths given in the `config.files` and throw an error:

[code]

### Environment Details

- Karma version (output of `karma --version`): `v1.6.0`
- Node.js version: `v7.9.0`
- Relevant part of your `karma.config.js` file
[code]

### Steps to reproduce the behaviour

Run this snippet of script:
[code]

### C

[2017-04-20 18:05] brandonros commented on #439
Is this dead in the water?

[2017-04-21 05:22] stevemao commented on #1868
another workaround would be:

1. Create a test loader file: `loadtests.js`
2. `require` all the test files in `loadtests.js`

[code]

3. Include `loadtests.js` in `karma.conf.js`

[code]

[2017-04-21 09:20] JennieJi commented on #1979
@elie222 saved me

[2017-04-21 17:54] CTaylor1118 opened #2673 "Javascript Heap out of memory when Karma serving files"
### Expected behaviour
Single run tests runs consistently and watch mode can recompile consistently
### Actual behaviour
Node crashes because of the heap running out of memory when just serving a few dozen files.
### Environment Details
OS: Mac OS Sierra 10.12.4
Node: 6.9.5
"karma": "^1.6.0",
"karma-chai": "^0.1.0",
"karma-chrome-launcher": "^2.0.0",
"karma-cli": "^1.0.1",
"karma-mocha": "^1.3.0",

[2017-04-21 17:56] CTaylor1118 commented on #2605
@doberkofler Were you able to resolve this? I am seeing the same error on single runs (sometimes) and when running in watch mode (consistently). I reported #2673 with some of the output from node. Did you have the same output?

[2017-04-21 18:03] doberkofler commented on #2605
@CTaylor1118 not really. i did not have the time to dig into a debugging session and for now i just process each test script individually. runs a lot slower but at least my ci tests run reliably.

[2017-04-23 15:02] wesleycho commented on #2673
I have seen this as well, but when using the watcher and Chrome. It was not consistently reproducible for me though (Node 6.9.4).

Could this be related to karma-webpack? My team uses karma-webpack, but we don't use the webpackMiddleware option.

[2017-04-23 17:18] yaacovCR commented on #2050
Consider [node-offline-localhost][1].

Add the following before the breaking code:

    require('node-offline-localhost').always();

And it just works (hopefully), at least until [RFC 3493][2] gets [fixed][3].

Full disclosure: I authored this package to streamline https in my dev environment when offline.

[1]: https://www.npmjs.com/package/node-offline-localhost
[2]: https://www.ietf.org/rfc/rfc

[2017-04-24 03:03] eihli commented on #1194
Just dropping by to say this is still an issue. Just noticed this on 1.6.0. Switched to mocha reporter. Couldn't figure it out. Worked fine yesterday. Put computer to sleep. Opened it up today, got this stuff.

[2017-04-24 06:37] wesleycho commented on #2490
When should this be scheduled for?

Should this declared Node 4+ support change also include an internal change utilizing a Node 4+ feature such as a fat arrow or template literal in order to force code to break if the user is not on Node 4+?

[2017-04-24 06:38] wesleycho commented on #2572
Can anyone else verify whether this is still an issue in Karma 1.6?

[2017-04-24 14:03] CTaylor1118 commented on #2673
The webpack middleware settings just turn on some reporting. I am almost positive this has to do with karma as running webpack-dev-server with similar settings does not result in the same crash in node. It seems to me the karma has a memory leak somewhere. When analyzing the memory usage for karma, I did notice that out of about 1 .4 GB of heap space used, almost 1 GB was being used to store strin

[2017-04-24 14:59] GeorgeLolos commented on #2655
Hi @maksimr there's a github repo that you can test that has almost the same result https://github.com/justinwoo/react-karma-webpack-testing/

@wesleycho React at 15.4 introduced this warning and karma has been handling it as an error. It's not a development build. The guys from enzyme have solved it here https://github.com/airbnb/enzyme/issues/875

To all the people that use Karma out there and h

[2017-04-24 15:04] steveworkman opened #2675 "Karma 1.6 first-matcher update is hard to debug"
### Expected behaviour
Matchers in the matchers list bring back files according to their pattern. When the file is the first one in the list, it should be brough back.
### Actual behaviour
Since 1.6 with [this change for first-files](https://github.com/karma-runner/karma/commit/74bfdf3) some of my files aren't returned
### Environment Details
OS X 10.11, PhantomJS browser
- Karma version (output o

[2017-04-24 15:14] wesleycho commented on #2655
@GeorgeLolos the reason it is an error is almost certainly because of the line I linked. This is not a karma problem.

[2017-04-24 16:28] GeorgeLolos commented on #2655
@wesleycho I see, then there's no way to use Karma with React anymore without overriding the __DEV__ global variable. Good job.

[2017-04-24 16:38] #2655 closed

[2017-04-24 16:39] GeorgeLolos commented on #2655
@wesleycho Thanks for looking into it :)

[2017-04-25 11:57] shirakaba commented on #2632
I've found the root of the problem, and an undesirable workaround. I'll explain the situation more clearly this time. My detailed setup for tsconfig, webpack, and karma is described – as before – in this [StackOverflow post](http://stackoverflow.com/questions/43074121/karma-typescript-webpack-module-namespace-imports-fail-but-only-during-kar) if needed, but the main steps for reproduction are as f

[2017-04-25 16:49] yoweiner commented on #1788
@nazar I'm having this issue with PhantomJS 2.1.1, but reverting to 1.9.7 (by substituting it on the PATH and PHANTOMJS_BIN at runtime) fixes it.
karma@1.5.0
karma-phantomjs-launcher@1.0.2

[2017-04-26 10:08] mgol commented on #2582
@dignifiedquire I wanted to land a fix with tests but it seems tests in @blackswanny's commit 89a7a1cce68246c620f9959ee31133bfa42be5dc don't actually test what they're supposed to - the spies never fire even if you change the parameters passed to `reporter.onBrowserLog` to use a **higher** priority than the one set in `browserConsoleLogOptions`... :/ Any ideas on how what should look like?

[2017-04-26 10:36] mgol commented on #2582
OK, I managed to fix existing tests and then fixed this issue; PR #2676.

[2017-04-26 10:43] magnattic commented on #2593
Related: https://github.com/socketio/engine.io/pull/495

From what I can tell this should be fixed by getting rid of ws 1.1.2 and using ws 1.1.4 instead.

As soon as the new version of engine.io is released, can you guys update the dependency?

[2017-04-26 11:02] mgol opened #2677 "npm no longer supports Node.js <4, stop updating it to the latest there"
### Expected behaviour
npm shouldn't be updated to a version not supported in a particular environment.

### Actual behaviour
npm gets updated to the latest version on all Node versions, including 0.10 & 0.12 which it no longer supports. This causes lots of warning messages and in some time it will most likely stop working:
https://travis-ci.org/karma-runner/karma/jobs/225953592

### Environment D

[2017-04-26 11:04] mgol commented on #2677
When is it planned to drop support for Node.js <4 in Karma? That would solve this issue for now.

If that's not planned soon, we should perhaps:
1. Update npm to v3 in Node 0.10/0.12/4.
2. Not touch npm in newer Nodes. This means we'll get stronger coverage as we'll be testing on Node 3 & 4 and soon on v5 as well - which is what people use as most of them don't update the built-in npm version.

[2017-04-26 11:15] coleGillespie commented on #509
[code]

It looks to still be spawning multiple. Is this expected? This will cause all the reporters to run for the # or browers that are open @vojtajina

[2017-04-27 13:52] missbruni commented on #2652
I get the same error then @omniscient but you need to run the tests in a headless environment. If I run `npm test` on my machine is fine but when running it on CI for example it throws the same error. @omniscient posted.

![screen shot 2017-04-27 at 14 50 33](https://cloud.githubusercontent.com/assets/12257311/25486413/fbc14004-2b58-11e7-8e94-b29a8b84848f.png)

`karma.conf`:

[code]

[2017-04-27 18:29] BrianLenzo commented on #2572
I am seeing this issue with Karma 1.6.0.  It happens once every 10-11 times in my Jenkins build.

[2017-04-27 19:53] LKiening commented on #2572
I can confirm that the issue still exists with karma 1.6
We use a combination of yarn and karma in an enterprise environment and i would
very much appreciate further investigation on this.

[2017-04-28 10:48] cpasslack commented on #2572
I can confirm also confirm that the problem stillt exists in 1.6. I think something went wrong during yarn install. I compared a working karma node-modules directory with a non working a got a difference in the .bin folder.

See:

working (.bin/karma.cmd):
[code]

not working (.bin/karma.cmd)
[code]

I think this is where the "a" comes in. I hope that helps a bit to isolate the problem. Nearly eve

[2017-04-28 12:14] bhawanaa opened #2680 "karma rxjs not working"
### Trying to test signalR client with jasmine-karma but getting lots of errors.

1.  If I include angular-mocks - I'm getting ' Accot read property of undefined'

2. After commenting it out getting lots of errors for rxjs/symbol/observable

### Chrome 58.0.3029 (Windows 7 0.0.0) ERROR
  Error: (SystemJS) module is not defined
        ReferenceError: module is not defined
            at eval (node

[2017-04-28 12:22] wesleycho commented on #2572
I did some sleuthing around, and I wonder if this is an npm and yarn regression. I did not see any particular red flags when looking at commits between 1.3 and 1.4.

I need to look deeper into how npm creates the wrapper cmd files on Windows.

[2017-04-28 13:17] BrianLenzo commented on #2572
I have also been having issues in the yarn install phase installing Karma along with this issue.  We're considering moving to Yarn on our CI jobs and I am wiping workspaces between test runs.  I would say this points toward an issue with Yarn, not Karma itself.

[2017-04-28 13:21] #2582 closed

[2017-04-28 14:10] bhawanaa opened #2681 "browserify error"
Chrome 58.0.3029 (Windows 7 0.0.0) ERROR
  Uncaught Error: Cannot find module '../util/root'
  at C:/Users/BAGGAR~1/AppData/Local/Temp/90918cb8ed733bfe3627b234589ffcab.browserify:1

browserify on command line on that file works fine but it gives error while loading the file with karma with preprocessor set to 'browserify' for that file.

[2017-04-28 16:32] CTaylor1118 commented on #2673
I tracked down the core issue to a webpack loader (jsx-loader) some how causing a memory leak. However I think there are optimization that can be made to karma to reducing its memory usage, as in the above post, having to different file object constructed for the same file seems like a waste.

[2017-04-28 18:17] maksimr commented on #2673
@CTaylor1118 thanks for your investigation 👍

About files from the picture, This is strange that files don't have a path/originalPath. Maybe this files was created by webpack-plugin

[2017-04-28 19:59] CTaylor1118 commented on #2673
@maksimr Sorry about that, they actually have a complete filepath to a real, I just commented it out for work purposes.

[2017-04-29 05:12] Hubro commented on #553
Is there seriously no way to run focused tests while working on a single file without *modifying* the file in question? That seems super stupid.

[2017-04-29 16:35] bupy7 commented on #431
Don't work in my case. Version of Karma: 1.6.0. Additional I'm using `grunt-karma` package. I added path to a css file, but it don't work.

Config: https://github.com/bupy7/js-cropbox/blob/master/Gruntfile.js#L41
My solution of the problem: https://github.com/bupy7/js-cropbox/blob/master/tests/fixtures/body.html#L2

What do I do wrong? May be `grunt-karma` have a bug?

[2017-04-30 01:12] wesleycho commented on #2671
Question - what are you trying to accomplish with modifying `indexOf`? The modification of the prototype method looks like a major code smell on first appearance.

There is a particular scenario that the `for-in` loop is accounting for I believe, so a solution is not as simple as replacing with `forEach`.

[2017-04-30 01:56] wesleycho commented on #2572
For yarn, I noticed that it uses a dependency called [cmd-shim](https://www.npmjs.com/package/cmd-shim) to handle the creating of this script. Based on @cpasslack's diff, it seems to point to an issue with `target ` in https://github.com/ForbesLindesay/cmd-shim/blob/master/index.js#L109, but I haven't gotten the opportunity to test this on a Windows machine.

[2017-04-30 11:07] RobotnickIsrael commented on #2593
I'm having the same issue as @MiraLak . Using same dependencies 3.0.0 for bufferutil and 3.0.1 for utf-8-validate (socket.io 1.7.3).
What did you do to fix it? Downgraded what to what?
Should I need to downgrade it in socket.io node_modules or in my app package.json?

[2017-04-30 12:39] magnattic commented on #2593
A workaround that works for me:
- remove old `node_modules/`
- run `npm install --no-optional`

This will prevent the "offenders" bufferutil and utf-8-validate from being installed. Everything should still work.

[2017-05-01 11:49] dignifiedquire commented on #2677
There is already a task open for that #2490. The main thing here is getting all modules ready for this for v2.0, which should include other breaking changes that we want to do.

[2017-05-01 11:50] dignifiedquire commented on #2677
See https://github.com/karma-runner/karma/milestone/9

[2017-05-01 16:10] AndyRightNow commented on #2671
@wesleycho In fact, I totally agree with you but that was written by someone else and I wasn't able to modify that at the time.

I am more like trying to figure out why `for...in` is used instead of trying to "correct" it. If there are some situations to tackle using this expression, is there any chance of using something like `for...of` or `for (let i = 0; i < length; i++)` to replace this while

[2017-05-01 16:12] wesleycho commented on #2671
That will be possible when we start official work on 2.0 to remove node 0.10 and 0.12 support :) . We may be able to switch to `for..of` soon, just need the green light.

[2017-05-01 16:13] wesleycho commented on #2671
As for `for...in` - I'm not sure. We could certainly switch to a more traditional for loop here I guess.

[2017-05-01 16:19] dignifiedquire commented on #2671
I don't think there is a specific reason for using `for...in`, except that we don't want to rely on `.forEach` being present. So I suggest changing to `for (var i = 0; i < arr.length; i++)` which is still the safest way to iterate over arrays.

[2017-05-01 16:25] wesleycho commented on #2663
@dignifiedquire can this issue be closed? Looks like the referenced PR is merged.

[2017-05-01 16:38] #2663 closed

[2017-05-02 03:08] CrazyBS commented on #2152
Still a problem

[2017-05-02 09:07] mgol commented on #2582
@dignifiedquire could you release a new version?

[2017-05-02 09:30] #2671 closed

[2017-05-02 12:10] yavin5 commented on #2582
Here are exact configuration changes that should work (works great for me after these changes):

* Edit your karma.conf.js file to add some configuration directives under the "**config.set({**" line.
* There should be a "**client:**" section, and inside that you need to add "**captureConsole: true**" like this:
[code]
   .. Make sure you put a comma after the word "**true**" if there are additiona

[2017-05-03 19:09] clintonb commented on #2675
I have the same issue. This *might* be related to the changes in https://github.com/karma-runner/karma/pull/2620. My attempts to install the package from the repo, with the commits before this one, fail due to `static/karma.js` being absent.

[2017-05-03 22:51] maksimr commented on #2675
@clintonb @steveworkman could you create repository or gist which reproduce the problem?
It will be very valuable

Thanks

[2017-05-03 23:05] clintonb commented on #2675
Here you go: https://github.com/edx/ecommerce/tree/clintonb/karma-fail-demo

[2017-05-04 00:15] appsforartists opened #2684 "Support for ES2015 Modules"
Support for importing ES2015 modules is [finally landing in browsers](https://jakearchibald.com/2017/es-modules-in-browsers/)! 🎉 🎉 🎉

Many libraries and applications that use Karma for testing currently use a preprocessor like Webpack to resolve `import/export` statements, since browsers couldn't do it natively.  Now that browsers can, authors ought to be able to test ES2015 modules without involv

[2017-05-04 00:29] appsforartists commented on #2684
The more that I think about it, I'm curious if just adding `type = "module"` is enough.  The paths need to be resolved relative to where each file is and/or hosted at a consistent URL:

If `src/__tests__/myThing.test.js` and `src/stuff/__tests__/someStuff.test.js` are both being concatenated into a single `context.js`, the relative imports will break (one might require `../../thing` and the other

[2017-05-04 07:34] hamxabaig commented on #553
Exactly, +1 for this as sometimes you just push your code with focused tests.

[2017-05-04 17:00] thany commented on #2652
Brilliant. But I'm not using chrome-headless. Maybe I could. But either way, I'm stuck at Karma 1.5 because of this.

[2017-05-05 17:01] maroy1986 commented on #2652
@missbruni In your case, I think you're only missing the `CHROME_BIN` environment variable on your CI environment. That's pretty obvious from the error. I don't know which CI you are using or if you're running this inside a docker container, but most of them require you to set that variable. Error should go away by setting it up. If not, you most likely hit the same issue we have.

[2017-05-05 19:58] jvmccarthy commented on #2489
@RobYed according to [Getting Started with Headless Chrome](https://developers.google.com/web/updates/2017/04/headless-chrome), "Windows support is coming soon" for headless Chrome (with a link to [Make headless work on Windows](https://bugs.chromium.org/p/chromium/issues/detail?id=686608)).

[2017-05-05 20:22] RobYed commented on #2489
@jvmccarthy oh thanks! I must have overlooked that.

[2017-05-05 21:59] wesleycho commented on #2681
Can you give more information here about your karma config/setup?

[2017-05-06 04:55] wesleycho commented on #2680
This looks like an incomplete karma config - can you paste your full config?

[2017-05-06 09:19] dignifiedquire opened #2688 "Update all dependencies to their latest"
[code]

[2017-05-06 10:54] wesleycho commented on #2572
Did a little more thinking about it - I wonder if this is some weird Node regression exposed in this line. As far as my reading of @cpasslack's diff goes, it seems to suggest that somehow in the execution of https://github.com/ForbesLindesay/cmd-shim/blob/master/index.js#L104-L110, the value of `target` changes between https://github.com/ForbesLindesay/cmd-shim/blob/master/index.js#L105 and https:

[2017-05-06 11:02] wesleycho commented on #2669
Thoughts on this @dignifiedquire? Sounds like it might be reasonable to change this and releasing a hotfix if it becomes an issue again.

[2017-05-06 13:49] dignifiedquire commented on #2669
I haven't tested it myself, but I am okay changing the default with `2.0`.

[2017-05-08 05:26] cpasslack commented on #2572
node 6.10.1
npm 3.10.10
yarn 0.23.2

[2017-05-08 16:29] BustyLoli-Chan opened #2695 "Feature Request: Ability to run tests in parallel"
As a developer working on an application with an ever growing test suite it would be really nice if we possessed the ability to run any particular suite of tests in parallel with any other suite as they almost never conflict.

I've noticed that there is a concurrency flag that is set to `infinity` by default, but I never have more than a single browser pop up and open. Also, despite all attempts t

[2017-05-08 16:37] Ezeon opened #2696 "Absolute path error when running 'ng test' karma@1.7.0 webpack@2.4.1"
### Expected behaviour
No Webpack validation error shoud occur.

### Actual behaviour
Running 'ng test' fails with the error below. 'ng serve' and 'ng build' are fine. It seems that karma is triggering this issue due to wrong slashes in the path, I opened an issue to Webpack, and they responded with 'The slashes are incorrect'. The Webpack issue can be found here: https://github.com/webpack/webpac

[2017-05-08 17:12] maksimr commented on #2695
Duplicates of https://github.com/karma-runner/karma/issues/439

[2017-05-08 17:12] #2695 closed

[2017-05-08 17:42] maksimr commented on #2696
@Ezeon

The problem in webpack not in karma, look at webpack documentation about config
[code]
As you can see exception was thrown by webpack

Thanks

[2017-05-08 17:42] #2696 closed

[2017-05-08 19:50] Ezeon commented on #2696
@maksimr
Webpack throws an error because an invalid configuration object is passed to Webpack. This configuration object is being passed from _'karma-webpack.js'_. As I state in my post, I already an issue submitted to Webpack, and the response from Webpack is that the slashes is the wrong way. It should be '\' and not '/'. Somewhere, karma-webpack.js is picking up and sending an illegal path. Sor

[2017-05-09 00:01] Ezeon commented on #2696
After a little digging in the code, I can confirm that the error is caused by Karma. In karma-webpack.js, webpack is called by the following line:
   _var compiler = webpack(webpackOptions);_
The issue is in the webpackOptions object passed by karma. The illegal path is in the webpackOptions.context property.

As a hack to get it working again until a permanent fix is in place, a simple string rep

[2017-05-09 00:31] BrianLenzo commented on #2572
node 6.10.3
npm 3.10.10
yarn 0.23.2

[2017-05-09 11:38] Globegitter opened #2699 "Get filename of test/spec being run in reporter"
### Expected behaviour

When writing a reporter in the `onSpecComplete` complete function I would expect the `result` object to have an attribute `filePath` or similar that shows the path to the file where the test is being run.

### Actual behaviour

It does not have that attribute, nor have I found another way to get the filename of the spec.

### Environment Details
Karma version: 1.4.1

[2017-05-09 14:54] maksimr commented on #2696
@Ezeon

var compiler = webpack(webpackOptions);

Yup, it is still not karma issue, as you can see [karma-webpack](https://github.com/webpack-contrib/karma-webpack) supported by [webpack-contrib](https://github.com/webpack-contrib) team so feel free open issue there.

[2017-05-09 15:04] maksimr commented on #2699
@Globegitter

1. Why do you need this information?
2. It does not relate to the karma itself. All tests are loaded by tag script in a browser and runned by test framework. So it should be done in test framework or by, a separate plugin because.

In your case, you can try to find the path in error stack trace.

[2017-05-09 15:41] Ezeon commented on #2696
@maksimr  Sorry, my mistake. I though you were responsible for the 'webpack-karma' package as well. I'll take it up with the webpack-contrib team then. Thanks.

[2017-05-10 04:45] wiwiwa commented on #1403
+1

Or karma can be configured to not start automatically.

[2017-05-10 09:03] Globegitter commented on #2699
@maksimr Thanks for the quick reply. As a bit of background, I have not setup karma on our project, nor got that much experience with it. I am just setting up integration with our code review tool (Phabricator). And that has the possibility to show on each PR which test exactly failed and which file that test belonged to. So I have written a reporter to give me the test results in json, which are

[2017-05-10 10:53] perymimon commented on #1189
so what go with it feature ?? it make the time of config new karma server mach longer

[2017-05-11 00:58] danielcompton commented on #2420
I did a bit of digging into this as I hit the same problem with ClojureScript compilation. As best as I can tell, what's happening is:

1. Chokidar sets up a watcher for file change events
2. A file is changed by compilation. The file changes are streamed in. Chokidar's docs mention that a 'change' event can be emitted before a file has finished being changed.
3. Chokidar picks up the change and c

[2017-05-11 03:35] awyl commented on #1403
+1

[2017-05-11 12:03] jmjpro commented on #1507
I'm also interested in the idea that @NicBright has presented here. Why hasn't there been any progress on this?

[2017-05-11 14:25] tyschreiver opened #2700 "Cannot use SCSS files in karma config"
### Expected behaviour
Should be able to import an SCSS style sheet in the files section just like CSS

### Actual behaviour
Karma does not recognize SCSS and gives the following error:

Chrome 55.0.2883 (Linux 0.0.0) ERROR
  Uncaught SyntaxError: Unexpected token {
  at http://localhost:9879src/app/styles.scss:1

### Environment Details
(from package.json, karma --version didn't work)
    "karma"

[2017-05-11 16:46] VinishaDsouza opened #2701 "Can't locate script error, when I do karma start"
### Expected behaviour
When I do karma start, it's not supposed to give me any errors.
### Actual behaviour
Instead, I get this error:
START:

webpack: Compiled successfully.
webpack: Compiling...
webpack: wait until bundle finished:
webpack: wait until bundle finished:
webpack: wait until bundle finished:
webpack: wait until bundle finished:
webpack: wait until bundle finished:
webpack: wait unti

[2017-05-11 20:03] #2701 closed

[2017-05-12 03:43] trcollinson opened #2702 "Conflicting mime-type definitions do not overwrite any longer due to change in latest version of mime dependency. Causes Karma to crash."
### Expected behaviour

When using the mime object within a configuration, that the mime-type will be remapped as expected. For more information see the following:

https://karma-runner.github.io/latest/config/configuration-file.html

Section -> mime

### Actual behaviour

The node module `mime` has been updated to use facet priority in deciding whether to remap one mine-type to another. So some m

[2017-05-12 13:05] anius opened #2703 "Proxies with path outside basePath"
### Expected behaviour
Proxied files found.

### Actual behaviour
`WARN [web-server]: 404` when running tests with `proxy` path that is one level above basePath:

`WARN [web-server]: 404: /base/../node_modules/some-package/dist/img/t10062725.png`

Pattern that is not outside `basePath` works perfectly.

### Environment Details

- Karma version: 1.7.0
- Relevant part of your `karma.config.js` file:

[2017-05-12 13:50] EricWittmann commented on #2572
$ node --version
v5.6.0
$ npm --version
3.6.0
$ yarn --version
0.23.4

[2017-05-12 21:43] maksimr commented on #2572
Is it reproduced only for *yarn*?

[2017-05-13 18:20] marcowilliam commented on #2066
Any progress with the karma-env-preprocessor plugin ?

[2017-05-15 06:52] vijayKumar2017 opened #2707 "injecting dependency of service available in another folder...giving error 404"
### Expected behaviour

### Actual behaviour

### Environment Details

- Karma version (output of `karma --version`):
- Relevant part of your `karma.config.js` file

### Steps to reproduce the behaviour

1.
2.
3.

[2017-05-15 16:42] VinishaDsouza opened #2708 "Karma unable to find aliases. "Cannot find module...""
Hi everyone!  I am new to using karma and was wondering if anyone knows how to defina aliases in karma.

### Actual behaviour
When I run karma start, I get an error saying:
``Uncaught Error: Cannot find module "@angular/core"
 at build/StartPage-bundle.js:15165``

### Environment Details
karma-requirejs@^1.1.0
- Relevant part of your `karma.config.js`
// Karma configuration
// Generated on Fri May

[2017-05-16 11:46] gogoyqj opened #2709 "Not a bug but to improve debug experience"
While open `http://localhost:9876/debug.html` to debug the tests:

It seems that there isn't  a way like
[code]
 to execute several specified but not all the tests without changing `karma.conf.js` & restarting karma server.

Did i miss something?

And i make some changes on `karma/lib/middleware/karma.js` to meet the demand. i wonder whether is's in need.

[2017-05-16 12:28] BrianLenzo commented on #2572
Yes.  I can only produce this with yarn.

[2017-05-16 20:03] octalmage commented on #1087
The webpack build time makes testing extremely painful without incremental builds/tests. Does anyone know why the watched: false solution wouldn't work for me?

[2017-05-17 08:18] macjohnny opened #2711 "Improve Error Message Handling"
### Expected behaviour
When the execution of some test fails, the error message should be fully transferred to the console log for debugging purposes.

### Actual behaviour
Currently, when an error occurs e.g. inside a promise inside a zone.js, the error message is only partially transferred to the console. This is due to the JSON.stringify() representation of the message not containing all parts

[2017-05-17 18:55] mgol commented on #2677
I think we should update npm in Node 0.10/0.12/4 to npm@3 as that we know is officially supported and leave the other Nodes as they are. Then we'll only test on npm>=3 but where such npm is already available by default we'll use the included version. That's the version most people will use so I think that's preferable.

PR: #2715.

[2017-05-18 21:51] BustyLoli-Chan opened #2718 "Karma doesn't return non-zero exit code on some errors"
Sometimes when I build typescripty stuff as a part of our test framework I'll end up getting some typescript related error. Karma will spit out this error and refuse to continue running tests, but doesn't return a non-zero exit code which really fudges up Continuous Integration.

In this particular case my error is
[code]
But regardless of this specific error, this isn't the first time I've seen t

[2017-05-19 17:01] BustyLoli-Chan commented on #2718
As an update...
It turns out that `1.1.0-rc.0` actually does fix _this issue_

but had some changes made to flags that were overwriting karma.conf.js configurations.
I have noticed as a side effect of this I can't seem to get both autowatch turned off and code coverage generated at the same time

`ng test --watch=false` will do a single run but
`ng test --code-coverage=true --watch=false` will sti

[2017-05-19 17:40] #2718 closed

[2017-05-20 03:32] Sibiraj-S opened #2720 "Docs: Broken link in old docs"
In your old docs.

 http://karma-runner.github.io/0.8/plus/RequireJS.html.

there is a notification mentioning a link to the new documentation. but the link is not working it redirects to the old doc only.

[2017-05-20 08:29] jonathan-kosgei commented on #2489
@remcohaszing Thanks for your comment. How do I set this up such that the browser exits once all the tests have passed?

[2017-05-20 11:24] pscheit commented on #1270
i think libfontconfig-dev isnt required (debian:jessie)

[2017-05-20 13:01] mgol commented on #2489
@jonathan-kosgei This is unrelated to the issue. Configuration is documented at https://karma-runner.github.io/1.0/config/configuration-file.html, look for `singleRun`.

[2017-05-20 16:34] bluenote10 opened #2721 "Docs: Wrong argument of window.__karma__.start"
The ["Karma Framework API"](https://karma-runner.github.io/1.0/dev/plugins.html) section mentions:

This seems wrong. The passed in object does not have any of these methods. A minimal `window.__karma__.start` which just logs its argument produces `Object{args: [], useIframe: true, runInParent: false, captureConsole: true, clearContext: true}`.

[2017-05-22 13:11] wesleycho opened #2724 "Upgrade to the new version of Greenkeeper"
The current version of Greenkeeper used is going to shut down on May 31st - we need to install the new version as linked [here](https://git.io/uptodate).

@dignifiedquire this probably requires action on your part.

[2017-05-22 13:29] wesleycho opened #2725 "Browserstack api access has been removed"
Here is an example of a recent CI failure where the API usage fails: https://travis-ci.org/karma-runner/karma/jobs/234152709

All builds are guaranteed to fail in Travis currently due to this issue.

This looks like Browserstack needs to be contacted and some credentials may need to be updated.

@dignifiedquire I think this task may also be in your realm.

[2017-05-22 17:45] npetruzzelli commented on #1035
- Windows 7 Pro
- node v6.9.4
- npm 3.10.10

I've been experiencing the same issues and have noticed the following:

-   Affected:
    -   Chrome
    -   Firefox
-   Not Affected
    -   PhantomJS
    -   Internet Explorer

I have a couple work arounds, granted niether is perfect:

[code]

I hope this helps!

[2017-05-22 17:57] npetruzzelli commented on #1035
I should add clarification. The server exit handler is being called for me, but the process never exits if the affected browsers are launched. In hindsight, this may be different from the issue described above.

[2017-05-23 12:29] nikolaipetkov commented on #1706
Just experienced it too. The problem is the same as mentioned above :)

[2017-05-24 01:04] mnmeyers commented on #635
thank you @lc3t35 your solution helped me out!! 👏  🙏

[2017-05-25 17:33] buzzware commented on #1851
@GCorbel Did you solve this? I can't find a complete tutorial either

[2017-05-26 02:31] devrafalko opened #2728 "Doubling <script> elements in the <body> client context.html file that are set to included:true when autoWatch:true"
### Actual behaviour

When I set my `karma.conf.js` with these options:
[code]
on every autoWatch reload, all files that are specified in `karma.conf.js` `files: [ ... ]` array and are set to `included:true` are appended to the `<body>` extra time, so after 5 changes in my watched file, I have 5 `<script src="my_watched_file.js"></script>` elements in my body repeated.

It does not happen if I use

[2017-05-28 04:23] aaronisme commented on #1868
@stevemao thanks, facing the same issue, in  webpack use this workaround to fix that

[2017-05-28 18:55] n370 commented on #251
Hey @dignifiedquire is there something I can do to help getting this corrected for the next release?

[2017-05-28 22:27] #2677 closed

[2017-05-28 22:33] #2331 closed

[2017-05-28 22:46] dignifiedquire commented on #2725
Sorry for the delay, will take a look

[2017-05-28 22:50] dignifiedquire commented on #2725
Updated the credentials, lets hope it works

[2017-05-28 22:50] #2725 closed

[2017-05-28 22:50] dignifiedquire commented on #2724
I did this, though not a 100% sure it worked, lets see

[2017-05-28 22:50] #2724 closed

[2017-05-30 13:54] Altiano opened #2734 "Only let karma scan for uncommitted files"
It would be nice if karma provide config option like Jest to only scan for uncommitted files.
This will result in reduced delay.

I'm guessing karma current behavior is to scan source directory for files that match defined patterns. Imagine if there are 1000 files or more, this can take a really long time for browser to response, especially on low-end (before start testing), Wouldn't it be better

[2017-05-31 10:55] Sibiraj-S commented on #2720
closing this issue, as #43

[2017-05-31 17:19] jadekler opened #2735 "Please upgrade to socket.io 2.0.1"
So that you can have a version of `socket.io` which depends on a version of `engine.io` which depends on a version of `ws` that is not horribly out of date. :)

For reference, if you currently have latest version of `karma`, `ws`, and `bufferutil` (which is an optional dependency of `ws`), you'll get a runtime error running karma since the version of bufferutil is not supported by the `socket.io`-

[2017-06-01 15:51] kirikintha commented on #2647
Hello, I just wanted to let @tiefling know that I ran into the same issue on VST. The Solution was to add the PHANTOMJS_BIN information above into the build definition "Variables" tab. Worked like a charm. I am using the latest version of Karma for this.

![2017-06-01_0950](https://cloud.githubusercontent.com/assets/274575/26688465/ecb3a738-46af-11e7-81b1-d7c32b48189f.png)

[2017-06-04 08:28] rxmaximo commented on #2652
Can anybody give a link on how to set up CHROME_BIN please.

[2017-06-04 13:27] bluenote10 opened #2736 "[Feature request] Provide option to trigger preprocessors on any watcher event"
This is a feature request following up on #2491.

### Problem

I'm working on a [`karma-nim-preprocessor`](https://github.com/bluenote10/karma-nim-preprocessor) to allow using Karma with the Nim programming language. The Nim compiler behaves like a bundler, i.e., compiling a `main.nim` could have dependencies on many other `.nim` files, but the output is a single `main.js`. The standard Karma conf

[2017-06-04 19:49] gdyrrahitis commented on #2735
Same error
[code]
Please fix

[2017-06-04 20:53] hun1ahpu opened #2737 "'Karma start' fails with 'Cannot load browser 'chrome'"
'karma start' fails with the error:

04 06 2017 22:47:24.132:WARN [karma]: No captured browser, open http://localhost:9876/
04 06 2017 22:47:24.166:INFO [karma]: Karma v1.7.0 server started at http://0.0.0.0:9876/
04 06 2017 22:47:24.169:INFO [launcher]: Launching browser chrome with unlimited concurrency
04 06 2017 22:47:24.173:ERROR [launcher]: Cannot load browser "chrome": it is not registered!

[2017-06-04 21:15] mbland commented on #2659
FYI, I'm reasonably sure the source of the crash is [the lack of nonblocking `connect()` support in WSL causing a low-level QT error when using WebSockets](https://github.com/Microsoft/BashOnWindows/issues/903#issuecomment-306066510).

[2017-06-05 07:06] hun1ahpu commented on #2737
After generating karm.conf.js with 'karma init' the issue is gone. Not sure though i understand what was the problem. Here is my new auto-generated config:

// Karma configuration
// Generated on Mon Jun 05 2017 08:58:15 GMT+0200 (Romance Daylight Time)

module.exports = function(config) {
  config.set({

    // base path that will be used to resolve all patterns (eg. files, exclude)
    basePath:

[2017-06-05 16:38] guilhermejcgois commented on #1411
We faced the same problem here, some updates about that @bySabi @dignifiedquire ?

[2017-06-05 17:24] bySabi commented on #1411
My propose 'plain' reporter, PR: https://github.com/karma-runner/karma/pull/2397,  is not merged/acepted yet and I don`t know it will

[2017-06-06 00:23] JoshSchreuder commented on #2652
I'm getting this same issue even on v1.5.0

[code]

[2017-06-06 04:58] vikerman commented on #439
Hello - Here is my proposal for running tests in parallel.

This is a very simple sharding strategy - But it should provide speedup just by using multiple processors on the machine. This is meant mostly for local development and not much for CI runs(where remote CI setup costs far outweigh the speed gains of parallelization)

karma.js changes:
- The root Karma URL can take in 3 extra URL parameter

[2017-06-06 08:27] mskutin commented on #2652
Got into this with karma `v1.7.0`

[code]
- Karma version (output of `karma --version`): 1.7
- Relevant part of your `karma.config.js` file
[code]

[2017-06-06 10:36] freshsun commented on #699
+1

[2017-06-06 15:02] Sashikus commented on #2593
Hi, have the same issue and still nobody answered to previous question "Downgraded what to what?" and workaround doesn't work for me )

[2017-06-06 16:12] bennyn commented on #2489
@jchull Thank you very much for sharing your configuration with us! I just tested it with Chrome v59 and it seems to work. 😃  However there is still a blank page that spins up on a Karma test run. Can this page be suppressed?

**Screenshot:**

![Screenshot](https://user-images.githubusercontent.com/469989/26839510-878e4f38-4ae3-11e7-8fe8-efb3c54b56dc.png)

[2017-06-06 16:29] megamindbrian opened #2738 "Older documentation messaging points to wrong version"
When the older documentation says I'm using the wrong version, it should probably point to the right version like the link highlights:
Heads Up! You're viewing the docs for v0.8, an old version of Karma. v1.0 is the newest.
v1.0 is the newest links back to the same 0.8 page that I am on.  Should point to the new 1.0 API.  Maybe we need a karma test-case for this?

[2017-06-06 19:31] megamindbrian opened #2739 "Doesn't list tests"
I have an error that is not showing up as a failure but Karma doesn't tell me which test it is from.  Can we include karma-spec-reporter in this project since it appears to be useful and it only made up of 2 JavaScript files?

[2017-06-06 19:47] megamindbrian opened #2740 "Can't list plugins set by angular-cli"
When I launch ```ng test``` everything works until I try to change a default setting.  Somehow Angular is setting up the [plugins] list for me, but when I try to add a plugin I have to go back and list all the plugins automatically configured.

Is there documentation on what plugins I should be using just to get a simple test displaying results?
Can you work with someone from the angular team to m

[2017-06-06 21:04] megamindbrian opened #2741 "Freezing using router.navigate"
Why not include framework specific documentation along side the configuration documentation?
Here's a good one:
https://stackoverflow.com/questions/40868034/angular-2-final-release-router-navigate-unit-test-error

[2017-06-06 21:46] megamindbrian commented on #2194
This is a really bad error for missing a config file.

[2017-06-07 08:27] klutch1991 commented on #2572
Any progress for this issue?

[2017-06-07 11:32] csvan commented on #2489
Always very eager to know how to lose the blank window.

[2017-06-07 13:09] Arikael commented on #2647
this does not solve the problem in my case, unfortunately.
Still investigating what might be the culprit.

[2017-06-07 14:36] jchull commented on #2489
@bennyn @csvan The headless feature is mainly needed for automation environments, like a linux build machine with no UI. I get no window on OS X, and it works on headless linux.
Here is the chromium bug for windows support: https://bugs.chromium.org/p/chromium/issues/detail?id=686608

[2017-06-07 19:57] mgol commented on #2489
Windows support landed in Chrome 60, not 59 as it did for macOS & Linux. You need to wait 6 more weeks to have a headless version officially supported on Windows.

[2017-06-08 08:48] bennyn commented on #2489
Ok, thanks for all your replies.

In most of my projects I am using Travis CI to run my test suites with a Karma test runner. When running Chrome headless on a Linux build machine of Travis CI, then there is no longer any need for the following config, am I right?

[code]

Which means that [using xvfb to run tests](https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-

[2017-06-08 11:13] TaranjeetSinghWri commented on #2026
For me also it is crashing. Installed the latest version

[2017-06-08 18:53] megamindbrian opened #2743 "Documentation is poor"
Has anyone considered splitting this page up in to something more digestible?

https://angular.io/docs/ts/latest/guide/testing.html

[2017-06-09 13:09] Opty1712 commented on #1868
Got same error. After trying a lot of methods for me helped this one:

`"test": "node --max_old_space_size=4096 ./node_modules/karma/bin/karma start --single-run || exit 0",`

Also waiting for new TS-loader, see details here: https://github.com/TypeStrong/ts-loader/issues/502#issuecomment-307370502

[2017-06-09 21:43] MarkoCen commented on #553
Currently, I use command line arguments to define which set of tests I need to run. For example, I want to run those tests under `src/controllers` folder, and the start command is something like:
[code]
And in `karma.config.js`, I select files based on the argument passed:
[code]

[2017-06-12 11:55] istibekesi commented on #2700
Installing 'karma-scss-prepocessor' solved it for me, also included the scss files during karma test.
https://stackoverflow.com/a/44498689/3612124

[2017-06-12 15:35] Georgegriff commented on #2489
I've been playing with the Chome 60 Beta, with the following configuration:
` customLaunchers: {
            ChromeUK: {
                base: 'Chrome',
                flags: ['--lang=EN-GB', '--headless', '--disable-gpu', '--remote-debugging-port=9222']
            }
        }`

The tests that I have that do some Locale testing no longer work when running headlessly, has anyone else encountered

[2017-06-12 21:49] megamindbrian commented on #119
/base/ doesn't work either.  Also, why?  Where does it say everything is served from /base/www?

[2017-06-12 22:13] megamindbrian commented on #2344
Still doesn't work.

[2017-06-12 22:27] dignifiedquire commented on #2344
@megamindbrian please refrain from leaving these kind of non helpful comments. This is not welcome here.

[2017-06-12 22:33] megamindbrian commented on #2344
@dignifiedquire, how is someone supposed to know that the related error message that was closed 6 months ago is still an issue?

[2017-06-12 22:41] megamindbrian commented on #508
Using webpack, this is the only exclude expression that worked!
[code]

[2017-06-12 23:37] megamindbrian commented on #2720
Same thing I said!

I don't know how the version bar is controlled but the docs use https://pages.github.com/

https://github.com/karma-runner/karma/issues/2738

[2017-06-13 00:56] chrisdothtml commented on #2743
You've linked to the Angular docs website. You would need to make this issue in [the repo for angular.io](https://github.com/angular/angular.io) instead (that particular page is [here](https://github.com/angular/angular.io/blob/master/public/docs/ts/latest/guide/testing.jade))

[2017-06-14 16:25] kof commented on #1979
I have got a reproducible example for this issue, wanna see?

[2017-06-14 18:17] bashisha commented on #785
"npm install karma-requirejs" solved it.

[2017-06-15 00:48] shcallaway opened #2745 "Awful docs, support for Angular 2"
What's the deal?

The only information about Angular on the Karma website is [this lousy page](http://karma-runner.github.io/1.0/plus/angularjs.html), which references an out-dated blog post and an equally useless scaffolding generator. From here, you might — just might — figure out how to configure Karma for Angular, but there's no telling what the two are capable of together, thanks to the lack

[2017-06-15 22:28] cullsin commented on #2652
Hi,

I am also receiving the same error message "disconnected".  How do I keep the session active.

Raja K

[2017-06-16 06:29] johndeighan opened #2746 "Unable to install via angular-cli"
### Expected behaviour

The failure occurs 2 ways: 1) simply trying to use ng new <proj> (output from ng --version below), and 2) using a prebuilt project from a book I purchased, which has a package.json with the following devDependencies, running 'npm install':

    "karma": "~1.4.1",
    "karma-chrome-launcher": "~2.0.0",
    "karma-cli": "~1.0.1",
    "karma-jasmine": "~1.1.0",
    "karma-jasm

[2017-06-19 03:28] Sibiraj-S commented on #2720
@megamindbrian. The website is hosted here https://github.com/karma-runner/karma-runner.github.com

[2017-06-19 04:19] megamindbrian commented on #2720
Done.

https://github.com/karma-runner/karma-runner.github.com/pull/45

[2017-06-19 08:23] songguangyu commented on #2632
import {B} from 'C';
export default class A extends B {
}
Cannot read property 'B' of undefined

[2017-06-19 21:17] #2720 closed

[2017-06-21 16:18] Hypnosphi commented on #1247
@steveworkman it's supposed to be in `plugins` not `frameworks`

[2017-06-21 20:56] kushwahashiv commented on #2711
I'm also getting error in a angular 2 project

[code]

[2017-06-22 04:26] phillipzada opened #2748 "Angular Component & Directive PhantomJS Unit Tests Failing TEMPLATE_ATTR_PREFIX"
### Expected behaviour
It works in Chrome but not PhantomJS

### Actual behaviour
Error getting thrown
TypeError: undefined is not a constructor (evaluating 'normalizedName.startsWith(TEMPLATE_ATTR_PREFIX)')

### Environment Details
Windows 10

- Karma version (output of `karma --version`): 1.7.0
- Relevant part of your `karma.config.js` file

### Steps to reproduce the behaviour

1. home-page.con

[2017-06-26 11:44] z-vr commented on #851
It would be really good to support this feature please. I want to write a framework which would start a certain server, but I don't have a way of making Karma wait before it is initialised. I could register it as pre-processor I suppose, but that's quite hackish.

[2017-06-26 18:34] #2669 closed

[2017-06-26 18:36] #1812 closed

[2017-06-26 18:36] #2688 closed

[2017-06-26 19:53] aressler38 commented on #2745
Because angular sucks and so does this issue. Let them handle the framework specific docs.

[2017-06-26 21:10] shcallaway commented on #2745
You're right my tone was really off in this issue. I apologize for that. I think I was just frustrated.

But considering Karma was written by a member of the Angular team _for_ Angular, I think it should handle the framework specific docs, in this case. Some select quotes from the thesis:

whole AngularJS team has been successfully using it as well - both for local development
and on the CI server

[2017-06-27 06:29] leegee commented on #2630
Looks like you are missing two things in your config: `client.captureConsole = true` and  `logLevel: config.LOG_LOG,`. As @wbruno says, take a look at #2582 very carefully.

[2017-06-27 12:56] JochenDiekenbrock commented on #2572
I managed to circumvent this problem by removing karma-cli from package.json (a globally installed karma-cli does not cause problems)

[2017-06-27 13:43] quirimmo opened #2749 "ReferenceError: Can't find variable: exports"
Background: I have an AngularJS mixed with an Angular application, using the `ng-upgrade` module in order to make them live together.

So I have a mixing of `ts` and `js` inside the project and I am setting up karma in order to execute all the tests (`ts` and `js` ones).

When I execute karma and it parses the js files of the downgraded components, at the end of the js file I have an `exports` sta

[2017-06-27 16:48] z-vr opened #2750 "Use serverSocket in middleware"
I'd like to be able to reuse Karma's socket in my middleware. I cannot do this because I run into circular dependency. Is there no way to do that?

[2017-06-27 16:50] z-vr commented on #2743
The documentation for plugin development is pretty much non-existent and only based on examples :(

[2017-06-27 16:53] megamindbrian commented on #2743
If I am expected to write unit tests, there should be an entire category
for "Testing", not a one page link inside the "features" section.  Pretty
amazed that Google being such a big company cares so little, but like Chris
said, that's a different repo.  They do have to work together since Angular
depends on Karma for testing and karma has a specific set of "customers"
for each framework.  Just my

[2017-06-27 18:28] z-vr commented on #2750
It'd be super-nice to be able to use it via `window.karma.socket` as well. I just don't feel like creating a separate socket.io server should be required when Karma has one already.

[2017-06-28 06:47] egmracer01 commented on #1476
If you're using gulp (or another task runner) to run karma, you can workaround this by manually finding an open port and then specifying that in the config. What I'm doing
[code]

[2017-06-28 11:13] tak2ashokkumar opened #2751 "Not able to create spy on method"
My service is :

      var testappserviceone = angular.module('testappserviceonemodule',[])
        testappserviceone.factory('testappServiceone',[ function(){
        return function (x,y) {

             function addobj (x,y){
                 return x+y;
             }

             return{
                add:addobj
             }
        }
       }]);

 My test suite is :

    describe('testa

[2017-06-28 15:29] maksimr commented on #2751
Every time when you evaluate this expression/call function it returns new object with new function in property add
[code]

In your case you should write something like this

[code]

[2017-06-28 15:29] #2751 closed

[2017-06-28 23:08] kushwahashiv commented on #2711
[code]

How to fix this error? Any help would be appreciated?

[2017-06-28 23:39] naganowl opened #2753 "TravisCI is failing on node <6"
### Expected behaviour
https://github.com/karma-runner/karma/pull/2752 and https://github.com/karma-runner/karma/pull/2747 only pass Travis for node 6.

### Actual behaviour
They should pass on npm 6

### Environment Details
The PRs are failing on validation of the commit message on older versions of npm, but succeeds on npm 6. The error message it outputs is

[code]

### Steps to reproduce the be

[2017-06-29 05:04] tak2ashokkumar commented on #2751
Thank you for proposing solution.

[2017-06-29 08:18] ttakahashi2013 commented on #1403
+1

[2017-06-29 09:24] joerideg opened #2754 "Node 8 Support"
### Expected behaviour
I can install and run karma using Node 8
### Actual behaviour
Karma will fail to install because engine support has not included Node 8 yet.

Hi,
First of all thanks for your hard work on this great open source project.

Could you guys please add support for Node 8, and/or give us a timeline for when this change will be released to the public.

[2017-06-29 15:45] Pasupathi-Rajamanickam opened #2755 "Script error. thrown for no reason"
### Expected behaviour
Should run test as before
### Actual behaviour
Same tests that were running on 26th not running for me, throwing some errors which doesn't have any good explanations
### Environment Details
Windows 10, 8, Linux Ubuntu
Tried chrome and phantom js.
- Karma version (output of `karma --version`): "raw": "karma@^0.13.21"

When I change some of the `it` name to something else, the

[2017-06-29 15:56] robert197 commented on #2372
will be there any fix soon?

[2017-06-29 18:21] maksimr commented on #2755
@popkutty look at the issue https://github.com/karma-runner/karma/issues/543 and https://github.com/karma-runner/karma/issues/1268#issuecomment-70422477

[2017-06-29 21:26] JohnRiv opened #2756 "Request: config option to not append file"
### Expected behaviour

### Actual behaviour

### Environment Details

- Karma version (output of `karma --version`):
- Relevant part of your `karma.config.js` file

### Steps to reproduce the behaviour

1.
2.
3.

[2017-06-30 06:23] tak2ashokkumar opened #2758 "testing http calls from angular services"
**My service is**

    var testappserviceone = angular.module('testappserviceonemodule',[])
    testappserviceone.factory('testappServiceone',[function(){
         return function (handler) {
                function getData (){
                   $http.get(handler.selection.selected.url).then(function (response) {
                        handler.obj = JSON.parse(JSON.stringify(response.data));

[2017-06-30 08:02] JuliaAlaeva commented on #2372
Maybe, it help
`mime: {
      'text/x-typescript': ['ts','tsx']
    },`

[2017-06-30 12:20] tak2ashokkumar commented on #2758
**All the httpBackend callls should be flushed and then only the output from them can be tested. So changed the code as  below and it worked.**

    beforeEach(function (done) {
          spyOn(testappServiceone(handler),'edit').and.callThrough();
          httpBackend.expect('GET', handler.selection.selected.url).respond(apiSuccessResponse);
          testappServiceone(handler).edit();

[2017-06-30 12:20] #2758 closed

[2017-06-30 12:45] tak2ashokkumar opened #2759 "Creating a spy on service not working"
** My target service is **

      var app = angular.module('testapp');
      app.factory('testAppServiceOne', function () {
             return function (count, page) {
                   this.count = 0;
                   this.currentPage = page;
              };
      });

** My current service is **

      var app = angular.module('testapp');
      app.factory('testAppService', function () {

[2017-06-30 13:08] IPWright83 commented on #1507
This would be a really interesting change. I've come here looking for an alternative to wallaby.js which is built entirely on this premise (quite successfully). If Karma were able to do this out the box (and even extend it in the future to run just impacted tests based on code coverage) it'd be a big step forward for TDD.

[2017-06-30 13:31] psmyrdek commented on #1247
@steveworkman Unfortunately documentation isn't helpful in this case.

After few hours of investigating the same thing, "low-level" config options like "frameworks", "preprocessors", "launchers" and "reporters" are used only to declare that you want to use this given tool.

However, to be able to use for example "xyz" in frameworks section, you need to register this framework in "plugins". That's

[2017-07-03 12:23] el-davo commented on #2748
+1 getting same issue

[2017-07-03 12:36] volosovich commented on #2372
I have the same issue.
I install karma using instruction from the official site. During the installation I chose to use Google Chrome browser for testing - `karma init`
After run karma start - I only get the warn. All tests finish correct.
[code]
But when I use `karma run`, get the error:
`03 07 2017 15:34:45.867:ERROR [runner]: There is no server listening on port 9876`
How can I fix this error?

[2017-07-04 10:05] meriturva opened #2761 "Http2 module -> Chrome ERR_SSL_VERSION_OR_CIPHER_MISMATCH error"
### Expected behaviour
Correct use of servermodule: https://github.com/nodejs/http2
### Actual behaviour
No way
### Environment Details

- Karma version: 1.7
- Windows 10

### Steps to reproduce the behaviour

We have generated correctly self-signed certificated and we also tested with simple app:

[code]
**Simple app works** but when we use certificate with karma:
[code]
Chrome browser just retur

[2017-07-05 02:27] johndeighan commented on #2746
Apparently, the issue was my Internet connection. FYI, I'm using my Verizon phone as a WiFi hotspot. That seems to  bypass the Great Chinese firewall, since I'm able to access Facebook, Google, etc. which are usually not accessible in China. However, the Verizon connection, I think, is truncating the tarball that is downloaded. Most packages can be successfully installed, while a few cannot.

[2017-07-05 02:27] #2746 closed

[2017-07-06 05:09] tak2ashokkumar commented on #2759
This call is incorrect: spyOn(windowobj, testAppServiceOne);. The second argument to spyOn needs to be a string, the name of the method to be spied on. I hope this helps.

[2017-07-06 05:09] #2759 closed

[2017-07-06 05:58] Komdosh commented on #2737
in first config you write 'chrome' instead of the necessary 'Chrome'

[2017-07-07 13:42] mgol opened #2762 "Headless Chrome version detected to be 0.0.0"
### Expected behaviour
Karma should display a real version number of Chrome Headless.

### Actual behaviour
It always displays `HeadlessChrome 0.0.0 (Mac OS X 10.12.5)`.

### Environment Details

- Karma version (output of `karma --version`):
`1.7.0`
- Relevant part of your `karma.config.js` file
[code]

### Steps to reproduce the behaviour

1. Specify `browsers: ['ChromeHeadless']` in the Karma c

[2017-07-09 18:29] chrahunt opened #2763 "DeprecationWarning in Node 7 when using browserConsoleLogOptions.path."
### Expected behaviour

Executing test with config that includes `browserConsoleLogOptions` with `path` will successully (and quietly) write browser console to the given `path`.

### Actual behaviour

Each time browser console is written to `path`, a `DeprecationWarning` appears:

[code]

Running using `node --trace-warnings node_modules/.bin/karma` gives:

[code]

The relevant line here is `Serve

[2017-07-09 19:18] alexluecke commented on #553
@hamxabaig While I still want to see support for testing a single file, your problem can be avoided with git hooks.

[2017-07-09 20:13] chrahunt opened #2764 "e2e tests are not being run after cucumberjs upgrade"
### Expected behaviour

Following the instructions [here](https://karma-runner.github.io/1.0/dev/making-changes.html) for getting set up and running `npm test` should result in all tests being run successfully.

### Actual behaviour

The output of the `cucumberjs:ci` task indicates there are no tests being executed.

[code]

### Environment Details

- Karma version (output of `karma --version`): l

[2017-07-09 23:31] chrahunt opened #2766 "Travis CI tests are running twice on Node 6"
### Expected behaviour

Tests should run once against submitted PRs per Node platform.

### Actual behaviour

Tests are executed twice on Node 6 where `$VALIDATE_COMMIT_MSG` is set to `true`.

See [here](https://travis-ci.org/karma-runner/karma/jobs/251823121#L1493) and then again [here](https://travis-ci.org/karma-runner/karma/jobs/251823121#L2153).

### Steps to reproduce the behaviour

1. Submi

[2017-07-09 23:45] chrahunt commented on #2753
The validation is not succeeding on 6, it is just not being done (since `$VALIDATE_COMMIT_MSG` is set to `true`).

[2017-07-10 02:30] chrahunt commented on #2763
Blocked on #2765 since those are the relevant tests for the changes needed here.

[2017-07-10 13:45] rawbin- opened #2768 "how to navigate to a page and do some test in karma"
how to navigate to a page and do some test in karma

[2017-07-10 23:00] premiumwd opened #2769 "exit when done"
### Expected behaviour
--single-run in command line, run once.
### Actual behaviour
doesn't end process
### Environment Details

- Karma version (output of `karma --version`):
- Relevant part of your `karma.config.js` file

### Steps to reproduce the behaviour

1. karma start --single-run --watch=false

**karma.conf.js**
[code]

[2017-07-11 02:45] rawbin- commented on #2373
@wesleycho  Is there any idea to work around?

[2017-07-11 04:49] jeremy-smith-maco opened #2770 "ES6 coverage with correct lines"
### Expected behaviour
Generate ES6 coverage with correct lines

### Actual behaviour
Generate ES6 coverage with incorrect lines

### Environment Details

- Karma version (output of `karma --version`): 1.7.0
- Relevant part of your `karma.config.js` file:

[code]

### Steps to reproduce the behaviour

1. Run Karma with above config

[2017-07-11 16:21] #2769 closed

[2017-07-11 23:49] #2770 closed

[2017-07-12 10:20] bd82 opened #2772 "Overriding vs Appending to config.plugins"
* By default the plugins are defined ( in [config.js:332](https://github.com/karma-runner/karma/blob/483beddf6c7a6fd3866e6796890e8d80d5c6492a/lib/config.js#L332)) as:
[code]
* The [config.set](https://github.com/karma-runner/karma/blob/483beddf6c7a6fd3866e6796890e8d80d5c6492a/lib/config.js#L288) method will **override** array properties.
[code]
* The example code snippets in the [middleware](https

[2017-07-12 11:47] xfg opened #2773 "Allow to set body width less than 320px"
I update karma from 0.13 to 1.7.0 and my unit tests have stopped work properly now. My unit tests contain next code:

[code]
but for some reason in karma 1.x `body` width can not be less than 320px and because of this my unit tests are failing now.

[2017-07-12 12:58] nazandrey commented on #895
Hello all! I was searching why karma doesnt reload when file is changed. Now after 3-5 days of deep research i finally found a reason for this.

It's not `autoWatch`, nor `usePolling`, nor `singleRun`, nor `atomic_save` for me.

It's _glob characters in the **_full_** path to watched file_ (in my case it was like C:\\!JS\\foo\\bar.js, notice **'!'** in the beggining of JS). Reason for this here (h

[2017-07-12 17:13] xfg commented on #1507
+1

[2017-07-12 17:45] jamesdanged commented on #1607
Seems there is now an easy way to deal with this by using the "proxies" setting. See http://karma-runner.github.io/1.0/config/files.html  >> Loading Assets.

[2017-07-13 13:21] filipesilva opened #2774 "Feature request: functions/URLs as file sources"
I'd like to propose allowing functions or URLs as file sources:
[code]

[code]

Currently this is not possible. Each entry in the files array must correspond to a real file in the file system.

If such a feature was to be added, a plugin for karma could dynamically fill in the files array upon compilation (when it knows what files were output), and notify Karma that it needs to reload.

This would

[2017-07-13 17:35] d3viant0ne commented on #2774
We have been beating our faces against the keyboard trying to come up with a good way to do this in `webpack-contrib` as well and we are happy to throw resources at the problem if we can come up with a viable solution everyone agrees on.

[2017-07-13 17:55] dignifiedquire commented on #2774
Thank you for the proposal. I am very open to doing this, but will need to figure out how to make this work well. One random idea is to require those files be an EventEmitter which emits events if it is changed. Not a 100% sure though.

[2017-07-13 23:33] filipesilva commented on #2774
An event emitter sounds like a good idea, yes. It would make the watching trivial, and also allow for dynamic content. I think it would address the main requirements.

I'm unfamiliar with the inner workings of Karma proper though, so it's hard for me to say what would go well in the current architecture.

Is it currently possible to dynamically add more files to the file array during runtime? Depe

[2017-07-14 03:04] corence opened #2775 ""files" globs match partial filenames"
### Expected behaviour
[code]
This pattern should match `dist/abc/def/filename.js` but should *not* match `dist/abc/def/filename.js.map`

### Actual behaviour
It matches both files

### Environment Details

- Karma version (output of `karma --version`): 0.12.31
- Relevant part of your `karma.config.js` file:
[code]

### Steps to reproduce the behaviour

1. in karma configuration file, set options.

[2017-07-14 10:24] Goldflow commented on #2572
had same issue, but in my case it was because of my own doing...
maybe some others made the same mistake as me

while trying to install a global package with yarn (while being in my project folder)

instead of `yarn global add [package] `

i used the command `yarn add global [package] `

which causes the package "global" to be installed, together with the [package]

removing my node_modules with t

[2017-07-14 14:20] daryl0313 commented on #2702
I too ran into this issue.  Upgrading the mime package to 1.3.6 fixed it.

[2017-07-14 15:51] jbprat opened #2776 "Help needed to use custom browser to run uc browser"
### Expected behaviour
Being able to use custom browser implementation to run uc browser.

### Actual behaviour
Not running UC browser

### Environment Details
- Karma version: 1.7.0
- Relevant part of your `karma.config.js` file:
[code]

### Steps to reproduce the behaviour
1. Run ng test
2. Get error that `Cannot load browser "Script": it is not registered! Perhaps you are missing some plugin?`

[2017-07-17 15:46] grug commented on #1265
Same problem here

[2017-07-17 21:58] kevinsalter opened #2777 "TypeError: Cannot read property 'isValidUTF8' of undefined"
### Expected behaviour
The test runner runs successfully.

### Actual behaviour
An error is thrown when running `karma start karma.conf.js --single-run` in an Angular 2.4.7 project.

[code]

### Environment Details
Here are all packages in `package.json` of the project
[code]
- Karma version: 1.7.0
- I'm using the following plugins in `karma.config.js`
[code]

### Steps to reproduce the behaviour

[2017-07-18 11:15] me-12 commented on #2572
I run into the same issue:
[code]

[2017-07-18 11:32] olala7846 commented on #1268
+1 the same issue, fixed by simply adding 1 dummy test. Absolutely no idea why...

[2017-07-18 21:41] trollepierre opened #2778 "Stop Rerunning automatically test on previous version after changes"
### Expected behaviour
When I run tests, Karma does the job (on the good version that I called version_one).
When I make changes and run tests, Karma runs the test on the new version, including the changes.

### Actual behaviour
When I run tests, Karma does the job (on the good version that I called version_one).
When I make changes and run tests, Karma runs the test on version_one instead of the

[2017-07-19 16:58] kleavjames opened #2780 "ERROR [preprocess]: Can not load "webpack"!"
### Plugins

- Karma v1.3.0
- Karma-webpack v2.0.2
- Webpack v2.2.1

### Karma.config.js

<pre>var argv = require('yargs').argv;
var path = require('path');

module.exports = function (config) {
    config.set({
        browsers: ['Chrome'],
        singleRun: !argv.watch,
        frameworks: ['chai', 'mocha'],
        reporters: ['mocha', 'coverage'],
        mochaReporter: {
            output:

[2017-07-19 17:13] SarathChandraSVM commented on #2373
This issue seems to be happening in the Chrome. Try configuring the headless browser, like PhantomJS in karma configuration and tests run. Yes, its hard to debug. But, that seems to be workaround. ( I have tried)

Or as many pointed, that seems to be an issue with the window location, probably jasmine Spy objects can help to hook the fake listeners to events. I haven't tried this.

[2017-07-19 21:22] #2753 closed

[2017-07-19 21:22] #2766 closed

[2017-07-19 22:03] chrahunt commented on #2775
I have tried unsuccessfully to reproduce your issue. Can you for my example [here](https://github.com/chrahunt/karma-repro-2775) and try to make it fail in the way you're describing?

[2017-07-20 09:39] macjohnny commented on #2711
@kushwahashiv try to apply the changes I suggested in https://github.com/karma-runner/karma/pull/2712/files in order to get more information about the error.
From the 404 messages you can already see that some files could not be loaded.

[2017-07-20 20:49] squidfunk commented on #438
For anyone who is coming here from Google and has this problem: I wrote a simple karma plugin called [karma-viewport](github.com/squidfunk/karma-viewport) which enables testing of responsive features at ease, as long as karma runs inside an iframe (default).

[2017-07-20 23:11] deckar01 opened #2781 "ES6 Arrow Functions Breaks Middleware Factory"
### Expected behaviour

Karma should allow ES6 arrow functions for a middleware factory.

### Actual behaviour

Karma throws "Cannot read property '1' of null", because it is trying to reflect the functions parameters as a string and is assuming "function" will be present.

### Environment Details

Karma version: 1.7.0

Relevant part of your `karma.config.js` file:
[code]

### Steps to reproduce t

[2017-07-21 04:27] wtm17 opened #2782 "Configure progress reporter to report after X number of executed specs"
It would be nice to be able to configure the progress reporter to only report after X number of executed specs instead of after every one.

This would be especially useful for projects that have large number of unit tests that run in an environment that doesn't support escaping sequences. For example, I work on a code base that currently has over 8,000 unit tests which writes out over 100 lines of

[2017-07-21 09:09] camslice commented on #2066
Hi folks, if anyone is simply trying to use environment variables defined in a `.env` file in your `karma.config.js` file, this plugin will do the trick: https://www.npmjs.com/package/dotenv

You just install the module, then add `require('dotenv').config();` to the top of the `karma.config.js` file and all the environment variables in `.env` will be appended to `process.env`.

For example (obviou

[2017-07-21 19:11] deckar01 commented on #2781
I tracked down the issue to the [vojtajina/node-di](https://github.com/vojtajina/node-di/) dependency. Unfortunately that project has was depreciated in favor of [a project that was unreleased and got abandoned](https://github.com/angular/di.js/issues/108) in favor of coupling it to the angular core...

Would you be open to a fork of `di`?

[2017-07-22 20:11] krischandra opened #2783 "FEATURE: Is it possible to run 2000 test cases less than a minute?"
### Expected behaviour
Run 2000 test cases less than a minute
### Actual behaviour
running 2000 test cases in 3 minutes
### Environment Details
angular 4, TS
- Karma version (output of `karma --version`):
- Relevant part of your `karma.config.js` file

[2017-07-23 19:18] maksimr commented on #2783
If short - **Yes**

There are many factors which can affect your tests performance (Code quality, CPU, Browser).
First of all, you should profile your code and try to find [bottleneck](https://en.wikipedia.org/wiki/Bottleneck) after that you should experiment with your environment.

In our project, we have around 3000 tests and they took around 40 seconds[*] but we use angular@1.x and babel@x

I r

[2017-07-23 19:18] #2783 closed

[2017-07-23 19:34] krischandra commented on #2783
Can you share me your karma.config,js setup so that i can go through that. I am now to this.
Thanks.

[2017-07-23 19:44] krischandra commented on #2783
Do i need to add any plugins or something to make it fast? If so please give me some basic idea.
Thanks

[2017-07-23 19:56] maksimr commented on #2783
@krischandra

We have a standard karma config nothing special so I think it does not help you

[code]

[code]

We don't use special plugins and as I already wrote in my previous comment "Profile your code and try to find bottleneck" and watch the suggested video.

IMHO:
I think the better place to ask such questions is stackoverflow.com because your problem does not relate to the karma core functi

[2017-07-24 09:10] rawbin- commented on #2373
@SarathChandraSVM  I am using the headless chrome, wanting to navigate to a page and do some check, with the same problem

[2017-07-24 16:54] arqex opened #2785 "Karma as end to end test runner"
Hey guys!

I love the way karma works, and I am decided to use it as my end to end test runner and get rid of selenium, its asynchronous tests and the way it got stuck without any clear reason.

I already have some code to show, let me explain some context:

The tests are running inside of my app, let's say in `mydomain.com`.

Karma will be running in my computer or any CI environment, like Bamboo

[2017-07-25 10:42] stefaneidelloth commented on #1507
+1

[2017-07-25 11:55] bvarga opened #2787 "version 1.7.0 is not compatible with ie8"
### Expected behaviour

connecting to ie8 browsers

### Actual behaviour

won't connect, time outs.

### Environment Details

- Karma version (output of `karma --version`):
Karma version: 1.7.0
- Relevant part of your `karma.config.js` file

### Steps to reproduce the behaviour

1. https://github.com/browserstack/karma-browserstack-example.git
2. update package.json to karma version 1.7.0 & karma-

[2017-07-25 15:09] Ian5015 commented on #2749
@quirimmo Have you found a solution for this? I'm running into a similar issue.

[2017-07-25 15:24] quirimmo commented on #2749
Hi @lan5015,

Yes I did. In the tsconfig.json specify "amd" as module instead of commonjs.
Let me know if it works

[2017-07-25 15:25] quirimmo commented on #2749
@Ian515

[2017-07-25 15:52] Ian5015 commented on #2749
@quirimmo Unfortunately that just flips the problem to `Can't find variable: define` which seems like the same issue just for a different module system.

[2017-07-25 21:30] gcastellanos commented on #1722
Has this been resolved? I would find it very helpful to not have to wonder whether upper or lower case my .js files are generated and how Karma serves them in my Angular 2 project. Thanks! -Gabe

[2017-07-26 11:48] mgol commented on #2762
An upstream PR to `uap-core`: https://github.com/ua-parser/uap-core/pull/263.

[2017-07-26 21:21] quirimmo commented on #2749
Could you explain me your project and what you are trying to achieve? same
as me using ng-upgrade?

2017-07-25 17:01 GMT+01:00 Timothy Ian Munnerley <notifications@github.com>:

[2017-07-27 13:40] stefaneidelloth commented on #24
Is it possible to keep the browser open on purpose? An extra option for that behavior would be great. Also see https://stackoverflow.com/questions/45352256/how-to-keep-browser-window-open-for-single-karma-run-until-i-close-it-once

[2017-07-27 15:12] z-vr opened #2789 "Karma won't exit if more exit listeners are added to the server"
### Expected behaviour

Karma quits normally

### Actual behaviour

Karma does not quit

### Environment Details

- Karma version (output of `karma --version`): 1.7.0

### Steps to reproduce the behaviour

[code]

But Karma won't quit, although the TestServer does get destroyed.

[2017-07-27 15:37] z-vr commented on #2789
I've figured it out, have to use `done` callback:

[code]

[2017-07-27 15:37] #2789 closed

[2017-07-28 17:38] chaughawout opened #2790 "Chrome occasionally does not receive any messages before default 10s timeout - Windows 10"
### Expected behaviour
Chrome should receive messages from Karma during test suite. Once received tests should run.
### Actual behaviour
Server is started with unlimited concurrency. Chrome is started. Chrome then disconnects with the results:
Disconnected (1 times), because no message in 10000 ms.

### Environment Details
Windows 10
Chrome Version 59.0.3071.115 (Official Build) (64-bit)
Karma ver

[2017-07-28 21:49] mikeabiezzi commented on #1507
+1

[2017-07-30 15:29] Stwosch commented on #1265
[code]
Same problem. Chrome works fine.

[2017-07-31 13:57] Harha commented on #2652
Using latest karma, latest karma chrome runner, latest jasmine and latest Chrome.

Headless mode does not work. Same 'disconnected' issues as everyone else is having.

[2017-08-01 14:38] wwoods opened #2794 "Karma's onerror handler coupled with Zone.js can cascade ErrorEvents into tests from which they did not originate"
### Expected behaviour

Each Jasmine `it()` test should be independent; e.g.:

[code]

Should cause the first test to fail and the second to pass.

### Actual behaviour

The second test case, `should pass`, fails from an `ErrorEvent` re-raised from within Zone.js.  I have not distilled this yet to a MWE, but as I have a workaround, I am posting the issue, since it took me a long time to correlate

[2017-08-02 05:03] VietHoc commented on #1243
try it : "browsers: ['Chromium'],"

[2017-08-02 06:54] maoyr commented on #1265
[code]
+1
Same problem. Chrome works fine.

[2017-08-02 13:21] ahacke commented on #2342
Any news regarding this issue? It is labeled as `discussion`. But nothing happened for nearly 8 month.

[2017-08-02 17:45] brandonros commented on #439
I'm going to try to get this done this weekend. I don't know anything about this project or the codebase, but I think a ton of people would be saved a ton of time if I can figure something out. Maybe different tabs running on different ports? Could get hairy...

[2017-08-02 19:56] littleninja commented on #439
@brandonros rock on! I'm in a similar boat--haven't contributed to the project before but would also be interested if I can help with a sharding feature. Would you be willing to create a fork to get the ball rolling? I don't know--do people usually create "WIP - xyz feature" pull request to help rally effort?

[2017-08-02 20:04] brandonros commented on #439
Sarah,

Let's link up and see where we can hook into this and dive in. When are you free? (probably best not to continue this conversation here)

Regards,

Brandon
________________________________
From: Sarah <notifications@github.com>
Sent: Wednesday, August 2, 2017 3:56:10 PM
To: karma-runner/karma
Cc: Brandon Ros; Mention
Subject: Re: [karma-runner/karma] Test sharding / parallelization (#439)

[2017-08-03 02:34] Chersquwn opened #2795 "SyntaxError: Use of reserved word 'import'"
### Actual behaviour
[code]
### Environment Details

- Karma version : karma@1.7.0
- karma.config.js:
[code]

- .babelrc:
[code]

- karma-webpack@2.0.4
- node: 8.1.4
### Steps to reproduce the behaviour

1.toast.spec.js:
[code]

[2017-08-03 06:40] vijayKumar2017 opened #2796 "Using Angular4 AOT...Stil we are not getting much benefit in initial page load execution"
### Expected behaviour
Using Ahead of Time compilation, Initial page load should be reduced

### Actual behaviour
Still it is taking 3 to 5 seconds to start execution after page loading

### Environment Details
Angular 4.1.2
angular-cli: "1.0.0-beta.28.3"

Could you please help us out.

[2017-08-03 11:08] ilyaigpetrov opened #2797 "Feature: Testing Global Errors in Karma"
### Setup

I need to test such function:

[code]

### Proposed Solution
[code]
### Current Solution
[code]
### Gory Details

1. In API of Chrome web-extensions you may pass callbacks.
2. If error is thrown in such callback, you can't catch it, except one case: error is thrown in `setTimeout`.
3. So you wrap all callbacks in `setTimeout` and set global error catchers. I wrote a few functions to aut

[2017-08-03 19:19] brandonros commented on #439
So, here's what happens at a high level:

1. your package calls Karma with a configuration describing a framework like Jasmine

2. A browser is opened and pointed to the local Karma server, which serves up some HTML/JS listing your files to test, and an iframe, then hands it off to the framework

I actually think it would make more sense to inject into Jasmine, because I was able to boil down exac

[2017-08-04 13:56] hulutter commented on #2711
Thanks @macjohnny! You saved me some precious time 👍

[2017-08-04 15:44] guilhermejcgois opened #2798 "Karma version not updated with socket.io dep update"
### Expected behaviour
With the merge #2744, the patch version was incremented, and `npm install karma` retrieve karma with updated socket.io package version (1.7.4).

### Actual behaviour
Patch version of karma steals on 1.7.0. When doing `npm install karma` the socket.io merge steals the previous (1.7.3)

### Environment Details

- Karma version (output of `karma --version`): 1.7.0
- Relevant pa

[2017-08-04 15:46] guilhermejcgois commented on #2798
When running karma, I'm getting the error mentioned in  #2593.

[2017-08-05 01:13] CoderK commented on #1507
+1

[2017-08-05 09:45] stefaneidelloth commented on #1507
I also first commented with "+1" but then I learned that this will spam all persons that already wrote a comment.
=> Please use the thumbs up feature on the issue description.

[2017-08-05 18:03] hpufo opened #2799 "Karma calls Jasmine twice."
### Expected behaviour
 Karma calls jasmine tests once.
### Actual behaviour
Everything in the describe and it functions are being called twice, causing some tests to fail.
### Environment Details

- Karma version (output of `karma --version`): 1.7.0
- Relevant part of your `karma.config.js` file
Not sure what is relevant so here is my entire file: https://gist.github.com/hpufo/2bb70a3e399ab0a486d

[2017-08-06 22:19] mgechev commented on #2781
@deckar01 another alternative is to migration to the DI implementation in `@angular/core` or it's extraction at [injection-js](https://www.npmjs.com/package/injection-js).

[2017-08-07 03:26] bxu-github opened #2800 "Karma should stop execution when preprocessor step fails"
### Expected behaviour

Karma should not execute test framework if a preprocessor has an error.

### Actual behaviour

webpack preprocessor is failing due to an eslint error. However the test suite continues to run.

[code]

### Environment Details

- Karma version (output of `karma --version`):
Karma version: 0.13.22

- Relevant part of your `karma.config.js` file
[code]

### Steps to reproduce t

[2017-08-08 14:27] jay-shi opened #2801 "Angular2/4: calling function directly from component instance does not change component property"
## Problem description

This happens during unit testing a angular2/4 function.  The testing framework is Jasmine on a Karma Runner. FunctionA is a trivial function, and all it does is changing the properties of a angular component object. I instantiated the object component by using `var component = Testbed.componentInstance()`. When I call functionA via `component.functionA()` and spy on it. It

[2017-08-08 14:50] bertolo1988 opened #2802 "How can i make my karma fail the tests if the transpilation step fails?"
Hello,

I introduced an error in my code and my karma tests still pass even though the transpilation step is not successful.

Here is my output:

[code]

Is it possible to abort the execution with a failure (travis.ci must fail the test) if such thing happens?

[2017-08-08 16:08] guilhermejcgois commented on #2801
Do u try to call `fixture.detectChanges();` after calling the function directely?

[2017-08-08 18:10] pauldraper commented on #2264
This logic implies that something is watching the file system.

I use make to generate the file and want to invoke it on each load. Preprocessor + nocache would be the way to do this?

[2017-08-08 18:29] dalper01 commented on #2593
I have ws 1.1.4 and am still getting this error

[2017-08-08 19:28] kevinsalter commented on #2798
Looks related to #2777 as well

[2017-08-08 22:43] ORESoftware opened #2803 "NODE_PATH solution doesn't seem to work"
### Expected behaviour

set NODE_PATH, and I can use global karma npm version

### Actual behaviour

set NODE_PATH, and I **cannot** use global karma npm version

### Environment Details

[code]

if I use this:

[code]

then I get:

[code]

(without the NODE_PATH warning, but still doesn't work).

[2017-08-08 23:05] ORESoftware opened #2804 "Error: Cannot find module 'jasmine-core'"
After running

[code]

when I run:

`karma start`

I get:

[code]

[2017-08-08 23:13] ORESoftware commented on #2804
nevermind, sorry, I didn't see these instructions in the tutorial:

`npm install karma karma-jasmine jasmine-core karma-chrome-launcher --save-dev`

[2017-08-08 23:13] #2804 closed

[2017-08-09 00:05] ORESoftware opened #2805 "Support question - I only can get tests to run in "debug" mode..."
### Expected behaviour

Browser launches, tests will run. (using `karma start`).

### Actual behaviour

The tests only run if I click on the debug button in the browser, and the "test results" only show up in the browser console. I tried several different reporters (progress and spec).

I am on MacOS.

Just to be clear, I have to click the debug button here, in order to get any output at all:

<im

[2017-08-09 13:27] jay-shi commented on #2801
@guilhermejcgois  I did. I console logged the component both before and after I called the function and `fixture.detectChanges()`, the two logs are the same. That being said, the component did not get affected by the function somehow.

[2017-08-09 14:16] AndrewEastwood commented on #1507
+1

[2017-08-09 15:58] jay-shi commented on #2801
More information:

I used debug mode and inserted some testing code on the original function. Turns out Jasmine did not call the actual function albeit spy says so.

[2017-08-09 18:01] jay-shi commented on #2801
@guilhermejcgois After inserting a few testing code, I finally found where the problem is.

Somehow `spyOn(component, 'functionA')` alter funtionA into another function for the purpose of spy. If I get rid of `spyOn`, my function works perfectly!
To people that encountered the same problem, please use two separate specs to test the functions. One for if the function is being called, the other is f

[2017-08-09 18:01] #2801 closed

[2017-08-10 03:46] alvindaiyan opened #2806 "Error when run angular2 tests"
### Expected behaviour

### Actual behaviour
I got error as follows:
[code]

### Environment Details

- Karma version (output of `karma --version`):
"karma": "1.2.0",

- Relevant part of your `karma.config.js` file
// Karma configuration file, see link for more information
// https://karma-runner.github.io/0.13/config/configuration-file.html
[code]

[2017-08-10 05:02] alvindaiyan commented on #2806
I think it's @ngtools problem. @ngtools 1.6.0, it's not compatible to the current webpack used in angular project.

[2017-08-10 08:26] DarwinniwraD opened #2807 "You need to include some adapter that implements __karma__.start method!"
### Expected behaviour
run the desc file

### Actual behaviour

10 08 2017 16:13:45.745:INFO [karma]: Karma v1.7.0 server started at http://0.0.0.0:9876/
10 08 2017 16:13:50.880:INFO [Chrome 60.0.3112 (Mac OS X 10.12.5)]: Connected on socket KQ0QHmpgt9dStOz2AAAA with id manual-6305
Chrome 60.0.3112 (Mac OS X 10.12.5) ERROR
  You need to include some adapter that implements __karma__.start method!

[2017-08-10 14:10] nicksterx commented on #2652
I got this to work on Chrome 60 by changing the base browser to ChromeHeadless

      'ChromeCustom': {
        base: 'ChromeHeadless',
        flags: ['--no-sandbox'],
        debug: false
      },

[2017-08-10 17:00] SeanFacer commented on #2652
Not working for me.

[2017-08-10 22:23] shaiksphere commented on #2754
Is there an update on this one? This is blocking the usage of `karma` on the Node 8 based projects of ours.

The pull request has been sitting idle since June 29.

[2017-08-12 04:38] ORESoftware commented on #1488
So to be specific:

[code]

is that right

[2017-08-14 16:43] pebanfield commented on #393
I just noticed that my configuration is running tests in all configured browsers. So while I just have one test in my suite, I still see TOTAL: 2 SUCCESS. Looking more closely, I can see that the single test is running in both Chrome and PhantomJS. Could this be this issue?

[2017-08-14 19:46] gibson042 opened #2809 "Feature request: Provide an "is debug" signal"
@Krinkle is [introducing Karma to the jQuery test suite](https://github.com/jquery/jquery/pull/3744), and it looks like our custom context file will be fairly complex. To avoid code duplication, I'd like to reuse it for a custom debug file, but we cannot because there's apparently no documented way to detect that it's being used for debug.

### Expected behaviour
Something like an `%IS_DEBUG%` [di

[2017-08-15 06:06] #2754 closed

[2017-08-15 06:11] #2764 closed

[2017-08-15 09:39] joerideg commented on #2754
It seems the pull request fixing this has been merged. Awesome work guys!

[2017-08-15 17:23] shaiksphere commented on #2754
Great (thumbsup)

Any idea when the `1.7.1` will be released containing the fix?

[2017-08-15 19:32] ORESoftware commented on #553
What the heck do `fdescribe` and `fit`, stand for? lol

[2017-08-16 10:55] psyked commented on #553
@ORESoftware Apparently it's 'focused':

https://jasmine.github.io/2.1/focused_specs.html

[2017-08-16 13:56] Rouche commented on #2217
On Linux,
karma 1.7.0, jasmine-core 2.7.0 - same problem
ReferenceError: Can't find variable: jasmineRequire

[2017-08-16 21:42] devoto13 commented on #2652
I got exactly same error as @mskutin with same versions of Karma and Chrome. Can't reproduce it on OS X or Docker container running in Docker for Mac. Although happens every time in Docker container running on build server (Cent OS 7.3).

Investigation showed that it is related to the slower machine and happens, because it took >10 seconds before test bundle was parsed and executed by Chrome and t

[2017-08-16 23:50] ORESoftware opened #2810 "Uncaught SyntaxError: Unexpected token { in JSON at position 1 at http://localhost:9876/context.html:1"
I am getting this weird error, and I cannot figure out what the source of the error is:

[code]
If anyone has any ideas please help! thx

[2017-08-16 23:57] ORESoftware commented on #2810
I looked into this, and this appears to be the context.html file which gets rendered:

[code]

it looks like it's being rendered improperly by Karma itself, but I have no idea how

[2017-08-17 14:22] damianof commented on #1004
Should add this feature

[2017-08-17 20:10] ORESoftware commented on #2810
this was my bad, my front-end code was causing the error, not sure if there is anything Karma can do to tell the user that the error is their fault.

[2017-08-17 20:10] #2810 closed

[2017-08-18 09:01] ghusse commented on #2489
Hello there.

This project might be helpful to create a headless launcher: https://github.com/GoogleChrome/puppeteer

[2017-08-18 09:15] daanstolp opened #2811 "One failing test causes other async tests to fail in the Karma DEBUG RUNNER"
Consider the following tests (in Jasmine), where the first is synchronous and the second is asynchronous:

[code]

### Expected behaviour
- When I run the tests in the default runner, I expect the first test to fail and the second test to pass.
- When I run the tests in the Karma DEBUG RUNNER, I expect the first test to fail and the second test to pass.

### Actual behaviour
- When I run the tests

[2017-08-18 09:27] ashconnell commented on #2489
@ghusse I wonder if Puppeteer can run out of the box? Will most likely be looking at this in the coming months.

[2017-08-18 13:08] ghusse commented on #2489
It seems that it can, (headless) Chrome is embedded in the lib

[2017-08-18 15:55] briandipalma opened #2812 "Error stack traces should be printed out for syntax errors"
### Expected behaviour

Syntax errors that prevent any tests being should have their stack traces printed.

### Actual behaviour

Syntax errors that prevent any tests being run don't have their stack traces printed.

### Environment Details

- Karma version (output of `karma --version`): 1.7.0
- Relevant part of your `karma.config.js` file

### Steps to reproduce the behaviour

1. Add nonsense var

[2017-08-18 16:32] dewwwald opened #2814 "running npm test => karma start throws "sh: replaced: command not found""
Not sure how to go about solving this issue, any advice?

### Expected behaviour
It should just work. Replaced node_module replaced can't be found even after I installed it first locally and then globally (installation has its own error)

### Actual behaviour
Successfully runs the tests but then throws this error:
[code]
### Environment Details
- Mac Osx
- v6.9.1
- Karma version: 1.7.0
- I don't t

[2017-08-18 16:40] dewwwald commented on #2814
I am an idiot! Sorry.

This is a non issue. It was my package json file post test.

[2017-08-21 17:32] rally25rs commented on #2652
Getting same issue in Karma 1.7 on OSX Sierra:

[code]

[code]

It actually gets through a lot of my tests, but dies part way through.

This actually seems to be caused by an upgrade of `karma-mocha`.

[code]

[2017-08-22 00:00] alecf opened #2818 "Release Karma 1.7.1 with Node 8 support"
Now that #2754 is fixed, someone needs to release a new version of karma that has node 8 support specified.

[2017-08-22 12:34] #2812 closed

[2017-08-22 12:36] #2654 closed

[2017-08-23 09:38] segrey opened #2819 "Passed --grep option persists across test runs"
Let's consider the following project
[code]
[code]

[code]

1. Start karma server
[code]
2. Run all karma tests in another terminal tab:
[code]
Expected result

3. Run only `suite1`:
[code]
Expected result

4. Run all karma tests again:
[code]
Unexpected result: only `suite1` is run again.

Originally reported in karma-jasmine https://github.com/karma-runner/karma-jasmine/issues/186 and in karma-m

[2017-08-24 09:54] nobuti commented on #1640
Still failing.

[2017-08-25 09:14] #2811 closed

[2017-08-25 13:35] madnight commented on #1656
`Chromium 37.0.2062 (Ubuntu 0.0.0) ERROR
  Some of your tests did a full page reload!`

still an issue

[2017-08-25 15:19] mlewand commented on #595
I was surprised to see that after adding `'karma.conf.js'` to watched `files` in Karma config it does not reload itself. It's not a crucial feature, but it would be a nice addition, especially helpful at the beginning of Karma integration to the project.

[2017-08-26 05:47] cryptcoin-junkey commented on #1265
[code]

Same here and resolved. There was no Firefox browsers in my server just in my case.

[2017-08-27 12:47] about-code commented on #1087
Seems related to webpack/webpack/issues/556

[2017-08-28 13:25] segrey opened #2822 ""nocache:true" option not working with "karma run""
### Expected behaviour
Test run triggered by `karma run` should use latest contents of tests declared as `nocache:true`.

### Actual behaviour

Test run triggered by `karma run` uses previous contents of tests.

### Environment Details

[code]
[code]
[code]

### Steps to reproduce the behaviour

1. Start karma server: `./node_modules/karma/bin/karma start`
It starts correctly.

2. Trigger the firs

[2017-08-28 13:29] segrey commented on #2822
This issue is similar to https://github.com/karma-runner/karma/issues/2317, but it's targeting "karma run" and can be still reproduced with the latest released karma 1.7.0.

[2017-08-29 17:46] cletusw commented on #2818
@dignifiedquire Can we get this release for Node 8 support? Thanks.

[2017-08-29 18:24] dignifiedquire commented on #2818
we currently have some breaking changes on `master` which will require some careful testing before I can release them, which I didn't found time for yet sorry

[2017-08-29 18:25] cletusw commented on #2818
Okay.

[2017-08-29 18:26] cletusw commented on #2818
@dignifiedquire Would you accept a branch with just 1.7.0 and the node 8 commit? That way it could just be released as 1.7.1 without the changes in master.

[2017-08-29 18:37] cletusw commented on #2818
@dignifiedquire In case you agree, I've created a `1.x` branch on my fork that is simply `1.7.0` plus the node 8 change. If you'd like, you can create that branch in the main repo, run `npm version patch`, update the changelog, and use `npm publish` to publish *that* branch as 1.7.1

https://github.com/cletusw/karma/tree/1.x

[2017-08-29 18:52] justindiaw commented on #1270
@egeland Thank you so much! You saved my day!

[2017-08-29 19:14] dignifiedquire commented on #2818
Thanks @cletusw that is probably something we can do. I will check it out later today.

[2017-08-29 19:55] nicksrandall commented on #2818
@cletusw, you're always one step ahead of me.

[2017-08-29 20:00] cletusw commented on #2818
@nicksrandall Lol. As a workaround, you can `npm install --force karma` and then `npm install`.

[2017-08-30 08:59] layershifter commented on #2489
I've recently made PR that adds [intructions](https://github.com/karma-runner/karma-chrome-launcher#headless-chrome-with-puppeteer) for [Puppeteer](https://github.com/GoogleChrome/puppeteer), it's really simple :+1:

[2017-08-30 10:40] dignifiedquire commented on #2818
Published from https://github.com/karma-runner/karma/tree/1.7.1 which includes only that change

[2017-08-30 10:40] #2818 closed

[2017-08-30 12:44] Ghirigoro opened #2823 "Karma slows down over multiple runs causing timeouts"
### Expected behaviour
Every run of the tests should exhibit (roughly) the same performance.

### Actual behaviour
Tests take increasingly longer causing them to start timing out. E.g. The first run all tests are averaging less than 2 seconds, a few minutes later tests are taking 4 seconds or more to complete. Eventually an increasing amount of tests time out.
The increase in time is not constant

[2017-08-30 15:10] cletusw commented on #2818
Thanks!

[2017-08-30 15:12] cletusw commented on #2754
@shaiksphere 1.7.1 has just been released with this fix in #2818 !

[2017-08-30 17:50] shaiksphere commented on #2754
Thank you @cletusw. This issue will pop up again in a few months when Node 9.x will be released. Will there be a better solution to make sure it doesn't break again every 6 months or so?

[2017-08-31 16:44] xuexb commented on #2787
+1

[2017-09-01 10:00] chinib commented on #2661
Same error here, did you found a solution?

[2017-09-03 12:16] niaher commented on #2304
Any update on this issue? I am using ChromeHeadless and have been searching for almost half a day now for a way to take screenshot. Any pointers?

[2017-09-03 23:02] josh18 opened #2824 "Include css file without `.css` extension"
For example if I have:
[code]
I get a `Uncaught SyntaxError: Invalid or unexpected token` error due to it being loaded as a script. It looks like it just [matches against the file extension](https://github.com/karma-runner/karma/blob/master/lib/middleware/karma.js#L196) so I'm guessing there is currently no way around this?

[2017-09-05 23:38] johnjbarton commented on #2807
Did you sort this out?

This line in your config means you expect to use karma-mocha implementation of karma-start.
You need to have karma-mocha from  https://github.com/karma-runner/karma-mocha

I don't think you should list sinon-chai as a framework.
https://github.com/domenic/sinon-chai#installation-and-usage

[2017-09-06 14:05] ybarbaria opened #2826 "TeamCity failed karma start"
TeamCity failed during runing karma unit tests.

The log catched in the overview of teamcity

[15:31:38][Step 2/4] Executing npm via wrapping shell script
[15:31:38][Step 2/4] Starting: cmd /c npm run test-tc
[15:31:38][Step 2/4] in directory: C:\TeamCity\buildAgent\work\5f0ec385fa69463e
[15:31:38][Step 2/4] npm run test-tc (4m:49s)
[15:31:40][npm run test-tc]
[15:31:40][npm run test-tc] > ezweb@1

[2017-09-07 02:49] kmashint opened #2827 "Karma@1.7.1 on npm does not match 1.7.1 source on GitHub"
### Expected behaviour
npm install karma@1.7.1  using https://registry.npmjs.org/ should have the same package.json dependencies as the karma-1.71.zip.

### Actual behaviour
`$ npm view karma@1.7.1 dist.tarball`
https://registry.npmjs.org/karma/-/karma-1.7.1.tgz
`$ curl -o karma-1.7.1-npm.com.tgz https://registry.npmjs.org/karma/-/karma-1.7.1.tgz`
And then inspecting the tgz file it shows package.

[2017-09-08 12:27] karsunke commented on #2489
Just for completion, you can start Chrome now just with 'ChromeHeadless': https://developers.google.com/web/updates/2017/06/headless-karma-mocha-chai

[2017-09-08 12:31] bennyn commented on #2489
Karma configuration to use headless Chrome:

[code]

**Note:** You will need to set a `remote-debugging-port`.

[2017-09-08 12:34] karsunke commented on #2489
@bennyn you dont need the customLauncher anymore. It works with 'ChromeHeadless' only.

[2017-09-08 17:34] maroy1986 commented on #2652
The issue is still there, any update on this? I've also tried various propositions made by other peoples here and still no luck. Stuck on Karma 1.5.0 for now.

[2017-09-11 08:12] cfangxx commented on #2045
succeed in using cmd

[2017-09-11 08:50] meriturva commented on #2761
I'm really sorry to write again here but we are blocked and we cannot pass to http2 protocol due to that issue. Any advice or workaround here?

[2017-09-11 10:50] misterbaanu commented on #469
Is this articles helps me to improve my laptop performance also?
Bhanu Prasad
[Tekslate](http://bit.ly/2uowX16)

[2017-09-12 09:52] sten82 commented on #2652
I'm using Karma version 1.4.1 and I also having this behavior on windows. First run works, but when I start it a second time it would fail. If I close the console and reopen it then it works (but again only for the first time, second call breaks again).

[2017-09-13 14:35] benjaminapetersen opened #2828 "Provide clarity in upgrade path"
I am currently working on updating an old toolchain, karma version `0.12.23` to `1.7.0` (or any fairly current version).  I'm using the latest `karma-chrome-launcher` @ `2.0.0` and `karma-firefox-laucher` at `1.0.0` both before and after the upgrade.  The problem is that after updating karma, the browsers stall out & communication fails.  There is no other change, and its not clear what is causing

[2017-09-14 12:33] bennyn commented on #2489
@karsunke: Indeed! Thanks for the hint. 👏
Source: https://github.com/karma-runner/karma-chrome-launcher/tree/v2.2.0#available-browsers

[2017-09-15 19:45] benjaminapetersen commented on #2828
For those who might find this, so far I've found the best method is to delete your config file & start over 😄

[2017-09-19 13:36] segrey opened #2829 ""karma run" re-runs preprocessors for unmodified files"
### Expected behaviour

Running tests via "karma run" should not run preprocessors for unmodified files.

### Actual behaviour

Running tests via "karma run" always runs preprocessors for all files (including unmodified ones).

### Environment Details

- Karma version (output of `karma --version`): 1.7.1
- Relevant part of your `karma.config.js` file: see steps to reproduce

### Steps to reproduce

[2017-09-19 13:43] segrey commented on #2829
This issue is relevant for WebStorm users, since it uses "karma run" for each test run. Related WebStorm issue: https://youtrack.jetbrains.com/issue/WEB-28736.

[2017-09-19 14:41] bobbyg603 commented on #553
@MarkoCen thank you so much! we were trying to add an npm script for running a suite of acceptance tests separate from our suite of unit tests. having a script per suite is much nicer than endlessly swapping describes for fdescribes and vice versa.

[2017-09-20 02:01] fjy5314 opened #2830 "TypeError: vm.$el.querySelector is not a function"
[code]

karma.config
[code]

[2017-09-20 16:29] KrisOlszewski commented on #2708
@VinishaDsouza have you found a fix for this issue? For some reason Karma is not able to resolve local modules for me. Even tho Webpack works fine and I'm reusing `resolve.alias`.

[2017-09-20 23:56] IAMtheIAM commented on #2119
Can we get some example configs? I copied your code and it did nothing to the stack trace

[code]

User should be given simple options for this

[2017-09-20 23:59] levithomason commented on #2119
See my response to your question here, https://github.com/rstacruz/mocha-clean/issues/5#issuecomment-331010426.

The usage changed slightly due to how the stack is passed.  Each line is passed one at a time, rather than the whole stack at once.

[2017-09-21 00:10] IAMtheIAM commented on #2119
Thanks!

So I used your example:

[code]

It did clean it up quite a bit, But I'm still getting some weird mode_modules stuff.

[code]

So I modified it a little and it works!

[code]

Thanks a ton @levithomason!

[2017-09-21 14:12] makeros commented on #2823
Hi @Ghirigoro
I have a similar setup like yours. I see the same but also I'm using chrome and firefox and after few reloads firefox is disconnecting. Did you tried with ff? Or can you maybe try to see if you will experience the same problem?

[2017-09-22 01:36] Ghirigoro commented on #2823
Just tried it with Firefox and I also get disconnected. It will run the tests (very slowly) once and then the second run it starts hanging on a lot of tests and disconnects.

[2017-09-25 07:48] kubal5003 opened #2831 "Emitting progress on test in public API (feature request)"
### Expected behaviour
When tests are executed in the browser(s) I would like to be able to get notification after each test finished (ok/error) in the public API. This could be bubbled up to the Server level and accessible by:

`server.on('test_finished', function(details) { ...})`

or by exposing other API elsewhere, but with similar functionality. This would be similar to the console logs appea

[2017-09-25 13:55] kubal5003 commented on #2796
I'm not in any way related to Karma, but just try getting in their shoes. You're referring to some test suites that only you have, not providing any details, you did not give any measurements on what is taking so long, you did not provide any reproduction steps not to mention any JSFiddle or anything.

[2017-09-25 22:00] applecool commented on #2652
Tried all the above suggestions. None worked for me. The test runner times out without executing any tests on `chrome headless` on `Ubuntu Server 14.04.5 LTS.` Why does this happen? Any workaround? Note: The tests run perfectly on my `OSX` machine [Sierra] with `karma`, `karma-chrome-launcher`, with headless chrome setup. The problem is just on the linux server.

Error:
[code]
Here is my configura

[2017-09-25 23:02] guilhermejcgois commented on #2474
Hey @dignifiedquire , I have installed the karma@latest from npm, and it come with version 1.7.3 of socket.io. At  work we're having problems to run ours test and probably that update can solve our problem. I've noticed come people with some type of problem with socket.io dep in #2777 #2735, some PRs about it #2744 #2821 and I've reported something like in august at #2798. Can I try to do somethin

[2017-09-26 12:13] bobKasbi opened #2832 "Can't execute tests - Executed 0 of 0 ERROR (0.005 secs / 0 secs)"
I'am running an unit test with the following comand: `ng test --sm=false`. 24 hours agor it was working fine and I could see the result on the browser (Chrome) and also on terminal.

After upgrading few npm modules globally and for spesific app, I can't run the test as expected.
I throws following result: `Chrome 61.0.3163 (Mac OS X 10.12.6): Executed 0 of 0 ERROR (0.005 secs / 0 secs)`

ng --vres

[2017-09-26 16:09] cparker commented on #1190
```export TMPDIR=~/tmp```
worked for me

[2017-09-27 00:54] chrismwendt commented on #1206
My problem was that **Karma was attempting to execute a nonexistent file** because my `CHROME_BIN` environment variable pointed to a file that did not exist.

**To solve this**, make sure Karma browser environment variables (`CHROME_BIN`, `FIREFOX_BIN`, etc.) are either unset, or point to existing binaries. For a full list, see this GitHub search: [user:karma-runner ENV_CMD][1]. You can check this

[2017-09-27 04:43] zaminabbaskhan opened #2833 "Angular2 - KarmaJS - unit Tests not executed automatically on npm test"
### Expected behaviour
Should  execute tests - there is 300 + test case in my pro.
### Actual behaviour
Throwing an exception Can't execute tests - Executed 0 of 0 ERROR (0.005 secs / 0 secs)
### Environment Details

- Karma version (output of `karma --version`):
- Relevant part of your `karma.config.js` file
[code]
Here my "test.ts" file that I refer in "karma.conf.js"
[code]
And this is tsconfig

[2017-09-27 06:39] arunagiritm commented on #1476
Check this [link ](https://stackoverflow.com/questions/22896756/local-path-for-html-files/46430894#46430894)to avoid 404 errors on karma using different port

[2017-09-27 18:21] lbouriez commented on #393
Having the same issue, any idea ?

[2017-09-27 20:01] guilhermejcgois commented on #2833
You are excluding your test.ts and all yours spec files on your tsconfig, maybe you need to use a tsconfig for running your tests, extending that tsconfig and including your test.ts and all specs.

Something like that:
[code]

[2017-09-28 09:32] zaminabbaskhan commented on #2833
Hi, I have tried this but its not working.

[2017-09-28 15:25] Izhaki commented on #2652
@applecool

Just managed to get puppeteer to work, inside a docker container.

Just note that, if using docker, you **must** run `npm install` in the container.

If not running docker, make sure your host got all the libraries installed.

Here are the relevant bits:

## package.json

[code]

## karma.conf.js:

[code]

[code]

## Dockerfile

[code]

[2017-09-28 17:44] applecool commented on #2652
@Izhaki Thanks for sharing your successful attempt. But its not working. I am not using Docker. I am just using a plain ubuntu linux server. By the way, out of curiosity, why are using the age old version of karma? The latest version of `karma` is `1.7.1`.

Here are my karma related packages in my `package.json`:
[code]

[2017-09-28 17:59] Izhaki commented on #2652
@applecool You have a sample repo?